.tidy5e-sheet.application:where(.quadrone) {
  .tab-configuration-tabs {
    margin-bottom: var(--t5e-size-3x);
    margin-top: var(--t5e-size-1x);

    .golden-fade {
      margin: 0;
    }
  }

  .tab-selection-list {
    --control-size: 7rem;
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 0.5rem;
    min-height: 0;

    .tab-selection-body {
      display: flex;
      flex: 1;
      min-height: 0;
      gap: 0.5rem;
    }

    .controls {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
      align-self: flex-start;

      > .button {
        --size: 2rem;
        padding: 0;
        width: var(--size);
        height: var(--size);

        &:disabled {
          border-color: var(--t5e-color-text-disabled);

          i {
            color: var(--t5e-color-text-disabled);
          }
        }
      }
    }

    .tab-selection-listbox {
      position: relative;
      list-style: none;
      margin: 0;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
      padding-left: 0;
      overflow-y: visible;
      min-height: 0;
      flex: 1;
    }

    .tab-selection-header {
      display: flex;
      flex-direction: row;

      .tabs-label {
        padding-left: 3rem;
        flex: 1;
      }

      .viewers-label {
        width: 7rem;
        padding-left: 0.5rem;
      }

      .visibility-label {
        width: 5rem;
        text-align: center;
      }
    }

    .listbox-item {
      display: flex;
      align-items: center;
      min-height: var(--t5e-field-size-default);
      padding: 0 0 0 0.375rem;
      background: var(--t5e-component-field-background);
      border-radius: var(--t5e-size-halfx);
      outline: 0.0625rem solid var(--t5e-component-field-border);
      outline-offset: -0.0625rem;
      color: var(--t5e-color-text-default);
      cursor: grab;
      transition: background-color var(--t5e-transition-default),
        outline-color var(--t5e-transition-default);

      > i {
        width: 1rem;
        margin-right: 0.375rem;
      }

      &:hover {
        outline-color: var(--t5e-component-field-border-hover);
      }

      &.focused {
        background-color: var(--t5e-theme-color-darker);
        outline-color: var(--t5e-component-field-border-hover);
        box-shadow: var(--t5e-drop-shadow-field-hover);
      }

      &.marked-as-hidden {
        background-color: var(--t5e-card-color-darker);

        .drag-grip {
          color: var(--t5e-color-text-lighter);
        }
      }

      &.dragging {
        opacity: 0.5;
      }
    }

    .drop-line {
      position: absolute;
      left: 0.125rem;
      right: 0.125rem;
      height: 0.1875rem;
      margin: 0;
      padding: 0;
      border-radius: 0.125rem;
      background-color: var(--t5e-theme-color-highlight);
      pointer-events: none;
    }

    .drag-grip {
      flex: 0 0 auto;
      color: var(--t5e-color-text-lightest);
      cursor: grab;
    }

    .tab-row-icon {
      flex: 0 0 auto;
      color: var(--t5e-color-text-lighter);
    }

    .section-config-item-label {
      flex: 3;
      padding-block: 0.25rem;
    }

    .listbox-item.marked-as-hidden .section-config-item-label {
      color: var(--t5e-color-text-lighter);
      font-style: italic;
    }

    .tab-row-viewers {
      flex: 0 0 auto;
      width: auto;
    }

    select.tab-viewers-button {
      --t5e-component-field-focus: var(--t5e-theme-color-foreground);
      border-top: none;
      border-bottom: none;
      border-right: none;
      background-color: transparent;
      width: 7rem;
    }

    .tab-visibility-switch {
      width: 5rem;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: 0.0625rem solid var(--t5e-component-field-border);
      height: var(--t5e-field-size-default);
    }

    .option-hide {
      font-style: italic;
      color: var(--t5e-color-text-lighter);

      i {
        color: var(--t5e-color-icon-disabled);
      }
    }
  }
}