& {
  min-width: 42.5rem;
  min-height: 13.125rem;
}

.window-content {
  padding: 0;
  margin: 0;
  color: var(--t5e-primary-font);
  font-family: var(--t5e-signika);

  form {
    height: 100%;
    overflow: hidden;
  }
}

.note-entries article {
  background: var(--t5e-faintest-color);
  border-radius: 0.3125rem;
  padding: 0.5rem;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  &.appearance-notes {
    flex: 0 1 calc(25% - 0.75rem);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .editor .editor-edit {
    display: block;
    padding: 0;
    border: none;
    box-shadow: none;
  }

  .section-titles {
    font-weight: 700;
    border-bottom: 0.0625rem solid var(--t5e-light-color);
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    flex: 0 0 0.0625rem;

    input {
      height: 1rem;
      width: calc(100% - 1.625rem);
      font-weight: 700;
    }
  }

  .editor,
  .editor .editor-content {
    padding: 0;
    position: static;
  }

  .editor .tox .tox-tbtn {
    width: 1.5rem;
    height: 1.5rem;
  }

  .editor .tox.tox-tinymce .tox-tbtn[title='Formats'],
  .editor .tox.tox-prosemirror .tox-tbtn[title='Formats'] {
    width: 5.625rem;
  }

  .editor .tox .tox-tbtn--select {
    width: auto;
  }

  .editor .editor-content ul {
    list-style: disc;
    padding-left: 1.25rem;
  }

  .editor .editor-content,
  .editor .tox .tox-toolbar__group {
    padding: 0;
    &:hover,
    &:focus {
      box-shadow: none;
    }
  }

  .editor .editor-container .editor-content {
    width: 100%;
    height: 100%;
  }
}

.note-entries.limited {
  display: flex;
  height: 100%;
  align-items: stretch;

  article {
    flex: 1;
    margin: 0;

    &:last-child {
      margin-left: 0.5rem;
    }
  }
}

.editor .editor-edit,
&:hover .editor .tox-tinymce ~ .editor-edit,
&:hover .editor .tox-prosemirror ~ .editor-edit {
  display: none;
}

.editor ul,
.editor ol {
  list-style: outside;
  margin: 0.5em 0;
  padding: 0 0 0 1.5em;
}

.editor {
  display: flex;
  flex-direction: column;
  height: calc(100% - 1.3125rem);

  .editor-edit {
    background: transparent;
  }

  .tox-editor-header {
    border-bottom: 0.0625rem solid var(--t5e-faint-color);
  }

  .tox-toolbar-overlord,
  .tox-toolbar__primary {
    background: transparent;
    background-color: transparent;
  }

  .editor-content {
    margin: 0;
    padding: 0 0.75rem 0 0;

    p,
    li {
      line-height: 1.4;
    }

    a.entity-link,
    a.inline-roll {
      padding: 0.0625rem 0.125rem 0 0.125rem;
      border-radius: 0.3125rem;
      background: var(--t5e-faint-color);
      color: var(--t5e-primary-font);
    }
  }
}

.tox.tox-tinymce,
.tox.tox-prosemirror {
  border: none;
  flex: 1;
  min-height: 6.25rem;
}

.ae-marker {
  display: inline-block;
  padding: 0.0625rem 0.1875rem 0 0.1875rem;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-weight: 600;
  background: var(--t5e-warning-accent);
  color: var(--t5e-secondary-color);
  border-radius: 0.1875rem;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 700;
  border: none;
}

.actor-name,
.level,
.attribute-name,
.header-attribute .value,
.attribute-value {
  font-family: var(--t5e-modesto);
}

// general elements

.rollable {
  cursor: pointer;
}

.rollable:hover {
  text-shadow: none;
  color: var(--t5e-primary-accent);
}

.window-content a:hover {
  text-shadow: none;
}

img,
svg {
  vertical-align: middle;
  border: none;
  border-radius: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

.actor-name {
  flex: 1;
  word-break: break-word;
  h1 {
    font-size: 1.5rem;
    padding: 0 0.25rem;
  }
}

.actor-stats {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.25rem;

  > *:not(.vertical-line-separator) {
    flex: 1;
  }
}

input {
  display: block;
  padding: 0;
  width: 100%;
  border: 0.0625rem solid transparent;
  border-radius: 0.1875rem;
  background: none;
  transition: background 0.3s ease, border-color 0.3s ease;
}

// pointer styles
input[type='checkbox'],
input[type='radio'],
button,
select {
  cursor: pointer;
  box-shadow: none;
  color: var(--t5e-primary-font);
}

[contenteditable],
input[type='text'],
input[type='number'] {
  box-shadow: 0 0 0 0.1875rem transparent inset;
  transition: box-shadow 0.3s ease;
  color: var(--t5e-primary-font);
}

[contenteditable='true']:hover,
[contenteditable='true']:focus,
input[type='text']:hover,
input[type='text']:focus,
input[type='number']:hover,
input[type='number']:focus {
  box-shadow: 0 0 0 0.0625rem var(--t5e-primary-accent) inset;
}

input[disabled],
input[disabled]:hover,
[contenteditable='false'],
[contenteditable='false']:hover {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: default;
}

input[type='text']::placeholder {
  color: var(--t5e-tertiary-color);
}

button:hover,
select:hover {
  background: var(--t5e-faint-color);
}
