// font settings

.ae-marker {
  display: inline-block;
  padding: 1px 3px 0 3px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 600;
  background: var(--t5e-warning-accent);
  color: var(--t5e-secondary-color);
  border-radius: 3px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 700;
  border: none;
}

.block-title {
  position: relative;
  font-family: var(--t5e-modesto);
  font-size: 1.25rem;
  line-height: 1;
  margin: 0;
  text-transform: capitalize;
  text-align: center;

  &::after {
    display: block;
    content: '';
    height: 0;
    width: 60%;
    border-bottom: 1px solid var(--t5e-faint-color);
    position: absolute;
    left: 50%;
    bottom: -1px;
    transform: translate(-50%, 0);
  }
}

.block-score {
  font-size: 1.5rem;
  margin: 0.125rem 0 0.1875rem 0;
  padding: 0.125rem 0 0 0;
  text-align: center;
  font-family: var(--t5e-modesto);
  font-weight: 700;
  height: 1.4375rem;
}

.actor-name,
.level,
.attribute-name,
.header-attribute .value,
.attribute-value {
  font-family: var(--t5e-modesto);
}

// general elements

.rollable {
  cursor: pointer;
}

.rollable:hover {
  text-shadow: none;
  color: var(--t5e-primary-accent);
}

.window-content a:hover {
  text-shadow: none;
}

img,
svg {
  vertical-align: middle;
  border: none;
  border-radius: 0;
}

input {
  display: block;
  padding: 0;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 3px;
  background: none;
  transition: background 0.3s ease, border-color 0.3s ease;
}

// pointer styles
input[type='checkbox'],
input[type='radio'],
button,
select {
  cursor: pointer;
  box-shadow: none;
  color: var(--t5e-primary-font);
}

[contenteditable],
input[type='text'],
input[type='number'] {
  box-shadow: 0px 0px 0 3px transparent inset;
  transition: box-shadow 0.3s ease;
  color: var(--t5e-primary-font);
}

[contenteditable='true']:hover,
[contenteditable='true']:focus,
input[type='text']:hover,
input[type='text']:focus {
  box-shadow: 0px 0px 0px 1px var(--t5e-primary-accent) inset;
}

input[disabled],
input[disabled]:hover,
[contenteditable='false'],
[contenteditable='false']:hover {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: default;
}

input[type='text']::placeholder {
  color: var(--t5e-tertiary-color);
}

button:hover,
select:hover {
  background: var(--t5e-faint-color);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

.actor-name {
  flex: 1;
  word-break: break-word;
  h1 {
    font-size: 1.5rem;
    padding: 0 0.25rem;
  }
}

.actor-stats {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.25rem;

  > *:not(.vertical-line-separator) {
    flex: 1;
  }
}
