&:not(.minimizing):not(.minimized):not(.maximizing) {
  min-width: 42.5rem;
  min-height: 13.125rem;
}

.window-content {
  padding: 0;
  margin: 0;
  color: var(--t5e-primary-font-color);
  font-family: var(--t5e-body-font-family);

  // TODO: Remove the form style here when it's all App V2
  &:not(&:has(form)),
  form {
    height: 100%;
    overflow: hidden;
  }
}

.header-line-margin {
  margin: 0.1875rem 0 0.125rem 0.25rem;
}

.header-line-margin-left {
  margin-left: 0.25rem;
}

.note-entries article {
  background: var(--t5e-faintest-color);
  border-radius: 0.3125rem;
  padding: 0.5rem;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  &.appearance-notes {
    flex: 0 0 calc(25% - 0.75rem);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .editor .editor-edit {
    display: block;
    padding: 0;
    border: none;
  }

  .editor .editor-edit {
    &:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: var(--t5e-focus-visible-box-shadow);
    }
  }

  .section-titles {
    font-weight: 700;
    border-bottom: 0.0625rem solid var(--t5e-light-color);
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    flex: 0 0 0.0625rem;

    input {
      height: 1rem;
      width: calc(100% - 1.625rem);
      font-weight: 700;
    }
  }

  .editor {
    flex: 1;
  }

  .editor,
  .editor .editor-content {
    padding: 0;
    position: static;
  }

  .editor .tox .tox-tbtn {
    width: 1.5rem;
    height: 1.5rem;
  }

  .editor .tox.tox-tinymce .tox-tbtn[title='Formats'],
  .editor .tox.tox-prosemirror .tox-tbtn[title='Formats'] {
    width: 5.625rem;
  }

  .editor .tox .tox-tbtn--select {
    width: auto;
  }

  .editor .editor-content ul {
    list-style: disc;
    padding-left: 1.25rem;
  }

  .editor .editor-content,
  .editor .tox .tox-toolbar__group {
    padding: 0;
    &:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: var(--t5e-focus-visible-box-shadow);
    }
  }

  .editor .editor-container .editor-content {
    width: 100%;
    height: 100%;
  }
}

.note-entries.limited {
  display: flex;
  height: 100%;
  align-items: stretch;

  article {
    flex: 1;
    margin: 0;

    &:last-child {
      margin-left: 0.5rem;
    }
  }
}

.editor .editor-edit,
&:hover .editor .tox-tinymce ~ .editor-edit,
&:hover .editor .tox-prosemirror ~ .editor-edit {
  display: none;
}

.editor ul,
.editor ol {
  list-style: outside;
  margin: 0.5em 0;
  padding: 0 0 0 1.5em;
}

.editor {
  display: flex;
  flex-direction: column;

  .editor-edit {
    background: transparent;
  }

  .tox-editor-header {
    border-bottom: 0.0625rem solid var(--t5e-faint-color);
  }

  .tox-toolbar-overlord,
  .tox-toolbar__primary {
    background: var(--t5e-tinymce-toolbar-background);
    background-color: var(--t5e-tinymce-toolbar-background);
  }

  .tox .tox-overlord button {
    color: var(--t5e-tinyme-toolbar-button-color);
  }

  .editor-content {
    margin: 0;
    padding: 0 0.75rem 0 0;

    p,
    li {
      line-height: 1.4;
    }
  }
}

.tox.tox-tinymce,
.tox.tox-prosemirror {
  border: none;
  flex: 1;
  min-height: 6.25rem;
}

.tox-sidebar-wrap {
  padding: 0.5rem;
  background: var(--t5e-tinymce-sidebar-background);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 700;
  border: none;
}

.actor-name,
.level,
.attribute-name,
.header-attribute .value,
.attribute-value {
  font-family: var(--t5e-title-font-family);
}

// general elements

.pointer {
  cursor: pointer;
}

.rollable {
  cursor: pointer;
}

.rollable:hover {
  text-shadow: none;
  color: var(--t5e-primary-accent-color);
}

.window-content a:hover {
  text-shadow: none;
}

img,
svg {
  vertical-align: middle;
  border: none;
  border-radius: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

.item-summary {
  p,
  li {
    line-height: 1.4;
  }

  ul {
    list-style: initial;
    padding-left: 1.25rem;
    margin: initial;
  }
}

.actor-name {
  flex: 1;
  input {
    font-size: 1.5rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
    font-weight: 700;
    height: unset;
  }
}

.actor-stats {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.25rem;

  > *:not(.vertical-line-separator) {
    flex: 1;
  }
}

input {
  display: block;
  padding: 0;
  width: 100%;
  border: 0.0625rem solid transparent;
  border-radius: 0.1875rem;
  background: none;
  transition: background 0.3s ease, border-color 0.3s ease;

  &:disabled:hover {
    // This counteracts an effect where hover causes disabled input values to jitter.
    border-width: 0.0625rem;
  }
}

input[type='checkbox'],
input[type='radio'],
button,
select {
  cursor: pointer;
  color: var(--t5e-primary-font-color);
  outline: none;

  &:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: var(--t5e-focus-visible-box-shadow);
  }
}

select {
  border-color: var(--t5e-light-color);
  background: var(--t5e-faint-color);
  background: transparent;
}

[contenteditable],
input[type='text'],
input[type='number'],
textarea {
  box-shadow: 0 0 0 0.1875rem transparent inset;
  transition: box-shadow 0.3s ease;
  color: var(--t5e-primary-font-color);
}

[contenteditable='true']:hover,
[contenteditable='true']:focus,
input[type='text']:hover,
input[type='text']:focus,
input[type='number']:hover,
input[type='number']:focus,
textarea {
  box-shadow: 0 0 0 0.0625rem var(--t5e-primary-accent-color) inset;
}

input[disabled],
input[disabled]:hover,
button[disabled],
button[disabled]:hover,
[contenteditable='false'],
[contenteditable='false']:hover,
textarea[disabled],
textarea[disabled]:hover {
  outline: none;
  box-shadow: none;
  cursor: default;
}

:is(input[type='text'], input[type='number'], textarea)::placeholder {
  color: var(--t5e-secondary-color);
}

button:hover,
select:hover {
  background: var(--t5e-faint-color);
}

/* Bastion Character Tab */

.tidy-tab.bastion {
  --occupant-hightlight-width: 0.125rem;

  .bastion-container {
    display: flex;
    flex-direction: column;

    .name {
      margin-block-end: 0.75rem;
    }

    > *:not(:first-child):not(:last-child) {
      margin-block-end: 1.25rem;
    }
  }

  .name {
    .document-name {
      display: flex;
      justify-content: center;
      align-items: center;
      white-space: nowrap;
      border: none;

      &::before {
        content: '';
        width: 50%;
        margin-right: 0.5rem;
        border-top: 0.125rem ridge var(--t5e-light-color);
        mask-image: linear-gradient(90deg, transparent 0%, black 100%);
      }
      &::after {
        content: '';
        width: 50%;
        margin-left: 0.5rem;
        border-top: 0.125rem ridge var(--t5e-light-color);
        mask-image: linear-gradient(270deg, transparent 0%, black 100%);
      }
    }

    input,
    .document-name {
      text-align: center;
      font-size: 1.25rem;
    }

    input {
      background: var(--t5e-faintest-color);
    }
  }

  h3 {
    height: 1.1875rem;
    padding-bottom: 0.25rem;
    border-bottom: 0.0625rem solid var(--t5e-separator-color);
    display: flex;
    gap: 0.25rem;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 500;
    line-height: 0.875rem;
    color: var(--t5e-secondary-color);
    margin-block-end: 0.75rem;

    .counter {
      padding-left: 0.25rem;

      color: var(--t5e-tertiary-color);

      .value,
      .max {
        color: var(--t5e-secondary-color);
      }
    }
  }

  .highlight {
    background: var(--t5e-faintest-color);
    outline: var(--occupant-hightlight-width) solid
      var(--t5e-primary-accent-color);
  }

  /* Facilities */

  .facility-panels {
    display: grid;
    grid-template-areas: 'special basic';
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;

    .facilities {
      &.special {
        grid-area: special;
      }
      &.basic {
        grid-area: basic;
      }

      .occupant-dropzone {
        background: var(--t5e-faint-color);
        border-radius: 0.125rem;
        outline: 0.125rem solid var(--t5e-faint-color);
        > * {
          pointer-events: none;
        }
      }
    }
  }

  .facilities .facility-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
  }

  .facility:not(.empty) {
    border: 0.0625rem solid var(--t5e-separator-color);
    border-radius: 0.1875rem;
    padding: 0.75rem 0.5rem;
    background: linear-gradient(
        145deg,
        rgba(248, 244, 241, 0.85) 10%,
        rgba(248, 244, 241, 0.1) 160%
      ),
      var(--underlay) 40%, #f8f4f1;
    background-blend-mode: normal, multiply;
    background-size: cover, cover;

    &.basic {
      background-blend-mode: normal, luminosity;
    }

    .sub-header {
      color: var(--t5e-secondary-color);
      margin-block-end: 0.25rem;
      font-weight: 500;
    }
  }

  .facility.disabled {
    filter: grayscale(1);
  }

  .facility.empty a {
    border-radius: var(--radius-card, 0.1875rem);
    border: 0.0625rem dashed var(--t5e-light-color);
    height: 3rem;
    gap: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease;
  }

  .facility-menu {
    transition: all 0.3s ease;
    padding: 0.5rem 0.75rem;
  }

  /* Rosters */

  .roster {
    ul {
      display: flex;
      gap: 0.5rem;
      margin-inline: var(--occupant-hightlight-width);

      li {
        border-radius: 0.25rem;
        width: var(--roster-member-size, 3rem);
        height: var(--roster-member-size, 3rem);
      }
    }

    img {
      width: var(--roster-member-size, 3rem);
      height: var(--roster-member-size, 3rem);
      border-radius: 0.25rem;
      object-fit: cover;
    }
  }

  .facility-header {
    display: flex;
    gap: 0.125rem;
    margin-block-end: 1rem;

    img {
      --img-size: 2rem;
      width: var(--img-size);
      height: var(--img-size);
      margin-inline-end: 0.25rem;
      border-radius: 0.1875rem;
    }

    .facility-header-details {
      display: flex;
      gap: 0.125rem;
      flex: 1;

      &:hover .title {
        color: var(--t5e-primary-accent-color);
      }
    }

    .title-and-subtitle {
      display: flex;
      flex-direction: column;

      flex: 1;
    }

    .title {
      font-size: 0.9375rem;
      transition: all 0.3s ease;
      font-weight: 500;
    }
    .subtitle {
      font-size: 0.8125rem;
      color: var(--t5e-secondary-color);
    }
  }

  /* Facility Occupant Slots */

  .slots {
    display: flex;
    flex-direction: row;
    gap: 0.25rem;
    flex-wrap: wrap;
    margin-block-end: 0.75rem;
  }

  .slot.occupant-slot {
    --img-size: 1.5rem;
    width: var(--img-size);
    height: var(--img-size);
    border-radius: 0.125rem;
    display: inline-flex;
    position: relative;

    img {
      object-fit: cover;
      width: var(--img-size);
      height: var(--img-size);
    }

    li {
      border-radius: 0.125rem;
    }

    &.empty {
      width: var(--img-size);
      height: var(--img-size);
      border-radius: 0.125rem;
      border: 0.0625rem dashed var(--t5e-tertiary-color);
      color: var(--t5e-tertiary-color);
      font-size: 0.6875rem;

      &:hover {
        border-style: solid;
      }

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--img-size);
        height: var(--img-size);
      }
    }
  }

  /* Occupant Menu */

  .occupant-with-menu {
    position: relative;

    a {
      position: absolute;
      inset: 0;
    }

    &.unlocked:not(.empty):hover {
      background-color: var(--t5e-light-color);

      img {
        display: none;
      }

      .occupant-menu-icon {
        opacity: 1;
      }
    }
  }

  .occupant-menu-icon {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--t5e-primary-font-color);
    text-shadow: 0px 0px 0.5rem black;
    font-size: 1rem;
  }

  .roster .occupant-menu-icon {
    font-size: 1.125rem;
  }

  /* Order Progress Meter */

  .meter.progress {
    --text-color: #fff;
    --icon-fill: var(--text-color);

    box-shadow: inset 0 0 16px rgb(0 0 0 / 25%);
    background-color: #3d3d3d;
    color: #fff;
    position: relative;
    display: flex;
    border-radius: 0.1875rem;
    height: var(--bar-height, 1.5rem);

    align-items: center;
    overflow: hidden;

    .label {
      position: relative;

      flex: 1;
      display: grid;
      grid-template-columns: 1fr auto;
      justify-content: space-between;
      gap: 0.5rem;

      padding-inline: 0.5rem;
      text-shadow: #000 0 0 0.3125rem;
    }

    .order {
      display: flex;
      gap: 0.25rem;
      align-items: center;
      min-width: 0;
    }

    .counter {
      text-wrap: nowrap;
    }

    i {
      font-size: 0.75rem;
    }

    &::before {
      content: '';
      position: absolute;
      block-size: 100%;
      inline-size: var(--bar-percentage);
      box-shadow: 0 0 0.375rem var(--dnd5e-shadow-45);
      transition: all 0.3s ease;
      background: linear-gradient(
        90deg,
        #000 -100%,
        var(--t5e-resource-bar-color)
      );
    }
  }

  .crafting-item {
    --img-size: 1.5rem;
    width: var(--img-size);
    height: var(--img-size);
    margin-inline-end: 0.125rem;
    border-radius: 0.1875rem;
  }

  .craft-and-meter {
    display: flex;
    gap: 0.125rem;

    .meter {
      flex: 1;
    }
  }

  /* Description */

  .description {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;

    &:hover .editor .editor-edit {
      display: block;
      padding: 0;
      border: none;
    }

    .editor {
      flex: 1;

      .editor-content {
        overflow-y: visible;
      }
    }

    .editor .editor-edit {
      &:not(:focus-visible) {
        box-shadow: none;
      }

      &:focus-visible {
        box-shadow: var(--t5e-focus-visible-box-shadow);
      }
    }

    .editor-container {
      min-height: 31.25rem;
      overflow-y: hidden;

      .ProseMirror {
        overflow-y: auto;
      }
    }
  }
}

&[data-tidy-theme-type='dark'] {
  .tidy-tab.bastion .facility:not(.empty) {
    background: linear-gradient(
        145deg,
        rgba(27, 29, 35, 0.95) 10%,
        rgba(27, 29, 35, 0.1) 170%
      ),
      var(--underlay) 40%, #2c3e50;
    background-blend-mode: normal, normal;
    background-size: cover, cover;

    &.basic {
      background-blend-mode: normal, luminosity;
    }
  }
}
