& {
  min-width: 42.5rem;
  min-height: 13.125rem;
}

.window-content {
  padding: 0;
  margin: 0;
  color: var(--t5e-primary-font-color);
  font-family: var(--t5e-body-font-family);

  form {
    height: 100%;
    overflow: hidden;
  }
}

.note-entries article {
  background: var(--t5e-faintest-color);
  border-radius: 0.3125rem;
  padding: 0.5rem;
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  &.appearance-notes {
    flex: 0 0 calc(25% - 0.75rem);
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .editor .editor-edit {
    display: block;
    padding: 0;
    border: none;
  }

  .editor .editor-edit {
    &:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: var(--t5e-focus-visible-box-shadow);
    }
  }

  .section-titles {
    font-weight: 700;
    border-bottom: 0.0625rem solid var(--t5e-light-color);
    padding-bottom: 0.25rem;
    margin-bottom: 0.5rem;
    flex: 0 0 0.0625rem;

    input {
      height: 1rem;
      width: calc(100% - 1.625rem);
      font-weight: 700;
    }
  }

  .editor {
    flex: 1;
  }

  .editor,
  .editor .editor-content {
    padding: 0;
    position: static;
  }

  .editor .tox .tox-tbtn {
    width: 1.5rem;
    height: 1.5rem;
  }

  .editor .tox.tox-tinymce .tox-tbtn[title='Formats'],
  .editor .tox.tox-prosemirror .tox-tbtn[title='Formats'] {
    width: 5.625rem;
  }

  .editor .tox .tox-tbtn--select {
    width: auto;
  }

  .editor .editor-content ul {
    list-style: disc;
    padding-left: 1.25rem;
  }

  .editor .editor-content,
  .editor .tox .tox-toolbar__group {
    padding: 0;
    &:not(:focus-visible) {
      box-shadow: none;
    }

    &:focus-visible {
      box-shadow: var(--t5e-focus-visible-box-shadow);
    }
  }

  .editor .editor-container .editor-content {
    width: 100%;
    height: 100%;
  }
}

.note-entries.limited {
  display: flex;
  height: 100%;
  align-items: stretch;

  article {
    flex: 1;
    margin: 0;

    &:last-child {
      margin-left: 0.5rem;
    }
  }
}

.editor .editor-edit,
&:hover .editor .tox-tinymce ~ .editor-edit,
&:hover .editor .tox-prosemirror ~ .editor-edit {
  display: none;
}

.editor ul,
.editor ol {
  list-style: outside;
  margin: 0.5em 0;
  padding: 0 0 0 1.5em;
}

.editor {
  display: flex;
  flex-direction: column;

  .editor-edit {
    background: transparent;
  }

  .tox-editor-header {
    border-bottom: 0.0625rem solid var(--t5e-faint-color);
  }

  .tox-toolbar-overlord,
  .tox-toolbar__primary {
    background: var(--t5e-tinymce-toolbar-background);
    background-color: var(--t5e-tinymce-toolbar-background);
  }

  .tox .tox-overlord button {
    color: var(--t5e-tinyme-toolbar-button-color);
  }

  .editor-content {
    margin: 0;
    padding: 0 0.75rem 0 0;

    p,
    li {
      line-height: 1.4;
    }
  }
}

.tox.tox-tinymce,
.tox.tox-prosemirror {
  border: none;
  flex: 1;
  min-height: 6.25rem;
}

.tox-sidebar-wrap {
  padding: 0.5rem;
  background: var(--t5e-tinymce-sidebar-background);
}

.prosemirror menu {
  button:hover {
    background: var(--t5e-prosemirror-button-color);
  }
  .pm-dropdown {
    background: var(--t5e-prosemirror-button-color);

    ul {
      background: var(--t5e-prosemirror-button-color);
    }

    li:hover {
      background: var(--t5e-prosemirror-dropdown-item-hover-color);
    }
  }
}

.prosemirror menu button:hover,
.prosemirror menu button.active {
  color: var(--t5e-primary-font-color);
}

h1,
h2,
h3,
h4 {
  margin: 0;
  font-weight: 700;
  border: none;
}

.actor-name,
.level,
.attribute-name,
.header-attribute .value,
.attribute-value {
  font-family: var(--t5e-title-font-family);
}

// general elements

.pointer {
  cursor: pointer;
}

.rollable {
  cursor: pointer;
}

.rollable:hover {
  text-shadow: none;
  color: var(--t5e-primary-accent-color);
}

.window-content a:hover {
  text-shadow: none;
}

img,
svg {
  vertical-align: middle;
  border: none;
  border-radius: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  scrollbar-width: thin;
}

.item-summary {
  p,
  li {
    line-height: 1.4;
  }

  ul {
    list-style: initial;
    padding-left: 1.25rem;
    margin: initial;
  }
}

.actor-name {
  flex: 1;
  input {
    font-size: 1.5rem;
    padding-left: 0.1875rem;
    padding-right: 0.1875rem;
    font-weight: 700;
  }
}

.actor-stats {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  margin-top: 0.25rem;

  > *:not(.vertical-line-separator) {
    flex: 1;
  }
}

input {
  display: block;
  padding: 0;
  width: 100%;
  border: 0.0625rem solid transparent;
  border-radius: 0.1875rem;
  background: none;
  transition: background 0.3s ease, border-color 0.3s ease;

  &:disabled:hover {
    // This counteracts an effect where hover causes disabled input values to jitter.
    border-width: 0.0625rem;
  }
}

input[type='checkbox'],
input[type='radio'],
button,
select {
  cursor: pointer;
  color: var(--t5e-primary-font-color);

  &:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: var(--t5e-focus-visible-box-shadow);
  }
}

[contenteditable],
input[type='text'],
input[type='number'],
textarea {
  box-shadow: 0 0 0 0.1875rem transparent inset;
  transition: box-shadow 0.3s ease;
  color: var(--t5e-primary-font-color);
}

[contenteditable='true']:hover,
[contenteditable='true']:focus,
input[type='text']:hover,
input[type='text']:focus,
input[type='number']:hover,
input[type='number']:focus,
textarea {
  box-shadow: 0 0 0 0.0625rem var(--t5e-primary-accent-color) inset;
}

input[disabled],
input[disabled]:hover,
button[disabled],
button[disabled]:hover,
[contenteditable='false'],
[contenteditable='false']:hover,
textarea[disabled],
textarea[disabled]:hover {
  outline: none;
  box-shadow: none;
  cursor: default;
}

:is(input[type='text'], input[type='number'], textarea)::placeholder {
  color: var(--t5e-secondary-color);
}

button:hover,
select:hover {
  background: var(--t5e-faint-color);
}
