&.application-shell {
  header.resizable + .window-content > *:last-child {
    padding-bottom: 1.5rem;
  }

  :where(.window-content) {
    padding: 0;

    > * {
      padding: 0.5rem;
      color: var(--t5ek-primary-font-color);
      background: var(--t5ek-sheet-background);
      height: 100%;
    }

    a:hover {
      text-shadow: none;
    }

    button {
      background: var(--t5ek-faintest-color);

      &:not(:focus-visible) {
        box-shadow: none;
      }

      &:focus-visible {
        box-shadow: var(--t5ek-focus-visible-box-shadow);
      }

      &:hover {
        background: var(--t5ek-faint-color);
      }
    }

    input[type='checkbox'],
    button,
    select {
      cursor: pointer;
      font-family: var(--t5ek-body-font-family);
    }

    button,
    select {
      border: none;
      color: var(--t5ek-primary-font-color);
    }

    select {
      padding: 0;
    }

    :is(input[type='text'], input[type='number']) {
      border: none;
      padding: 0 0.375rem;
    }

    :is(input[type='text'], input[type='number']) {
      color: var(--t5ek-primary-font-color);
    }

    :is(input[type='text'], input[type='number'])::placeholder {
      color: var(--t5ek-secondary-color);
    }

    :is(input[type='text'], input[type='number']):hover,
    :is(input[type='text'], input[type='number']):focus {
      border: none;
      box-shadow: 0 0 0 0.0625rem var(--t5ek-primary-accent-color) inset;
    }

    input[type='checkbox'] {
      margin: 0.125rem;
    }

    input[type='checkbox'] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      background: none;
      border: 0.0625rem solid var(--t5ek-tertiary-color);
      box-shadow: 0 0 0.125rem var(--t5ek-light-color) inset;
      border-radius: 0.1875rem;
      background-image: var(--t5ek-check-default-background-image);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
    }

    label input[type='checkbox'] {
      border: none;
      box-shadow: none;
      position: relative;
    }

    input[type='checkbox']:checked {
      background: var(--t5ek-checkbox-checked-color);
      background-image: var(--t5ek-check-checked-background-image);
      background-size: 60%;
      background-repeat: no-repeat;
      background-position: center;
    }

    .checkbox input[type='checkbox']:checked {
      background-image: var(--t5ek-check-checked-background-image);
    }

    label input[type='checkbox']:checked {
      background-color: transparent;
    }

    h2 {
      font-size: 1.125rem;
      font-weight: 600;
      margin: 0 0 0.5rem;
      padding: 0 0 0.25rem;
      border-bottom: 0.0625rem solid var(--t5ek-light-color);
    }

    h3 {
      font-size: 1rem;
      font-weight: 600;
      margin: 0.5rem 0;
      border-bottom: 0.0625rem solid var(--t5ek-light-color);
    }

    .form-field {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      label {
        font-weight: 700;
      }

      label + span {
        margin-left: 0.375rem;
      }
    }
  }
}
