@mixin transparent-button-base {
  line-height: normal;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    background: transparent;
    outline: none;
  }

  &:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: var(--t5ek-focus-visible-box-shadow);
  }
}

.transparent-button {
  @include transparent-button-base();
}

.inline-transparent-button {
  @include transparent-button-base();
  font-size: inherit;
  width: auto;
  line-height: 1;
}

@mixin icon-button-base {
  @include transparent-button-base();

  color: var(--t5ek-icon-font-color);

  &:hover {
    color: var(--t5ek-icon-hover-color);
  }
}

.icon-button {
  @include icon-button-base();
}

.inline-icon-button {
  @include icon-button-base();
  font-size: inherit;
  width: auto;
  line-height: 1;
}

.icon-button {
  @include transparent-button-base();

  color: var(--t5ek-icon-font-color);

  &:hover {
    color: var(--t5ek-icon-hover-color);
  }
}

.item-list-button {
  @include transparent-button-base();
  font-size: 0.75rem;
  color: var(--t5ek-secondary-color);

  &.inactive {
    color: var(--t5ek-light-color);
  }

  &:hover {
    color: var(--t5ek-primary-font-color);
  }
}

.item-list-footer-button {
  flex: 0 0 max-content;
  min-width: 7.5rem;
  padding: 0.125rem 1.25rem 0;
  border-radius: 0 0 0.3125rem 0.3125rem;
  font-weight: 400;
  line-height: 1.125rem;
  border: none;
  font-size: 0.75rem;
  background: var(--t5ek-faintest-color);
  color: var(--t5ek-secondary-color);
  text-align: center;

  &:hover {
    background: var(--t5ek-light-color);
  }
}
