@mixin transparent-button-base {
  line-height: normal;
  border: none;
  margin: 0;
  padding: 0;
  background: transparent;
  transition: color 0.3s ease, transform 0.3s ease;

  &:hover {
    background: transparent;
  }
}

.transparent-button {
  @include transparent-button-base();
}

.item-list-button {
  @include transparent-button-base();
  font-size: 0.75rem;
  color: var(--t5ek-secondary-color);

  &:hover {
    color: var(--t5ek-primary-font-color);
  }
}

.icon-button {
  @include transparent-button-base();

  color: var(--t5ek-icon-font-color);

  &:hover {
    color: var(--t5ek-icon-hover-color);
  }
}
