#context-menu {
  display: none;
  width: 100%;
  height: max-content;
  min-width: 180px;
  max-width: 180px;
  left: 0;
  color: var(--t5e-primary-font);
  max-height: 203px;
  background: var(--t5e-background);
  border: 1px solid var(--t5e-context-outline);
  position: absolute;
  z-index: 100;
  border-radius: 5px;
  padding: 1px 2px;
  overflow-y: auto;
  box-shadow: 0 0 5px var(--t5e-context-shadow);

  a,
  li {
    display: flex;
    align-items: center;
    padding: 4px 8px 4px 6px;
    margin: 1px 0;
    white-space: nowrap;
    line-height: 1;
    font-weight: 400;
    font-size: 12px;

    &:first-child {
      border-radius: 3px 3px 0 0;
    }

    &:last-child {
      border-radius: 0 0 3px 3px;
    }

    &.active {
      color: var(--t5e-attunement-required);

      &:hover {
        background: var(--t5e-warning-accent);
        color: rgba(255, 255, 255, 0.8);
      }
    }

    .icon-on,
    &.active .icon-off {
      display: none;
    }

    .icon-off,
    &.active .icon-on {
      display: inline-block;
    }

    &:hover {
      box-shadow: 0 0 2px var(--t5e-tertiary-color),
        0 0 0 1px var(--t5e-tertiary-color) inset;
      color: var(--t5e-primary-font);
    }

    i {
      margin-right: 4px;
      width: 16px;
      text-align: center;
    }

    &.warning {
      background: var(--t5e-warning-accent);
      color: rgba(255, 255, 255, 0.6);

      &:hover {
        background: var(--t5e-warning-accent);
        color: rgba(255, 255, 255, 0.8);
      }
    }
  }

  .context-divider {
    margin: 1px 0 0 0;
    border-top: 1px solid var(--t5e-light-color);
    border-bottom: none;

    + .context-divider {
      display: none;
    }

    &:first-child,
    &:last-child {
      display: none;
    }
  }

  .item-buttons {
    .button {
      border: none;
      border-radius: 0;
      background: var(--t5e-tertiary-color);
      color: var(--t5e-background);
      display: flex;
      align-items: center;
      padding: 4px 8px 4px 6px;
      margin: 1px 0;
      white-space: nowrap;
      line-height: 1;
      font-weight: 400;
      font-size: 12px;

      &:hover {
        background: var(--t5e-secondary-color);
      }

      i {
        margin-right: 4px;
        width: 16px;
        text-align: center;
      }
    }

    & > .button:first-child {
      border-radius: 3px 3px 0 0;
    }
  }
}
