input {
  display: block;
  padding: 0;
  width: 100%;
  border: 1px solid transparent;
  border-radius: 3px;
  background: none;
  transition: background 0.3s ease, border-color 0.3s ease;
}

// pointer styles
input[type='checkbox'],
input[type='radio'],
button,
select {
  cursor: pointer;
  box-shadow: none;
  color: var(--t5e-primary-font);
}

[contenteditable],
input[type='text'],
input[type='number'] {
  box-shadow: 0px 0px 0 3px transparent inset;
  transition: box-shadow 0.3s ease;
  color: var(--t5e-primary-font);
}

[contenteditable='true']:hover,
[contenteditable='true']:focus,
input[type='text']:hover,
input[type='text']:focus,
input[type='number']:hover,
input[type='number']:focus {
  box-shadow: 0px 0px 0px 1px var(--t5e-primary-accent) inset;
}

input[disabled],
input[disabled]:hover,
[contenteditable='false'],
[contenteditable='false']:hover {
  border: none;
  outline: none;
  box-shadow: none;
  cursor: default;
}

input[type='text']::placeholder {
  color: var(--t5e-tertiary-color);
}

button:hover,
select:hover {
  background: var(--t5e-faint-color);
}
