& {
  min-height: 31.25rem;
  min-width: 25rem;
}

.window-content {
  padding: 0;

  form {
    height: 100%;
    overflow: hidden;

    .hint {
      color: var(--t5e-secondary-color);
    }
  }
}

a:hover {
  text-shadow: none;
}

button {
  &:not(:focus-visible) {
    box-shadow: none;
  }

  &:focus-visible {
    box-shadow: var(--t5e-focus-visible-box-shadow);
  }
}

input[type='checkbox'],
button,
select {
  cursor: pointer;
  font-family: var(--t5e-body-font-family);
}

button,
select {
  border: none;
  color: var(--t5e-primary-font-color);
}

select {
  padding: 0;
}

:is(input[type='text'], input[type='number'], textarea) {
  border: none;
  padding: 0 0.375rem;
}

:is(input[type='text'], input[type='number'], textarea) {
  color: var(--t5e-primary-font-color);
}

:is(input[type='text'], input[type='number'], textarea)::placeholder {
  color: var(--t5e-secondary-color);
}

:is(input[type='text'], input[type='number'], textarea):hover,
:is(input[type='text'], input[type='number'], textarea):focus {
  border: none;
  box-shadow: 0 0 0 0.0625rem var(--t5e-primary-accent-color) inset;
}

input[type='checkbox'] {
  margin: 0.125rem;
}

.sheet-header {
  flex: 0 0 5rem;
  padding: 1rem;
  background: var(--t5e-header-background);
  align-items: flex-start;

  .item-image {
    flex: 0 0 5.75rem;
    width: 5.75rem;
    height: 5.75rem;
    position: relative;

    img.profile {
      flex: 0 0 5.75rem;
      width: 5.75rem;
      height: 5.75rem;
      border-radius: 0.3125rem;
      margin-right: 0;
      object-fit: cover;
      transition: filter 0.75s;

      &.conceal {
        filter: grayscale(100%);
      }
    }

    .unidentified-glyph i {
      font-size: 3rem;
    }
  }

  .header-details {
    align-items: center;
    min-width: 0; // needed for flex children that truncate overflow
  }

  .charname {
    height: 1.875rem;
    line-height: 1.125rem;

    input {
      margin: 0;
      padding: 0;
      font-size: 1.5rem;
      height: 100%;
      width: 100%;
      font-family: var(--t5e-title-font-family);
      background: transparent;
    }
  }

  .item-subtitle {
    padding: 0.125rem 0.25rem;
    border-radius: 0.3125rem;
    color: var(--t5e-tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 0 0 0.0625rem;
    font-family: var(--t5e-title-font-family);
    white-space: nowrap;

    > * + * {
      margin-left: 0.25rem;
    }

    .item-type {
      margin: 0;
      font-size: 1.25rem;
      line-height: 1rem;
      color: var(--t5e-secondary-color);
    }

    .item-status {
      font-size: 1rem;
      line-height: 0.875rem;
      color: var(--t5e-tertiary-color);
      white-space: nowrap;
    }
  }

  .summary {
    border: 0.0625rem solid var(--t5e-separator-color);
    border-left: none;
    border-right: none;
    display: flex;
    font-size: 0.8125rem;
    font-family: var(--t5e-body-font-family);
    flex: 0 0 100%;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    align-items: center;

    li {
      border-left: 0.0625rem solid var(--t5e-faint-color);
      line-height: 1.25rem;
      font-weight: 600;
      min-width: 0; // needed for flex children that truncate overflow
      padding-left: 0.325rem;

      &:has(> input, > select) {
        padding: 0;
      }

      input {
        height: 1.25rem;
        background: transparent;
        font-weight: 400;
      }

      select {
        width: 100%;
        height: 1.25rem;
        text-transform: capitalize;
      }

      &:first-child {
        border: none;
        padding-left: 0;
      }

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

.tidy-sheet-body {
  padding: 1rem;
  padding-right: 0.25rem;
  margin-right: 0;
  overflow: hidden;

  .item-properties {
    flex: 0 0 7.5rem;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;

    .form-group {
      margin: 0;
      padding: 0;
      color: var(--t5e-secondary-color);
      font-size: 0.8125rem;
      background: none;

      label {
        font-weight: 600;
        line-height: 1.25rem;
        padding: 0;
        margin: 0;
      }

      input {
        flex: 0 0 3rem;

        &.large-value {
          flex: 1;
          padding: 0 0.1875rem;
        }
      }

      select {
        flex: 0 0 2.5rem;
      }

      input,
      select {
        text-align: right;
        background: none;
      }

      &.section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 0;
        margin-bottom: 0;

        label {
          font-weight: 500;
        }

        input,
        select {
          text-align: left;
          padding: 0.325rem 0.25rem;
          flex-basis: auto;
        }
      }
    }

    .properties-header {
      margin-top: 0.25rem;

      .hidden-config-button {
        visibility: hidden;
        font-size: 0.75rem;
      }

      &:hover .hidden-config-button {
        visibility: visible;
      }
    }

    .properties-list {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        margin: 0 0 0.125rem 0;
        border: 0.0625rem solid var(--t5e-faint-color);
        border-radius: 0.3125rem;
        font-size: 0.6875rem;
        line-height: 1rem;
        padding: 0 0.125rem;
        background: var(--t5e-faintest-color);
        text-align: center;
      }
    }
  }

  .item-description {
    flex: 1;
    height: 100%;
    width: 100%;
  }

  .editor-container {
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    position: relative;

    &:hover .editor .editor-edit {
      display: block;
      padding: 0;
      border: none;
      box-shadow: none;
    }
    .details-headline {
      font-weight: 600;
      font-size: 0.8125rem;
      line-height: 1;
      margin-bottom: 0.5rem;
      border: none;
    }

    [contenteditable='true']:hover,
    [contenteditable='true']:focus {
      box-shadow: 0 0 0 0.0625rem var(--t5e-primary-accent-color) inset;
    }

    .editor {
      flex: 1;
      font-size: 0.8125rem;
      display: flex;
      flex-direction: column;
      position: static;

      .editor-edit {
        right: 0.75rem;
        top: 0;
        padding: 0;
        border: none;
        box-shadow: none;
        background: transparent;

        i {
          font-size: 1em;
          position: absolute;
          top: 0;
          right: 0.3125rem;
          cursor: pointer;
          text-shadow: none;
        }
      }

      .editor-content {
        margin: 0;
        padding: 0 0.75rem 0 0;
      }

      .tox {
        .tox-toolbar__group {
          padding: 0;
        }

        .tox-tbtn {
          width: 1.5rem;
          height: 1.5rem;
        }

        &.tox-tinymce .tox-tbtn[title='Formats'],
        &.tox-prosemirror .tox-tbtn[title='Formats'] {
          width: 5.625rem;
        }

        .tox-tbtn--select {
          width: auto;
        }
      }
    }
  }

  .editing-source .editor-container {
    display: none;
  }

  .editor .editor-content,
  .item-editor-descriptions-html-container {
    p,
    li {
      line-height: 1.4;
    }
  }
}

.tidy-tabs {
  flex: 0 0 auto;
}

.tidy-tab, 
/* Compatibility selector */ .tidy-tab > .tab {
  overflow: hidden auto;
  height: 100%;
  align-content: flex-start;

  &.effects {
    padding-right: 0.5rem;
  }

  /* Compatibility selector */
  & > .tab {
    padding-right: 0.75rem;
  }
  .form-header {
    margin: 0.5rem 0.375rem 0.25rem 0.375rem;
    font-size: 1.125rem;
    line-height: 1rem;
    font-family: var(--t5e-title-font-family);
    font-weight: 600;
    color: var(--t5e-primary-font-color);
    border-top: 0.0625rem solid var(--t5e-separator-color);
    border-bottom: 0.0625rem solid var(--t5e-separator-color);

    &:first-child {
      margin-top: 0;
    }
  }

  .form-group {
    margin: 0;

    & + .form-group {
      margin-top: 0.125rem;
    }
    padding: 0.1875rem;
    background: var(--t5e-faintest-color);
    border-radius: 0.3125rem;

    .form-fields {
      justify-content: flex-start;
      gap: 0.0625rem;

      &.spell-preparation-mode {
        gap: 0.25rem;
      }

      &.flex-wrap {
        flex-wrap: wrap;
      }

      gap: 0.25rem;

      > * {
        &.flex-basis-full {
          flex-basis: 100%;
        }

        &.qty-flex-basis {
          flex: 0 0 2rem;
        }
      }
    }

    &.stacked {
      display: flex;
      flex-wrap: wrap;
      gap: 0.0625rem;

      &:has(label.checkbox) {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(10.625rem, 1fr));
        gap: 0.125rem;

        > :not(.checkbox) {
          grid-column: 1 / -1;
        }
      }

      &:not(:has(> *)) {
        display: none;
      }
    }

    span {
      text-align: center;
    }

    label {
      margin-left: 0.25rem;
      line-height: 1.25rem;
      font-size: 0.8125rem;
      font-weight: 600;
      color: var(--t5e-secondary-color);
      white-space: nowrap;

      &.checkbox {
        position: relative;
        z-index: 1;
        margin: 0;
        padding: 0.0625rem;
        display: flex;
        border-radius: 0.1875rem;
        overflow: hidden;
        border: 0.0625rem solid var(--t5e-checkbox-outline-color);
        background: var(--t5e-checkbox-checked-color);
        height: 1.25rem;
        cursor: pointer;
        color: var(--t5e-checkbox-font-color);
        font-size: 0.8125rem;
        line-height: 1rem;
        font-weight: 400;

        &:hover {
          background: var(--t5e-checkbox-checked-color);
        }

        &:hover input::after {
          background: var(--t5e-checkbox-checked-color);
        }
      }

      &.checkbox.container-property {
        padding-right: 0.625rem;
        flex-basis: auto;
      }
    }

    :where(select),
    :where(:is(input[type='text'], input[type='number'], textarea)) {
      background: var(--t5e-item-input-background);
      height: 1.25rem;
      font-size: 0.8125rem;

      &:hover {
        background: var(--t5e-item-input-hover-background);
      }
    }

    input:disabled {
      background: rgba(255, 255, 255, 0.035);      
      color: var(--t5e-secondary-color);

      &:hover {
        border: none !important;
        box-shadow: none !important;
      }
    }

    .checkbox input {
      position: static;
      margin: 0;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: var(--t5e-checkbox-unchecked-color);
        width: 100%;
        height: 100%;
        cursor: pointer;
      }

      &:checked::after {
        display: none;
      }
    }

    // TODO: Tag these inputs with text-align-right layout class instead of locking that style into their property path.
    // input[name='data.activation.cost'],
    // input[name='data.target.value'],
    // input[name='data.range.value'],
    // input[name='data.duration.value'],
    // input[name='data.uses.value'],
    &.damage-parts input {
      text-align: right;
    }

    // TODO: Give this input a class rather than relying on the prop path in a name attr.
    // input[name="data.save.dc"] {
    //   text-align: center;
    //   flex: 0 0 1.875rem;
    // }

    // TODO: After completing Item Sheets, reevaluate this style. Is it actually doing anything?
    input[type='text']:hover,
    input[type='number']:hover,
    select:hover,
    select:focus,
    textarea {
      border: none;
      box-shadow: 0 0 0 0.0625rem var(--t5e-primary-accent-color) inset;
    }
  }
}

.tab.items-list-container {
  .items-list {
    flex: 1;
    padding: 0 0.5625rem 0.5rem 0;
    margin: 0;
    list-style: none;
    overflow-y: scroll;

    .item-list {
      padding: 0 0 0 0.5rem;
      margin: 0;
    }

    .items-header {
      align-items: center;
      margin: 0.5rem 0 0.125rem 0;
      padding: 0.325rem 0 0.25rem 0.375rem;
      line-height: 0.75rem;
      font-size: 0.75rem;
      background: var(--t5e-table-header-row-color);
      box-shadow: 0 0 0.1875rem inset var(--t5e-table-header-row-border-color);
      border-radius: 0.3125rem;

      h1,
      h2,
      h3 {
        border: none;
      }

      &:where(.advancement) {
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        padding: 0.25rem 0.375rem 0.125rem 0.375rem;
      }

      &:first-child {
        margin-top: 0;
      }

      h3 {
        font-size: 0.75rem;
        line-height: 0.75rem;
        flex: 1 0 4.375rem;
        white-space: nowrap;
        margin: 0;
        font-weight: 600;
      }

      div:not(.item-name, .item-checkmark) {
        color: var(--t5e-tertiary-color);
      }
    }

    .effect-source,
    .effect-duration {
      flex: 0 0 7.5rem;
      text-align: center;
      justify-content: center;
    }

    .active-effect-controls {
      flex: 0 0 3.8125rem;
      text-align: center;
      justify-content: center;
    }

    .items-header .active-effect-controls i {
      margin-right: 0.25rem;
    }

    .active-effect-control {
      flex: 0 0 1.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      color: var(--t5e-tertiary-color);

      &:hover {
        color: var(--t5e-secondary-color);
      }
    }

    .item {
      background: var(--t5e-faintest-color);
      margin: 0.125rem 0;
      border-radius: 0.3125rem;
      font-size: 0.75rem;
      color: var(--t5e-primary-font-color);

      &:where(.advancement-item) {
        :where(.item-controls) {
          flex-basis: auto;
          flex-grow: 0;
          gap: 0.25rem;
          padding-left: 0.325rem;
          padding-right: 0.325rem;

          :where(button) {
            padding-left: 0.25rem;
            padding-right: 0.25rem;
          }
        }
      }

      div:not(.item-name) {
        border-left: 0.0625rem solid var(--t5e-faint-color);
        display: flex;
        align-items: center;
        justify-content: center;
      }

      div.item-summary {
        flex: 100%;
        justify-content: flex-start;
        gap: 0.5em;
        padding: 0.5em 2em;
        border: none;
      }

      .item-name {
        align-items: center;

        h4 {
          margin: 0;
        }
      }

      .item-name .item-image {
        flex: 0 0 1.5rem;
        height: 1.5rem;
        border-radius: 0.3125rem 0 0 0.3125rem;
        margin-right: 0.25rem;
        border: none;

        * {
          color: var(--t5e-primary-font-color);
          fill: var(--t5e-primary-font-color);
        }

        svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}

input[type='checkbox'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: 0.0625rem solid var(--t5e-tertiary-color);
  box-shadow: 0 0 0.125rem var(--t5e-light-color) inset;
  border-radius: 0.1875rem;
  background-image: var(--t5e-check-default-background-image);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 60%;
}

label input[type='checkbox'] {
  border: none;
  box-shadow: none;
  position: relative;
}

input[type='checkbox']:checked {
  background: var(--t5e-checkbox-checked-color);
  background-image: var(--t5e-check-checked-background-image);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center;
}

.checkbox input[type='checkbox']:checked {
  background-image: var(--t5e-check-checked-background-image);
  background-repeat: no-repeat;
  background-position: center;
}

label input[type='checkbox']:checked {
  background-color: transparent;
}

.damage-header {
  margin: 0.5rem 0.25rem 0.25rem 0.375rem;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  font-family: var(--t5e-title-font-family);
  font-size: 1.125rem;
}

.damage-formula-control,
/* Compatibility selector */ .damage-control {
  text-align: center;
  display: flex;
  align-items: center;
  flex: 0 0 0.0625rem;
  white-space: nowrap;
  background: none;
  margin: 0;
  padding: 0.125rem 0.5rem;
  color: var(--t5e-tertiary-color);
  font-family: var(--t5e-body-font-family);
  font-size: 0.8125rem;

  transition: color 0.2s ease;

  &:hover {
    color: var(--t5e-icon-hover-color);
  }

  // &::after {
  // 	display: inline-block;
  // 	content: 'Add Formula';
  // 	margin-left: .25rem;
  //   font-size: 0.75rem;
  // }
}

.damage-parts {
  flex-direction: column;

  li {
    margin-top: 0.125rem;
    width: 100%;
    border-bottom: 0.0625rem solid var(--t5e-faint-color);
    padding-bottom: 0.125rem;

    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      border: none;
      padding: 0;
    }

    input {
      margin-right: 0.25rem;
    }
  }
}

.advancement {
  .items-header {
    :is(.item-checkmark, .item-warning) {
      flex: 0 0 2.75rem;
    }

    .item-checkmark {
      color: var(--t5e-secondary-color);
    }

    .item-warning {
      color: var(--t5e-warning-accent-color);
    }
  }

  .configuration-mode-control {
    white-space: nowrap;
    padding: 0.125rem 0.5rem;
  }

  .item-image.svg svg {
    max-width: 1.5rem;
    max-height: 1.5rem;
    &,
    path {
      fill: var(--t5e-secondary-color);
    }
  }

  .items-list .item-name {
    flex-basis: 8.125rem;
  }

  .content-link + .content-link {
    margin-left: 0.125rem;
  }
}

/* Container Overrides */

&.container {
  .tidy-sheet-body:has(.tidy-tab.contents.active) {
    padding: 0;
  }
}

/* Compatibility Styles */
.form-group :has(.damage-control) {
  clear: both;
}

.damage-control {
  float: right;
  margin: 0;
  padding: 0 0.325rem;
}

ol.info {
  margin: 0;
  padding: 0;
  outline: none;

  li.notification {
    box-shadow: none;
    list-style: none;
  }
}

:is(.enchantment, .summoning).form-group .separated-list {
  flex: 1 0 100%;
  .list-icon {
    flex: 0 0 2rem;
    width: 2rem;
    height: 2rem;
  }
  .name {
    flex: 1 0 10.9375rem;
    text-align: start;
  }
  .details {
    align-items: center;
  }
  .list-controls button {
    --size: 2rem;
  }
}
