.info-card {
  border-radius: 0.3125rem 0 0 0;
  overflow: hidden;
  height: 100%;
  width: var(--card-width);
  display: flex;
  flex-direction: column;

  > *:not(.horizontal-line-separator) {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }

  &.equipped .info-card-name {
    background: var(--t5ek-equipped-background);
  }

  &.prepared .info-card-name {
    background: var(--t5ek-prepared-background);
  }

  &.pact .info-card-name {
    background: var(--t5ek-pact-background);
  }

  &.at-will .info-card-name {
    background: var(--t5ek-atwill-background);
  }

  &.innate .info-card-name {
    background: var(--t5ek-innate-background);
  }

  &.always-prepared .info-card-name {
    background: var(--t5ek-alwaysprepared-background);
  }

  &.magic-item {
    box-shadow: 0 0 0.375rem 0.125rem var(--t5ek-magic-accent-color) inset;
  }

  .info-card-name {
    font-family: var(--t5ek-title-font-family);
    font-size: 1.5rem;
    margin: 0;
    padding: 0.25rem 0.5rem;
    line-height: 1;

    background: var(--t5ek-header-background);
  }

  .ammo-switch {
    height: unset;
    font-size: 0.75rem;
    font-family: 'Signika';

    select {
      width: 100%;
    }
  }

  .info-card-states,
  .info-card-trade,
  .info-card-amount,
  .info-card-properties {
    font-size: 0.75rem;
    display: flex;
    justify-content: space-between;

    span {
      padding: 0.25rem 0;
    }

    i {
      width: 0.8125rem;
      text-align: left;
      vertical-align: middle;
    }

    .info-attuned,
    .info-quantity {
      margin-left: auto;
    }
  }

  .description-wrap {
    flex: 1;
    overflow: hidden;
    padding: 0.375rem 0;
    margin-right: 0.25rem;
  }

  .info-card-description {
    height: 100%;
    overflow-y: auto;
    line-height: 1.3;
    padding-right: 0.5rem;

    ul,
    ol {
      list-style: disc;
      margin: 0.5rem 0;
      padding: 0 0 0 1rem;

      li {
        margin: 0.25rem 0 0 0;

        &:first-child {
          margin: 0;
        }
      }
    }

    ol {
      list-style: decimal;
    }

    & > *:first-child {
      margin-top: 0;
    }

    & > *:last-child {
      margin-bottom: 0;
    }
  }

  .item-properties {
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;

    .tag {
      white-space: pre-wrap;
    }
  }

  // .item-properties + .item-properties {
  //   margin-top: 0;
  // }

  a.entity-link,
  a.content-link,
  a.inline-roll {
    font-size: 0.8125rem;
  }
}
