.scroll-container {
  flex: 1;
  padding: 0 0.75rem 0.5rem 0;
  overflow-y: scroll;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

.flex-0 {
  flex: 0;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-basis-max-content {
  flex-basis: max-content;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-basis-auto {
  flex-basis: auto;
}

.flex-basis-full {
  flex-basis: 100%;
}

.gap {
  gap: 1rem;
}

.small-gap {
  gap: 0.5rem;
}

.extra-small-gap {
  gap: 0.25rem;
}

.extra-small-row-gap {
  row-gap: 0.25rem;
}

.no-gap {
  gap: 0;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-right {
  align-items: right;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.with-scrollbar-margin {
  margin-right: 0.75rem;
}

.small-padding-bottom {
  padding-bottom: 0.5rem;
}

.full-height {
  height: 100%;
}

.min-width-0 {
  min-width: 0;
}

.min-width-1rem {
  min-width: 1rem;
}

.grid-auto-columns {
  --grid-auto-columns-min-width-internal: var(
    --grid-auto-columns-min-width,
    10.5rem
  );
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-auto-columns-min-width-internal), 1fr)
  );
  gap: 0.125rem;
}

.columns-span-all {
  grid-column: 1 / -1;
}

.no-wrap {
  white-space: nowrap;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

/* Spacing utilities */

// TODO: "draw more inspiration" from https://getbootstrap.com/docs/5.3/utilities/spacing/
.p-1 {
  padding: 0.25rem;
}
