.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

.gap {
  gap: 1rem;
}

.small-gap {
  gap: 0.5rem;
}

.extra-small-gap {
  gap: 0.25rem;
}

.no-gap {
  gap: 0;
}

.justifty-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.align-items-right {
  align-items: right;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.vertical-line-separator {
  background: var(--t5e-faint-color);
  width: 0.0625rem;
  flex: 0 0 auto;
}

.text-align-right {
  text-align: right;
}

.with-scrollbar-margin {
  margin-right: 0.75rem;
}

.small-padding-bottom {
  padding-bottom: 0.5rem;
}
