// TODO: Determine if this can be distributed to one or more components

.tidy5e-kgar-navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;

  .item {
    padding: 5px 8px 0 8px;
    background: var(--t5e-header-background);
    border: 1px solid transparent;
    border-bottom: 1px solid var(--t5e-header-border);
    font-size: 13px;
    text-align: left;
    height: 26px;
    flex: 1 1 auto;

    &:first-child {
      padding-left: 16px;
    }

    &:hover {
      color: var(--t5e-primary-accent);
    }
  }

  .item[data-tab='attributes'] i {
    margin-right: 4px;
    color: var(--t5e-tertiary-color);
    position: relative;
    top: 1px;
  }

  .item.active {
    background: transparent;
    border: 1px solid var(--t5e-light-color);
    border-bottom-color: transparent;
    font-weight: 700;
    cursor: default;
    text-shadow: none;

    &:hover {
      color: inherit;
    }
  }

  .item:first-child.active {
    border-left-color: transparent;
  }
}

