.profile-wrap {
  width: 9.375rem;
  position: relative;
}

.profile {
  width: 9.375rem;
  height: 9.375rem;

  &.round-portrait,
  &.round-portrait .portrait,
  &.round-portrait .player-image {
    border-radius: 50%;
  }
}

.portrait {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid var(--t5e-icon-outline);
  position: relative;
  mix-blend-mode: multiply;
  z-index: 2;

  .portrait-menu {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    line-height: 1;
    white-space: nowrap;
    display: flex;
    flex-direction: column;

    .portrait-menu-item {
      background: var(--t5e-background);
      color: var(--t5e-primary-font);
      border: none;
      margin: 1px 0;
      padding: 4px 6px;
      line-height: 1;
      font-size: 12px;
      border: 1px solid var(--t5e-light-color);
      border-radius: 5px;
      text-align: center;

      &:hover {
        background: var(--t5e-background);
        color: var(--t5e-primary-accent);
      }
    }
  }
}

.player-image {
  background: var(--t5e-icon-background);
  box-shadow: 0 0 10px var(--t5e-icon-shadow) inset;
}
