/*
    Reset styles are meant to override Foundry styles with universally Tidy overrides, 
    strictly for Tidy sheets, without imposing additional specificity 
    for deeper styles to contend with.
*/

:is(img, svg) {
  border: none;
}

h3 {
  border-bottom: none;
}

&.application a.button.active,
&.application button.active {
  --button-focus-outline-color: transparent;
  --button-focus-outline-color: transparent;
}

// to do: add more generic tidy reset styles here.