& {
  // Tabs
  --t5e-tab-contents-padding-top: 1rem;
  --t5e-tab-contents-padding-right: 0.25rem;
  --t5e-tab-contents-padding-bottom: 1rem;
  --t5e-tab-contents-padding-left: 1rem;

  // Tidy Item Tables (V2)
  --t5e-tidy-table-cell-min-height: 1.5rem;

  // Capacity Tracker
  --t5e-capacity-container-background: var(--t5e-light-color);
  --t5e-capacity-container-border-color: var(--t5e-separator-color);
  --t5e-capacity-text-color: var(--t5e-encumbrance-text-color);
  --t5e-capacity-bar-text-shadow-color: var(--t5e-encumbrance-bar-text-shadow-color);
  --t5e-capacity-background: var(--t5e-encumbrance-bar-background);
  --t5e-capacity-border-color: var(--t5e-encumbrance-bar-outline-color);

  // Spellbook School Icons
  --t5e-spell-school-icon-fill: var(--t5e-secondary-color);
  --t5e-spell-school-icon-width: 1rem;
  --t5e-spell-school-icon-height: 1rem;
  --t5e-spell-school-font-icon-size: 1rem;

  // TODO: Extract more standard measurements to include here
}
