.header-sheet-edit-mode-toggle {
  padding-left: 0.25rem;
  border: 0.0625rem solid transparent;

  & + .window-title:not(.minimized .window-title) {
    visibility: hidden;
  }
}

&.minimized .header-sheet-edit-mode-toggle {
  display: none;
}
