.tidy5e-sheet.classic {
  .statblock.npc {
    background: var(--statblock-color-gold);
    gap: 0.25rem;

    .statblock-title {
      a i {
        color: var(--statblock-text-gold);
      }
    }
  }
}
