& {
  // TODO: Eliminate need for these. The search control should be able to receive a simple mt-# class to add any needed margin top.
  --t5e-classic-tab-contents-padding-top: 0;
  --utility-toolbar-margin-top: 0.375rem;

  button {
    height: auto;
  }
}

.tidy5e-sheet-header {
  padding: 0 1rem 0.5rem 1rem;
  background: var(--t5e-header-background);
}

.group-commands {
  padding-top: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 0.25rem;
  margin: 0;

  .group-action-button {
    padding: 0.25rem;
    line-height: 1;
    border: 1px solid var(--t5e-faint-color);
    border-radius: 0.25rem;
    background: var(--t5e-faint-color);
  }
}

.group-xp-input {
  text-align: right;
  line-height: 1rem;
  padding: 0.25rem;
  align-self: center;
  font-size: 0.75rem;
  height: auto;
  background: var(--t5e-faint-color);
}

.search {
  --input-height: 1.5rem;
}

// Group HP
.group-hp-container {
  position: absolute;
  width: 5.25rem;
  left: 50%;
  height: 1.25rem;
  font-size: 1.125rem;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--t5e-title-font-family);

  .resource-value,
  .resource-max {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0;
    margin: 0;
  }

  &.widen-for-rounded-portrait {
    width: 5.5rem;
  }
}

// Members Tab
.group-member-info-panel {
  border: 0.0625rem solid var(--t5e-separator-color);
  padding: 0.5rem;
}

// Encounters
.encounter-member-list-section {
  --t5e-member-list-portrait-size: 1.5rem;

  .tidy-table-cell {
    &,
    button,
    input {
      font-size: 0.75rem;
    }
  }

  .encounter-member-list-item-image {
    width: var(--t5e-member-list-portrait-size);
    height: var(--t5e-member-list-portrait-size);
    flex-basis: var(--t5e-member-list-portrait-size);
    object-fit: cover;
    object-position: top;
  }
  .encounter-member-name {
    justify-content: flex-start;
    text-align: left;
  }
}

// Groups and Parties
.group-member-list-item {
  // Group AC Shield
  .ac-display {
    align-self: flex-start;
  }

  .group-ac-shield .ac-shield {
    height: 2rem;
    width: 2.5rem;
  }
  .ac-value {
    font-family: var(--t5e-title-font-family);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1.25rem;
    font-weight: 700;
  }

  // Senses and Immunities
  fieldset {
    border-radius: 0.25rem;
    border-color: var(--t5e-separator-color);
  }

  // Skill Pills
  .skills {
    gap: 0.125rem;
    align-items: flex-start;
  }
  .skills .skill {
    flex: 0 0 max-content;
    line-height: 1rem;
    border: 0.0625rem solid var(--t5e-faint-color);
    border-radius: 0.3125rem;
    padding: 0.125rem 0.325rem;
  }
}

.member-list-item-image-wrapper {
  --t5e-member-list-portrait-size: 4rem;

  .member-list-item-image {
    width: var(--t5e-member-list-portrait-size);
    height: var(--t5e-member-list-portrait-size);
    object-fit: cover;
    object-position: top;
  }

  .member-list-item-hp-bar {
    position: relative;
    width: var(--t5e-member-list-portrait-size);
    height: 1.125rem;
  }
}

// Inventory Tab
.tidy-inventory-container
  .container-panel-wrapper:not(.container-panel-expanded) {
  margin-bottom: -0.5rem;
}
