.actor-profile-wrap {
  --t5e-portrait-size: 9.375rem;
  width: var(--t5e-portrait-size);
  position: relative;

  &.small-profile {
    --t5e-portrait-size: 6.25rem;
  }

  .only-show-on-hover {
    visibility: hidden;
  }

  &:hover .only-show-on-hover {
    visibility: visible;
  }
}

.profile {
  width: var(--t5e-portrait-size);
  height: var(--t5e-portrait-size);

  &.round-portrait {
    border-radius: 50%;
  }
}
