.sheet-edit-mode-toggle {
  display: flex;
  flex: 0;
  padding-left: 0.25rem;
  padding-right: 0.75rem;
  align-items: center;
  white-space: nowrap;
  background: var(--t5e-tab-background);
  border: 0.0625rem solid transparent;
  border-bottom: 0.0625rem solid var(--t5e-tab-strip-border-color);
  height: 1.625rem;
}
