.tidy5e-sheet.application:where(.dnd5e2) {
  .window-title {
    padding-inline: 1rem;
  }

  button.selected {
    background-color: var(--t5e-component-toggle-toggled-background);
    color: var(--t5e-color-text-onInverse-default);
  }
}
