.accordion {
  .accordion-item {
    margin-block-end: 0.5rem;
  }

  .accordion-item-header {
    padding: 0.25rem;
    margin: 0;
    border-bottom: 1.5px solid var(--t5e-separator-color);

    font-size: 0.875rem;
    line-height: normal;
  }

  .accordion-item-toggle {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    cursor: pointer;

    .accordion-arrow {
      font-size: 0.75rem;
      transition: transform 0.2s;

      &.open {
        transform: rotate(90deg);
      }
    }
  }

  .accordion-item-content {
    padding-left: 0.25rem;

    &.hidden {
      display: none;
    }
  }
}
