.tidy5e-sheet.application:where(.quadrone.actor) {
  .window-content .main-content > .tidy-tab.inventory {
    row-gap: 0;
    padding-inline-end: 0;
  }

  .tidy-tab.inventory {
    .inline-content-view .currency-container {
      gap: var(--t5e-size-1x);
      margin-top: var(--t5e-size-1x);
    }

    .inventory-footer {
      flex: 0 0 auto;
      padding-inline-end: var(--t5e-size-4x);
    }

    .tidy-table-header-cell[data-tidy-column-key="quantity"] {
      padding-left: 0;
      padding-right: 0;
    }

    .tidy-table-cell[data-tidy-column-key="quantity"] {
      padding-left: 0;
      padding-right: 0;

      .command {
        opacity: 0;
        transition: opacity var(--t5e-transition-default);
      }

      &:hover .command {
        opacity: 1;
      }
    }

    .tidy-inline-quantity-tracker {
      gap: -var(--t5e-size-1x);
    }
  }

  /* INVENTORY FOOTER */
  .inventory-footer {
    container-type: inline-size;
    container-name: inventory-footer;

    &.fixed {
      padding-bottom: 0;
    }

    .attunement-tracker {
      height: var(--t5e-field-size-default);
      gap: var(--t5e-size-1x);

      span {
        padding-block-end: var(--t5e-size-1);
      }

      &.pill {
        background: var(--t5e-component-card-default);
        box-shadow: var(--t5e-drop-shadow-field);
      }

      &.attuned i:hover {
        text-shadow: 0 0 0.25rem oklch(from var(--t5e-theme-color-lighter) l c h / 0.5);
      }

      input {
        flex: 0 1 fit-content;
        max-width: 2rem;
      }
    }

    .currency-container {
      gap: var(--t5e-size-2x);

      .denomination {
        text-transform: uppercase;
      }
    }

    .input-group:has(input[type='text']:disabled) {
      border: 0.0625rem solid var(--t5e-component-pill-border);
      background: var(--t5e-component-pill-background);
    }
  }

  @container inventory-footer (width < 35rem) {
    .currency-container {
      order: 1;
      flex: 1;
      min-width: fit-content;
      flex-direction: row;

      .input-group {
        padding-inline-start: 0.5rem;
      }

      .currency {
        display: none;
      }
    }

    .footer-content-left {
      order: 2;
      flex: 1;
    }

    .footer-content-right {
      order: 3;
    }
  }
}