.tidy5e-sheet.application:where(.quadrone.vehicle) {
  .tidy-tab.statblock {
    &:has(.character-traits) {
      .tidy-table-container {
        padding-block-end: 0;
        flex: 0 1 auto;
      }

      .character-traits {
        padding-bottom: var(--t5e-size-4x);

        .tidy-table-header-row {
          h3 {
            padding-block: 0 var(--t5e-size-halfx);
            padding-inline: var(--t5e-size-2x) 0;
          }
        }

        .list-label {
          padding-inline-start: var(--t5e-size-2x);
          flex: 0.75;
        }
      }

      .list-entry {
        border-radius: var(--t5e-size-halfx);
        border-width: 0 0 var(--t5e-size-halfx) 0;
        border-style: solid;
        border-image: var(--t5e-table-row-border-image);
        padding: var(--t5e-size-1x) 0;
      }
    }

    .tidy-table-cell .meter-container {
      flex-direction: column;
      padding-block: var(--t5e-size-halfx);
    }

    .tidy-table-cell .meter-container .meter {
      margin-block-start: var(--t5e-size-halfx);
      margin-block-end: calc(var(--t5e-size-halfx) * -1);
    }

    .tidy-table-cell .inline-hp {
      margin-block-start: var(--t5e-size-2x);
    }

    /* Vehicle Actions Tracker */
    .npc-score-tracker.vehicle-actions-tracker {
      position: relative;

      &.tracker-warning {
        .value {
          color: var(--t5e-text-warning);
          font-weight: var(--font-weight-label);
        }

        h4 {
          border-color: var(--t5e-text-warning);
        }
      }
    }

    .tidy-table-cell {

      .inline-hp,
      .inline-uses {
        margin-block-end: calc(var(--t5e-size-halfx) * -1);
        margin-block-start: calc(var(--t5e-size-halfx) * -1);
      }
    }
  }
}