.scroll-container {
  flex: 1;
  padding: 0 0.75rem 0.5rem 0;
  overflow-y: scroll;
}

.flex-row {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.inline-flex-row {
  display: inline-flex;
  flex-direction: row;
  gap: 1rem;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-1 {
  flex: 1;
}

.flex-0 {
  flex: 0;
}

.flex-grow-0 {
  flex-grow: 0;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-shrink-0 {
  flex-shrink: 0;
}

.flex-shrink-1 {
  flex-shrink: 1;
}

.flex-basis-max-content {
  flex-basis: max-content;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-basis-auto {
  flex-basis: auto;
}

.flex-basis-full {
  flex-basis: 100%;
}

.gap {
  gap: 1rem;
}

.small-gap {
  gap: 0.5rem;
}

.extra-small-gap {
  gap: 0.25rem;
}

.extra-small-row-gap {
  row-gap: 0.25rem;
}

.no-gap {
  gap: 0;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-stretch {
  justify-content: stretch;
}

.justify-content-space-between {
  justify-content: space-between;
}

.justify-content-flex-end {
  justify-content: flex-end;
}

.align-items-center {
  align-items: center;
}

.align-items-baseline {
  align-items: baseline;
}

.align-items-right {
  align-items: right;
}

.align-items-flex-start {
  align-items: flex-start;
}

.align-items-flex-end {
  align-items: flex-end;
}

.align-items-stretch {
  align-items: stretch;
}

.align-self-flex-start {
  align-self: flex-start;
}

.align-self-flex-end {
  align-self: flex-end;
}

.align-self-center {
  align-self: center;
}

.align-self-stretch {
  align-self: stretch;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.with-scrollbar-margin {
  margin-right: 0.75rem;
}

.small-padding-bottom {
  padding-bottom: 0.5rem;
}

.full-height {
  height: 100%;
}

.min-width-0 {
  min-width: 0;
}

.min-width-1rem {
  min-width: 1rem;
}

.grid-auto-columns {
  --grid-auto-columns-min-width-internal: var(
    --grid-auto-columns-min-width,
    10.5rem
  );
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(var(--grid-auto-columns-min-width-internal), 1fr)
  );
  gap: 0.125rem;
}

.columns-span-all {
  grid-column: 1 / -1;
}

.no-wrap {
  white-space: nowrap;
}

.overflow-y-hidden {
  overflow-y: hidden;
}

/* Spacing utilities */
// Advice: These utility classes should be a last resort or a stopgap until later development of appropriate styles.

// Margin
.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 3rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.ms-auto {
  margin-inline-start: auto !important;
}

.ms-0 {
  margin-inline-start: 0 !important;
}

.ms-1 {
  margin-inline-start: 0.25rem !important;
}

.ms-2 {
  margin-inline-start: 0.5rem !important;
}

.ms-3 {
  margin-inline-start: 1rem !important;
}

.ms-4 {
  margin-inline-start: 1.5rem !important;
}

.ms-5 {
  margin-inline-start: 3rem !important;
}

.me-0 {
  margin-inline-end: 0 !important;
}

.me-1 {
  margin-inline-end: 0.25rem !important;
}

.me-2 {
  margin-inline-end: 0.5rem !important;
}

.me-3 {
  margin-inline-end: 1rem !important;
}

.me-4 {
  margin-inline-end: 1.5rem !important;
}

.me-5 {
  margin-inline-end: 3rem !important;
}

.my-0 {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.my-1 {
  margin-top: 0.25rem !important;
  margin-bottom: 0.25rem !important;
}

.my-2 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.my-4 {
  margin-top: 1.5rem !important;
  margin-bottom: 1.5rem !important;
}

.my-5 {
  margin-top: 3rem !important;
  margin-bottom: 3rem !important;
}

.mx-0 {
  margin-inline-start: 0 !important;
  margin-inline-end: 0 !important;
}

.mx-1 {
  margin-inline-start: 0.25rem !important;
  margin-inline-end: 0.25rem !important;
}

.mx-2 {
  margin-inline-start: 0.5rem !important;
  margin-inline-end: 0.5rem !important;
}

.mx-3 {
  margin-inline-start: 1rem !important;
  margin-inline-end: 1rem !important;
}

.mx-4 {
  margin-inline-start: 1.5rem !important;
  margin-inline-end: 1.5rem !important;
}

.mx-5 {
  margin-inline-start: 3rem !important;
  margin-inline-end: 3rem !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 0.25rem !important;
}

.m-2 {
  margin: 0.5rem !important;
}

.m-3 {
  margin: 1rem !important;
}

.m-4 {
  margin: 1.5rem !important;
}

.m-5 {
  margin: 3rem !important;
}

// Padding
.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 3rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 3rem !important;
}

.ps-0 {
  padding-inline-start: 0 !important;
}

.ps-1 {
  padding-inline-start: 0.25rem !important;
}

.ps-2 {
  padding-inline-start: 0.5rem !important;
}

.ps-3 {
  padding-inline-start: 1rem !important;
}

.ps-4 {
  padding-inline-start: 1.5rem !important;
}

.ps-5 {
  padding-inline-start: 3rem !important;
}

.pe-0 {
  padding-inline-end: 0 !important;
}

.pe-1 {
  padding-inline-end: 0.25rem !important;
}

.pe-2 {
  padding-inline-end: 0.5rem !important;
}

.pe-3 {
  padding-inline-end: 1rem !important;
}

.pe-4 {
  padding-inline-end: 1.5rem !important;
}

.pe-5 {
  padding-inline-end: 3rem !important;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.py-1 {
  padding-top: 0.25rem !important;
  padding-bottom: 0.25rem !important;
}

.py-2 {
  padding-top: 0.5rem !important;
  padding-bottom: 0.5rem !important;
}

.py-3 {
  padding-top: 1rem !important;
  padding-bottom: 1rem !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.px-0 {
  padding-inline-start: 0 !important;
  padding-inline-end: 0 !important;
}

.px-1 {
  padding-inline-start: 0.25rem !important;
  padding-inline-end: 0.25rem !important;
}

.px-2 {
  padding-inline-start: 0.5rem !important;
  padding-inline-end: 0.5rem !important;
}

.px-3 {
  padding-inline-start: 1rem !important;
  padding-inline-end: 1rem !important;
}

.px-4 {
  padding-inline-start: 1.5rem !important;
  padding-inline-end: 1.5rem !important;
}

.px-5 {
  padding-inline-start: 3rem !important;
  padding-inline-end: 3rem !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 0.25rem !important;
}

.p-2 {
  padding: 0.5rem !important;
}

.p-3 {
  padding: 1rem !important;
}

.p-4 {
  padding: 1.5rem !important;
}

.p-5 {
  padding: 3rem !important;
}
