/*
    Reset styles are meant to override Foundry styles with universally Tidy overrides, 
    strictly for Tidy sheets, without imposing additional specificity 
    for deeper styles to contend with.
*/

:is(img, svg) {
  border: none;
}

h3 {
  border-bottom: none;
}

// Foundry 13 Classic Button reset

:where(button) {
  height: unset;
  min-height: unset;
}

// to do: add more generic tidy reset styles here.