.tidy-tab.biography {
  --t5e-row-gap: var(--t5e-size-2x);
  --t5e-row-gap-small: var(--t5e-size-1x);

  container-type: inline-size;
  container-name: biography-tab;
  flex-direction: column;
  gap: var(--t5e-row-gap) var(--t5e-size-8x);
  padding-bottom: var(--t5e-size-4x);

  .collapsible-editor .title span {
    color: var(--t5e-color-text-default);
  }

  .collapsible-editor:has(.editor) {
    margin-bottom: var(--t5e-size-1x);
  }

  .tidy-tab-row {
    align-items: flex-start;
    gap: 0 var(--t5e-size-8x);
  }

  .tidy-tab-row:last-child {
    padding-bottom: var(--t5e-size-8x);
  }

  .tidy-tab-column {
    gap: var(--t5e-row-gap) var(--t5e-size-8x);
    padding-left: 0;
  }

  .biography-entries {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: var(--t5e-row-gap) var(--t5e-size-8x);
    padding-left: 0;

    li {
      flex: 1; //0 1 autcalc(50% - var(--t5e-size-4x));
      min-width: 0;
    }
  }

  .biography-editor-container {
    margin-bottom: var(--t5e-size-3x);

    .editor {
      overflow-y: auto;
      border-radius: var(--t5e-size-1x);
    }
  }
}

@container biography-tab (width < 42rem) {
  .tidy-tab.biography {
    transition: all var(--t5e-transition-default);

    .biography-entries {
      transition: all var(--t5e-transition-default);
      gap: var(--t5e-size-1x) var(--t5e-size-6x);
    }
  }
}

@container biography-tab (width < 32rem) {
  .tidy-tab.biography {

    .tidy-tab-column {
      flex: 1;
      gap: var(--t5e-row-gap-small);
    }

    .tidy-tab-row {
      flex-direction: column;
      align-items: stretch;
      gap: var(--t5e-row-gap-small);
    }
  }
}