.action-bar {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  container: action-bar / inline-size;

  search {
    flex: 1;
  }

  .button-toggle {
    gap: 0;
    width: fit-content;
    min-width: var(--t5e-field-size-default);

    &[data-filter-text][data-filter-abbr]:not([data-filter-abbr=""]) {
      font-size: 0;

      &::before {
        text-align: center;
        content: attr(data-filter-text);
        font-size: var(--font-size-13);
        color: var(--button-text, var(--t5e-color-text-default));
      }

      &.exclude,
      &.disabled {
        background-color: var(--t5e-component-card-darker);

        &::before {
          --icon-fill: var(--t5e-color-text-lightest);
          font-style: italic;
          color: var(--t5e-color-text-lightest);
          box-shadow: none;
        }
      }
    }
  }

  @container action-bar (width < 30rem) {
    .button-toggle {
      &[data-filter-text][data-filter-abbr]:not([data-filter-abbr=""]) {
        &::before {
          content: attr(data-filter-abbr);
        }
      }
    }
  }
}

@container action-bar (width < 40rem) {

  .spellbook,
  .contents {
    .action-bar .button-group .button-toggle {

      &[data-filter-text][data-filter-abbr]:not([data-filter-abbr=""]) {
        &::before {
          content: attr(data-filter-abbr);
        }
      }
    }
  }
}