/* Quadrone-style buttons */
:is(button, .button):where( :not(.header-control):not(.controls-dropdown .control)) {
  --button-padding-block-start: 0.5rem;
  --button-padding-block-end: 0.5rem;
  --button-padding-inline-start: 0.75rem;
  --button-padding-inline-end: 0.75rem;
  --icon-fill: var(--t5e-color-icon-ondefault-button);

  display: inline-flex;
  width: unset;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex-shrink: 0;
  border-radius: 0.125rem;
  border: 1px solid var(--t5e-component-field-border);
  background: var(--t5e-component-field-background);
  color: var(--t5e-color-text-ondefault-default);
  cursor: pointer;

  font-family: var(--t5e-font-roboto-condensed);
  font-size: var(--font-font-size-13);
  font-style: normal;
  font-weight: 500;
  line-height: 0.875rem;

  box-shadow: var(--t5e-drop-shadow-field);

  padding-inline-start: var(--button-padding-inline-start);
  padding-inline-end: var(--button-padding-inline-end);
  padding-block-end: 0.03125rem;
  min-height: var(--t5e-field-size-default);
  transition: all var(--t5e-transition-default);

  // TODO: Find a way to shrink left padding by 2px if icon is present
  // :has(i) {
  //   padding-inline-start: calc(var(--button-padding-inline-start) - 0.125rem);
  // }

  :where(i) {
    color: var(--icon-fill);
    transition: color var(--t5e-transition-default);
    margin: 0;
    font-size: var(--font-size-12);
    vertical-align: middle;
  }

  &:hover {
    background: var(--t5e-component-field-background-hover);
    color: var(--t5e-color-text-ondefault-default);
    border: 1px solid var(--t5e-component-field-border-hover);
    box-shadow: var(--t5e-drop-shadow-field-hover);

    :where(i) {
      color: var(--t5e-color-icon-ondefault-default);
    }
  }

  &:focus-within {
    box-shadow: 0px 0px 0px 2px #9a2a30;
  }

  &.active,
  &:active,
  &.attention {
    --icon-fill: var(--t5e-color-icon-ondefault-default);

    color: var(--t5e-component-toggle-toggled-text);
    border: 1px solid var(--t5e-component-toggle-toggled-border);
    background: var(--t5e-component-toggle-toggled-background);

    :where(i) {
      --icon-fill: var(--t5e-color-icon-light);
    }

    &:hover {
      background-color: var(--t5e-component-toggle-toggled-background-hover);
    }
  }

  &.icon-button {
    --size: var(--t5e-field-size-default);
    align-items: center;
    justify-content: center;
    padding: 0;
    width: var(--size);
    height: var(--size);
  }

  &.borderless-button {
    border-color: transparent;
    background: transparent;
    box-shadow: none;

    &:hover,
    &:focus,
    &:active,
    &:focus-within {
      background: transparent;
      border-color: transparent;
      box-shadow: none;
      text-shadow: var(--t5e-drop-shadow-field);
    }
  }

  &.disabled {
    cursor: default;
    // pointer-events: none;
    background: transparent;
    border: 1px solid var(--t5e-component-field-border);

    &,
    i {
      color: var(--t5e-color-icon-ondefault-disabled);
    }
  }

  &:has(i, dnd5e-icon) {
    padding-inline-start: calc(var(--button-padding-inline-start) - 0.125rem);
  }

  /* Toggle Buttons */
  &.toggle-button {
    border: 1px solid var(--t5e-component-field-border);
    --input-height: auto;

    &:has(.toggle:checked),
    &.include {
      --icon-fill: var(--t5e-component-toggle-toggled-text);
      color: var(--t5e-component-toggle-toggled-text);
      background: var(--t5e-component-toggle-toggled-background);

      i {
        color: var(--t5e-component-toggle-toggled-text);
      }

      &:hover {
        background-color: var(--t5e-component-toggle-toggled-background-hover);
      }
    }

    &.disabled,
    &.exclude {
      --icon-fill: var(--t5e-color-text-ondefault-lightest);
      font-style: italic;
      color: var(--t5e-color-text-ondefault-lightest);
      box-shadow: none;
    }
  }
}

&.theme-dark :is(button, .button) {
  // border: 1px solid var(--t5e-component-field-border);
  // background: var(--t5e-component-field-background);

  i {
    color: var(--t5e-color-icon-ondefault-diminished);
  }

  &.exclude {
    background: transparent;
  }

  &:hover {
    i {
      color: var(--t5e-color-icon-ondefault-default);
    }
  }

  &:focus-within:not(.toggle-button) {
    border-color: var(--t5e-component-field-border-hover);
    background: var(--t5e-component-field-background-hover);
  }

  &:focus-within:is(.toggle-button) {
    &:has(.toggle:checked) {
      border-color: var(--t5e-component-toggle-toggled-border);
      background: var(--t5e-theme-color-darker);
    }
  }
}

/* Button Group */

.button-group {
  box-sizing: border-box;
  box-shadow: var(--t5e-drop-shadow-field);
  border: 1px solid var(--t5e-component-field-border);
  border-radius: 0.125rem;
  display: flex;
  flex-direction: row;
  gap: 0;
  height: var(--t5e-field-size-default);

  &:hover {
    box-shadow: var(--t5e-drop-shadow-field-hover);
  }

  button,
  .button {
    --button-padding-inline-start: 0.625rem;
    --button-padding-inline-end: 0.625rem;
    border-width: 0 1px 0 0;
    box-shadow: none;
    min-height: calc(var(--t5e-field-size-default) - 0.125rem);
  }

  :is(button, .button):last-child {
    border-width: 0;
  }

  :is(button, .button):not(:last-child):not(:first-child),
  :is(button, .button):first-child:not(:last-child) {
    // border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  :is(button, .button):not(:last-child):not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  :is(button, .button):last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* Header Controls */

:is(button, .button) {

  &.header-control,
  &.unbutton {
    width: unset;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    outline: none;
  }
}

:is(button, .button).header-control {
  font-weight: 900;
}

/* Button Dropdown */

.button-with-options-wrapper {
  position: relative;

  .with-options {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    position: relative;

    .expand-indicator {
      font-size: 0.5rem;
      position: absolute;
      right: 0.125rem;
      bottom: 0.0625rem;
      color: var(--t5e-color-text-ondefault-gold);
    }

    &:is(.active, :active, .attention):not(.disabled) .expand-indicator {
      color: var(--t5e-color-text-oninverse-default);
    }
  }

  menu {
    position: absolute;
    margin: 0;
    padding: 0.5rem 0.75rem;
    top: 100%;
    width: auto;
    padding: 0.5rem 0.75rem;
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background: var(--t5e-component-card-ondefault-default);
    border-radius: 0.25rem;
    z-index: 2;
    white-space: nowrap;
    box-shadow: var(--t5e-drop-shadow-card);

    &.anchor-left {
      left: 0;
    }

    &.anchor-right {
      right: 0;
    }

    &.expanded {
      display: flex;
      gap: 0.5rem;
    }

    h4 {
      color: var(--t5e-color-text-ondefault-lighter);
      font-size: 0.8125rem;
      font-weight: 500;
      line-height: normal;
    }

    label:has(input[type='radio']) {
      display: flex;
      gap: 0.5rem;
    }
  }
}

// Filter Button Menu - TODO: Discuss with Hightouch where this should go and if any of this can be eliminated by existing or more appropriate classes / styles
.button-with-options-wrapper.filter-menu {
  // Question for Hightouch: where should we put styles for filter menus?

  .filter-group {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .filters {
    display: flex;
    gap: 0.25rem;
    flex-wrap: wrap;

    .toggle-button {
      text-transform: capitalize;
    }
  }

  menu.expanded {
    width: 20rem;
    border: 1px solid var(--t5e-component-field-border);
    // background: var(--t5e-component-card-ondefault-default);
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    // TODO: Parchment background for light / ??? background for dark
    // Can we do some kind of special class that means "Use the textured background, whatever the theme?"
  }

  .clear-all-filters {
    margin-block-start: 0.625rem;
  }
}

.expand-button {
  .expand-button-indicator {
    transition: transform var(--t5e-transition-default);
  }

  &.collapsed .expand-button-indicator {
    transform: rotate(-90deg);
  }
}


&.dark,
&.theme-dark {
  .button-with-options-wrapper menu {
    background: var(--t5e-component-card-oninverse-darker);
  }
}