.collapsible-editor {
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    &:hover {
      .edit i {
        color: var(--t5e-color-icon-default);
        text-shadow: 0 0 0.375rem var(--t5e-color-text-gold);
      }
    }
  }

  .title {
    color: var(--t5e-color-text-lightest);

    font-family: var(--t5e-font-family-title);
    font-size: var(--font-size-18);
    letter-spacing: 0.01rem;
    line-height: normal;

    flex: 1;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    transition: color var(--t5e-transition-default);

    &:has(.expand-indicator) {
      color: var(--t5e-color-text-lighter);

      &:hover {
        color: var(--t5e-color-text-default);
      }
    }

    .expand-indicator {
      color: var(--t5e-color-icon-disabled);
      transition: all var(--t5e-transition-default);
      font-size: 0.6875rem;
      padding: 0.125rem 0 0 0;

      &.expanded {
        transform: rotate(90deg);
        color: var(--t5e-color-icon-disabled);
        padding: 0 0 0.125rem 0.25rem;
      }
    }
  }

  .edit {
    display: flex;
    width: var(--font-font-size-24, 1.5rem);
    height: var(--font-font-size-24, 1.5rem);
    padding: 0.25rem 0.25rem 0 0.3125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    i {
      color: var(--t5e-color-icon-button);
      font-size: 0.6875rem;
      transition: color var(--t5e-transition-default);
    }

    &:hover i {
      color: var(--t5e-color-text-default);
    }
  }

  .editor:has(.user-select-text) {
    overflow: hidden;
  }

  .title:hover {
    .expand-indicator {
      color: var(--t5e-color-text-default);
    }
  }
}