.vertical-filigree-guideline {
  width: 0.25rem;
  min-height: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  .guideline-header,
  .guideline-footer {
    position: relative;
    height: 5.5px;

    svg path {
      stroke-width: 1px;
      stroke: var(--t5e-color-text-oninverse-gold);
    }
  }

  .guideline-borders {
    position: relative;
    flex: 1;
  }

  .guideline-border-left {
    background: var(--t5e-color-text-oninverse-gold);
    width: 0.0625rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .guideline-border-right {
    background: var(--t5e-color-text-oninverse-gold);
    width: 0.0625rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .guideline-header > svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .guideline-footer > svg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.filigree-guideline-and-contents {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  gap: 0.5rem;

  > * {
    flex: 1;
  }

  > .vertical-filigree-guideline {
    flex: 0 0 auto;
  }
}

.gold-header-underline {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  --line-color: var(--t5e-color-gold);

  svg {
    flex: 0 0 auto; /* Prevents SVG parts from stretching */
    stroke: var(--line-color);
  }

  .middle {
    flex-grow: 1; /* Allows the middle section to stretch */
  }
}
