.vertical-filigree-guideline {
  width: 0.25rem;
  min-height: 1.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;

  .guideline-header,
  .guideline-footer {
    position: relative;
    height: 5.5px;

    svg path {
      stroke-width: 1px;
      stroke: var(--t5e-color-text-gold);
    }
  }

  .guideline-borders {
    position: relative;
    flex: 1;
  }

  .guideline-border-left {
    background: var(--t5e-color-text-gold);
    width: 0.0625rem;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
  }

  .guideline-border-right {
    background: var(--t5e-color-text-gold);
    width: 0.0625rem;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
  }

  .guideline-header>svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .guideline-footer>svg {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.filigree-guideline-and-contents {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  gap: 0.5rem;

  >* {
    flex: 1;
  }

  >.vertical-filigree-guideline {
    flex: 0 0 auto;
  }
}

.gold-header-underline {
  display: flex;
  align-items: center;
  flex-basis: 100%;
  --line-color: var(--t5e-color-gold);
  margin-top: -0.125rem;

  svg {
    flex: 0 0 auto;
    /* Prevents SVG parts from stretching */
    stroke: var(--line-color);
  }

  .middle {
    flex-grow: 1;
    /* Allows the middle section to stretch */
  }
}


.filigree-card {
  background: var(--t5e-component-card-default);
  border-radius: 20px;
  position: relative;
  isolation: isolate;
  min-height: 56px;
  filter: var(--filigree-drop-shadow, drop-shadow(0 0 12px var(--dnd5e-shadow-15)));

  .backdrop {
    --chamfer: 12px;
    position: absolute;
    inset: 0;
    z-index: -2;
    clip-path: polygon(var(--chamfer) 0,
        calc(100% - var(--chamfer)) 0,
        100% var(--chamfer),
        100% calc(100% - var(--chamfer)),
        calc(100% - var(--chamfer)) 100%,
        var(--chamfer) 100%,
        0 calc(100% - var(--chamfer)),
        0 var(--chamfer));
  }

  .filigree {
    position: absolute;
    fill: var(--t5e-color-filigree);
    z-index: -1;
  }

  .filigree.top,
  .filigree.bottom {
    height: 30px;
  }

  .filigree.top {
    top: 0;
  }

  .filigree.bottom {
    bottom: 0;
    transform: scale(1, -1);
  }

  .filigree.left,
  .filigree.right {
    width: 25px;
  }

  .filigree.left {
    left: 0;
  }

  .filigree.right {
    right: 0;
    transform: scale(-1, 1);
  }

  .filigree.bottom.right {
    transform: scale(-1, -1);
  }

  .filigree.block {
    inline-size: calc(100% - 50px);
    inset-inline: 25px;
  }

  .filigree.inline {
    block-size: calc(100% - 60px);
    inset-block: 30px;
  }

}