/* App V2 Reset */

/* Normalize field styles */
input[type='text'],
input[type='number'],
.input-group,
textarea,
select,
:where(search) {
  color: var(--t5e-color-text-default);
  line-height: 1rem;
  display: flex;
  align-items: center;
  transition: all var(--t5e-transition-default);
  box-shadow: var(--t5e-drop-shadow-field);
  background: var(--t5e-component-field-background);
  border-radius: 0.125rem;
  border: 1px solid var(--t5e-component-field-border);
  outline: 0 solid var(--t5e-theme-color-default);

  &:hover,
  &:focus {
    background-color: var(--t5e-component-field-background-hover);
    border-color: var(--t5e-component-field-border-hover);
    box-shadow: var(--t5e-drop-shadow-field-hover);
  }

  &:focus {
    outline: var(--t5e-outline-field-focus);
  }

  &::placeholder {
    color: var(--t5e-color-text-disabled);
  }

  &.uninput {
    border-color: transparent;
    background: transparent;
    background-color: transparent;
    box-shadow: none;
    outline: none;
    padding: 0;
    margin: 0;
  }
}

/* Normalize field sizes */
input[type='text'],
input[type='number'] {
  height: var(--t5e-field-size-default);
}

/* Quadrone-style inputs */
input[type='text'],
input[type='number'],
textarea {
  align-items: center;
  display: flex;
  font-size: var(--font-size-default, 0.8666666667rem);
  font-weight: var(--font-weight-default, 400);
  padding-block-end: 0.0625rem;

  &:is(textarea) {
    resize: none;
  }

  &:has(input[type='text']:disabled) {
    background: var(--t5e-component-field-background-disabled);
    color: var(--t5e-color-text-lightest);
  }

  &:disabled {
    background: var(--t5e-component-field-background-disabled);
    box-shadow: none;
    border-color: transparent;
  }
}

input.uninput:hover {
  border: 1px solid var(--t5e-component-field-border-hover);
}

.input-group {
  --icon-size: 0.75rem;
  font-size: var(--font-size-default, 0.8666666667rem);
  font-weight: var(--font-weight-default, 400);
  height: var(--t5e-field-size-default);
  gap: 0.375rem;
  padding-inline-start: 0.375rem;
  padding-inline-end: 0.5rem;

  &:focus-within {
    box-shadow: 0px 0px 0px 2px var(--t5e-color-text-gold-light);
  }

  &:hover {
    background-color: var(--t5e-component-field-background-hover);
  }

  input[type='text'] {
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    flex: 1 0 0;
    font-size: var(--font-size-13);
    height: auto;
    padding: 0;
    padding-block-end: 0.0625rem;

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }

    &:hover {
      background: none;
    }

    &::placeholder {
      color: var(--t5e-color-text-disabled);
    }

    &:disabled {
      background: none;
    }
  }

  span {
    padding-block-end: 0.0625rem;
  }

  &.right input[type='text'] {
    text-align: right;
  }

  &:has(input[type='text']:disabled) {
    background: var(--t5e-component-field-background-disabled);
    border: none;
    box-shadow: none;
  }

  &> :not(input):not(i) {
    font-weight: 500;
    font-size: 0.8125rem;
    color: var(--t5e-color-text-lightest);
  }

  i {
    font-size: var(--icon-size);
  }
}

:where(search) {
  font-size: var(--font-size-default, 0.8666666667rem);
  font-weight: var(--font-weight-default, 400);
  height: var(--t5e-field-size-default);
  padding-inline-start: 0.375rem;
  padding-inline-end: 0;

  &:hover input {
    background: none;
  }

  &:focus-within {
    box-shadow: var(--t5e-drop-shadow-field-focus);
    background-color: var(--t5e-component-field-background-hover);
  }

  // TODO: Consider how to generalize this particular style, since other inputs use the same technique
  .icon-and-input {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 0.375rem;
    padding-block-end: 0.0625rem;

    &:hover .icon-and-input {
      background-color: var(--t5e-component-field-background-hover);
    }

    input[type='text'] {
      background: none;
      box-shadow: none;
      outline: none;
    }
  }

  input[type='text'] {
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    color: var(--t5e-color-text-default);
    flex: 1 0 0;
    font-size: var(--font-size-13);
    height: auto;
    padding: 0;

    &:focus {
      box-shadow: none;
      border: none;
      outline: none;
    }

    &:hover {
      background: none;
    }

    &::placeholder {
      color: var(--t5e-color-text-disabled);
    }

    &:disabled {
      background: none;
    }
  }

  i {
    font-size: 0.6875rem;
  }

  // TODO: Figure out positioning and style
  .cancel-search {
    width: var(--t5e-field-size-default);
    height: var(--t5e-field-size-default);
    color: var(--t5e-color-text-lighter);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 0.6875rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  &:has(input[type='text']:disabled) {
    background: var(--t5e-component-field-background-disabled);
    border-color: transparent;
    box-shadow: none;
  }
}

/* Parent radio and checkbox elements */
.radio {
  display: flex;
  align-items: flex-start;
  padding-block-start: 0.3125rem;
}

.radio,
.checkbox {
  font-size: var(--font-size-default, 0.8666666667rem);
  font-weight: var(--font-weight-default, 400);
  justify-content: flex-start;
  gap: 0.5rem;

  &:hover,
  &:focus {
    input:not(:disabled) {
      &:not(:checked) {
        border-color: var(--t5e-component-field-border-hover);
        background: var(--t5e-component-field-background-hover);
      }

      &:checked {
        border-color: var(--t5e-theme-color-darker);
        background-color: var(--t5e-theme-color-darker);
        box-shadow: var(--t5e-drop-shadow-field-hover);
      }
    }
  }

  &:focus {
    input {
      outline: var(--t5e-outline-field-focus);
    }
  }
}

.checkbox {
  &:has(input:disabled:not(:checked)) {
    color: var(--t5e-color-text-lightest);
  }
}

.radio-label {
  display: flex;
  flex-direction: column;
  gap: var(--t5e-size-halfx);

  .radio-label-subtitle {
    color: var(--t5e-color-text-lighter);
    font-size: var(--font-size-small);
  }
}

/* Radio and checkbox inputs */
input[type='radio'],
input[type='checkbox'] {
  box-sizing: content-box;
  background: var(--t5e-component-field-background);
  border: 1px solid var(--t5e-component-field-border);
  box-shadow: var(--t5e-drop-shadow-field);
  transition: all var(--t5e-transition-default);

  &:checked {
    background-color: var(--t5e-component-toggle-toggled-background);
    border-color: var(--t5e-component-toggle-toggled-border);
    filter: none; // Overwrite the application filter.
  }

  &:disabled {
    background: var(--t5e-component-field-background-disabled);
    border-color: transparent;
    box-shadow: none;

    &:checked {
      background-color: var(--t5e-component-toggle-toggled-background);
    }
  }

  &:focus:not(:disabled) {
    outline: var(--t5e-outline-field-focus);

    &:not(:checked) {
      border-color: var(--t5e-component-field-border-hover);
      background: var(--t5e-component-field-background-hover);
    }

    &:checked {
      border-color: var(--t5e-theme-color-darker);
      background-color: var(--t5e-theme-color-darker);
      box-shadow: var(--t5e-drop-shadow-field-hover);
    }
  }
}

input[type='radio'] {
  width: var(--t5e-radio-size);
  height: var(--t5e-radio-size);
  appearance: none;
  border-radius: 50%;
  display: inline-flex;
  transform: translateY(-0.125rem);

  &:checked::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0.5);
    background-color: var(--t5e-color-text-gold-light);
  }

  &:checked::after {
    color: var(--t5e-theme-color-darker);
  }

  &:checked:disabled::before {
    background-color: var(--t5e-color-text-disabled);
  }
}

input[type='checkbox'] {
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  flex-basis: var(--checkbox-size);
  margin: 0;
  text-align: center;
  border-radius: 0.125rem;

  &::before,
  &::after {
    content: unset;
    font-weight: 900;
  }

  &:checked {
    display: inline-flex;
  }

  &:checked::before {
    content: '\f00c';
    font-size: 0.825rem;
    color: var(--t5e-component-toggle-toggled-text);
    // height: var(--t5e-checkbox-size);
    // line-height: var(--t5e-checkbox-size);
    // width: var(--t5e-checkbox-size);
  }

  &:not(:checked):disabled::before {
    content: '\e59b';
    font-size: 0.825rem;
    color: var(--t5e-color-palette-grey-60);
  }
}

/* TODO: If this is still used, then fix text alignment when no label present (1px too low without) */
select {
  --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23666' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
  --bg-image-backdrop: none;

  border-radius: 0.125rem;
  border: 1px solid var(--t5e-component-field-border);
  box-shadow: var(--t5e-drop-shadow-field);
  height: var(--t5e-field-size-default);
  padding: 0 1.75rem 0 var(--t5e-size-2x);

  display: flex;
  align-items: center;
  gap: var(--t5e-size-1x);
  flex-shrink: 0;

  appearance: none;
  cursor: pointer;

  font-size: var(--font-size-default, 0.8666666667rem);
  font-weight: var(--font-weight-default, 400);
  color: var(--t5e-color-text-default);

  background-color: var(--t5e-component-field-background);
  background-image: var(--bg-image-chevron);
  background-repeat: no-repeat, repeat repeat;
  background-position: right 0.5rem center, left top;
  background-size: 0.6875rem 0.6875rem, auto;

  // TODO: Select panel font family doens't work.
  option {
    background-color: var(--t5e-component-field-background-hover);
    font-family: 'Roboto Condensed', sans-serif;
  }

  &:hover,
  &:focus {
    --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23000' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    fill: var(--t5e-color-icon-default);
  }

  &:disabled {
    --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23999999' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    background-color: var(--t5e-component-field-background-disabled);
    box-shadow: none;
    border-color: transparent;
  }
}

&.theme-dark,
.theme-dark {

  select,
  .input-group,
  input[type='text'],
  input[type='number'] {
    // border-color: var(--t5e-component-field-border);
    // background-color: var(--t5e-component-field-background);
    // box-shadow: var(--t5e-drop-shadow-field);
    // color: var(--t5e-color-text-default);
    // transition: all var(--t5e-transition-default);

    &::placeholder {
      color: var(--t5e-color-text-disabled);
    }

    &:not(:disabled):not(.uninput) {

      &:hover,
      &:focus {
        background-color: var(--t5e-component-field-background-hover);
        border-color: var(--t5e-component-field-border-hover);
      }

      &:focus {
        outline-color: var(--t5e-component-field-focus);
      }
    }

    &:disabled {
      background-color: var(--t5e-component-field-background-disabled);
      border-color: transparent;
      box-shadow: none;
    }
  }

  select {
    --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23999' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");

    &:hover {
      --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23CFD2DA' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    }
  }

  .input-group {
    border-radius: 0.125rem;
    border-color: var(--t5e-component-field-border, #7a7a7a);
    background: var(--t5e-component-field-background, #252830);

    input[type='text'] {
      background: transparent;
      border-color: transparent;
    }

    &> :not(input):not(i) {
      color: var(--t5e-color-text-lightest);
    }
  }

  .radio input[type='radio'],
  .checkbox input[type='checkbox'],
  input[type='radio'],
  input[type='checkbox'] {
    &:checked:hover:not(:disabled) {
      border-color: var(--t5e-component-field-border-hover);
    }

    &:focus:not(:disabled) {
      border-color: var(--t5e-component-field-border-hover);

      &:not(:checked) {
        border-color: var(--t5e-component-field-border-hover);
        background: var(--t5e-component-field-background-hover);
      }

      &:checked {
        border-color: var(--t5e-component-field-border-hover);
        background-color: var(--t5e-theme-color-darker);
        box-shadow: var(--t5e-drop-shadow-field-hover);
      }
    }
  }

  input[type='checkbox'] {
    &:not(:checked):disabled::before {
      color: var(--t5e-color-palette-grey-21);
    }
  }
}