/* App V2 Reset */

input[type='text'],
input[type='number'],
.input-group,
textarea,
select,
:where(search),
.radio,
.checkbox {
  font-size: var(--font-size-default, 0.8666666667rem);
  font-weight: var(--font-weight-default, 400);
}

input[type='text'],
input[type='number'],
.input-group,
textarea,
select,
:where(search),
label input {
  &:disabled {
    box-shadow: none;
    color: var(--t5e-color-text-ondefault-lightest);
  }
}

input[type='text'],
input[type='number'],
.input-group,
textarea,
select,
:where(search) {
  color: var(--t5e-color-text-ondefault-default);
  line-height: 0.875rem;
  display: flex;
  align-items: center;
  outline: none;
  transition: all var(--t5e-transition-default);
  box-shadow: var(--t5e-drop-shadow-field);
  background: var(--t5e-component-card-ondefault-default);
  border-radius: 0.125rem;
  border: 0.0625rem solid var(--t5e-component-field-ondefault-border);

  &:hover, &:focus {
    outline: none;
    background-color: var(--t5e-component-field-ondefault-background-hover);
    box-shadow: var(--t5e-drop-shadow-field-hover);
  }
  
  &:not(:has(:disabled)):hover, &:not(:has(:disabled)):focus {
    border-color: var(--t5e-component-field-ondefault-border-hover);
  }

  &:focus {
    box-shadow: var(--t5e-drop-shadow-field-focus);
  }

  &::placeholder {
    color: var(--t5e-color-text-ondefault-disabled);
  }
}


input {
  &:hover, &:focus {
    outline: none; // For flash of loss of focus.
  }
}

/* Quadrone-style inputs */
input[type='text'],
input[type='number'],
textarea {
  &:is(textarea) {
    resize: none;
  }

  align-items: center;
  display: flex;
  padding: 0.5rem;

  &:has(input[type='text']:disabled) {
    background: rgba(159, 146, 117, 0.2);
    color: var(--t5e-color-text-ondefault-lightest);
  }

  &:disabled {
    background: rgba(159, 146, 117, 0.2);
    box-shadow: none;
  }
}

.input-group {
  --icon-size: 0.75rem;
  padding-inline-start: 0.375rem;
  padding-inline-end: 0.5rem;
  gap: 0.375rem;
  min-height: var(--t5e-field-size-default);

  &:focus-within {
    box-shadow: 0px 0px 0px 2px #9a2a30;
  }

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.5) 100%
      ),
      var(--t5e-component-card-ondefault-default);
  }

  input[type='text'] {
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    flex: 1 0 0;
    font-size: var(--font-size-13);
    height: auto;
    padding: 0;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &:hover {
      background: none;
    }

    &::placeholder {
      color: var(--t5e-color-text-ondefault-disabled);
    }

    &:disabled {
      background: none;
    }
  }

  &.right input[type='text'] {
    text-align: right;
  }

  &:has(input[type='text']:disabled) {
    color: var(--t5e-color-text-ondefault-lightest);
    background: rgba(159, 146, 117, 0.2);
    box-shadow: none;
    i {
      color: var(--t5e-color-icon-ondefault-disabled);
    }
  }

  & > :not(input):not(i) {
    font-weight: 500;
    font-size: 0.8125rem;
    color: var(--t5e-color-text-ondefault-lightest);
  }

  i {
    font-size: var(--icon-size);
  }
}

:where(search) {
  padding-inline-start: 0.375rem;
  padding-inline-end: 0.5rem;
  min-height: var(--t5e-field-size-default);

  &:focus-within {
    box-shadow: 0px 0px 0px 2px #9a2a30;
    background-color: var(--t5e-component-field-ondefault-background-hover);
  }
  // TODO: Consider how to generalize this particular style, since other inputs use the same technique
  .icon-and-input {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 0.375rem;
    padding-block-end: 0.0625rem;
    
    input[type='text'] {
      box-shadow: none;
    }
  }

  input[type='text'] {
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    color: var(--t5e-color-text-ondefault-default);
    flex: 1 0 0;
    font-size: var(--font-size-13);
    height: auto;
    padding: 0;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &:hover {
      background: none;
    }

    &::placeholder {
      color: var(--t5e-color-text-ondefault-disabled);
    }

    &:disabled {
      background: none;
    }
  }

  i {
    font-size: 0.6875rem;
  }

  // TODO: Figure out positioning and style
  .cancel-search {
    width: var(--t5e-field-size-default);
    height: var(--t5e-field-size-default);
    color: var(--t5e-color-text-ondefault-lighter);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 0.6875rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  &:has(input[type='text']:disabled) {
    background: rgba(159, 146, 117, 0.2);
    box-shadow: none;
    i {
      color: var(--t5e-color-icon-ondefault-disabled);
    }
  }
}

/* Parent radio and checkbox elements */
.checkbox {
  --checkbox-size: calc(1rem - 0.125rem);
}
.radio {
  --checkbox-size: 1rem;
  display: flex;
  align-items: top;
  gap: 0.25rem;
  padding-block-start: 0.3125rem;
}
.radio, .checkbox {
  justify-content: flex-start;

  &:hover {
    input:not(:disabled) {  
      &:not(:checked) {
        border-color: var(--t5e-component-field-ondefault-border-hover);
        background: var(--t5e-component-field-ondefault-background-hover);
      }
      &:checked  {
        border-color: var(--t5e-theme-color-darker);
        background-color: var(--t5e-theme-color-darker);
        box-shadow: var(--t5e-drop-shadow-field-hover);
      }
    }
  }
  &:focus {
    input {
      box-shadow: var(--t5e-drop-shadow-field-focus);
    }
  }
  &:has(input:disabled) {
    color: var(--t5e-color-text-ondefault-lightest);
  }
}

/* Radio and checkbox inputs */
input[type='radio'],
input[type='checkbox'] {
  box-sizing: content-box;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  background: var(--t5e-component-field-ondefault-background);
  border: 0.0625rem solid var(--t5e-component-field-ondefault-border);
  box-shadow: var(--t5e-drop-shadow-field);
  transition: all var(--t5e-transition-default);

  &:checked {
    background-color: var(--t5e-component-toggle-toggled-background);
    border-color: var(--t5e-component-toggle-toggled-border);
    filter: none; // Overwrite the application filter.
  }
}

input[type='radio'] {
  appearance: none;
  border-radius: 50%;
  display: inline-flex;
  transform: translateY(-0.125rem);

  &:checked::before {
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: scale(0.5);
    background-color: var(--t5e-color-text-ondefault-gold-light);
  }
  &:checked:disabled::before {
    background-color: var(--t5e-color-text-ondefault-disabled);
  }

  &:disabled {
    // TODO: CSS Variable
    background: rgba(159, 146, 117, 0.2);
  }
}

input[type='checkbox'] {
  flex-basis: var(--checkbox-size);
  margin: 0;
  text-align: center;
  border-radius: 0.125rem;

  &::before,
  &::after {
    content: unset;
    font-weight: 900;
  }

  &:checked {
    display: inline-flex;
  }

  &:checked::before {
    content: '\f00c';
    font-size: 0.6875rem;
    color: var(--t5e-color-text-ondefault-gold-light);
  }

  &:disabled {
    border: 0.0625rem solid var(--t5e-component-field-ondefault-border);
    // TODO: CSS Variable
    background: rgba(159, 146, 117, 0.2);

    &::before {
      color: var(--t5e-color-icon-light-diminished);
    }
  }
}

select {
  --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23666' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
  --bg-image-backdrop: none;

  border-radius: 0.125rem;
  border: 1px solid var(--t5e-component-field-ondefault-border);
  box-shadow: 0px 0px 4px 0px var(--dnd5e-shadow-15);
  padding: 0 1.75rem 0 0.5rem;

  display: flex;
  height: var(--font-font-size-32, 2rem);
  align-items: center;
  gap: 0.375rem;
  flex-shrink: 0;

  appearance: none;
  cursor: pointer;

  // font-size: var(--font-size-13);
  color: var(--t5e-color-text-ondefault-default);

  background-color: var(--t5e-component-card-ondefault-default);
  background-image: var(--bg-image-chevron);
  background-repeat: no-repeat, repeat repeat;
  background-position: right 0.5rem center, left top;
  background-size: 0.6875rem 0.6875rem, auto;

  // TODO: Select panel font family doens't work.
  // option {
  //   font-family: 'Roboto Condensed', sans-serif;
  // }

  &:hover,
  &:focus {
    --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23000' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    fill: var(--t5e-color-icon-ondefault-default);
  }

  &:disabled {
    --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23999999' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    background-color: rgba(159, 146, 117, 0.2);
  }
}

&.dark,
.inverse {
  select,
  .input-group,
  input[type='text'],
  input[type='number'] {
    border-color: var(--t5e-component-field-oninverse-border);
    background-color: var(--t5e-component-field-oninverse-background);
    box-shadow: var(--t5e-drop-shadow-field);
    color: var(--t5e-color-text-oninverse-default);
    transition: all var(--t5e-transition-default);

    &::placeholder {
      color: var(--t5e-color-text-oninverse-disabled);
    }
    
    &:hover {
      background-color: var(--t5e-component-field-oninverse-background-hover);
      border-color: var(--t5e-component-field-oninverse-border-hover);
    }
  }

  select {
    --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23999' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");

    option {
      background: var(--t5e-component-field-oninverse-background, #252830);
      color: var(--t5e-color-text-oninverse-default);
    }

    &:hover {
      --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23CFD2DA' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    }
  }

  .input-group {
    border-radius: 0.125rem;
    border-color: var(--t5e-component-field-oninverse-border, #7a7a7a);
    background: var(--t5e-component-field-oninverse-background, #252830);

    input[type='text'] {
      background: transparent;
      border-color: transparent;
    }

    & > :not(input):not(i) {
      color: var(--t5e-color-text-oninverse-lightest);
    }
  }
}
