.item-descriptions {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.user-select-text> :first-child {
  margin-top: .5rem;
}

.editor {
  li {
    margin: none;

    > :first-child {
      margin-top: var(--t5e-spacing-1x);
    }

    > :last-child {
      margin-bottom: var(--t5e-spacing-1x);
    }

    > :only-child {
      margin-top: var(--t5e-spacing-1x);
      margin-bottom: var(--t5e-spacing-1x);
    }

    /* Reset margins for nested lists */
    >ul,
    >ol {
      margin-top: 0;
      margin-bottom: 0;

      /* But maintain the spacing pattern for their list items */
      >li:first-child {
        margin-top: var(--t5e-spacing-1x);
      }

      >li:last-child {
        margin-bottom: var(--t5e-spacing-1x);
      }
    }
  }

  ul li::marker {
    color: var(--t5e-theme-color-default);
  }

  ul ul li::marker {
    color: var(--t5e-theme-color-darkest);
  }

  ul ul ul li::marker {
    color: var(--t5e-theme-color-lighter);
  }

  ol li::marker {
    color: var(--t5e-color-text-lighter);
  }
}