// TODO: This is currently container-focused. It will need to be either delineated or expanded to accommodate the actor sheet encumbrance meter.
.meter {
  // TODO: Extract to or replace with variables
  --meter-background: var(--dnd5e-color-light-gray);
  --bar-low-background: linear-gradient(to right, var(--t5e-color-inventory-dark) 0%, var(--t5e-color-inventory-light) 100%);
  --bar-low-border-color: var(--t5e-color-inventory-max);

  --bar-medium-background: linear-gradient(to right, var(--t5e-color-palette-orange-40) 0%, var(--t5e-color-palette-orange-70) 100%);
  --bar-medium-border-color: var(--t5e-color-palette-orange-40);

  --bar-high-background: linear-gradient(90deg, var(--t5e-color-palette-red-27) 20%, var(--t5e-color-palette-red-60) 100%);
  --bar-high-border-color: var(--t5e-color-palette-red-45);

  --bar-background: var(--bar-low-background);
  --bar-border-color: var(--bar-low-border-color);

  &[data-bar-severity='medium'] {
    --bar-background: var(--bar-medium-background);
    --bar-border-color: var(--bar-medium-border-color);
  }

  &[data-bar-severity='high'] {
    --bar-background: var(--bar-high-background);
    --bar-border-color: var(--bar-high-border-color);
  }

  &[data-bar-severity='static'] {
    --bar-low-background: linear-gradient(to right, var(--t5e-color-palette-blue-green-30) 0%, var(--t5e-color-palette-blue-green-50) 100%);
    --bar-low-border-color: var(--t5e-color-palette-blue-green-30);
  }

  --meter-height: 1.5rem;

  height: var(--meter-height);

  position: relative;

  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: var(--radius-card, 0.1875rem);
  border: 1px solid var(--t5e-component-field-border);
  background: var(--t5e-color-palette-grey-34);

  /* pill-shadow */
  box-shadow: 0px 0px 12px 0px var(--dnd5e-shadow-15, rgba(0, 0, 0, 0.15));

  /* Pill Integration - todo, show to hightouch and get opinion on where to place this */
  &.pill {
    justify-content: flex-start;
    padding: 0;
  }

  .label {
    inline-size: 100%;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    color: var(--t5e-color-text-default);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: normal;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.75rem;

    i {
      color: var(--t5e-color-text-lighter);
      font-size: 0.6875rem;
    }

    /*
    // Curiosities that were not implemented here (yet)
    &[hidden] {
      display: none;
    }
    .value,
    .max {
      text-shadow: 0 0 4px var(--dnd5e-color-gold);
    }
    .bonus {
      margin-inline-start: auto;
      font-size: var(--font-size-14);
      opacity: 0.8;
    }
    */
  }

  &.progress,
  .progress {
    --bar-percentage: ;
    --bar-end-border-width: 0.1875rem;
    overflow: hidden;

    &.empty {
      --bar-end-border-width: 0;
    }

    &::before {
      background: var(--bar-background);
      border-right: var(--bar-end-border-width) solid var(--bar-border-color);

      content: '';
      position: absolute;
      block-size: 100%;
      inline-size: calc(var(--bar-percentage, 0%));
      transition: all 0.5s ease;

      border-radius: var(--t5e-radius-card);
    }
  }
}