.meter {
  --meter-height: 1.5rem;

  height: var(--meter-height);

  position: relative;

  display: flex;
  align-items: center;
  gap: 0.25rem;
  flex: 1 0 0;
  align-self: stretch;

  border-radius: var(--radius-card, 0.1875rem);
  border: 1px solid var(--t5e-component-field-border);
  background: var(--t5e-color-palette-grey-34);

  /* pill-shadow */
  box-shadow: 0px 0px 12px 0px var(--dnd5e-shadow-15, rgba(0, 0, 0, 0.15));

  /* Pill Integration - todo, show to hightouch and get opinion on where to place this */
  &.pill {
    justify-content: flex-start;
    padding: 0;
  }

  .label {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: relative;
    color: var(--t5e-color-text-default);
    font-size: 0.75rem;
    font-weight: 500;
    line-height: normal;
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.75rem;

    i {
      color: var(--t5e-color-text-lighter);
      font-size: 0.6875rem;
    }

    &[hidden] {
      display: none;
    }
  }

  &.progress,
  .progress {
    --bar-percentage: ;
    --bar-end-border-width: 0.1875rem;
    overflow: hidden;

    --bar-background: linear-gradient(to right,
        var(--t5e-color-palette-blue-green-30) 0%,
        var(--t5e-color-palette-blue-green-50) 100%);
    --bar-border-color: var(--t5e-color-palette-blue-green-30);

    &.empty {
      --bar-end-border-width: 0;
    }

    &::before {
      background: var(--bar-background);
      border-right: var(--bar-end-border-width) solid var(--bar-border-color);

      content: '';
      position: absolute;
      block-size: 100%;
      inline-size: calc(var(--bar-percentage, 0%));
      transition: all 0.5s ease;

      border-radius: var(--t5e-radius-card);
    }
  }

  &.encumbrance,
  &.capacity {
    --bar-background: linear-gradient(to right,
        var(--t5e-color-inventory-dark) 0%,
        var(--t5e-color-inventory-light) 100%);
    --bar-border-color: var(--t5e-color-inventory-max);

    &.medium {
      --bar-background: linear-gradient(to right,
          var(--t5e-color-palette-orange-40) 0%,
          var(--t5e-color-palette-orange-70) 100%);
      --bar-border-color: var(--t5e-color-palette-orange-40);
    }

    &.high {
      --bar-background: linear-gradient(90deg,
          var(--t5e-color-palette-red-27) 20%,
          var(--t5e-color-palette-red-60) 100%);
      --bar-border-color: var(--t5e-color-palette-red-45);
    }
  }

  &.facility-progress {
    --bar-background: linear-gradient(to right,
        var(--t5e-theme-color-darkest) 0%,
        var(--t5e-theme-color-lighter) 100%);
    --bar-border-color: var(--t5e-theme-color-default);
    
    &.disabled {
      --bar-background: linear-gradient(to right,
          var(--t5e-color-palette-grey-29) 0%,
          var(--t5e-color-palette-grey-40) 100%);
      --bar-border-color: var(--t5e-color-palette-grey-29);

      span {
        opacity: 0.75;
      }
    }
  }

  &.hit-points {
    --bar-background: linear-gradient(to right,
        var(--t5e-color-hp-dark) 0%,
        var(--t5e-color-hp-medium) 100%);
    --bar-border-color: var(--t5e-color-hp-dark);
  }

  &.hit-die {
    --bar-background: linear-gradient(to right,
        var(--t5e-color-hp-hd-dark) 0%,
        var(--t5e-color-hp-hd-medium) 100%);
    --bar-border-color: var(--t5e-color-hp-hd-dark);
  }

  &.xp {
    --bar-background: linear-gradient(to right,
        var(--t5e-color-palette-gold-62) 0%,
        var(--t5e-color-palette-gold-75) 100%);
  }

  .label {
    cursor: pointer;
  }

  input {
    position: relative;
    text-align: center;

    &[hidden] {
      display: none;
    }
  }
}