.pills {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  &.stacked,
  .pill.stacked {
    flex-direction: column;

    >* {
      max-width: 100%;
    }
  }

  >* {
    margin: 0;
  }
}

.pill {
  align-items: center;
  background: var(--t5e-component-pill-background);
  border-radius: var(--radius-card, 0.1875rem);
  border: 1px solid var(--t5e-component-pill-border);
  display: flex;
  font-size: var(--font-size-12);
  font-style: normal;
  font-weight: 500;
  gap: var(--t5e-size-1x);
  justify-content: center;
  line-height: normal;
  margin: 0;
  min-height: 1.5rem;
  padding: 0.125rem 0.5rem;
  color: var(--t5e-color-text-default);
  --icon-fill: var(--t5e-color-icon-diminished);

  word-break: break-word;
  flex-wrap: wrap;

  &.pill-medium {
    font-size: var(--font-size-13);
  }

  span {
    line-height: var(--t5e-lineheight-default);
  }


  &.interactive {
    border-color: var(--t5e-component-pill-border-interactive);
    box-shadow: var(--t5e-drop-shadow-pill);

    &:hover {
      background: var(--t5e-component-field-background-hover);
      transition: background 0.15s ease-in-out;
    }

    &.copy-to-clipboard {
      cursor: copy;
    }
  }

  &.wrapped {
    text-align: center;
    flex-wrap: wrap;
  }

  &.no-row-gap {
    row-gap: 0;
  }

  i {
    color: var(--t5e-color-icon-default);

    &.separator {
      color: var(--t5e-color-icon-diminished);
    }
  }

  // TODO: Determine if lighter text can be moved to its own scope and stylesheet and used generically
  &.lighter {
    font-weight: 400;

    span,
    i {
      font-weight: 400;
      color: var(--t5e-color-text-lighter);
    }

    --icon-fill: var(--t5e-color-text-lighter);
  }

  &.negative {
    border-color: var(--t5e-color-palette-red-27);
    background: var(--t5e-color-palette-red-31);
  }

  &.positive {
    border-color: var(--t5e-color-palette-green-29);
    background: var(--t5e-color-palette-green-43);
  }

  &.positive,
  &.negative {
    color: var(--t5e-color-text-oninverse-default);
    --t5e-color-text-lighter: var(--t5e-color-palette-grey-85);
  }
}

.pill-switch {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0.125rem 0.1875rem 0.125rem 0.375rem;

  .icon-and-label-container {
    min-width: 0;
    flex: 1;
  }

  .pill-switch-icon-container {
    display: flex;
    justify-content: center;
  }

  &> :first-child {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    --icon-fill: var(--t5e-color-icon-diminished);

    & i {
      color: var(--t5e-color-icon-diminished);
    }
  }

  &:has(.toggle:checked) {
    &> :first-child {
      --icon-fill: var(--t5e-color-icon-default);
      transition: --icon-fill 0.15s ease-in-out;
    }

    & i {
      color: var(--t5e-color-icon-default);
    }
  }

  &:not(:has(.toggle:checked)) i {
    font-weight: normal;
  }

  &.disabled {
    cursor: default;
  }
}

.tag {
  border-radius: 0.125rem;
  border: 1px solid var(--t5e-component-pill-border);
  background: var(--t5e-component-pill-background);

  display: flex;
  padding: 0.0625rem 0.25rem;
  justify-content: center;
  align-items: center;
  gap: 0.125rem;

  color: var(--t5e-color-text-default);
  font-size: 0.75rem;
  font-weight: 500;
  line-height: normal;
}



&.theme-dark,
.theme-dark {
  .pill {
    color: var(--t5e-color-text-default);
    --icon-fill: var(--t5e-color-icon-diminished);

    &.interactive {
      border-color: var(--t5e-component-field-border,
          rgba(122, 122, 122, 1));
      box-shadow: var(--t5e-drop-shadow-pill);

      &:hover {
        background: var(--t5e-component-field-background-hover);
        transition: background 0.15s ease-in-out;
      }
    }


    &.negative {
      border-color: var(--t5e-color-palette-red-45);
      background: var(--t5e-color-palette-red-31);
    }

    &.positive {
      border-color: var(--t5e-color-palette-green-65);
      background: var(--t5e-color-palette-green-43);
    }
  }

  .pill-switch {
    &:hover {
      background: var(--t5e-component-field-background-hover);
      border-color: var(--t5e-component-field-border-hover);
    }

    i {
      color: var(--t5e-color-icon-disabled);
    }

    &:has(.toggle:checked) {
      i {
        color: var(--t5e-color-icon-default);
      }
    }
  }
}