.pips.spell-pips {
  --pip-color: var(--t5e-color-palette-gold-89);
  display: flex;
  gap: 0.125rem;
  margin-inline-start: 0.375rem;
  padding-block-start: var(--t5e-size-1);

  .pip {
    border: 0.09375rem solid var(--pip-color);
    border-radius: 50%;
    width: 0.75rem;
    height: 0.75rem;
    transition: all var(--t5e-transition-default);

    &.active {
      background: var(--pip-color);
    }

    &:hover,
    &:active,
    &:focus-within {
      border: 0.09375rem solid var(--t5e-color-palette-gold-94);
      background-color: var(--t5e-theme-color-lighter);
      filter: drop-shadow(0 0 0.1875rem oklch(from var(--t5e-theme-color-highlight) l c h));
    }

    &.active {

      &:hover,
      &:active,
      &:focus-within {
        background-color: var(--t5e-color-text-oninverse-gold-light);
      }
    }
  }
}