.tidy-tabs.character-tabs {

  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--t5e-size-6x);
  overflow-x: auto;

  >.tab-option {
    font: var(--t5e-font-label-medium);
    padding: 0.375rem 0rem;
    min-height: var(--t5e-field-size-default);
    margin: 0;
    border: 0;
    width: auto;
    background: transparent;
    border-radius: 0;
    color: var(--t5e-color-text-lighter);
    box-shadow: none;
    transition: color, box-shadow, background-image, background-size,
      text-shadow var(--t5e-transition-default);
    text-wrap: nowrap;

    &.active,
    &:hover {
      color: var(--t5e-color-text-default);
      outline: none;
      box-shadow: none;
      text-shadow: 0 0 0.375rem rgba(159, 146, 117, 0.75);
    }

    &.active {
      background: linear-gradient(var(--t5e-theme-color-lightest),
          var(--t5e-theme-color-default)) bottom no-repeat;
      background-size: 100% 0.1875rem;

      &:hover {
        background: linear-gradient(var(--t5e-theme-color-default),
            var(--t5e-theme-color-darkest)) bottom no-repeat;
        background-size: 100% 0.1875rem;
      }
    }
  }
}

.tidy-tabs.item-tabs {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: relative;

  .tab-option {
    font: var(--t5e-font-label-medium);
    padding: 0.375rem 0rem;
    min-height: var(--t5e-field-size-default);
    margin: 0;
    border: 0;
    width: auto;
    background: transparent;
    border-radius: 0;
    color: var(--t5e-color-text-lighter);
    box-shadow: none;
    transition: color, box-shadow, background-image, background-size,
      text-shadow var(--t5e-transition-default);

    &.active,
    &:hover {
      color: var(--t5e-color-text-default);
      outline: none;
      box-shadow: none;
      text-shadow: 0 0 0.375rem rgba(159, 146, 117, 0.75);
    }

    &.active {
      background: linear-gradient(var(--t5e-theme-color-lightest),
          var(--t5e-theme-color-default)) bottom no-repeat;
      background-size: 100% 0.1875rem;

      &:hover {
        background: linear-gradient(var(--t5e-theme-color-default),
            var(--t5e-theme-color-darkest)) bottom no-repeat;
        background-size: 100% 0.1875rem;
      }
    }

    &:hover {
      background: linear-gradient(oklch(from var(--t5e-theme-color-default) l c h / 0.4),
          oklch(from var(--t5e-theme-color-darker) l c h / 0.4)) bottom no-repeat;
      background-size: 100% 0.125rem;
    }

    .tab-title-count {
      color: var(--t5e-color-text-default);
    }
  }
}

.tidy-tab:not(.active) {
  display: none;
}

.tidy-vertical-tabs {
  margin: 0;
  padding: 0;
  list-style-position: inside;
  gap: var(--t5e-size-halfx);

  &:not(.include-numbers) li {
    list-style: none;
  }
}

.vertical-tab {
  position: relative;
  align-content: center;
  border-radius: 0.125rem;
  margin: 0;
  padding: var(--t5e-size-1x) var(--t5e-size-2x);
  min-height: var(--t5e-field-size-default);
  cursor: pointer;
  overflow: hidden;
  transition: color var(--t5e-transition-default);

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right,
        var(--t5e-component-field-background),
        transparent);
    opacity: 0;
    transition: opacity var(--t5e-transition-default);
    pointer-events: none;
    z-index: -1;
  }

  &.selected {
    font-weight: 500;

    &::before {
      opacity: 1;
    }

    &::marker {
      color: var(--t5e-color-palette-gold-45);
    }

    &:hover::before {
      background: linear-gradient(to right,
          var(--t5e-component-field-background-hover),
          transparent);
    }


  }

  &:hover:not(.selected)::before {
    background: linear-gradient(to right,
        var(--t5e-component-field-background-hover),
        transparent);
    opacity: 1;
  }

  &::marker {
    color: var(--t5e-color-text-gold-emphasis);
  }
}

.tidy-tab {
  container-name: tab-content;
  container-type: inline-size;
  position: relative;
}


&.theme-dark,
.theme-dark {
  .tidy-tabs.item-tabs {

    &:active,
    &:focus {
      text-shadow: 0 0 0.375rem rgba(192, 173, 129, 0.75);
    }
  }

  .vertical-tab.selected:hover::before {
    background: linear-gradient(to right,
        var(--t5e-component-card-lighter),
        transparent);
  }
}