.tidy-tabs.character-tabs {

  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: var(--t5e-size-6x);
  overflow-x: auto;

  >.tab-option {
    font: var(--t5e-font-label-medium);
    padding: 0.375rem 0rem;
    min-height: var(--t5e-field-size-default);
    margin: 0;
    border: 0;
    width: auto;
    background: transparent;
    border-radius: 0;
    color: var(--t5e-color-text-lighter);
    box-shadow: none;
    transition: color, box-shadow, background-image, background-size,
      text-shadow var(--t5e-transition-default);
    text-wrap: nowrap;

    &.active,
    &:hover {
      color: var(--t5e-color-text-default);
      outline: none;
      box-shadow: none;
      text-shadow: 0 0 0.375rem rgba(159, 146, 117, 0.75);
    }

    &.active {
      background: linear-gradient(var(--t5e-theme-color-lightest),
          var(--t5e-theme-color-default)) bottom no-repeat;
      background-size: 100% 3px;

      &:hover {
        background: linear-gradient(var(--t5e-theme-color-default),
            var(--t5e-theme-color-darkest)) bottom no-repeat;
        background-size: 100% 3px;
      }
    }
  }
}

.tidy-tabs.item-tabs {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: relative;

  .tab-option {
    font: var(--t5e-font-label-medium);
    padding: 0.375rem 0rem;
    min-height: var(--t5e-field-size-default);
    margin: 0;
    border: 0;
    width: auto;
    background: transparent;
    border-radius: 0;
    color: var(--t5e-color-text-lighter);
    box-shadow: none;
    transition: color, box-shadow, background-image, background-size,
      text-shadow var(--t5e-transition-default);

    &.active,
    &:hover {
      color: var(--t5e-color-text-default);
      outline: none;
      box-shadow: none;
      text-shadow: 0 0 0.375rem rgba(159, 146, 117, 0.75);
    }

    &.active {
      background: linear-gradient(var(--t5e-theme-color-lightest),
          var(--t5e-theme-color-default)) bottom no-repeat;
      background-size: 100% 3px;

      &:hover {
        background: linear-gradient(var(--t5e-theme-color-default),
            var(--t5e-theme-color-darkest)) bottom no-repeat;
        background-size: 100% 3px;
      }
    }

    &:hover {
      background: linear-gradient(oklch(from var(--t5e-theme-color-default) l c h / 0.4),
          oklch(from var(--t5e-theme-color-darker) l c h / 0.4)) bottom no-repeat;
      background-size: 100% 2px;
    }

    .tab-title-count {
      color: var(--t5e-color-text-default);
    }
  }
}

.tidy-tab:not(.active) {
  display: none;
}

&.dark,
&.theme-dark,
.dark,
.theme-dark {
  .tidy-tabs.item-tabs {

    &:active,
    &:focus {
      text-shadow: 0 0 0.375rem rgba(192, 173, 129, 0.75);
    }
  }
}