.capitalize {
  text-transform: capitalize;
}

.spell-components {
  display: flex;
  gap: 0.03125rem;
  // align-items: flex-start;

  & li {
    font-size: var(--font-size-default);
    line-height: var(--t5e-lineheight-small);
    padding-top: 0.0625rem;
    padding-bottom: 0.0625rem;
    cursor: help;
  }

  .spell-component {
    font-weight: var(--font-weight-default);
  }

  .spell-component-special {
    font-weight: var(--font-weight-label);
    padding-left: 0.03125rem;
    padding-right: 0.03125rem;
    margin: 0 0.03125rem;
    border-radius: 0.09375rem;
    background: var(--t5e-color-text-gold-emphasis);
    color: var(--t5e-color-text-oninverse-default);
  }
}

.centered {
  text-align: center;
}

.hyphens-auto {
  hyphens: auto;
}

.time {
  text-align: center;

  .title {
    font-size: 0.8125rem;
    // font-style: normal;
    // font-weight: 400;
    line-height: 0.75rem;
  }

  .subtitle {
    color: var(--t5e-color-text-lightest);
    font-family: Roboto;
    font-size: 0.6875rem;
    // font-style: normal;
    // font-weight: 400;
    line-height: 0.75rem;
  }
}

.text-secondary {
  color: var(--t5e-color-text-lighter);
}

.fw-normal {
  font-weight: 400;
}

&.theme-dark,
.theme-dark {}