.capitalize {
  text-transform: capitalize;
}

.spell-components {
  display: flex;
  gap: 0.0625rem;
  align-items: flex-start;

  .spell-component {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.75rem;
  }

  .spell-component-special {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 0.75rem;
    padding: 0rem 0.03125rem;
    border-radius: 0.0625rem;
    background: var(--t5e-color-text-onDefault-gold-emphasis);
    color: var(--t5e-color-text-onInverse-default);
  }
}

.centered {
  text-align: center;
}

.hyphens-auto {
  hyphens: auto;
}

&.inverse,
inverse {
  .spell-component {
    color: var(--t5e-color-text-onInverse-lighter);
  }

  .spell-component-special {
    color: var(--t5e-color-text-onDefault-default);
    background-color: var(--t5e-color-text-onInverse-gold);
  }
}

.time {
  text-align: center;

  .title {
    font-size: 0.8125rem;
    // font-style: normal;
    // font-weight: 400;
    line-height: 0.75rem;
  }
  .subtitle {
    color: var(--t5e-color-text-onDefault-lightest);
    font-family: Roboto;
    font-size: 0.6875rem;
    // font-style: normal;
    // font-weight: 400;
    line-height: 0.75rem;
  }
}

.text-secondary {
  color: var(--t5e-color-text-onDefault-lighter);
}

.fw-normal {
  font-weight: 400;
}

&.inverse,
.inverse {
  .text-secondary {
    color: var(--t5e-color-text-onInverse-lighter);
  }

  .time .subtitle {
    color: var(--t5e-color-text-onInverse-lightest);
  }
}
