.tidy-table {
  --table-header-row-height: 1.5rem;
  --table-row-height: 1.875rem;
  --item-img-size: 1.75rem;
  --row-background: linear-gradient(90deg, #f8f4f1 0.59%, #f8f4f1 44%);

  .tidy-table-header-row,
  .tidy-table-row {
    display: grid;
    grid-template-columns: var(--grid-template-columns);
    align-items: center;
    gap: 0.5rem;
  }

  .tidy-table-header-row {
    height: var(--table-header-row-height);
    border-radius: 0.125rem 0.125rem 0rem 0rem;
    background: 
      linear-gradient(
        90deg,
        var(--t5e-theme-color-darker) 0%,
        var(--t5e-theme-color-default) 100%
      );
    cursor: pointer;

    &:has(+ .expandable:not(.expanded)) {
      border-radius: 0.125rem;
    }
  }

  .tidy-table-header-cell {
    color: var(--t5e-color-text-oninverse-gold-light);
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 700;
    line-height: 0.875rem;
    letter-spacing: 0.0088rem;

    .count {
      color: var(--t5e-color-text-oninverse-gold-emphasis);
    }

    &.primary {
      flex: 1;
      font-family: var(--t5e-font-modesto-condensed);
    }

    &:not(.primary) {
      color: var(--t5e-color-text-oninverse-default);
      text-align: center;
      font-size: 0.75rem;
      font-weight: 500;
      line-height: 0.875rem;
    }
  }

  .tidy-table-row {
    height: var(--table-row-height);
    // TODO: CSS Variables?
    background: var(--row-background);
  }

  .expand-indicator {
    transition: color 0.3s, transform 0.15s;
    width: 1.5rem;
    // Anything in the header must account for the top/bottom border
    height: calc(1.5rem - 2px);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    color: var(--t5e-color-text-oninverse-gold-emphasis);
    font-size: 0.6875rem;
    font-weight: 900;

    &.expanded {
      transform: rotate(90deg);
    }
  }

  .expand-indicator-button {
    margin: 0;
    padding: 0;
    width: unset;
    flex-basis: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background: none;
    align-self: center;

    i {
      font-size: 0.6875rem;
      font-weight: 900;
      margin: 0;
      color: var(--t5e-color-text-ondefault-lightest);

      &.expanded {
        color: var(--t5e-color-text-ondefault-lighter);
      }
    }

    &:hover i {
      color: var(--t5e-color-text-ondefault-gold);

      &.expanded {
        color: var(--t5e-color-text-ondefault-gold-emphasis);
      }
    }
  }

  .item-image {
    margin-left: 0.0625rem;
    flex: 0 0 var(--item-img-size);
    width: var(--item-img-size);
    height: var(--item-img-size);
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--item-img);
    border: 1.5px solid var(--item-border-color, transparent);
    align-self: center;
    border-radius: 0.0625rem;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    &.special-rarity {
      box-shadow: 0px 0px 3px 0px var(--item-border-color, transparent);
    }

    .roll-prompt {
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 0.0625rem;
      background: var(--t5e-component-card-ondefault-default);
      border: 1.5px solid var(--item-border-color, transparent);

      align-items: center;
      justify-content: center;
      margin: -0.0625rem;
      padding: 0;
      flex-basis: var(--item-img-size);
      width: var(--item-img-size);
      height: var(--item-img-size);

      i {
        color: var(--t5e-color-text-oninverse-gold);
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.25);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 900;
        margin: 0;
      }
    }
  }

  .item-image + .item-name {
    margin-left: 0.5rem;
  }

  .item-image {
    &.special-rarity,
    &.special-rarity .roll-prompt {
      box-shadow: 0px 0px 3px 0px var(--item-border-color, transparent);
    }

    &:hover {
      box-shadow: none;

      .roll-prompt {
        display: flex;
      }
    }
  }

  .item-name {
    flex: 1;
    align-self: stretch;
    display: inline-flex;
    align-items: center;

    background: none;
    border: 0;
    padding: 0;
    margin: 0;

    color: var(--t5e-color-text-ondefault-default);
    font-family: var(--t5e-font-roboto-condensed);
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: -0.00813rem;
    justify-content: flex-start;

    &:hover {
      color: var(--t5e-text-default);
    }
  }

  hr.table-row-divider {
    background-image: none;
    background-color: var(--t5e-table-row-divider);
    margin: 0;
    height: 0.0625rem;
  }

  .tidy-table-cell {
    display: flex;
    justify-content: center;

    &.primary {
      flex: 1;
      text-align: left;
      position: relative;
    }

    &.item-actions {
      justify-content: flex-end;
    }
  }

  .item-actions {
    .item-action {
      display: flex;
      width: var(--font-font-size-24, 1.5rem);
      height: 1.75rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        color: var(--t5e-color-icon-light-default);
        font-size: 0.6875rem;
        font-weight: 900;
        line-height: normal;
      }
    }
  }

  .expandable.expanded {
    padding-top: 0.0625rem;
  }
}

// * + .tidy-table {
//   margin-top: 0.75rem;
// }

/* Sub-table Overrides */

.tidy-table .tidy-table {
  & + .tidy-table {
    margin-top: 0.0625rem;
  }

  .tidy-table-header-row {
    height: var(--table-header-row-height);
    border-radius: 0;
    border-color: transparent;
    // TODO: CSS Variable?
    background: rgba(0, 0, 0, 0.12);
    cursor: pointer;
  }

  .tidy-table-header-cell {
    color: var(--t5e-color-text-ondefault-default);

    .count {
      color: var(--t5e-color-text-ondefault-lighter);
    }

    &.primary {
      flex: 1;
      font-family: var(--t5e-font-modesto-condensed);
    }

    &:not(.primary) {
      color: var(--t5e-color-text-ondefault-default);
    }

    .expand-indicator {
      color: var(--t5e-color-text-ondefault-lighter);
    }
  }
}

.tidy-table {
  .inline-content-view {
    padding: 0.25rem 0rem 0.25rem 0.75rem;

    border-radius: 0rem 0rem 0.125rem 0.125rem;
    // TODO: CSS Variable for border bottom background? Dark mode?
    border-bottom: 0.0625rem solid #eae1dc;

    // TODO: CSS Variables for inline content background? Dark mode?
    background: linear-gradient(90deg, #fff 0.59%, #f8f4f1 44%);
  }

  .item-summary {
    background: var(--row-background);
  }
}
