article.full-height-editor-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  flex-direction: column;

  .flexrow {
    align-items: stretch;
  }

  > * {
    flex: 1;
  }

  prose-mirror {
    flex: 1;
    display: flex;
    flex-direction: column;
    position: static;
    min-height: 100%;
  }

  &:last-child {
    margin-bottom: 0;
  }

  &:hover .prosemirror:not(.active) button.toggle {
    display: block;
  }
}

prose-mirror.prosemirror {
  padding: 0;
  position: static;
  flex: 1;
  height: unset;
  display: flex;
  flex-direction: column;

  button.toggle {
    padding: 0;
    border: none;
    background: transparent;
    font-size: 1rem;
    color: var(--t5e-icon-font-color);
    transition: color 0.3s ease;

    &:hover {
      color: var(--t5e-icon-hover-color);
    }
  }

  menu {
    background: var(--t5e-table-header-row-color);

    .pm-dropdown {
      background: var(--t5e-prosemirror-button-color);

      ul {
        background: var(--t5e-prosemirror-button-color);
      }

      li:hover {
        background: var(--t5e-prosemirror-dropdown-item-hover-color);
      }

      i {
        color: var(--t5e-primary-font-color);
      }

      i.fa-chevron-down {
        color: var(--t5e-light-color);
      }

      &:hover i.fa-chevron-down {
        color: var(--t5e-primary-font-color);
      }
    }

    button:hover {
      background: var(--t5e-prosemirror-button-color);
      color: var(--t5e-primary-font-color);
    }

    button.active {
      background: var(--t5e-light-color);
      color: var(--t5e-primary-font-color);
    }
  }

  .editor-container {
    display: flex;
    flex-direction: column;

    .editor-content {
      padding: 0.5rem;
      position: static;
      margin: 0;

      &:not(:focus-visible) {
        box-shadow: none;
      }
    }
  }
}
