/* ----------------------------------------- */
/*  Active Effects                           */
/* ----------------------------------------- */

.effects .item {
  .effect-source,
  .effect-duration,
  .effect-controls {
    text-align: center;
    border-left: 0.0625rem solid var(--t5e-faint-color);
    border-right: 0.0625rem solid var(--t5e-faint-color);
    font-size: 0.75rem;
  }
  .effect-controls {
    border: none;
  }
}
