/* Compatibility Styles for the dnd5e default sheets, item styles */
// TODO: If these styles Scope this to a special tidy data-attribute that should be shared
// the container for the header row and for the item list
.items-list {
  --t5ek-item-table-border: 0.0625rem solid var(--t5ek-faint-color);

  padding: 0;
  margin: 0;

  .item-name {
    flex: 2;
    overflow: hidden;
    text-align: left;
    align-items: center;
  }

  .item-controls {
    flex: 0 0 3.75rem;
    justify-content: space-between;
  }

  .items-header {
    align-items: center;
    margin: 0.5rem 0 0.125rem 0;
    padding: 0.325rem 0 0.25rem 0.375rem;
    line-height: 0.75rem;
    font-size: 0.75rem;
    background: var(--t5ek-table-header-row-color);
    box-shadow: 0 0 0.1875rem inset var(--t5ek-table-header-row-border-color);
    border-radius: 0.3125rem;

    > * {
      text-align: center;
    }

    h1,
    h2,
    h3 {
      border: none;
    }

    &:first-child {
      margin-top: 0;
    }

    .item-name {
      font-size: 0.75rem;
      line-height: 0.75rem;
      white-space: nowrap;
      margin: 0;
      font-weight: 600;
    }

    div:not(.item-name, .item-checkmark) {
      color: var(--t5ek-tertiary-color);
    }
  }

  // the item row
  .item-list {
    padding: 0 0 0 0.5rem;
    margin: 0;

    .item {
      align-items: center;
      background: var(--t5ek-faintest-color);
      margin: 0.125rem 0;
      border-radius: 0.3125rem;
      font-size: 0.75rem;
      color: var(--t5ek-secondary-color);

      div.item-summary {
        flex: 100%;
        justify-content: flex-start;
        gap: 0.5em;
        padding: 0.5em 2em;
        border: none;
      }

      .item-image {
        flex: 0 0 30px;
        height: 30px;
        background-size: cover;
        background-position: 50% 0;
        border: none;
        margin-right: 5px;
      }

      .item-detail {
        border-right: var(--t5ek-item-table-border);
      }

      .item-controls {
        border-left: none;

        a {
          font-size: 0.75rem;
          text-align: center;
          color: var(--t5ek-secondary-color);
          transition: color 0.2s ease;
          padding: 0.25rem;

          &:hover {
            color: var(--t5ek-primary-font-color);
          }
        }
      }
    }

    .item-name {
      margin: 0;
      font-size: 0.8125rem;
      color: var(--t5ek-primary-font-color);

      h3,
      h4 {
        margin: 0;
        white-space: nowrap;
        overflow-x: hidden;
      }
    }

    .item-name + * {
      border-left: var(--t5ek-item-table-border);
    }
  }
}
