.group-hp-container {
  position: absolute;
  width: 5.25rem;
  left: 50%;
  height: 1.25rem;
  font-size: 1.125rem;
  transform: translateX(-50%);
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--t5e-title-font-family);

  .resource-value,
  .resource-max {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0;
    margin: 0;
  }

  &.widen-for-rounded-portrait {
    width: 5.5rem;
  }
}
