/* -------------------------------------- */
/* Quadrone Styles                        */
/* -------------------------------------- */
.tidy5e-sheet.quadrone {
  [data-tab-contents-for='drakkenheim-contamination-tab'] {
    .description {
      color: #361163;
      font-family: var(--dnd5e-font-roboto-slab);
      font-size: 1rem;
      font-style: italic;
      padding: 0 0.5rem 0.25rem 0.5rem;
      text-align: left;
    }

    .contamination-table {
      border: 0.0625rem solid #361163;
      box-shadow: 0 0 0.625rem #361163;
      font-family: var(--dnd5e-font-roboto-slab);
      font-size: 0.875rem;

      thead {
        background: linear-gradient(90deg, #361163, #8879a7);
        border: none;
        border-bottom: 0.0625rem solid #361163;
        color: var(--t5e-color-text-default);

        .symptom {
          padding: 0.5em 1em;
        }
      }

      tbody tr {
        opacity: 0.8;
        transition: opacity 0.2s;

        .symptom {
          font-weight: 700;
          padding: 0.5em;
        }

        &.active {
          background: linear-gradient(
            to right,
            #8879a7,
            var(--dnd5e-color-card)
          );
          opacity: 1;

          .symptom {
            color: #000;
          }
        }
      }
    }

    .pips {
      display: flex;
      justify-content: space-around;
      gap: 0.3125rem;
      padding: 0.625rem 0.75rem;

      .pip {
        --pip-size: 3.125rem;
        --pip-bg-inactive: #8879a7;
        --pip-bg-active: #361163;
        --pip-bg-to-activate: #6e5e8f;
        --pip-bg-to-deactivate: hsl(267, 71%, 35%);

        width: var(--pip-size);
        height: var(--pip-size);
        background: var(--pip-bg-inactive);
        border: 0.125rem solid #361163;
        border-radius: 100%;
        box-shadow: 0 0 0.375rem var(--dnd5e-shadow-45);
        padding: 0 0.5rem;
        display: grid;
        filter: drop-shadow(0 0 0.3125rem #361163);
        justify-content: center;
        margin: 0;
        opacity: 0.6;
        place-content: center;
        text-align: center;

        &:is(.sheet.theme-dark .pip) {
          --pip-bg-active: #5f22a8;
        }

        &:where(.active) {
          background: var(--pip-bg-active);
        }

        &:where(.temp) {
          background: var(--pip-bg-active-temp);
        }

        i {
          font-family: var(--font-awesome);
          font-size: var(--font-size-18);
          font-style: italic;
          font-weight: 700;
          transform: scale(0);
          transition: transform 0.2s;
        }

        i:after {
          color: #fff;
          content: '';
          opacity: 0.5;
        }

        &.active i,
        &:hover i,
        &:not(.active):has(~ .pip:hover) i {
          transform: scale(1);
        }

        &.active {
          opacity: 1;

          i:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

.tidy5e-sheet.quadrone.theme-dark {
  [data-tab-contents-for='drakkenheim-contamination-tab'] {
    .description {
      color: var(--color-text-light-highlight);
    }
  }
}

// Hide the Legacy sheet counter which is being injected in Tidy
.tidy5e-sheet .counter.contamination {
  display: none;
}

/* -------------------------------------- */
/* Classic Styles                         */
/* -------------------------------------- */

.tidy5e-sheet.classic {
  [data-tab-contents-for='drakkenheim-contamination-tab'] {
    .description {
      color: #361163;
      font-family: var(--dnd5e-font-roboto-slab);
      font-size: 1rem;
      font-style: italic;
      padding: 0 0.5rem 0.25rem 0.5rem;
      text-align: left;
    }

    .contamination-table {
      border: 0.0625rem solid #361163;
      box-shadow: 0 0 0.625rem #361163;
      font-family: var(--dnd5e-font-roboto-slab);
      font-size: 0.875rem;

      thead {
        background: linear-gradient(90deg, #361163, #8879a7);
        border: none;
        border-bottom: 0.0625rem solid #361163;

        .symptom {
          padding: 0.5em 1em;
        }
      }

      tbody tr {
        opacity: 0.8;
        transition: opacity 0.2s;

        .symptom {
          font-weight: 700;
          padding: 0.5em;
        }

        &.active {
          background: linear-gradient(
            to right,
            #8879a7,
            var(--dnd5e-color-card)
          );
          opacity: 1;

          .symptom {
            color: #000;
            color: initial;
          }
        }
      }
    }

    .pips {
      display: flex;
      justify-content: space-around;
      gap: 0.3125rem;
      padding: 0.625rem 0.75rem;

      .pip {
        --pip-size: 3.125rem;
        --pip-bg-inactive: #8879a7;
        --pip-bg-active: #361163;
        --pip-bg-to-activate: #6e5e8f;
        --pip-bg-to-deactivate: hsl(267, 71%, 35%);

        border: 0.125rem solid #361163;
        border-radius: 100%;
        box-shadow: 0 0 0.375rem var(--dnd5e-shadow-45);
        display: grid;
        filter: drop-shadow(0 0 0.3125rem #361163);
        font-family: var(--font-awesome);
        font-size: var(--font-size-18);
        font-style: normal;
        font-weight: 700;
        justify-content: center;
        margin: 0;
        opacity: 0.6;
        place-content: center;
        text-align: center;

        i {
          transform: scale(0);
          transition: transform 0.2s;
        }

        i:after {
          color: #fff;
          content: '';
          opacity: 0.5;
        }

        &.active i,
        &:hover i,
        &:not(.active):has(~ .pip:hover) i {
          transform: scale(1);
        }

        &.active {
          opacity: 1;

          i:after {
            opacity: 1;
          }
        }
      }
    }
  }
}

.tidy5e-sheet.classic.theme-dark {
  [data-tab-contents-for='drakkenheim-contamination-tab'] {
    .description {
      color: var(--color-text-light-highlight);
    }
  }
}

// Hide the Legacy sheet counter which is being injected in Tidy
.tidy5e-sheet .counter.contamination {
  display: none;
}
