.tidy5e-sheet.application:where(.quadrone.character) {
  &:not(.minimized) {
    min-width: 43.75rem;
  }

  &::before {
    @banner-character : '../../modules/tidy5e-sheet/images/banner-character.webp';
    background-image: var(--t5e-sheet-header-bg, url('@{banner-character}'));
    background-position: top center;
    background-size: auto;
    background-repeat: no-repeat;

    filter: grayscale(100%);
    mix-blend-mode: luminosity;
    opacity: 0.4;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -2;
    width: 100%;
    height: 18.75rem;
  }

  &::after {
    background: linear-gradient(to bottom, rgba(159, 146, 117, 0.5), rgb(91, 78, 49));
    mix-blend-mode: color-burn;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
  }

  .sheet-header {
    .xp-container {
      flex: 0 1 auto;
      margin: 0 0.5rem 0.125rem 0;
      gap: var(--t5e-size-1x);
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .label {
        margin-right: var(--t5e-size-1x);
      }

      input[type="text"] {
        max-width: 5rem;
        width: fit-content;
      }

      .xp-bar {
        --meter-height: 0.625rem;
        background-color: var(--t5e-component-card-dark-darker);
        border-radius: 0.375rem;
        flex: auto;
        min-width: 7rem;

        &:before {
          border-right: none;
        }
      }
    }

    .show-xp {
      .actor-details-name-row {
        margin-top: var(--t5e-size-1x);
        margin-bottom: 0;
      }

      .sheet-header-actions {
        align-items: flex-start;
        padding-top: var(--t5e-size-3x);
      }

      .actor-details-subtitle-row {
        align-items: center;
      }

      .level-container {
        margin-top: var(--t5e-size-2x);
      }
    }

    .abilities-container {
      margin-right: 0.25rem;
    }

    .concentration {
      width: 100%;
      display: flex;
      flex-direction: column-reverse;
      // overflow: visible;

      span,
      i {
        transition: text-shadow var(--t5e-transition-default);
      }

      &:hover,
      &:focus,
      &:focus-within,
      &:active {
        text-shadow: 0 0 0.375rem var(--t5e-color-text-gold);

        span {
          text-shadow: 0 0 0.375rem var(--t5e-color-text-gold);
        }
      }

      .concentration-roll-button {
        height: auto;
        min-height: auto;
        margin-bottom: -1.25rem;
        padding-bottom: 1.315rem;

        .label {
          color: var(--t5e-color-text-gold);
          overflow: hidden;
          text-overflow: ellipsis;
          width: 100%;
          text-align: center;
          margin-top: var(--t5e-size-2x);
          text-transform: none;
        }

        &:focus,
        &:focus-within,
        &:active {
          background: transparent;
          border: none;
          outline: none;
          box-shadow: none;
        }
      }

      .concentration-bonus {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: var(--t5e-size-1);
        margin-top: var(--t5e-size-1x);

        >* {
          flex-grow: 0;
        }
      }

      i {
        margin-bottom: 0.0625rem;
        margin-right: 0.1875rem;
      }

      .modifier,
      .value {
        font-size: var(--font-size-14);
        line-height: var(--line-height-14);
      }

      .config-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 1rem;
      }

      .button-config {
        display: inline-flex;
        margin-left: var(--t5e-size-1x);
        position: relative;
        right: auto;
        bottom: auto;
      }
    }
  }

  .inspiration-badge {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    &.stacked {
      left: -0.25rem;
    }
  }

  .ac-container {
    text-align: center;
    align-items: center;
    max-width: 5rem;
    position: relative;

    .shield {
      .ac-label {
        display: initial;
      }

      .ac-value {
        margin: -0.125rem 0 0;
      }
    }

    .button-config {
      position: absolute;
      bottom: -0.875rem;
      right: -0.5rem;
    }
  }

  .concentration,
  .ability-labels {
    justify-content: end;
    position: absolute;
    left: 0;
    right: 0;
  }

  .ability-labels {
    bottom: 0.4375rem;
  }

  .initiative-container {
    position: relative;
  }

  .concentration {
    bottom: 0.375rem;
  }

  .limited-sheet {
    &.sheet-header {
      .actor-vitals-container {
        padding-bottom: 1.5rem;
        max-width: 10rem;
      }

      .actor-name {
        margin-bottom: 1.5rem;
      }
    }

    .editor-rendered-content {
      border: none;
      margin: var(--t5e-size-4x) 0;
      padding: 0 var(--t5e-size-4x);
    }
  }

  @container character-sheet (width < 43.75rem) {
    .sheet-header .actor-vitals-container {
      max-width: 10rem;

      .actor-image img {
        height: 10rem;
        width: 10rem;
      }
    }
  }

  .ability-smaller() {
    --collapse-font-medium: 1.4375rem;

    .ac-container,
    .ability:has(.proficient),
    .initiative-container {
      width: auto;
      flex: 1;
    }

    .ability .bonus-container,
    .ability .bonus-container.proficient,
    .ac-container .shield,
    .initiative-container .initiative.score {
      width: 100%;
      height: auto;
      min-height: 3.25rem;
      min-width: auto;
    }

    .bonus-container,
    .initiative-bonus {

      .modifier,
      .bonus {
        font-size: var(--collapse-font-medium);
        margin-left: 0;
      }
    }

    .ac-container {
      padding-top: 0;

      .ac-value {
        font-size: var(--collapse-font-medium);
      }
    }

    .initiative-container {
      max-width: 3.25rem;

      .initiative.score {
        margin-top: 0.125rem;
        // margin-bottom: -0.375rem;
      }
    }

    .concentration {
      overflow: hidden;
    }

    .concentration-roll-button {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .collapse-abilities() {
    --collapse-bg-light: rgba(0, 0, 0, 0.20);
    --collapse-bg-dark: rgba(0, 0, 0, 0.56);
    --collapse-outline: 0.0625rem solid rgba(0, 0, 0, 0.16);
    --collapse-font-medium: 1.25rem;
    --collapse-font-large: 1.5rem;

    gap: var(--t5e-size-halfx);

    .ability-smaller();

    >* {
      background: var(--collapse-bg-light);
      outline: var(--collapse-outline);
      outline-offset: -0.0625rem;
      border-radius: var(--t5e-size-1x);
      max-width: initial;
      width: auto;
      min-width: 2.5rem;
    }


    .ac-container,
    .ability:has(.proficient),
    .initiative-container {
      background: var(--collapse-bg-dark);
    }


    .ability:has(.proficient) {
      outline-color: rgba(0, 0, 0, 0.64);
    }

    .ability .bonus-container,
    .ability .bonus-container.proficient,
    .ac-container .shield,
    .initiative-container .initiative.score {
      background: none;
    }

    .ac-container {
      gap: 0.4375rem;

      .shield {
        .ac-value {
          font-size: var(--collapse-font-medium);
          margin-top: .25rem;
          margin-bottom: 0;
        }
      }

      .ac-label {
        display: initial;
        margin-top: -0.125rem;
      }
    }

    .ability {
      .ability-score {
        margin-top: -0.25rem;
      }

      .ability-roll-button {
        margin-bottom: -2.125rem;
      }

      .bonus-container .ability-score-input {
        height: calc(100% - 1.5rem);
        top: 1.375rem;
        background: var(--t5e-component-field-background-hover);
      }
    }

    .initiative-container {
      gap: 0;

      .initiative.score {
        padding-top: 0.25rem;
        margin-top: 0;
      }
    }

    .save {
      margin-right: var(--t5e-size-halfx);
    }

    .bonus-container,
    .initiative-bonus {

      .modifier,
      .bonus {
        font-size: var(--collapse-font-medium);
        margin-left: 0;
      }
    }

    .concentration {
      padding: 0 0.25rem;

      .concentration-roll-button {
        margin-bottom: -1rem;
        padding-bottom: 1rem;
        margin-top: 0.5rem;
        overflow: hidden;
      }
    }
  }

  .sheet-header .abilities-container.ability-smaller .abilities-container-inner {
    .ability-smaller();
  }

  .sheet-header .abilities-container.ability-collapsed .abilities-container-inner {
    .collapse-abilities();
  }

  @container character-sheet (width > 50rem) {
    --header-padding: 1.5rem;
  }

  @container character-sheet (width < 50rem) {
    .sheet-header-content {
      // flex-direction: column-reverse;
      flex-wrap: wrap;
    }

    .hide-10 {
      display: none;
    }
  }

  @container character-sheet (width < 43.75rem) {
    .sheet-header .actor-vitals-container {
      max-width: 10rem;

      .actor-image img {
        height: 10rem;
        width: 10rem;
      }
    }
  }

  .tidy-tab-contents {

    &.attributes {

      .columns {
        display: grid;
        grid-template-columns: minmax(0, 17.5rem) minmax(0, 1fr);
        gap: var(--t5e-size-6x);
      }

      .attributes-column {
        display: flex;
        flex-direction: column;
        gap: var(--t5e-size-6x);
        padding-bottom: var(--t5e-size-8x);
      }

      .skills {
        grid-area: skills;
        height: fit-content;
      }

      .filigree-card .use-ability-header .skill-expand-button {
        gap: 0.375rem;
      }


      .saving-throws {
        grid-area: saves;
        height: fit-content;
      }

      .character-traits {
        grid-area: traits;
        height: fit-content;
      }

      .traits.list {
        .list-entry {
          padding: var(--t5e-size-1x) 0;
          border-bottom: 0.0625rem solid var(--t5e-table-row-divider);
        }
      }

      .tools {
        grid-area: tools;
        height: fit-content;
      }

      .use-ability-list li {
        width: auto;
      }
    }
  }

  @container tab-content (width < 40rem) {
    .tidy-tab-contents.attributes .columns {
      grid-template-rows: auto 1fr;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
      grid-template-areas:
        'skills saves'
        'skills tools'
        'traits traits';
    }

    .saving-throws .use-ability-list {
      flex-direction: column;

      li {
        flex: 1;
        max-width: unset;
      }
    }

    .tidy-tab-contents.attributes .attributes-column {
      display: contents;
    }
  }

  @container tab-content (width < 30rem) {
    .tidy-tab-contents.attributes .columns {
      grid-template-columns: minmax(0, 1fr);
      grid-template-areas:
        'skills'
        'saves'
        'tools'
        'traits';
      gap: var(--t5e-size-4x);
    }
  }

  @import './character-parts/tab-bastion.less';


  &.theme-dark,
  .theme-dark {

    .tidy-tab.bastion {
      .facility:not(.empty) {
        background: linear-gradient(145deg,
            rgba(27, 29, 35, 0.95) 10%,
            rgba(27, 29, 35, 0.1) 170%),
          var(--underlay) 40%, #2c3e50;
        background-blend-mode: normal, normal;
        background-size: cover, cover;

        &.basic {
          background-blend-mode: normal, luminosity;
        }

        .facility-header :is(.facility-image, .facility-image svg) {
          --icon-fill: var(--t5e-component-field-background);
        }
      }
    }
  }
}