.tidy5e-sheet.application:where(.quadrone) {
  .expandable {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: 0fr;
    transition: grid-template-rows var(--t5e-transition-default);

    &.expanded {
      grid-template-rows: 1fr;
    }

    &.overflow-y-hidden>* {
      overflow-y: hidden;
    }
  }
}