.tidy5e-sheet.application:where(.quadrone) {
  input.full-width {
    flex: 0 0 100%;
    margin-block-start: 0.25rem;
  }

  :where(.form-group, .form-fields) :where(label, .hint) {
    font-family: var(--t5e-font-family-forms);
  }

  /* Fieldset */
  fieldset {
    --label-font-family: var(--t5e-font-family-forms);
    --label-font-size-default: var(--font-size-14);
    --label-font-size-small: var(--font-size-default);
    border: none;
    display: flex;
    flex-direction: column;
    gap: 0.375rem;
    margin: 0;
    padding-block: 0 var(--t5e-size-2x);
    padding-inline: 0;

    > label.checkbox,
    > label.radio {
      flex-grow: unset;
      min-height: var(--t5e-field-size-small);
    }

    > legend {
      color: var(--t5e-color-text-default);
      /* title/small */
      font-family: var(--font-family-title, 'Modesto Condensed');
      font-size: var(--font-size-18);
      letter-spacing: 0.01rem;
      padding-block: var(--t5e-size-3x) var(--t5e-size-2x);
      padding-inline: 0;
      width: 100%;

      &:not(:has(tidy-gold-header-underline)) {
        border-bottom: 0.0625rem solid var(--t5e-color-gold);
      }

      > label.checkbox {
        font-weight: 600;

        input[type='checkbox'] {
          margin-block-end: 0.0625rem;
        }
      }

      > .legend-with-button {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }

    > .empty {
      padding-block: var(--t5e-size-1x) var(--t5e-size-2x);
      padding-inline: 0;
      font-style: italic;
      text-align: left;
      color: var(--t5e-color-text-lightest);
    }

    &.card {
      margin-block-start: var(--t5e-size-8x);
    }
  }

  :is(.form-group, .form-fields) .label-top {
    flex-direction: column;
    align-items: stretch;
    gap: var(--t5e-size-halfx);

    > * {
      flex: unset;
    }

    > label {
      font-size: var(--label-font-size-small);
      font-weight: 600;
      line-height: var(--label-font-size-small);
      height: var(--label-font-size-small);
      color: var(--t5e-color-text-lightest);
      margin-block: 0 var(--t5e-size-halfx);
      margin-inline: 0;
      min-height: unset;

      > p.hint {
        cursor: help;
        font-size: var(--label-font-size-small);
        font-weight: 600;
        display: inline-block;
        margin-block: 0.1875rem 0;
        margin-inline: 0;
        line-height: var(--label-font-size-small);
        height: var(--label-font-size-small);

        &:empty {
          min-height: unset;
        }
      }
    }

    + .form-group {
      align-self: end;
    }

    &.checkbox-top {
      flex: 0;
      min-width: max-content;
      align-items: center;
    }
  }

  /* Form Groups */
  .form-group {
    --form-field-height: var(--t5e-field-size-default);
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--t5e-size-1x);
    margin: 0;

    > label {
      color: var(--t5e-color-text-default);
      font-size: var(--label-font-size-default);
      font-weight: 500;
      line-height: var(--t5e-line-height-default);
      align-content: center;
      align-self: flex-start;
      min-height: var(--t5e-field-size-default);
    }

    &:has(input[type='radio']),
    &:has(.vertical) {
      align-items: flex-start;

      > label {
        margin-block-start: var(--t5e-size-1x);
      }
    }

    &:hover,
    &:focus-within {

      > label,
      > p.hint {
        color: var(--t5e-color-text-default);
      }
    }

    /* Flex form inputs */
    > * {
      flex: 2;
    }

    > input[type='checkbox'] {
      flex: none;
    }

    /* Labels */
    > label {
      transition: color var(--t5e-transition-default);
      flex: 1;
    }

    > p.hint {
      transition: color var(--t5e-transition-default);
    }

    /* Icon-Only Labels */
    > label.icon {
      flex: 0 0 var(--t5e-size-4x);

      > i {
        margin: 0;
      }
    }

    /* Stacked form groups, label is on its own line */
    &.stacked {
      > * {
        flex: 0 0 100%;
      }
    }

    /* Inline form groups allow fields to take up as much (or as little) space as required */
    &.inline {
      justify-content: space-between;

      > label {
        flex: none;
      }

      > .form-fields {
        flex: 1;
      }
    }

    /* Slim form groups have small input widths */
    &.slim .form-fields {
      flex: 1;

      > label {
        flex: none;
        text-align: right;
      }

      > input[type='number'],
      > input[type='text'] {
        flex: 0 0 3.125rem;
        padding: 0;
      }

      select {
        width: auto;
      }
    }

    label.label-icon {
      position: relative;

      &::after {
        content: '';
        display: inline-block;
        width: 1em;
        height: 1em;
        background: transparent no-repeat center / contain;
        margin-inline-start: 0.1875rem;
        position: absolute;
      }

      &.currency {
        &.cp::after {
          background-image: url('../../systems/dnd5e/icons/currency/copper.webp');
        }

        &.sp::after {
          background-image: url('../../systems/dnd5e/icons/currency/silver.webp');
        }

        &.ep::after {
          background-image: url('../../systems/dnd5e/icons/currency/electrum.webp');
        }

        &.gp::after {
          background-image: url('../../systems/dnd5e/icons/currency/gold.webp');
        }

        &.pp::after {
          background-image: url('../../systems/dnd5e/icons/currency/platinum.webp');
        }
      }
    }

    /* Split Groups */
    &.split-group {
      gap: 0 var(--t5e-size-1x);

      > label {
        margin-block-start: calc(var(--font-size-small) + var(--t5e-size-1x));
      }

      > .form-fields {
        .form-group {
          flex-wrap: nowrap;

          &:not(.label-top):not(.checkbox) {
            gap: var(--t5e-size-1x);
          }

          > * {
            flex: unset;
          }
        }
      }
    }

    /* Full-Width Groups */
    &.full-width {
      padding-block: 0.375rem;
      padding-inline: 0;

      & + .full-width {
        margin-block-start: 0.125rem;
      }
    }

    label.checkbox {
      min-height: var(--t5e-field-size-default);
    }
  }

  .form-fields {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    gap: var(--t5e-size-1x);

    > * {
      flex: 1;

      &.flex0 {
        flex: 0;
      }
    }

    > button,
    > input[type='checkbox'],
    > input[type='radio'],
    > label {
      flex: none;
    }

    input[type='checkbox'] {
      --checkbox-size: var(--t5e-size-4x);
    }

    &.flexcol {
      flex-direction: column;
    }

    &.vertical {
      align-items: stretch;
      flex-direction: column;
      justify-content: flex-start;
      padding-block-start: var(--t5e-size-1x);
    }

    > *:only-child {
      flex: 1;
    }
  }

  /** Hint Text */
  .hint {
    margin-inline: var(--t5e-size-1x) 0;
    margin-block: 0;
    margin-block: var(--t5e-size-halfx) var(--t5e-size-1x);
    margin-inline: 0;
    color: var(--t5e-color-text-lighter);
    flex: 0 0 100%;
  }

  /** Form Footers */
  .form-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: var(--t5e-size-2x);

    > button,
    a.button {
      flex: 1;
      height: calc(1.25 * var(--input-height));
      min-width: 11.25rem;
    }
  }

  .form-group.split-group > .form-fields .form-group > * {
    flex: unset;
  }

  .checkbox-grid {
    --min-column-width: 7.8125rem;
    gap: 0;
    margin-block-end: var(--t5e-size-1x);

    > .form-fields {
      display: grid;
      grid-template-columns: repeat(auto-fill,
          minmax(var(--min-column-width), 1fr));
      row-gap: 0;
      column-gap: 0.625rem;

      .checkbox {
        line-height: var(--t5e-line-height-small);
        gap: var(--t5e-size-1x);
        min-height: var(--t5e-field-size-small);
      }

      > label {
        text-align: unset;

        > span {
          line-height: normal;
        }
      }
    }
  }

  fieldset .form-group .form-fields .starting-equipment-list {
    margin-block-end: var(--t5e-size-3x);
  }
}