.tidy5e-sheet.application:where(.quadrone.vehicle) {
  --t5e-background-image: url('../../modules/tidy5e-sheet/images/banner-vehicle.webp');
  --t5e-text-warning: var(--t5e-color-palette-orange-70);

  .dr-container {
    flex: 1;
    align-items: center;
    padding-left: 0.5rem;
  }

  /* VEHICLE SIDEBAR
  /* ------------------------------------------------------------ */
  .sidebar {
    gap: var(--t5e-size-2x);

    > :last-child {
      margin-bottom: var(--t5e-size-8x);
    }

    h4,
    h3 {
      color: var(--t5e-color-text-lighter);

      i {
        font-size: var(--font-size-12);
        margin-right: 0.1875rem;
        color: var(--t5e-color-icon-button);
      }
    }

    h4.bordered {
      border-bottom: 0.0625rem solid var(--t5e-color-gold);
      padding: 0.25rem 0;
      margin-bottom: 0.25rem;
    }

    .trait-editable {
      flex-direction: row;
      align-items: center;
      max-height: 1.25rem;

      .list-label {
        flex: 2;
      }

      .trait-values {
        display: flex;
        flex: 3;
        gap: 0.25rem;
        justify-content: flex-end;
      }

      input {
        flex: 2;
      }

      select {
        flex: 1 0 fit-content;
      }
    }

    .trait-horizontal {
      flex-direction: row;
      align-items: center;

      .trait-values {
        --t5e-table-button-width: var(--t5e-field-size-default);
        display: flex;
        justify-content: flex-end;
      }
    }

    .trait-actions {
      .trait-values {
        flex: 1;
      }
    }

    .trait-thresholds .threshold-values {
      gap: 0.25rem;
    }

    .tidy-table-toggle {
      font-size: var(--font-size-16);

      i.enabled {
        color: var(--t5e-theme-color-highlight);
      }
    }

    .npc-score-tracker {
      .card-header h3 {
        padding-top: 0;
      }

      .uses {

        .max,
        .value {
          width: 1.5rem;
        }
      }
    }
  }

  .trait-icon-keel {
    transform: rotate(90deg) translateY(1px);
  }

  /* HEADER OVERRIDES
  /* ------------------------------------------------------------ */
  .abilities-container {
    margin: var(--t5e-size-2x) var(--t5e-size-1x) 0 var(--t5e-size-3x);
  }

  .abilities-container-inner {
    margin: 0;
    overflow: hidden;
  }

  .initiative-container {
    text-align: center;
    align-items: center;

    .ability-labels {
      bottom: 0.4375rem;
    }

    .initiative-bonus {
      margin-right: 0.25rem;

      > * {
        letter-spacing: -6%;
      }
    }
  }

  /* Smallest abilities when sheet is mid-size and has custom abilities present.
  /* ------------------------------------------------------------ */
  .abilities-container.abilities-size-compact {
    .abilities-container-inner {

      .bonus-container,
      .initiative-container .bonus-container.initiative-score-container {
        aspect-ratio: 1 / 1;
      }
    }
  }

  /* Basic theme overrides
  /* ------------------------------------------------------------ */
  &.theme-basic .abilities-container,
  .abilities-container.abilities-size-small {
    .initiative-score-container {
      height: 3.75rem;
    }
  }

  &.theme-basic .abilities-container,
  .abilities-container.abilities-size-compact {
    .initiative-score-container {
      margin-top: 0;
      padding-top: 0;

      .ability-roll-button {
        gap: 0.125rem;
      }
    }
  }

  /* TABS
  /* ------------------------------------------------------------ */
  .tidy-tab {
    .tidy-table-cell[data-tidy-column-key="qty"] {
      padding-left: 0;
      padding-right: 0;

      .command {
        opacity: 0;
        transition: opacity var(--t5e-transition-default);
      }

      &:hover .command {
        opacity: 1;
      }
    }
  }

  .button-reset-actions {
    position: absolute;
    top: calc(50% - 0.9375rem);
    right: 0;
  }

  .spellbook-footer {
    .spellcasting-ability {
      select {
        height: 1.5rem;
      }
    }

    .level {
      input[type="number"] {
        height: 1.5rem;
        max-width: 2.5rem;
      }
    }

    .pill.borderless {
      padding: 0;
      border: none;

      &.level {
        padding-left: 0.5rem;
      }
    }
  }

  /* Light theme styles
  /* ------------------------------------------------------------ */
  &.theme-light {
    .crew-warning {
      .uses-value {
        --t5e-text-warning: var(--t5e-color-palette-orange-55);
      }
    }

    .npc-score-tracker.tracker-warning {
      --t5e-text-warning: var(--t5e-color-palette-orange-55);
    }
  }
}