/* ---------------------------------- */
/*  All Tidy5e Apps                   */
/* ---------------------------------- */

.tidy5e-sheet.application:where(.hightouch) {
  --minimized-width: 18.75rem;
  --color-scrollbar: rgba(0, 0, 0, 0.35);

  /* Application window */
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--t5e-color-gold);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25),
    0px 0px 12px 0px rgba(0, 0, 0, 0.5);

  /* Font Color */
  &:not(.minimized) {
    --color-light-text-heading: var(--t5e-color-text-onDefault-lighter);
  }

  color: var(--t5e-color-text-onDefault-default);

  /* Sheet Body Typography */
  font-family: var(--font-family-default, var(--t5e-font-roboto-condensed));
  font-size: var(--font-size-13, 0.8125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  /* Window Header */
  .window-header {
    border: none;
    align-items: center;

    > * {
      max-block-size: 100%;
    }
  }

  &.application {
    &:not(.minimized) .window-header {
      background: none;
    }
  }

  .controls-dropdown {
    background: var(--t5e-component-card-onDefault-default);
    border-radius: 0.3125rem;
    transition: none;

    &.expanded {
      box-shadow: 0 0 0.375rem var(--dnd5e-shadow-45);
    }

    .header-control > button {
      justify-content: flex-start;
      gap: 0.5rem;
      --button-text-color: var(--t5e-color-text-onDefault-default);
      --button-hover-text-color: var(--t5e-color-text-onDefault-default);

      &:hover {
        background: var(--t5e-component-card-onDefault-darker);
      }
    }
  }

  &[data-tidy-lock-configure-sheet='true']
    .window-header
    [data-action='configureSheet'] {
    display: none;
  }

  /* Currencies */
  :is(i, span).currency {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: transparent no-repeat center / contain;

    &.cp {
      background-image: url('../../systems/dnd5e/icons/currency/copper.webp');
    }
    &.sp {
      background-image: url('../../systems/dnd5e/icons/currency/silver.webp');
    }
    &.ep {
      background-image: url('../../systems/dnd5e/icons/currency/electrum.webp');
    }
    &.gp {
      background-image: url('../../systems/dnd5e/icons/currency/gold.webp');
    }
    &.pp {
      background-image: url('../../systems/dnd5e/icons/currency/platinum.webp');
    }
  }

  .inverse {
    color: var(--t5e-color-text-onInverse-default);
  }
}
