/* ---------------------------------- */
/*  All Tidy5e Apps                   */
/* ---------------------------------- */

.tidy5e-sheet:where(.hightouch) {
  --minimized-width: 18.75rem;
  
  /* Font Color */
  --color-light-text-heading: var(--t5e-color-text-onDefault-default, #000);
  color: var(--t5e-color-text-onDefault-default, #000);
  
  /* Sheet Body Typography */
  font-family: var(--font-family-default, Roboto);
  font-size: var(--font-size-13, 0.8125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  .window-header {
    border: none;
    align-items: center;

    > * {
      max-block-size: 100%;
    }
  }

  // Header button styles
  // ? Why pseudo-header-button?
  .header-button,
  .pseudo-header-button {
  }

  &.application {
    &:not(.minimized) .window-header {
      background: none;
    }
  }
}
