.tidy5e-sheet:where(.hightouch.item) {
  --sidebar-expanded-width: 9rem;
  --sidebar-width: var(--sidebar-expanded-width);

  // Items and Containers feature a sidebar that extends to the top of the sheet, inside the header area.
  .window-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-inline-start: var(--sidebar-width);
    grid-area: header;
    transition: padding-left 250ms ease;

    .window-title {
      visibility: hidden;
    }
  }

  &:is(.minimized, .minimizing) {
    .window-header {
      padding-inline-start: 0.5rem;
    }

    .window-title {
      visibility: visible;
    }

    .header-sheet-edit-mode-toggle {
      display: none;
    }
  }

  .window-content {
    display: grid;
    grid-template-areas: 'sidebar   content';
    grid-template-columns: var(--sidebar-width) 1fr;
    padding: 0;
  }

  .sidebar {
    grid-area: sidebar;
    padding: 1rem;
    border-right: 1px solid var(--t5e-color-gold, #9f9275);
    background: linear-gradient(180deg, #31313140 0%, #303236 80.5%),
      url(../../modules/tidy5e-sheet/images/banner-character-dark.png) lightgray
        50% / cover no-repeat;
    background-blend-mode: luminosity;
  }

  .item-content {
    margin-block-start: var(--header-height);
    grid-area: content;
  }
}
