/* Styles common to Document sheets */

.tidy5e-sheet.hightouch:is(.item, .actor) {
  & > header {
    background: transparent;
    position: relative;
    z-index: 1;
    /* Edit Mode Toggle */
  }
}
