// Tidy 5e intentionally uses .tidy-tab for its tabs.
// As such, to provide tab injection for default sheet tab contents,
// this shim is needed.
.tab[data-tab] {
  display: block;
}

// Default sheet tabs, by default, have auto y scroll behavior baked in
:where(.tidy-tab) > .tab[data-tab] {
  height: 100%;
  overflow-y: auto;
  align-content: flex-start;

  > ol {
    padding-right: 0.75rem;
  }
}
