.rest-container {
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 25;
  }

  .roundPortrait .rest-container {
    bottom: -7px;
  }

.resting {
  width: 34px;
  height: 34px;
  overflow: hidden;
  border-radius: 0 5px 0 5px;
  transition: width 0.3s ease;
  background: var(--t5e-icon-background);
  display: flex;
  box-shadow: 0 0 10px var(--t5e-icon-shadow) inset;
  border: 1px solid var(--t5e-icon-outline);
  color: var(--t5e-icon-font);
}

.roundPortrait .resting {
  border-radius: 20px;
}

.resting:hover {
  width: 110px;
}

.resting-icon {
  flex: 0 0 32px;
  display: flex;
  width: 32px;
  height: 32px;
  margin-right: 8px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 16px;
}

.resting .rest {
  flex: 0 0 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  padding: 0;
  font-size: 18px;
  line-height: 32px;
  font-family: var(--t5e-signika);
  font-weight: 700;
}

.resting .rest {
  transition: color 0.3s ease, transform 0.3s ease;
}

.resting .rest:hover {
  color: var(--t5e-icon-hover);
}