<input
  type='checkbox'
  name='flags.kgar-was-here.test'
  {{checked item.flags.kgar-was-here.test}}
/>
{{#if item.flags.kgar-was-here.test}}
  <h1>
    <button id='kgar-secret-message-button-{{item.sheet.appId}}'>YOU DID IT,
      YEAH!
    </button>
  </h1>
{{/if}}

<div class='form-group'>
  <label>"Vegeta, what does the scouter say about its power level?"</label>
  <input
    type='text'
    name='flags.kgar-was-here.textInput'
    value='{{item.flags.kgar-was-here.textInput}}'
    placeholder='Well?'
  />
</div>