.tidy5e-sheet-header {
  padding: 0 1rem 0.5rem 1rem;
  background: var(--t5e-header-background);
}

.group-xp-input {
  text-align: right;
  line-height: 1rem;
  padding: 0.25rem;
  align-self: center;
  font-size: 0.75rem;
  height: auto;
  background: var(--t5e-faint-color);
}
