/* Common Styles */
@import 'variables';
@import 'variables-quadrone';
@import 'util';
@import 'floating-context-menu';

/* Classic */
@import 'classic/classic.less';

/* Quadrone */
@import 'quadrone/reset.less';
@import 'quadrone/typography.less';
@import 'quadrone/apps.less';
@import 'quadrone/forms.less';
@import 'quadrone/sheets.less';
@import 'quadrone/tables.less';
@import 'quadrone/components.less';
@import 'quadrone/header.less';
@import 'quadrone/actors.less';
@import 'quadrone/items.less';
@import 'quadrone/character.less';
@import 'quadrone/npc.less';
@import 'quadrone/vehicle.less';
@import 'quadrone/group.less';
@import 'quadrone/encounter.less';
@import 'quadrone/inventory.less';
@import 'quadrone/tooltips.less';
@import 'quadrone/editors.less';
@import 'quadrone/dialogs.less';

/* Quadrone High Contrast */

/* dnd5e integration */
@import 'shared/dnd5e2-ports.less';

.tidy5e-sheet.quadrone.tidy-dragging {
  --t5e-transition-speed: 0;
  --t5e-transition-speed-slow: 0;
  --t5e-transition-animation: none;
  --t5e-transition-animation-slow: none;
  --t5e-transition-default: 0 none;
  --t5e-transition-slow: 0 none;
  --t5e-drop-shadow-sheet: none;
  --t5e-drop-shadow-modal: none;
  --t5e-drop-shadow-card: none;
  --t5e-drop-shadow-card-dark: none;
  --t5e-drop-shadow-pill: none;
  --t5e-drop-shadow-field: none;
  --t5e-drop-shadow-field-hover: none;
  --t5e-drop-shadow-field-focus: none;
  --t5e-filter-drop-shadow-token: none;
  --t5e-component-enricher-text-hover-shadow: none;
  --t5e-table-header-box-shadow: none;
  --t5e-drop-shadow-card: none;
}