/* Module-wide utilities */
.tidy5e-sheet {
  // TODO: Find the right home for the equip-icon style
  .equip-icon {
    transform: rotate(-90deg) scaleX(-1);
  }

  .flip-y {
    transform: scaleY(-1);
  }

  /* Height */

  .full-height {
    height: 100%;
  }

  /* Font-size */
  .fs-lg {
    font-size: 1.25rem !important;
  }

  .fs-sm {
    font-size: 0.75rem !important;
  }

  .ff-title {
    font-family: var(--t5e-title-font-family) !important;
  }

  /* Lists */
  .unlist {
    list-style: none;
    padding: 0;
    margin: 0;

    :where(li) {
      margin: 0;
      padding: 0;
    }
  }

  /* Text */
  .break-word {
    overflow-wrap: break-word;
  }

  /* Sizing */
  .w-100 {
    width: 100%;
  }
}

/* Quadrone utilities */
/* TODO: Move to layout file and figure out where backgrounds go */

.tidy5e-sheet.application:where(.quadrone) {
  /* Background color ------------------ */
  .background-default-light {
    background-color: var(--t5e-component-card-ondefault-default);
  }
  .background-default-darker {
    background-color: var(--t5e-component-card-ondefault-darker);
  }
  .background-default-lighter {
    background-color: var(--t5e-component-card-ondefault-lighter);
  }
  .background-darker-default {
    background-color: var(--t5e-component-card-oninverse-default);
  }
  .background-darker-darker {
    background-color: var(--t5e-component-card-oninverse-darker);
  }
  .background-darker-lighter {
    background-color: var(--t5e-component-card-oninverse-lighter);
  }

  /* Selectable Text */
  .user-select-text * {
    user-select: text;
  }

  /* Visibility */
  .invisible {
    visibility: hidden;
  }

  /* Cursor */
  .pointer {
    cursor: pointer;
  }
}

/* Container Queries */
.tidy5e-sheet.application.quadrone {
  // TODO: Discuss with hightouch the best way to deal with these low-specificity utility classes.
  @container (width < 3.125rem) {
    .hide-under-50 {
      display: none !important;
    }
  }

  @container (width < 6.25rem) {
    .hide-under-100 {
      display: none !important;
    }
  }

  @container (width < 9.375rem) {
    .hide-under-150 {
      display: none !important;
    }
  }

  @container (width < 12.5rem) {
    .hide-under-200 {
      display: none !important;
    }
  }

  @container (width < 15.625rem) {
    .hide-under-250 {
      display: none !important;
    }
  }

  @container (width < 18.75rem) {
    .hide-under-300 {
      display: none !important;
    }
  }

  @container (width < 21.875rem) {
    .hide-under-350 {
      display: none !important;
    }
  }

  @container (width < 25rem) {
    .hide-under-400 {
      display: none !important;
    }
  }

  @container (width < 28.125rem) {
    .hide-under-450 {
      display: none !important;
    }
  }

  @container (width < 31.25rem) {
    .hide-under-500 {
      display: none !important;
    }
  }

  @container (width < 34.375rem) {
    .hide-under-550 {
      display: none !important;
    }
  }

  @container (width < 37.5rem) {
    .hide-under-600 {
      display: none !important;
    }
  }

  @container (width < 40.625rem) {
    .hide-under-650 {
      display: none !important;
    }
  }

  @container (width < 43.75rem) {
    .hide-under-700 {
      display: none !important;
    }
  }

  @container (width < 46.875rem) {
    .hide-under-750 {
      display: none !important;
    }
  }

  @container (width < 50rem) {
    .hide-under-800 {
      display: none !important;
    }
  }

  @container (width < 53.125rem) {
    .hide-under-850 {
      display: none !important;
    }
  }

  @container (width < 56.25rem) {
    .hide-under-900 {
      display: none !important;
    }
  }
}
