.attunement-summary-tooltip {
  ul {
    margin: 0;
    padding: 0;

    li + li {
      margin-top: 0.5rem;
    }
  }

  .image {
    align-self: center;
    flex: 0 0 var(--t5e-image-size-override, 1.5rem);
    height: var(--t5e-image-size-override, 1.5rem);
    background-size: cover;
    background-position: 50% 0;
  }
}
