/* App V2 Reset */

button {
  box-shadow: none;
  outline: none;
  margin: 0;

  i {
    margin: 0;
  }

  &:hover,
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

/* Hightouch-style buttons */

button,
.button {
  display: flex;
  width: unset;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
  flex-shrink: 0;
  border-radius: 0.125rem;
  border: 1px solid var(--t5e-component-field-default-border);
  background: var(--t5e-component-field-default-background);
  color: var(--t5e-color-text-onDefault-default);

  font-size: var(--font-font-size-13, 0.8125rem);
  font-style: normal;
  font-weight: 500;
  line-height: 0.875rem;

  /* shadow/field/light */
  box-shadow: 0px 0px 4px 0px var(--dnd5e-shadow-15, rgba(0, 0, 0, 0.15));

  padding: 0.25rem;

  :where(i) {
    color: var(--t5e-color-text-onDefault-gold-emphasis);
    margin: 0;
  }
}

&:where(.inverse) :is(button, .button),
:where(.inverse) :is(button, .button) {
  border: 1px solid var(--t5e-component-field-inverse-border);
  background: var(--t5e-component-field-inverse-background);

  &,
  i {
    color: var(--t5e-color-text-onDefault-gold-emphasis);
  }
}

/* Button Group */

.button-group {
  display: flex;
  flex-direction: row;
  gap: 0;

  :is(button, .button) {
    box-shadow: none;
  }

  :is(button, .button):not(:last-child):not(:first-child),
  :is(button, .button):first-child:not(:last-child) {
    border-right: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  :is(button, .button):not(:last-child):not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  :is(button, .button):last-child:not(:first-child) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/* Inline Icon Button, Header Controls */

:is(button, .button) {
  &.header-control,
  &.unbutton {
    width: unset;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    box-shadow: none;
    outline: none;
  }
}

:is(button, .button).header-control {
  font-weight: 900;
}

/* Button Dropdown */

.button-dropdown-wrapper {
  position: relative;

  .dropdown {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
    position: relative;

    .expand-indicator {
      font-size: 0.5rem;
      position: absolute;
      right: 1px;
      bottom: 1px;
    }
  }

  .options-panel {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    .option {
      display: flex;
      flex-direction: row;
      gap: 0.5rem;
    }
  }
}
