.collapsible-editor {
  header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .title {
    color: var(--t5e-color-text-onDefault-lighter);

    font-family: var(--t5e-font-family-title);
    font-size: var(--font-size-16);
    letter-spacing: 0.01rem;
    line-height: normal;


    display: flex;
    align-items: center;
    gap: 0.25rem;

    .expand-indicator {
      color: var(--t5e-color-text-onInverse-lightest);
      transition: transform 0.2s ease;
      font-size: 0.6875rem;

      &.expanded {
        transform: rotate(90deg);
      }
    }
  }

  .edit {
    display: flex;
    width: var(--font-font-size-24, 1.5rem);
    height: var(--font-font-size-24, 1.5rem);
    padding: 0.25rem 0.25rem 0.3125rem 0.3125rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex-shrink: 0;

    i {
      color: var(--t5e-color-text-onInverse-disabled);
      font-size: 0.6875rem;
    }

    &:hover i {
      color: var(--t5e-color-text-onDefault-default);
    }
  }
}
