/* App V2 Reset */

input {
  box-shadow: none;
  outline: none;

  &:hover,
  &:focus {
    box-shadow: none;
    outline: none;
  }
}

/* Hightouch-style inputs */

input[type='text'],
input[type='number'],
textarea {
  
  &:is(textarea) {
    resize: none;
  }

  align-items: center;
  background: var(--t5e-component-card-onDefault-default);
  border-radius: 0.125rem;
  border: 1px solid var(--t5e-component-field-default-border);
  box-shadow: 0px 0px 4px 0px var(--dnd5e-shadow-15);
  display: flex;
  font-size: var(--font-size-13, 0.8125rem);
  font-weight: 400;
  line-height: normal;
  padding: 0.5rem;

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.5) 100%
      ),
      var(--t5e-component-card-onDefault-default);
  }

  &:focus {
    border-radius: 0.125rem;
    border: 1px solid var(--t5e-component-field-default-border);
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.5) 100%
      ),
      var(--t5e-component-card-onDefault-default);

    /* focus/field */
    box-shadow: 0px 0px 0px 2px #9a2a30;
  }

  &:has(input[type='text']:disabled) {
    background: rgba(159, 146, 117, 0.2);
    color: var(--t5e-color-text-onDefault-lightest);
  }

  &::placeholder {
    color: var(--t5e-color-text-onDefault-disabled);
  }

  &:disabled {
    background: rgba(159, 146, 117, 0.2);
    border-color: transparent;
    color: var(--t5e-color-text-onDefault-lightest);
    box-shadow: none;
  }
}

.input-group {
  --icon-size: 0.75rem;

  align-items: center;
  background: var(--t5e-component-card-onDefault-default);
  border-radius: 0.125rem;
  border: 1px solid var(--t5e-component-field-default-border);
  box-shadow: 0px 0px 4px 0px var(--dnd5e-shadow-15);
  display: flex;
  height: 2rem;
  padding: 0.5rem;
  gap: 0.375rem;
  align-items: center;

  &:focus-within {
    box-shadow: 0px 0px 0px 2px #9a2a30;
  }

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.5) 100%
      ),
      var(--t5e-component-card-onDefault-default);
  }

  input[type='text'] {
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    color: var(--t5e-color-text-onDefault-default);
    flex: 1 0 0;
    font-size: var(--font-size-13);
    height: auto;
    padding: 0;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &:hover {
      background: none;
    }

    &::placeholder {
      color: var(--t5e-color-text-onDefault-disabled);
    }

    &:disabled {
      background: none;
    }
  }

  &.right input[type='text'] {
    text-align: right;
  }

  &:has(input[type='text']:disabled) {
    color: var(--t5e-color-text-onDefault-lightest);
    border-color: transparent;
    border-radius: 0.125rem;
    background: rgba(159, 146, 117, 0.2);
    box-shadow: none;
  }

  & > :not(input):not(i) {
    font-weight: 500;
    font-size: 0.8125rem;
    color: var(--t5e-color-text-onDefault-lightest);
  }

  i {
    font-size: var(--icon-size);
  }
}

:where(search) {
  align-items: center;
  background: var(--t5e-component-card-onDefault-default);
  border-radius: 0.125rem;
  border: 1px solid var(--t5e-component-field-default-border);
  box-shadow: 0px 0px 4px 0px var(--dnd5e-shadow-15);
  display: flex;
  height: 2rem;
  padding: 0.5rem 0 0.5rem 0.5rem;

  &:focus-within {
    box-shadow: 0px 0px 0px 2px #9a2a30;
  }

  &:hover {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.5) 0%,
        rgba(255, 255, 255, 0.5) 100%
      ),
      var(--t5e-component-card-onDefault-default);
  }

  // TODO: Consider how to generalize this particular style, since other inputs use the same technique
  .icon-and-input {
    align-items: center;
    display: flex;
    flex: 1;
    gap: 0.375rem;
  }

  input[type='text'] {
    background: none;
    border-radius: 0;
    border: none;
    box-shadow: none;
    color: var(--t5e-color-text-onDefault-default);
    flex: 1 0 0;
    font-size: var(--font-size-13);
    height: auto;
    padding: 0;

    &:focus {
      box-shadow: none;
      border: none;
    }

    &:hover {
      background: none;
    }

    &::placeholder {
      color: var(--t5e-color-text-onDefault-disabled);
    }

    &:disabled {
      background: none;
    }
  }

  i {
    font-size: 0.6875rem;
  }

  .cancel-search {
    width: 2rem;
    height: 2rem;
    color: var(--t5e-color-text-onDefault-lighter);
    display: inline-flex;
    justify-content: center;
    align-items: center;

    i {
      font-size: 0.6875rem;
      font-style: normal;
      font-weight: 900;
      line-height: normal;
      text-transform: uppercase;
    }
  }

  &:has(input[type='text']:disabled) {
    color: var(--t5e-color-text-onDefault-lightest);
    border-color: transparent;
    border-radius: 0.125rem;
    background: rgba(159, 146, 117, 0.2);
    box-shadow: none;
  }
}

input[type='radio'] {
  --input-size: 1rem;

  appearance: none;
  font: inherit;
  color: currentColor;
  width: var(--input-size);
  height: var(--input-size);
  background: var(--t5e-component-field-default-background);
  border: 0.0625rem solid var(--t5e-component-field-default-border);
  border-radius: 50%;
  box-shadow: 0px 0px 4px 0px var(--dnd5e-shadow-15);

  display: inline-flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-0.15rem);

  &:not(.disabled)::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    border-radius: 50%;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    background-color: var(--t5e-color-text-onDefault-gold-light);
  }

  &:checked {
    border: 1px solid var(--t5e-component-toggle-toggled-border);
    background: var(--t5e-component-toggle-toggled-background);

    &::before {
      transform: scale(1);
    }
  }

  &:disabled {
    border: 1px solid var(--t5e-component-field-default-border);
    // TODO: CSS Variable
    background: rgba(159, 146, 117, 0.2);
  }
}

input[type='checkbox'] {
  --checkbox-checked-color: var(--t5e-component-toggle-toggled-background);
  --checkbox-checkmark-color: var(--t5e-color-text-onDefault-gold-light);
  --checkbox-size: 1rem;
  width: var(--checkbox-size);
  height: var(--checkbox-size);
  flex-basis: var(--checkbox-size);
  margin: 0;
  --input-focus-outline-color: ;

  text-align: center;

  &::before,
  &::after {
    content: unset;
    font-weight: 900;
  }

  border-radius: 0.125rem;
  border: 0.0625rem solid var(--t5e-component-field-default-border);
  background: var(--t5e-component-field-default-background);
  box-shadow: 0px 0px 4px 0px var(--dnd5e-shadow-15);

  &:checked {
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }

  &:checked::before {
    content: '\f00c';
    font-size: 0.6875rem;
    color: var(--t5e-color-text-onDefault-gold-light);
  }

  &:checked {
    border: 1px solid var(--t5e-component-toggle-toggled-border);
    background: var(--t5e-component-toggle-toggled-background);
  }

  &:disabled {
    border: 0.0625rem solid var(--t5e-component-field-default-border);
    // TODO: CSS Variable
    background: rgba(159, 146, 117, 0.2);

    &::before {
      color: var(--t5e-color-icon-light-diminished);
    }
  }
}

// To customize the chevron, try the bootstrap approach: https://getbootstrap.com/docs/5.3/forms/select/

select {
  --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23666' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
  --bg-image-backdrop: none;

  border-radius: 0.125rem;
  border: 1px solid var(--t5e-component-field-default-border);
  box-shadow: 0px 0px 4px 0px var(--dnd5e-shadow-15);
  padding: 0 1.75rem 0 0.5rem;

  display: flex;
  height: var(--font-font-size-32, 2rem);
  align-items: center;
  gap: 0.375rem;
  flex-shrink: 0;

  appearance: none;
  cursor: pointer;

  background-color: var(--t5e-component-card-onDefault-default);
  background-image: var(--bg-image-chevron), var(--bg-image-backdrop);
  background-repeat: no-repeat, repeat repeat;
  background-position: right 0.5rem center, left top;
  background-size: 0.6875rem 0.6875rem, auto;

  &:hover,
  &:focus {
    --bg-image-backdrop: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.5) 0%,
      rgba(255, 255, 255, 0.5) 100%
    );
    --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23000' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
  }

  &:hover {
    box-shadow: 0px 0px 4px 0px var(--dnd5e-shadow-15);
  }

  &:focus {
    box-shadow: 0px 0px 0px 2px #9a2a30;
    outline: none;
  }

  &:disabled {
    --bg-image-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' style='fill: %23999999' viewBox='0 0 512 512'%3E%3C!--!Font Awesome Free 6.6.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.--%3E%3Cpath d='M233.4 406.6c12.5 12.5 32.8 12.5 45.3 0l192-192c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L256 338.7 86.6 169.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l192 192z'/%3E%3C/svg%3E");
    background-color: rgba(159, 146, 117, 0.2);
    border-color: transparent;
    color: var(--t5e-color-text-onDefault-lightest);
    box-shadow: none;
  }
}
