.pills {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;

  &.stacked {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
  }

  .pill {
    align-items: center;
    background: var(--t5e-component-pill-onDefault-background, #f8f4f1);
    border-radius: var(--radius-card, 0.1875rem);
    border: 0.0625rem solid var(--t5e-component-pill-onDefault-border, #9f9275);
    box-shadow: 0 0 0.25rem 0 var(--dnd5e-shadow-15, rgba(0, 0, 0, 0.15));
    display: flex;
    font-size: var(--font-size-11, 0.6875rem);
    font-style: normal;
    font-weight: 500;
    gap: 0.25rem;
    justify-content: center;
    line-height: normal;
    margin: 0;
    min-height: var(--font-size-24, 1.5rem);
    padding: 0.125rem 0.5rem;
    color: var(--t5e-color-text-onDefault-default);

    .secondary {
      font-weight: 400;
    }

    .secondary,
    i {
      color: var(--t5e-color-text-onDefault-lighter);
    }
  }

  &.inverse .pill {
    background: var(--t5e-component-pill-onInverse-background, #252830);
    border-color: var(--t5e-component-pill-onInverse-border, #000);
    color: var(--t5e-color-text-onInverse-default, #fff);

    &.interactive {
      border-color: var(
        --t5e-component-pill-onInverse-interactive-border,
        #7a7a7a
      );
    }

    .secondary,
    i {
      color: var(--t5e-color-text-onInverse-lighter);
    }
  }
}
