.tidy-tabs.item-tabs {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  position: relative;

  &::before {
    content: '';
    background-image: linear-gradient(
      to right,
      #9f927500 0%,
      rgba(159, 146, 117, 0.5) 10%,
      rgba(159, 146, 117, 0.5) 90%,
      rgba(159, 146, 117, 0) 100%
    );
    top: 100%;
    left: -1rem;
    bottom: -0.0625rem;
    right: -1rem;
    position: absolute;
  }

  .tab-option {
    font-family: var(--t5e-roboto-condensed);
    font-size: 0.8125rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding: 0.375rem 0rem;
    margin: 0;
    border: 0;
    width: auto;
    background: none;
    border-radius: 0;
    color: var(--t5e-color-text-onDefault-lighter);
    border-bottom-width: 0.125rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;

    &.active {
      color: var(--t5e-color-text-onDefault-default);
      outline: none;
      box-shadow: none;
      border-bottom-color: var(--t5e-color-gradient-red-light, #741b2b);
      //   box-shadow: 0px 0px 4px 0px rgba(192, 173, 129, 0.75);
    }
  }
}
