// TODO: Specify/elaborate on tables when needed
.tidy-table {
  --table-header-row-height: 1.5rem;
  --table-row-height: 1.8125rem;

  .tidy-table-header-row,
  .tidy-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
  }

  .tidy-table-header-row {
    height: var(--table-header-row-height);
    border-radius: 0.125rem;
    border: 1px solid rgba(0, 0, 0, 0.15);
    background: var(
      --gradient-red,
      linear-gradient(
        90deg,
        var(--t5e-color-gradient-red-dark) 20%,
        var(--t5e-color-gradient-red-light) 100%
      )
    );
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
    cursor: pointer;

    .tidy-table-header-cell {
      color: var(--t5e-color-text-onInverse-gold-light);
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: 0.875rem;
      letter-spacing: 0.0088rem;

      .count {
        color: var(--t5e-color-text-onInverse-gold-emphasis);
      }

      &.primary {
        flex: 1;
        font-family: var(--t5e-font-modesto-condensed);
      }

      &:not(.primary) {
        color: var(--t5e-color-text-onInverse-default);
        text-align: center;
        // font-family: Roboto;
        font-size: 0.75rem;
        font-weight: 500;
        line-height: 0.875rem; /* 116.667% */
      }
    }
  }

  .tidy-table-row {
    height: var(--table-row-height);
  }

  .expand-indicator {
    transition: color 0.3s, transform 0.15s;
    width: 1.5rem;
    height: 1.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    i {
      color: var(--t5e-color-text-onInverse-gold-emphasis);
      font-size: 0.6875rem;
      font-weight: 900;
    }

    &.expanded {
      transform: rotate(90deg);
    }
  }

  .expand-indicator-button {
    margin: 0;
    padding: 0;
    width: unset;
    flex-basis: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    border: none;
    background: none;
    align-self: center;

    i {
      font-size: 0.6875rem;
      font-weight: 900;
      margin: 0;
      color: var(--t5e-color-text-onDefault-lightest);

      &.expanded {
        color: var(--t5e-color-text-onDefault-lighter);
      }
    }

    &:hover i {
      color: var(--t5e-color-text-onDefault-gold);

      &.expanded {
        color: var(--t5e-color-text-onDefault-gold-emphasis);
      }
    }
  }

  .item-image {
    flex: 0 0 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
    background-color: lightgray;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: var(--item-img);
    border: 0.0625rem solid var(--item-border-color, transparent);
    align-self: center;
    border-radius: 0;

    display: inline-flex;
    justify-content: center;
    align-items: center;

    padding: 0;

    &.special-rarity {
      box-shadow: 0px 0px 3px 0px var(--item-border-color, transparent);
    }

    .roll-prompt {
      display: none;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      background: var(--t5e-component-card-onDefault-default);
      border: 0.0625rem solid var(--t5e-color-gold);

      align-items: center;
      justify-content: center;
      margin: -0.0625rem;
      padding: 0;
      flex-basis: 1.5rem;
      width: 1.5rem;
      height: 1.5rem;

      i {
        color: var(--t5e-color-text-onInverse-gold);
        text-shadow: 0px 0px 8px rgba(255, 255, 255, 0.25);
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 900;
        margin: 0;
      }
    }
  }

  .item-image + .item-name {
    margin-left: 0.5rem;
  }

  .item-image:hover .roll-prompt {
    display: flex;
  }

  button.item-name {
    flex: 1;
    align-self: stretch;

    background: none;
    border: 0;
    padding: 0;
    margin: 0;

    color: var(--t5e-color-text-onDefault-default);
    font-family: var(--t5e-font-roboto-condensed);
    font-size: 0.8125rem;
    font-weight: 500;
    letter-spacing: -0.00813rem;
    justify-content: flex-start;

    &:hover {
      color: var(--t5e-text-default);
    }
  }

  hr.table-row-divider {
    background-color: var(--t5e-color-table-divider);
    margin: 0;
    height: 0.0625rem;
  }

  .tidy-table-cell {
    display: flex;
    justify-content: center;

    &.primary {
      flex: 1;
      text-align: left;
      position: relative;
    }

    &.item-actions {
      justify-content: flex-end;
    }
  }

  .item-actions {
    button {
      display: flex;
      width: var(--font-font-size-24, 1.5rem);
      height: 1.75rem;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      i {
        color: var(--t5e-color-icon-light-default);
        font-size: 0.6875rem;
        font-weight: 900;
        line-height: normal;
      }
    }
  }
}

* + .tidy-table {
  margin-top: 1rem;
}

// TODO: Handle sub-table style overrides (e.g., different header style)
