.tidy5e-sheet {

  /* NPC Stat Blocks */
  .statblock.npc {
    --statblock-color-gold: var(--t5e-color-gold, rgba(159, 146, 117, 1));
    --statblock-theme-color-default: rgba(116, 27, 43, 1);
    --statblock-theme-color-darkest: oklch(from var(--t5e-theme-color-default) calc(l * 0.75) calc(c * 1.2) h);
    --statblock-weight-label: var(--font-weight-label, 500);
    --statblock-font-title-medium: var(--t5e-font-title-medium, 400 var(--font-size-28) 'Modesto Condensed', 'Palatino Linotype', serif);
    --statblock-font-title-small: var(--t5e-font-title-small, 400 var(--font-size-18) 'Modesto Condensed', 'Palatino Linotype', serif);
    --statblock-text-header: var(--t5e-theme-color-darkest);
    --statblock-text-primary: var(--t5e-color-text-default, rgb(0, 0, 0));
    --statblock-text-secondary: var(--t5e-color-text-lighter, rgba(75, 74, 68, 1));
    --statblock-text-gold: var(--t5e-color-text-gold-emphasis, rgb(115, 99, 63));
    --statblock-column-width: 100%;
    --statblock-background: var(--t5e-component-card-default, rgb(248, 244, 241, 1));
    --statblock-callout: rgba(255, 255, 255, 0.48);
    --statblock-border: var(--statblock-color-gold);
    --statblock-dividers: var(--statblock-theme-color-darkest);
    --statblock-ability-header-1st: rgba(0, 0, 0, 0.08);
    --statblock-ability-header-2nd: rgba(0, 0, 0, 0.16);
    --statblock-ability-stat-1st: rgba(0, 0, 0, 0.16);
    --statblock-ability-stat-2nd: rgba(0, 0, 0, 0.24);
    --notchSize: 0.5rem;
  }

  &.theme-dark {
    .statblock.npc {
      --statblock-text-primary: var(--statblock-text-primary);
      --statblock-text-header: var(--statblock-text-secondary);
      --statblock-dividers: var(--statblock-color-gold);
      --statblock-ability-header-1st: rgba(255, 255, 255, 0.12);
      --statblock-ability-header-2nd: rgba(255, 255, 255, 0.24);
      --statblock-ability-stat-1st: rgba(255, 255, 255, 0.24);
      --statblock-ability-stat-2nd: rgba(255, 255, 255, 0.32);
      --statblock-text-primary: var(--t5e-color-text-default, rgb(255, 255, 255));
      --statblock-text-secondary: var(--t5e-color-text-lighter, rgba(207, 210, 218, 1));
      --statblock-text-gold: var(--t5e-color-text-gold-emphasis, rgba(192, 173, 129, 1));
      --statblock-background: var(--t5e-component-card-default, rgba(22, 24, 29, 1));
    }
  }

  .statblock.npc {
    box-shadow: none;
    background: var(--statblock-color-gold);
    border: none;
    box-shadow: 0 0 0.25rem 0 var(--statblock-color-gold);
    color: var(--statblock-text-primary);
    position: relative;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    padding: 0.75rem 1rem;
    // max-width: 100%;

    display: flex;
    flex-direction: column;

    max-width: var(--statblock-column-width);
    box-shadow: 2px 2px 2px var(--dnd5e-shadow-15);


    &::before {
      clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
      position: absolute;
      background: var(--statblock-background);
      content: '';
      z-index: -1;
      top: 0.125rem;
      left: 0.125rem;
      bottom: 0.125rem;
      right: 0.125rem;
    }

    &::after {
      position: absolute;
      content: '';
      border: 0.125rem solid var(--statblock-color-gold);
      border-radius: 1.625rem;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      pointer-events: none;
    }

    .statblock-title {
      margin-top: 0.125rem;
      border-bottom: 0.0625rem solid var(--statblock-dividers);

      a {
        align-items: center;
        background: none;
        border-radius: 0;
        border: 0;
        border-bottom: 0.0625rem solid var(--statblock-dividers);
        color: var(--statblock-text-header);
        display: flex;
        font: var(--statblock-font-title-medium);
        font-size: var(--font-size-24);
        transition: all var(--t5e-transition-default);

        i {
          font-size: var(--font-size-16);

          &::before {
            content: '\f6d5';
          }
        }

        &:hover {
          color: var(--statblock-text-primary);
        }
      }
    }

    h5.statblock-actions-title {
      margin-block-start: 8px;
      color: var(--statblock-text-header);
    }

    .statblock-tags {
      color: var(--statblock-text-secondary);
      font-style: italic;
      margin-bottom: var(--t5e-size-2x);
    }

    .statblock-content {
      display: column;
      column-width: var(--statblock-column-width);
    }

    .statblock-header {
      break-inside: avoid;

      dl {
        display: flex;
        flex-wrap: wrap;

        div {
          display: flex;
          flex: 1 0 100%;
          gap: 0.25rem;

          &.half-width {
            flex: 1 0 50%;
          }

          dt {
            color: var(--statblock-text-primary);
            font-weight: var(--statblock-weight-label);
            padding-right: 0.125rem;
          }

          dd {
            color: var(--statblock-text-primary);
          }

          >* {
            margin: 0;
            padding: 0;
          }
        }

        div> :is(dt, dd) {
          display: inline;
          line-height: 1.125rem;
        }

        dt {
          color: var(--statblock-text-header);
          text-shadow: none;
        }
      }

      .abilities {
        margin-top: 0.125rem;
        margin-bottom: 0.125rem;
        padding-bottom: 0.25rem;

        table,
        thead,
        tbody,
        tr,
        th,
        td {
          all: revert;
        }
      }
    }

    .statblock-actions {
      color: var(--statblock-text-primary);

      .statblock-action {
        align-items: baseline;
        gap: 0.25rem;

        >p:first-child>.name {
          display: inline;
          font-style: italic;
          font-weight: bold;

          &::after {
            content: '.';
            display: inline;
          }
        }

        a,
        button {
          display: contents;
          cursor: inherit;
          pointer-events: none;

          :is(.fas, .fa-solid, .far, .fa-regular) {
            display: none;
          }
        }

        >* {
          display: inline;
          line-height: 1rem;
        }
      }

      >* {
        margin-bottom: 0.375rem;
        display: flex;
        flex-direction: column;
      }

      h5.statblock-actions-title {
        border-bottom: 0.0625rem solid var(--statblock-dividers);
        font: var(--statblock-font-title-small);
      }
    }
  }

  .double-column .statblock {
    max-width: calc(var(--statblock-column-width) * 2);

    .statblock-content {
      columns: 2;
    }
  }

  p {
    margin: 0;
    display: inline;
  }


  .statblock.npc.rules-2014 {

    .statblock-header .abilities {
      display: flex;
      flex-direction: row;
      gap: 0.0625rem;

      .ability {
        background: var(--statblock-ability-header-1st);
        border-radius: 0.0625rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;
        max-width: initial;
        padding: 0.0625rem;

        .name {
          color: var(--statblock-text-header);
          font-weight: var(--statblock-weight-label);
          text-transform: uppercase;
        }

        .score {
          color: var(--statblock-text-primary);
        }
      }
    }
  }

  .statblock.npc.rules-2024 {
    .statblock-header {
      color: var(--statblock-text-header);

      .abilities {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 0.375rem;


        table {
          border-collapse: separate;
          border-spacing: 0 0.0625rem;
        }

        thead th {
          color: var(--statblock-text-secondary);
          font: var(--statblock-font-label-small);
          text-transform: initial;

          &.visually-hidden {
            clip: rect(0 0 0 0);
            clip-path: inset(50%);
            font-size: 1px;
            overflow: hidden;
            white-space: nowrap;
          }
        }

        tbody {
          tr {
            border-radius: 0.0625rem;

            &:nth-of-type(odd) {

              th,
              .score {
                background: var(--statblock-ability-header-1st);
              }

              td {
                background: var(--statblock-ability-stat-1st);
              }
            }

            &:nth-of-type(even) {

              th,
              .score {
                background: var(--statblock-ability-header-2nd);
              }

              td {
                background: var(--statblock-ability-stat-2nd);
              }
            }
          }

          th {
            font-variant: normal;
            text-transform: uppercase;
            font-weight: var(--statblock-weight-label);
          }

          td {
            color: var(--statblock-text-primary);
            text-align: center;
          }
        }
      }
    }
  }


  &.classic .statblock.npc {
    background: var(--statblock-color-gold);
    gap: 0.25rem;

    .statblock-title {
      a i {
        color: var(--statblock-text-gold);
      }
    }
  }

  .flexible-editor-container {
    flex: 1;

    display: flex;
    flex-direction: column;

    prose-mirror {
      flex: 1;
    }
  }

  fieldset .editor-rendered-content {
    flex: auto;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
    border: none;
  }
}