.tidy5e-sheet.application:where(.quadrone.actor) {

  .window-header {
    .window-title {
      visibility: hidden;
    }
  }

  &:is(.minimized) {
    .window-title {
      visibility: visible;
    }
  }

  // TODO: Move this to a more specific component file
  .attributes {

    .character-traits {
      padding-bottom: var(--t5e-size-12x);
    }

    .character-traits-header {
      align-items: flex-start;
      gap: var(--t5e-size-2x);

      .character-traits-title {
        padding-top: var(--t5e-size-1x);
      }

      .button {
        flex: 0;
        text-wrap: nowrap;
      }
    }

    .list {
      .trait-item {
        gap: var(--t5e-size-1x);
        margin-right: var(--t5e-size-2x);
      }

      .list-label {
        flex: 1;
        margin-right: var(--t5e-size-4x);

        i {
          color: var(--t5e-color-icon-diminished);
        }
      }

      // TODO: Fix responsive behavior to handle small screens in edit mode.
      .list-content {
        flex: 2;
      }


      .list-entry {
        padding: var(--t5e-size-1x) 0;
        border-bottom: 0.0625rem solid var(--t5e-table-row-divider);

        .item-image-link {
          width: 1.75rem;
          height: 1.75rem;
          margin-right: var(--t5e-size-1x);
          overflow: hidden;
          background-color: var(--t5e-color-palette-gold-56);
          color: var(--t5e-color-text-oninverse-default);
          align-items: center;
          justify-content: center;
          display: flex;
        }

        &.empty {
          .list-label {
            h4 {
              color: var(--t5e-color-text-lighter);
            }

            i {
              color: var(--t5e-color-icon-disabled);
            }
          }
        }
      }

      .list-sub-entry {
        .item-image-link {
          width: 1.5rem;
          height: 1.5rem;
          background-color: var(--t5e-color-palette-gold-56);
        }

        .sub-entry-icon {
          color: var(--t5e-color-icon-disabled);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-12);
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      .item-image-link {
        border: 0.0625rem solid var(--t5e-color-gold);
        border-radius: 0.125rem;
        transition: box-shadow var(--t5e-transition-default);

        &:hover {
          box-shadow: 0 0 0.375rem var(--t5e-color-text-gold-emphasis);
        }
      }

      .divider-dot {
        margin: 0;
      }

      .icon-class-original {
        margin-left: var(--t5e-size-1x);
        padding-bottom: 0.0625rem;
      }

      .list-controls {
        display: flex;
        flex-direction: row;
        align-items: center;

        select {
          margin-right: var(--t5e-size-1x);
        }
      }

      .pill {

        .units {
          margin-left: var(--t5e-size-halfx);
        }

        &:not(.positive, .negative) {
          background-color: var(--t5e-component-field-background);
        }
      }
    }
  }

  .card {
    background-color: var(--t5e-component-card-default);
    padding: 0.3125rem 0.875rem 0.5rem;

  }

  .use-ability-header {
    display: flex;
    border-bottom: 0.0625rem solid var(--t5e-color-gold);
    height: var(--t5e-field-size-default);

    .button {
      gap: var(--t5e-size-2x);
      padding: 0 var(--t5e-size-2x) 0 var(--t5e-size-2x);

      &:hover {
        i {
          color: var(--t5e-color-icon-default);
        }
      }
    }

    h3 {
      align-items: start;
      display: flex;
      gap: var(--t5e-size-1x);
      flex: 1;
      text-shadow: inherit;
    }

    .skill-expand-button i {
      transition: var(--t5e-transition-default);
      margin-top: 0.0625rem;

      &.expanded {
        transform: rotate(90deg);
      }
    }

    .modifier-label {
      display: flex;
      justify-content: end;
    }
  }

  .saving-throws {
    .use-ability-header {
      gap: var(--t5e-size-2x);
      padding: 0 var(--t5e-size-2x);

      i {
        flex: 0;
      }
    }
  }


  // 👋 hightouch - I'm not sure the best location for our Skills Card CSS; it's here temporarily
  .use-ability-list {

    button.proficiency {
      --_fill: var(--t5e-theme-color-default);

      align-items: center;
      aspect-ratio: 1;
      background: transparent;
      border: none;
      display: flex;
      justify-content: center;
      position: relative;

      i {
        font-size: var(--font-size-11);
        color: var(--_fill);
        text-shadow: 0 0 0.25rem rgba(0, 0, 0, 0.24);
      }

      &.button-icon-only:hover {
        border: none;
        outline: none;
        background: transparent;
      }

      &:is([data-proficiency='0']) i {
        --_fill: var(--t5e-color-gold);
      }

      &:is([data-proficiency='2']) i {
        font-size: var(--font-size-12);
      }

      &:hover,
      &:focus,
      &:active {
        i {
          --_fill: var(--t5e-theme-color-darkest);
          color: var(--_fill);
        }

        &:is([data-proficiency='0']) i {
          --_fill: var(--t5e-color-text-gold-emphasis);
          color: var(--_fill);
        }
      }
    }

    &:not(.disabled) {
      select {
        font: var(--t5e-font-label-medium);
        color: var(--t5e-color-text-gold-emphasis);
        background-color: transparent;
        background-position: right 0 center;
        border: none;
        box-shadow: none;
        margin-right: 0.25rem;
        padding: 0 1rem 0 0;
        width: fit-content;

        &:hover,
        &:active,
        &:focus {
          background-color: transparent;
          text-shadow: 0 0 0.375rem var(--t5e-color-text-gold-emphasis);
          outline: none;

          option {
            background-color: transparent;
            text-shadow: none;
          }
        }
      }
    }

    li {
      width: 13.75rem;
      display: flex;
      flex-direction: row;
      justify-content: center;

      :is(button, .button) {
        padding-inline: 0;
      }

      .skill-ability {
        text-transform: uppercase;
      }

      .use-ability-roll-button {
        flex: 1;
        text-wrap: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }

      >* {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        min-width: var(--t5e-field-size-default);
        min-height: var(--t5e-field-size-default);
      }

      >i {
        justify-content: center;
      }

      .modifier,
      .passive {
        justify-content: flex-end;
        padding-right: var(--t5e-size-2x);
      }

      &:not(:last-child) {
        border-bottom: 0.0625rem solid var(--t5e-table-row-divider);
      }
    }

    &.saving-throws-ability-column {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      column-gap: var(--t5e-size-2x);
      border-bottom: 0.0625rem solid var(--t5e-component-card-default);
      box-sizing: content-box;
      position: relative;

      li {
        min-width: auto;
        flex: 1;
        flex-basis: calc(50% - var(--t5e-size-1x));
        max-width: calc(50% - var(--t5e-size-1x));
        border-bottom: 0.0625rem solid var(--t5e-table-row-divider);
      }

      /* Apply 100% width only if last child is odd-numbered */
      li:last-child:nth-child(odd) {
        flex-basis: 100%;
        max-width: 100%;
      }

      &::after {
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
        height: 0.0625rem;
        background-color: var(--t5e-component-card-default);
      }


      @container tab-right-column (inline-size < 27.5rem) {
        li {
          flex-basis: 100%;
          max-width: 100%;
        }
      }
    }
  }

  .level-selector {
    width: auto;
  }

  // Encumbrance
  .meter.encumbrance {
    .breakpoint {
      display: block;
      position: absolute;
      block-size: 0;
      inline-size: 0;
      border-inline: 0.1875rem solid transparent;

      &.encumbrance-low {
        inset-inline-start: var(--encumbrance-low);
      }

      &.encumbrance-high {
        inset-inline-start: var(--encumbrance-high);
      }

      &.arrow-up {
        inset-block-end: 0;
        border-block-end: 0.1875rem solid var(--t5e-color-gold);
      }

      &.arrow-down {
        inset-block-start: 0;
        border-top: 0.1875rem solid var(--t5e-color-gold);
      }

      transform: translateX(-50%);
      z-index: 1;
    }
  }

  .window-content .main-content>.tidy-tab.inventory {
    padding: 0;

    >* {
      margin-left: var(--t5e-size-4x);
      margin-right: var(--t5e-size-4x);
    }

    >:first-child {
      margin-top: var(--t5e-size-3x);
    }

    >:last-child {
      margin: 0 var(--t5e-size-3x) var(--t5e-size-3x);
      padding: var(--t5e-size-1x);
    }

  }

  .tidy-tab.journal {
    gap: 0.75rem;

    &.active {
      display: flex;
      flex-direction: row;
    }

    .journal-entry-selector {
      flex: 0;
      flex-basis: 12rem;
      display: flex;
      flex-direction: column;
    }

    .tidy-vertical-tab-strip {
      flex: 1;
      overflow-y: auto;
    }

    .action-buttons {
      display: flex;
      gap: 0.5rem;

      .add {
        flex: 1;
      }
    }

    .journal-entry-viewer {
      flex: 1;
      overflow-y: auto;
    }

    .title-container {

      .title {
        flex: 1;
      }
    }
  }

  &.theme-dark,
  .theme-dark {
    .use-ability-list {

      button.proficiency {
        --_fill: var(--t5e-theme-color-lighter);


        &.button-icon-only:hover {
          border: none;
          outline: none;
          background: transparent;
        }

        &:hover,
        &:focus,
        &:active {
          i {
            --_fill: var(--t5e-theme-color-lightest);
            color: var(--_fill);
          }
        }
      }
    }

    .tidy-tab.journal .page {
      &:hover {
        &::before {
          background: linear-gradient(to right, var(--t5e-color-palette-grey-19), transparent);
        }
      }

      &.selected {
        &::before {
          background: linear-gradient(to right, var(--t5e-color-palette-grey-21), transparent);
        }

        &::marker {
          color: var(--t5e-color-palette-gold-89);
        }
      }
    }
  }

  .actor-warnings-control {
    &::before {
      color: var(--t5e-color-yellow);
    }
  }

  dialog.warnings {
    position: fixed;
    width: 18.75rem;
    max-width: unset;
    max-height: unset;
    margin: 0;
    outline: none;
    padding: 0.25rem 0.5rem;
    color: var(--t5e-primary-font-color);
    background: var(--t5e-component-field-background);
    border: 0.0625rem solid var(--t5e-component-field-border);
    border-radius: 0.25rem;
    box-shadow: var(--t5e-drop-shadow-card);

    &::backdrop {
      background: none;
    }

    ol {
      display: flex;
      flex-direction: column;

      li {
        padding: 0.375rem 0.5rem;
        border-bottom: 0.09375rem dotted var(--t5e-component-card-lighter);

        &:last-child {
          border: none;
        }

        a {
          &:hover {
            text-shadow: none;
            text-decoration: underline dotted;
          }
        }

        &.warning::before,
        &.error::before {
          font-family: var(--font-awesome);
          font-weight: bold;
          color: var(--t5e-color-yellow);
          margin-right: 0.5rem;
        }

        &.warning::before {
          content: '\f071';
        }

        &.error::before {
          content: '\f06a';
          color: var(--t5e-color-text-lighter);
        }
      }
    }
  }
}