/* ---------------------------------- */
/*  All Tidy5e Apps                   */
/* ---------------------------------- */

.tidy5e-sheet.application:where(.quadrone) {
  --minimized-width: 18.75rem;
  --color-scrollbar: rgba(0, 0, 0, 0.35);

  /* Application window */
  border-radius: 0.3125rem;
  border: 0.0625rem solid var(--t5e-color-gold);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.25),
    0px 0px 12px 0px rgba(0, 0, 0, 0.5);

  /* Font Color */
  &:not(.minimized) {
    --color-light-text-heading: var(--t5e-color-text-ondefault-lighter);
  }

  color: var(--t5e-color-text-ondefault-default);

  /* Sheet Body Typography */
  font-family: var(--font-family-default, var(--t5e-font-roboto-condensed));
  font-size: var(--font-size-13, 0.8125rem);
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: var(--t5e-color-text-ondefault-default);
    text-shadow: none;
    border: none;
    margin: 0;
  }

  h1,
  h2,
  h3 {
    font-family: var(--t5e-font-modesto-condensed);
  }

  h4,
  h5,
  h6 {
    font-family: var(--t5e-font-roboto-condensed);
    font-size: var(--font-size-13);
    font-style: normal;
    font-weight: 600;
    line-height: var(--font-size-16);
    letter-spacing: 0.00813rem;
  }

  h1 {
    font-size: var(--font-size-46);
    line-height: var(--font-size-56);
    font-weight: 400;
  }

  h2 {
    font-size: var(--font-size-28);
    line-height: var(--font-size-32);
    font-weight: 400;
    letter-spacing: 0.0175rem;
  }

  h3 {
    font-size: var(--font-size-14);
    line-height: var(--font-size-14);
    font-weight: 400;
    letter-spacing: 0.00875rem;
  }

  h4 {
    font-size: var(--font-size-13, 0.8125rem);
    font-style: normal;
    font-weight: 600;
    line-height: var(--font-size-16);
    letter-spacing: 0.00813rem;
  }

  h5 {
    font-size: var(--font-size-12);
    line-height: var(--font-size-15);
  }

  h6 {
    font-size: var(--font-size-11);
    line-height: var(--font-size-14);
  }

  /* Window Header */
  .window-header {
    border: none;
    align-items: center;

    > * {
      max-block-size: 100%;
    }
  }

  &.application {
    &:not(.minimized) .window-header {
      background: none;
    }
  }

  .controls-dropdown {
    background: var(--t5e-component-card-ondefault-default);
    border-radius: 0.3125rem;
    transition: none;

    &.expanded {
      box-shadow: 0 0 0.375rem var(--dnd5e-shadow-45);
    }

    .header-control > button {
      justify-content: flex-start;
      gap: 0.5rem;
      --button-text-color: var(--t5e-color-text-ondefault-default);
      --button-hover-text-color: var(--t5e-color-text-ondefault-default);

      &:hover {
        background: var(--t5e-component-card-ondefault-darker);
      }
    }
  }

  &[data-tidy-lock-configure-sheet='true']
    .window-header
    [data-action='configureSheet'] {
    display: none;
  }

  /* Currencies */
  .currency-tracker {
    display: flex;
    gap: 0.25rem;

    input {
      text-align: right;
    }

    .denomination {
      text-transform: uppercase;
    }

    .input-group {
      gap: 0.25rem;
      padding-block: 0.25rem;
      height: 1.75rem;
    }

    .button.icon-button {
      --size: 1.75rem;

      i {
        font-size: 0.6875rem;
      }
    }
  }

  :is(i, span).currency {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: transparent no-repeat center / contain;

    &.cp {
      background-image: url('../../systems/dnd5e/icons/currency/copper.webp');
    }
    &.sp {
      background-image: url('../../systems/dnd5e/icons/currency/silver.webp');
    }
    &.ep {
      background-image: url('../../systems/dnd5e/icons/currency/electrum.webp');
    }
    &.gp {
      background-image: url('../../systems/dnd5e/icons/currency/gold.webp');
    }
    &.pp {
      background-image: url('../../systems/dnd5e/icons/currency/platinum.webp');
    }
  }

  .inverse {
    color: var(--t5e-color-text-oninverse-default);
  }

  /* Prose Mirror Editor Customizations */

  .editor {
    .secret {
      border-radius: var(--t5e-component-card-radius);
      border: 0.0625rem solid var(--t5e-table-row-divider);
      background: var(--t5e-component-card-ondefault-darker);
      mix-blend-mode: multiply;
    }
  }

  .inline-roll,
  .content-link,
  .enricher-action,
  a.roll-link-group,
  .roll-link a {
    --icon-fill: var(--t5e-color-gold);

    border: none;
    background: none;
    font-weight: 500;

    i {
      color: var(--icon-fill);
    }

    &:hover {
      --icon-fill: var(--t5e-color-text-oninverse-gold-emphasis);
      text-shadow: 0px 0px 6px var(--t5e-color-text-oninverse-gold-emphasis);
    }
  }

  .enricher-action {
    margin-inline: 0.0625rem;
    padding-inline-start: 0;

    i {
      margin: 0;
    }
  }

  .secret {
    .reveal {
      padding: 0.25rem 0.5rem;
    }
  }

  /* Item Summary */
  .item-summary {
    flex: 0 0 100%;
    padding-top: var(--item-summary-padding-top, 0);
    padding-right: var(--item-summary-padding-right, 0.5rem);
    padding-bottom: var(--item-summary-padding-bottom, 0.25rem);
    padding-left: var(--item-summary-padding-left, 0.5rem);
    border-top: 0.0625rem solid var(--t5e-faint-color);
    font-size: 0.75rem;

    p:not(:first-child) {
      margin-top: 0.5em;
    }

    // TODO: Remove the line separator and this style when App V1 is eliminated
    .horizontal-line-separator {
      display: none;
    }
    .inline-wrapped-elements {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    .inline-wrapped-elements:last-of-type {
      margin-bottom: 0;
    }
  }
}
