.tidy5e-sheet.application:where(.quadrone) {

  .editor,
  .editor-rendered-content {

    h1,
    h2,
    h3,
    h4 {
      // font-family: var(--t5e-font-modesto-condensed);
      font-weight: 400;
      line-height: 100%;
    }

    h1 {
      font-size: var(--font-size-28);
      margin-top: var(--t5e-size-5x);
      margin-bottom: var(--t5e-size-2x);
    }

    h2 {
      font-size: var(--font-size-24);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    h3 {
      font-size: var(--font-size-20);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    h4 {
      font-size: var(--font-size-15);
      font-weight: 600;
      margin-top: var(--t5e-size-4x);
      margin-bottom: var(--t5e-size-2x);
    }

    h5 {
      font-size: var(--font-size-14);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    h6 {
      font-size: var(--font-size-12);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    p {
      font: var(--t5e-font-default-longform);
    }

    li {
      margin: none;

      > :first-child {
        margin-top: var(--t5e-size-1x);
      }

      > :last-child {
        margin-bottom: var(--t5e-size-1x);
      }

      > :only-child {
        margin-top: var(--t5e-size-1x);
        margin-bottom: var(--t5e-size-1x);
      }

      /* Reset margins for nested lists */
      >ul,
      >ol {
        margin-top: 0;
        margin-bottom: 0;

        /* But maintain the spacing pattern for their list items */
        >li:first-child {
          margin-top: var(--t5e-size-1x);
        }

        >li:last-child {
          margin-bottom: var(--t5e-size-1x);
        }
      }
    }

    ul li::marker {
      color: var(--t5e-theme-color-default);
    }

    ul ul li::marker {
      color: var(--t5e-theme-color-darkest);
    }

    ul ul ul li::marker {
      color: var(--t5e-theme-color-lighter);
    }

    ol li::marker {
      color: var(--t5e-color-text-lighter);
    }

    table {
      margin: 0;
      border: none;
      border-collapse: collapse;
      border-radius: var(--t5e-size-1x);

      thead {
        --table-header-text-color: var(--t5e-color-palette-grey-100);

        background: linear-gradient(to right,
            var(--t5e-theme-color-darkest) 0%,
            var(--t5e-theme-color-default) 100%);
        font: var(--t5e-font-label-medium);
        text-shadow: none;
        border: none;

        th {
          line-height: 1.25;
          padding: var(--t5e-size-halfx) var(--t5e-size-2x);
        }
      }

      th,
      td {
        border: none;
        border-collapse: collapse;
      }

      td {
        padding: var(--t5e-size-1x) var(--t5e-size-2x);

        &:not(:last-child) {
          border-right: 1px solid var(--t5e-color-gold);
        }

        >*:first-child {
          margin-top: 0;
        }

        >*:last-child {
          margin-bottom: 0;
        }
      }

      &.roll-table-rollable {
        th:first-child {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        button.fas {
          font-family: "Font Awesome 6 Pro";
          padding: 0 0 1px;
          min-height: var(--t5e-table-button-width);
          width: var(--t5e-table-button-width);
          display: flex;
          align-items: center;
          border-radius: 100%;
          margin-left: -0.25rem;


          &::before {
            font-weight: 900;
            color: var(--t5e-color-palette-white);
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.5);

          }
        }

        tr:not(.drawn)>td:first-child {
          padding-left: var(--t5e-size-2x);
          text-align: center;
        }
      }

      tbody {
        tr {

          &:nth-child(odd) {
            background: var(--t5e-component-card-lighter);
          }

          &:nth-child(even) {
            background: var(--t5e-component-card-darker);
          }
        }
      }
    }

    .secret {
      background-color: rgba(0, 0, 0, 0.12);
      padding: var(--t5e-size-2x);
      border-radius: var(--t5e-component-card-radius);
      border: 1px solid var(--t5e-theme-color-darker);
      transition: all var(--t5e-transition-default);

      // TODO: Use primary button style to "Reveal" and secondary for "Hide"
      // Need to inject button classes, but we're not able to yet.
      &.revealed {
        border-radius: 0;
        padding: var(--t5e-size-2x) 0;
        background: none;
        border-width: 1px 0;
      }

      &:not(.revealed) {
        color: var(--t5e-color-text-lighter);
      }

      .reveal {
        padding: 0.25rem 0.5rem;
        margin: 0;
        border: 1px solid var(--t5e-component-field-border);
        background: var(--t5e-component-field-background);

        &:hover {
          background: var(--t5e-component-field-background-hover);
          border-color: var(--t5e-component-field-border-hover);
        }
      }

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    blockquote {
      border-color: var(--t5e-theme-color-lightest);
      padding-top: var(--t5e-size-1x);
      padding-bottom: var(--t5e-size-1x);
      padding-left: var(--t5e-size-3x);
      padding-right: var(--t5e-size-3x);

      em {
        font-style: italic;
      }
    }

    hr {
      margin-top: calc(var(--t5e-size-1x) + var(--t5e-size-halfx));
      background-image: linear-gradient(to right,
          transparent 5%,
          var(--t5e-color-palette-gold-62) 30%,
          var(--t5e-color-palette-gold-62) 70%,
          transparent 95%);
    }

    .fvtt {
      &:is(.advice, .narrative, .quest) {
        background-color: var(--t5e-component-card-lighter);
      }

      &:is(.quest, .advice) {
        --img-size: 64px;
        position: relative;
        border: 2px solid var(--t5e-color-gold);
        box-shadow: var(--t5e-drop-shadow-pill);
        margin: var(--t5e-size-4x) var(--t5e-size-4x) var(--t5e-size-4x) calc(var(--img-size) / 2);
        padding: var(--t5e-size-3x) var(--t5e-size-3x) var(--t5e-size-3x) calc(var(--img-size) / 2 + var(--t5e-size-3x));

        :first-child {
          margin-top: 0;
        }

        :last-child {
          margin-bottom: 0;
        }

        >figure {
          position: absolute;
          width: var(--img-size);
          height: var(--img-size);
          margin: 0;
          left: calc(var(--img-size) / -2);
          top: calc(50% - var(--img-size) / 2);

          img.round {
            background: var(--t5e-component-card-lighter);
            border: 4px solid var(--t5e-color-gold);
            border-radius: 100%;
            box-shadow: var(--t5e-drop-shadow-card);
          }
        }
      }

      &.narrative {
        position: relative;
        margin: var(--t5e-size-4x) var(--t5e-size-3x);
        padding: var(--t5e-size-4x) var(--t5e-size-5x);
        border-left: 1px solid var(--t5e-color-gold);
        border-right: 1px solid var(--t5e-color-gold);
        text-align: justify;
        --dot-size: 8px;
        box-shadow: var(--t5e-drop-shadow-pill);


        &::before,
        &::after {
          top: calc(var(--dot-size) / -2);
        }

        &::before,
        >p:last-of-type::before {
          left: calc(var(--dot-size) / -2);
        }

        &::after,
        >p:last-of-type::after {
          right: calc(var(--dot-size) / -2);
        }

        >p:last-of-type::before,
        >p:last-of-type::after {
          bottom: calc(var(--dot-size) / -2);
        }


        &::before,
        >p:last-of-type::before {
          content: "";
          position: absolute;
          width: var(--dot-size);
          height: var(--dot-size);
          border-radius: 100%;
          background: var(--t5e-color-gold);
        }

        &::after,
        >p:last-of-type::after {
          content: "";
          position: absolute;
          width: var(--dot-size);
          height: var(--dot-size);
          border-radius: 100%;
          background: var(--t5e-color-gold);
        }
      }
    }

    aside.notable {
      margin: var(--t5e-size-5x) var(--t5e-size-3x);
      padding: var(--t5e-size-4x) var(--t5e-size-5x);
      filter: drop-shadow(0 5px 8px rgba(0, 0, 0, 0.16));
      box-shadow: var(--t5e-drop-shadow-pill);
      border-top: 2px solid var(--t5e-color-gold);
      border-bottom: 2px solid var(--t5e-color-gold);
      border-left: 1px solid var(--t5e-color-text-gold-light);
      border-right: 1px solid var(--t5e-color-text-gold-light);
      background: var(--t5e-component-card-darker);

      &::before,
      &::after {
        content: "";
        background-image: url(/images/notable-right-corner.svg), url(/images/notable-left-corner.svg);
        background-position: 0, 100%;
        background-size: contain;
        background-repeat: no-repeat;
        filter: grayscale(1) brightness(0.15);
        opacity: 0.5;
        height: 11px;
        position: absolute;
        left: 0;
        z-index: -1;
      }

      &::before {
        top: -13px;
        right: 0;
      }

      &::after {
        bottom: -13px;
        right: 0;
        transform: scaleY(-1);
      }
    }
  }

  .editor {
    figure {
      margin: var(--t5e-size-2x) 0;
    }

    figcaption {
      display: flex;
      flex-direction: column;
      gap: var(--t5e-size-2x);
      text-align: right;
      font-style: italic;
    }
  }

  .editor-rendered-content {
    flex: 0 0 100%;
    margin-top: var(--t5e-size-2x);
    padding-right: var(--t5e-size-2x);
    padding-left: var(--t5e-size-2x);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right,
        rgba(143, 123, 78, 0) 0%,
        rgba(143, 123, 78, 0.25) 20%,
        rgba(143, 123, 78, 0.25) 80%,
        rgba(143, 123, 78, 0) 100%) 0 0 1 0;


    >*:first-child {
      margin-top: 0;
    }

    >*:last-child {
      margin-bottom: 0;
    }

    p:not(:first-child) {
      margin-top: 0.5em;
    }

    // TODO: Remove the line separator and this style when App V1 is eliminated
    .horizontal-line-separator {
      display: none;
    }

    .inline-wrapped-elements {
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-1x);
    }

    .left-aligned-elements {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;
      align-items: center;
    }

    .right-aligned-elements {
      display: flex;
      flex-grow: 0;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;
    }


    // button.item-summary-command {
    //   width: auto;
    //   line-height: 1rem;
    //   padding: var(--t5e-size-1x);
    //   background: none; //var(--t5e-component-field-background);
    //   color: var(--t5e-color-text-lighter);
    //   border: none; // 0.0625rem solid var(--t5e-component-field-border);
    //   font-size: var(--font-size-12);
    //   margin: -0.25rem 0;

    //   display: inline-flex;
    //   align-items: center;
    //   gap: 0.25rem;
    //   height: var(--t5e-tag-size-default);
    //   min-height: var(--t5e-tag-size-default);

    //   i {
    //     color: var(--t5e-color-icon-diminished);
    //   }

    //   &:hover {
    //     color: var(--t5e-color-text-default);
    //     background: var(--t5e-component-field-background-hover);
    //     border-color: var(--t5e-component-field-border-hover);

    //     i {
    //       color: var(--t5e-color-icon-default);
    //     }
    //   }
    // }
  }


  .statblock.npc {
    --statblock-text-secondary: var(--t5e-color-text-lighter);
    --statblock-border: var(--t5e-color-gold);
    --statblock-column-width: 100%;
    --statblock-text-primary: var(--t5e-color-text-default);
    --statblock-text-header: var(--t5e-theme-color-darkest);
    --statblock-background: rgba(0, 0, 0, 0.08);
    --statblock-dividers: var(--t5e-theme-color-darker);
    --statblock-ability-header-1st: rgba(0, 0, 0, 0.08);
    --statblock-ability-header-2nd: rgba(0, 0, 0, 0.16);
    --statblock-ability-stat-1st: rgba(0, 0, 0, 0.16);
    --statblock-ability-stat-2nd: rgba(0, 0, 0, 0.24);
    box-shadow: none;
    background: none;
    --notchSize: 8px;
    position: relative;
    clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
    background: var(--t5e-color-gold);
    box-shadow: 0 0 4px 0 var(--t5e-color-gold);
    padding: 1rem 1.25rem;
    border: none;
    color: var(--t5e-color-text-default);
    // max-width: 100%;

    &::before {
      clip-path: polygon(0% var(--notchSize), var(--notchSize) 0%, calc(100% - var(--notchSize)) 0%, 100% var(--notchSize), 100% calc(100% - var(--notchSize)), calc(100% - var(--notchSize)) 100%, var(--notchSize) 100%, 0% calc(100% - var(--notchSize)));
      position: absolute;
      background: var(--t5e-component-card-darker);
      content: '';
      z-index: -1;
      top: 2px;
      left: 2px;
      bottom: 2px;
      right: 2px;
    }

    &::after {
      position: absolute;
      content: '';
      border: 2px solid var(--t5e-color-gold);
      border-radius: 26px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      pointer-events: none;
    }

    p {
      margin: 0;
      display: inline;
    }

    .statblock-title {
      margin-top: var(--t5e-size-halfx);
      border-bottom: 1px solid var(--statblock-dividers);

      a {
        align-items: center;
        background: none;
        color: var(--statblock-text-header);
        display: flex;
        font: var(--t5e-font-title-medium);
        font-size: var(--font-size-24);
        transition: all var(--t5e-transition-default);

        i {
          font-size: var(--font-size-16);

          &::before {
            content: '\f6d5';
          }
        }

        &:hover {
          color: var(--t5e-color-text-default);
        }
      }
    }

    .statblock-tags {
      color: var(--t5e-color-text-lighter);
    }

    .statblock-header {
      padding-bottom: var(--t5e-size-1x);

      dl {
        div {
          display: flex;
          gap: var(--t5e-size-1x);
          margin-bottom: var(--t5e-size-halfx);

          &.half-width {}

          dt {
            padding-right: var(--t5e-size-halfx);
          }

          dd {
            margin-bottom: 0;
          }

          >* {
            line-height: normal;
            margin: 0;
            padding: 0;
          }
        }
      }

      .abilities {
        margin-bottom: var(--t5e-size-3x);

        td {
          color: var(--statblock-text-primary);
        }

        thead {
          th {
            font: var(--t5e-font-label-small);
            color: var(--t5e-color-text-lighter);
            text-transform: initial;
          }
        }

        tbody {
          tr {}

          th {
            font-variant: normal;
            text-transform: uppercase;
            font-weight: var(--font-weight-label);
          }
        }
      }
    }


    .statblock-actions {
      >* {
        margin-bottom: 0.375rem;
        display: flex;
        flex-direction: column;
      }

      .statblock-action {
        align-items: baseline;
        gap: var(--t5e-size-1x);

        .name {
          display: inline;

          &::after {
            content: '.';
            display: inline;
          }
        }

        >* {
          display: inline;
        }
      }

      h5.statblock-actions-title {
        border-bottom: 1px solid var(--statblock-dividers);
        // color: var(--t5e-theme-color-darkest);
        font: var(--t5e-font-title-small);
        font-size: var(--font-size-20);
      }
    }

    .name {
      font: var(--t5e-font-label-medium);
    }
  }

  .flexible-editor-container {
    flex: 1;
    
    display: flex;
    flex-direction: column;

    prose-mirror {
      flex: 1;
    }
  }

  fieldset .editor-rendered-content {
    flex: auto;
    margin-top: var(--t5e-size-1x);
    margin-bottom: var(--t5e-size-1x);
    border: none;
  }

  // &.theme-light {
  //   button.item-summary-command {
  //     box-shadow: none;
  //     text-shadow: var(--t5e-drop-shadow-field);

  //     &:hover {
  //       background: none;
  //       border-color: var(--t5e-component-field-border-hover);
  //     }
  //   }
  // }


  &.theme-dark {

    .editor,
    .editor-rendered-content {
      a[href] {

        &:hover,
        &:focus {
          // color: white;
          text-shadow: 0px 0px 6px 0px var(--t5e-color-text-gold-emphasis);
        }
      }

      blockquote {
        border-color: var(--t5e-theme-color-default);
      }

      .callout {
        // TODO: make cool callout UI here
      }

      hr {
        background-image: linear-gradient(to right,
            transparent 5%,
            var(--t5e-color-palette-gold-56) 30%,
            var(--t5e-color-palette-gold-56) 70%,
            transparent 95%);
      }

      .secret {
        background-color: rgba(0, 0, 0, 0.5);

        &.revealed {
          background: none;
        }
      }

      .gm-only {
        color: var(--t5e-color-text-lightest);
        font-weight: var(--font-weight-label);
        font-style: italic;
      }

      aside.notable {
        background: var(--t5e-component-card-lighter);
        border-color: var(--t5e-component-card-darker);

      }


      ul li::marker {
        color: var(--t5e-color-text-gold);
      }

      ul ul li::marker {
        color: var(--t5e-color-text-gold-emphasis);
      }

      ul ul ul li::marker {
        color: var(--t5e-color-text-lighter);
      }

      ol li::marker {
        color: var(--t5e-color-text-lighter);
      }
    }

    .statblock.npc {
      --statblock-text-primary: var(--t5e-color-text-default);
      --statblock-text-header: var(--t5e-color-text-lighter);
      --statblock-dividers: var(--t5e-theme-color-default);
      --statblock-background: rgba(255, 255, 255, 0.12);
      --statblock-ability-header-1st: rgba(255, 255, 255, 0.12);
      --statblock-ability-header-2nd: rgba(255, 255, 255, 0.24);
      --statblock-ability-stat-1st: rgba(255, 255, 255, 0.24);
      --statblock-ability-stat-2nd: rgba(255, 255, 255, 0.32);
    }
  }
}