.tidy5e-sheet.application:where(.quadrone) {

  .editor,
  .editor-rendered-content {

    h1,
    h2,
    h3,
    h4 {
      // font-family: var(--t5e-font-modesto-condensed);
      font-weight: 400;
      line-height: 100%;
    }

    h1 {
      font-size: var(--font-size-28);
      margin-top: var(--t5e-size-5x);
      margin-bottom: var(--t5e-size-2x);
    }

    h2 {
      font-size: var(--font-size-24);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    h3 {
      font-size: var(--font-size-20);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    h4 {
      font-size: var(--font-size-15);
      font-weight: 600;
      margin-top: var(--t5e-size-4x);
      margin-bottom: var(--t5e-size-2x);
    }

    h5 {
      font-size: var(--font-size-14);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    h6 {
      font-size: var(--font-size-12);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    p {
      font: var(--t5e-font-default-longform);
    }

    li {
      margin: none;

      > :first-child {
        margin-top: var(--t5e-size-1x);
      }

      > :last-child {
        margin-bottom: var(--t5e-size-1x);
      }

      > :only-child {
        margin-top: var(--t5e-size-1x);
        margin-bottom: var(--t5e-size-1x);
      }

      /* Reset margins for nested lists */
      >ul,
      >ol {
        margin-top: 0;
        margin-bottom: 0;

        /* But maintain the spacing pattern for their list items */
        >li:first-child {
          margin-top: var(--t5e-size-1x);
        }

        >li:last-child {
          margin-bottom: var(--t5e-size-1x);
        }
      }
    }

    ul li::marker {
      color: var(--t5e-theme-color-default);
    }

    ul ul li::marker {
      color: var(--t5e-theme-color-darkest);
    }

    ul ul ul li::marker {
      color: var(--t5e-theme-color-lighter);
    }

    ol li::marker {
      color: var(--t5e-color-text-lighter);
    }

    table {
      margin: 0;
      border: none;
      border-collapse: collapse;
      border-radius: var(--t5e-size-1x);

      thead {
        --table-header-text-color: var(--t5e-color-palette-grey-100);

        background: linear-gradient(to right,
            var(--t5e-theme-color-darkest) 0%,
            var(--t5e-theme-color-default) 100%);
        font: var(--t5e-font-label-medium);
        text-shadow: none;
        border: none;

        th {
          padding: var(--t5e-size-halfx) var(--t5e-size-2x);
        }
      }

      th,
      td {
        border: none;
        border-collapse: collapse;
      }

      td {
        padding: var(--t5e-size-1x) var(--t5e-size-2x);

        &:not(:last-child) {
          border-right: 1px solid var(--t5e-color-gold);
        }

        >*:first-child {
          margin-top: 0;
        }

        >*:last-child {
          margin-bottom: 0;
        }
      }

      tbody {
        tr {

          &:nth-child(odd) {
            background: var(--t5e-component-card-lighter);
          }

          &:nth-child(even) {
            background: var(--t5e-component-card-darker);
          }
        }
      }
    }

    .secret {
      background-color: rgba(0, 0, 0, 0.12);
      padding: var(--t5e-size-2x);
      border-radius: var(--t5e-component-card-radius);
      border: 1px solid var(--t5e-theme-color-darker);
      transition: all var(--t5e-transition-default);

      // TODO: Use primary button style to "Reveal" and secondary for "Hide"
      // Need to inject button classes, but we're not able to yet.
      &.revealed {
        border-radius: 0;
        padding: var(--t5e-size-2x) 0;
        background: none;
        border-width: 1px 0;
      }

      &:not(.revealed) {
        color: var(--t5e-color-text-lighter);
      }

      .reveal {
        padding: 0.25rem 0.5rem;
        margin: 0;
        border: 1px solid var(--t5e-component-field-border);
        background: var(--t5e-component-field-background);

        &:hover {
          background: var(--t5e-component-field-background-hover);
          border-color: var(--t5e-component-field-border-hover);
        }
      }

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }

    }

    blockquote {
      border-color: var(--t5e-theme-color-lightest);
      padding-top: var(--t5e-size-1x);
      padding-bottom: var(--t5e-size-1x);
      padding-left: var(--t5e-size-3x);
      padding-right: var(--t5e-size-3x);
    }

    hr {
      margin-top: calc(var(--t5e-size-1x) + var(--t5e-size-halfx));
      background-image: linear-gradient(to right,
          transparent 5%,
          var(--t5e-color-palette-gold-62) 30%,
          var(--t5e-color-palette-gold-62) 70%,
          transparent 95%);
    }
  }

  .editor-rendered-content {
    flex: 0 0 100%;
    margin-top: var(--t5e-size-2x);
    padding-right: var(--t5e-size-2x);
    margin-bottom: var(--t5e-size-halfx);
    padding-left: var(--t5e-size-2x);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right,
        rgba(143, 123, 78, 0) 0%,
        rgba(143, 123, 78, 0.25) 20%,
        rgba(143, 123, 78, 0.25) 80%,
        rgba(143, 123, 78, 0) 100%) 0 0 1 0;


    >*:first-child {
      margin-top: 0;
    }

    >*:last-child {
      margin-bottom: 0;
    }

    p:not(:first-child) {
      margin-top: 0.5em;
    }

    // TODO: Remove the line separator and this style when App V1 is eliminated
    .horizontal-line-separator {
      display: none;
    }

    .inline-wrapped-elements {
      margin-top: var(--t5e-size-3x);
      margin-bottom: calc(var(--t5e-size-1x) + var(--t5e-size-halfx));
    }

    .left-aligned-elements {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;
    }

    .right-aligned-elements {
      display: flex;
      flex-grow: 0;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;
    }


    button.item-summary-command {
      width: auto;
      line-height: 1rem;
      padding: var(--t5e-size-1x);
      background: none; //var(--t5e-component-field-background);
      color: var(--t5e-color-text-lighter);
      border: none; // 0.0625rem solid var(--t5e-component-field-border);
      font-size: var(--font-size-12);
      margin: -0.25rem 0;

      display: inline-flex;
      align-items: center;
      gap: 0.25rem;
      height: var(--t5e-tag-size-default);
      min-height: var(--t5e-tag-size-default);

      i {
        color: var(--t5e-color-icon-diminished);
      }

      &:hover {
        color: var(--t5e-color-text-default);
        background: var(--t5e-component-field-background-hover);
        border-color: var(--t5e-component-field-border-hover);

        i {
          color: var(--t5e-color-icon-default);
        }
      }
    }
  }

  fieldset .editor-rendered-content {
    flex: auto;
    margin-top: var(--t5e-size-1x);
    margin-bottom: var(--t5e-size-1x);
    border: none;
  }

  &.theme-light {
    button.item-summary-command {
      box-shadow: none;
      text-shadow: var(--t5e-drop-shadow-field);

      &:hover {
        background: none;
        border-color: var(--t5e-component-field-border-hover);
      }
    }
  }

  &.theme-dark {

    .editor,
    .editor-rendered-content {
      a[href] {

        &:hover,
        &:focus {
          // color: white;
          text-shadow: 0px 0px 6px 0px var(--t5e-color-text-gold-emphasis);
        }
      }

      blockquote {
        border-color: var(--t5e-theme-color-default);
      }

      .callout {
        // TODO: make cool callout UI here
      }

      hr {
        background-image: linear-gradient(to right,
            transparent 5%,
            var(--t5e-color-palette-gold-56) 30%,
            var(--t5e-color-palette-gold-56) 70%,
            transparent 95%);
      }

      .secret {
        background-color: rgba(0, 0, 0, 0.5);

        &.revealed {
          background: none;
        }
      }

      .gm-only {
        color: var(--t5e-color-text-lightest);
        font-weight: var(--font-weight-label);
        font-style: italic;
      }


      ul li::marker {
        color: var(--t5e-color-text-gold);
      }

      ul ul li::marker {
        color: var(--t5e-color-text-gold-emphasis);
      }

      ul ul ul li::marker {
        color: var(--t5e-color-text-lighter);
      }

      ol li::marker {
        color: var(--t5e-color-text-lighter);
      }
    }
  }
}