.tidy5e-sheet.application:where(.quadrone) {

  .editor,
  .editor-rendered-content {

    word-wrap: anywhere;

    h1,
    h2,
    h3,
    h4 {
      // font-family: var(--t5e-font-modesto-condensed);
      font-weight: 400;
      line-height: 100%;
    }

    h1 {
      font-size: var(--font-size-28);
      margin-top: var(--t5e-size-5x);
      margin-bottom: var(--t5e-size-2x);
    }

    h2 {
      font-size: var(--font-size-24);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    h3 {
      font-size: var(--font-size-20);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    h4 {
      font-size: var(--font-size-15);
      font-weight: 600;
      margin-top: var(--t5e-size-4x);
      margin-bottom: var(--t5e-size-2x);
    }

    h5 {
      font-size: var(--font-size-14);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    h6 {
      font-size: var(--font-size-12);
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-2x);
    }

    p {
      font: var(--t5e-font-default-longform);
    }

    li {
      margin: none;

      > :first-child {
        margin-top: var(--t5e-size-1x);
      }

      > :last-child {
        margin-bottom: var(--t5e-size-1x);
      }

      > :only-child {
        margin-top: var(--t5e-size-1x);
        margin-bottom: var(--t5e-size-1x);
      }

      /* Reset margins for nested lists */
      >ul,
      >ol {
        margin-top: 0;
        margin-bottom: 0;

        /* But maintain the spacing pattern for their list items */
        >li:first-child {
          margin-top: var(--t5e-size-1x);
        }

        >li:last-child {
          margin-bottom: var(--t5e-size-1x);
        }
      }
    }

    ul li::marker {
      color: var(--t5e-theme-color-default);
    }

    ul ul li::marker {
      color: var(--t5e-theme-color-darkest);
    }

    ul ul ul li::marker {
      color: var(--t5e-theme-color-lighter);
    }

    ol li::marker {
      color: var(--t5e-color-text-lighter);
    }

    table {
      margin: 0;
      border: none;
      border-collapse: collapse;
      border-radius: var(--t5e-size-1x);

      thead {
        --table-header-text-color: var(--t5e-color-palette-grey-100);

        background: linear-gradient(to right,
            var(--t5e-theme-color-darkest) 0%,
            var(--t5e-theme-color-default) 100%);
        font: var(--t5e-font-label-medium);
        text-shadow: none;
        border: none;

        th {
          line-height: 1.25;
          padding: var(--t5e-size-halfx) var(--t5e-size-2x);
          color: var(--t5e-color-palette-white);
        }
      }

      th,
      td {
        border: none;
        border-collapse: collapse;
      }

      td {
        padding: var(--t5e-size-1x) var(--t5e-size-2x);

        &:not(:last-child) {
          border-right: 0.0625rem solid var(--t5e-color-gold);
        }

        >*:first-child {
          margin-top: 0;
        }

        >*:last-child {
          margin-bottom: 0;
        }
      }

      &.roll-table-rollable {
        th:first-child {
          display: flex;
          align-items: center;
          justify-content: center;
        }

        :is(button, .button):is(.fas, .icon) {
          font-family: "Font Awesome 6 Pro";
          padding: 0 0 0.0625rem;
          min-height: var(--t5e-table-button-width);
          width: var(--t5e-table-button-width);
          display: flex;
          align-items: center;
          border-radius: 100%;
          margin-left: -0.25rem;


          &::before {
            font-weight: 900;
            color: var(--t5e-color-palette-white);
          }

          &:hover {
            background-color: rgba(0, 0, 0, 0.5);

          }
        }

        tr:not(.drawn)>td:first-child {
          padding-left: var(--t5e-size-2x);
          text-align: center;
        }
      }

      tbody {
        tr {

          &:nth-child(odd) {
            background: var(--t5e-component-card-lighter);
          }

          &:nth-child(even) {
            background: var(--t5e-component-card-darker);
          }
        }
      }
    }

    .secret {
      background-color: rgba(0, 0, 0, 0.12);
      padding: var(--t5e-size-2x);
      border-radius: var(--t5e-component-card-radius);
      border: 0.0625rem solid var(--t5e-theme-color-darker);
      transition: all var(--t5e-transition-default);

      // TODO: Use primary button style to "Reveal" and secondary for "Hide"
      // Need to inject button classes, but we're not able to yet.
      &.revealed {
        border-radius: 0;
        padding: var(--t5e-size-2x) 0;
        background: none;
        border-width: 0.0625rem 0;
      }

      &:not(.revealed) {
        color: var(--t5e-color-text-lighter);
      }

      .reveal {
        padding: 0.25rem 0.5rem;
        margin: 0;
        border: 0.0625rem solid var(--t5e-component-field-border);
        background: var(--t5e-component-field-background);

        &:hover {
          background: var(--t5e-component-field-background-hover);
          border-color: var(--t5e-component-field-border-hover);
        }
      }

      > :first-child {
        margin-top: 0;
      }

      > :last-child {
        margin-bottom: 0;
      }
    }

    blockquote {
      border-left: 0.1875rem solid var(--t5e-theme-color-lightest);
      padding-top: var(--t5e-size-1x);
      padding-bottom: var(--t5e-size-1x);
      padding-left: var(--t5e-size-3x);
      padding-right: var(--t5e-size-3x);

      em {
        font-style: italic;
      }
    }

    hr {
      margin-top: calc(var(--t5e-size-1x) + var(--t5e-size-halfx));
      background-image: linear-gradient(to right,
          transparent 5%,
          var(--t5e-color-palette-gold-62) 30%,
          var(--t5e-color-palette-gold-62) 70%,
          transparent 95%);
    }

    .fvtt {
      &:is(.advice, .narrative, .quest) {
        background-color: var(--t5e-component-card-lighter);
      }

      &:is(.quest, .advice) {
        --img-size: 4rem;
        position: relative;
        border: 0.125rem solid var(--t5e-color-gold);
        box-shadow: var(--t5e-drop-shadow-pill);
        margin: var(--t5e-size-4x) var(--t5e-size-4x) var(--t5e-size-4x) calc(var(--img-size) / 2);
        padding: var(--t5e-size-3x) var(--t5e-size-3x) var(--t5e-size-3x) calc(var(--img-size) / 2 + var(--t5e-size-3x));

        :first-child {
          margin-top: 0;
        }

        :last-child {
          margin-bottom: 0;
        }

        >figure {
          position: absolute;
          width: var(--img-size);
          height: var(--img-size);
          margin: 0;
          left: calc(var(--img-size) / -2);
          top: calc(50% - var(--img-size) / 2);

          img.round {
            background: var(--t5e-component-card-lighter);
            border: 0.25rem solid var(--t5e-color-gold);
            border-radius: 100%;
            box-shadow: var(--t5e-drop-shadow-card);
          }
        }
      }

      &.narrative {
        position: relative;
        margin: var(--t5e-size-4x) var(--t5e-size-3x);
        padding: var(--t5e-size-4x) var(--t5e-size-5x);
        border-left: 0.0625rem solid var(--t5e-color-gold);
        border-right: 0.0625rem solid var(--t5e-color-gold);
        text-align: justify;
        --dot-size: 0.5rem;
        box-shadow: var(--t5e-drop-shadow-pill);


        &::before,
        &::after {
          top: calc(var(--dot-size) / -2);
        }

        &::before,
        >p:last-of-type::before {
          left: calc(var(--dot-size) / -2);
        }

        &::after,
        >p:last-of-type::after {
          right: calc(var(--dot-size) / -2);
        }

        >p:last-of-type::before,
        >p:last-of-type::after {
          bottom: calc(var(--dot-size) / -2);
        }


        &::before,
        >p:last-of-type::before {
          content: "";
          position: absolute;
          width: var(--dot-size);
          height: var(--dot-size);
          border-radius: 100%;
          background: var(--t5e-color-gold);
        }

        &::after,
        >p:last-of-type::after {
          content: "";
          position: absolute;
          width: var(--dot-size);
          height: var(--dot-size);
          border-radius: 100%;
          background: var(--t5e-color-gold);
        }
      }
    }

    aside.notable {
      margin: var(--t5e-size-5x) var(--t5e-size-3x);
      padding: var(--t5e-size-4x) var(--t5e-size-5x);
      filter: drop-shadow(0 0.3125rem 0.5rem rgba(0, 0, 0, 0.16));
      box-shadow: var(--t5e-drop-shadow-pill);
      border-top: 0.125rem solid var(--t5e-color-gold);
      border-bottom: 0.125rem solid var(--t5e-color-gold);
      border-left: 0.0625rem solid var(--t5e-color-text-gold-light);
      border-right: 0.0625rem solid var(--t5e-color-text-gold-light);
      background: var(--t5e-component-card-darker);

      &::before,
      &::after {
        content: "";
        background-image: url(/images/notable-right-corner.svg), url(/images/notable-left-corner.svg);
        background-position: 0, 100%;
        background-size: contain;
        background-repeat: no-repeat;
        filter: grayscale(1) brightness(0.15);
        opacity: 0.5;
        height: 0.6875rem;
        position: absolute;
        left: 0;
        z-index: -1;
      }

      &::before {
        top: -0.8125rem;
        right: 0;
      }

      &::after {
        bottom: -0.8125rem;
        right: 0;
        transform: scaleY(-1);
      }
    }
  }

  .editor {
    figure {
      margin: var(--t5e-size-2x) 0;
    }

    figcaption {
      color: var(--t5e-color-text-gold-emphasis);
      display: flex;
      flex-direction: column;
      font: var(--t5e-font-label-medium);
      gap: var(--t5e-size-2x);
      margin: var(--t5e-size-2x) 0;
      text-align: right;
      font-style: italic;
    }
  }

  .editor-rendered-content {
    flex: 0 0 100%;
    margin-top: var(--t5e-size-2x);
    padding-right: var(--t5e-size-2x);
    padding-left: var(--t5e-size-2x);
    border-width: 0 0 0.0625rem 0;
    border-style: solid;
    border-image: linear-gradient(to right,
        rgba(143, 123, 78, 0) 0%,
        rgba(143, 123, 78, 0.25) 20%,
        rgba(143, 123, 78, 0.25) 80%,
        rgba(143, 123, 78, 0) 100%) 0 0 1 0;


    >*:first-child {
      margin-top: 0;
    }

    >*:last-child {
      margin-bottom: 0;
    }

    p:not(:first-child) {
      margin-top: 0.5em;
    }

    // TODO: Remove the line separator and this style when App V1 is eliminated
    .horizontal-line-separator {
      display: none;
    }

    .inline-wrapped-elements {
      margin-top: var(--t5e-size-3x);
      margin-bottom: var(--t5e-size-1x);
    }

    .left-aligned-elements {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;
      align-items: center;
    }

    .right-aligned-elements {
      display: flex;
      flex-grow: 0;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 0.25rem;
    }
  }

  &.theme-dark {

    .editor,
    .editor-rendered-content {
      a[href] {

        &:hover,
        &:focus {
          // color: white;
          text-shadow: 0 0 0.375rem 0 var(--t5e-color-text-gold-emphasis);
        }
      }

      blockquote {
        border-color: var(--t5e-theme-color-default);
      }

      .callout {
        // TODO: make cool callout UI here
      }

      hr {
        background-image: linear-gradient(to right,
            transparent 5%,
            var(--t5e-color-palette-gold-56) 30%,
            var(--t5e-color-palette-gold-56) 70%,
            transparent 95%);
      }

      .secret {
        background-color: rgba(0, 0, 0, 0.5);

        &.revealed {
          background: none;
        }
      }

      .gm-only {
        color: var(--t5e-color-text-lightest);
        font-weight: var(--font-weight-label);
        font-style: italic;
      }

      aside.notable {
        background: var(--t5e-component-card-lighter);
        border-color: var(--t5e-component-card-darker);

      }


      ul li::marker {
        color: var(--t5e-color-text-gold);
      }

      ul ul li::marker {
        color: var(--t5e-color-text-gold-emphasis);
      }

      ul ul ul li::marker {
        color: var(--t5e-color-text-lighter);
      }

      ol li::marker {
        color: var(--t5e-color-text-lighter);
      }
    }
  }
}