.tidy5e-sheet.application:where(.quadrone.encounter) {

  &::before {
    background-image: var(--t5e-sheet-header-bg, url(../../systems/dnd5e/ui/official/banner-encounter-dark.avif));
    mix-blend-mode: darken;
  }

  .sheet-header {
    .actor-subtitle {
      margin-bottom: var(--t5e-size-halfx);
      row-gap: var(--t5e-size-halfx);
      flex-wrap: wrap;
    }

    .xp {
      display: flex;
      align-content: center;
      flex: 0 1 auto;
      gap: var(--t5e-size-1x);
    }

    .difficulty-block {
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      margin: -0.5rem 0.5rem -0.5rem;
      padding: var(--t5e-size-5x);
      position: relative;

      align-items: center;
      justify-content: center;
      text-align: center;
      width: 6rem;
      height: 6rem;
      overflow: hidden;
      text-overflow: ellipsis;

      &::before {
        background-image: url(../../modules/tidy5e-sheet/images/badge_encounter_difficulty.png);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
      }
    }
  }

  .window-content .main-content>.tidy-tab {
    &.inventory .group-tab-content {
      padding-left: var(--t5e-size-4x);
    }
  }

  /* Tab-specific styles */
  .tidy-tab {

    &.members {

      .cr-value {
        position: relative;

        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: -1;
        }
      }

      .difficulty-row {
        gap: var(--t5e-size-1x);
      }

      .xp-budget {
        position: relative;
        flex: 1 1 auto;
        align-content: center;

        >* {
          font-size: var(--font-size-13);
        }
      }

      .tidy-table-header-cell,
      .tidy-table-cell {
        &[data-tidy-column-key="actionsColumn"] {
          justify-content: flex-end;
        }
      }

      .tidy-table-cell {
        &[data-tidy-column-key="hp"] {
          position: relative;
          display: flex;
          align-content: center;
          justify-content: center;

          .meter,
          .separator,
          .max {
            display: none;
          }

          .value {
            font-weight: var(--t5e-font-weight-medium);
          }

          button {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            transition: opacity var(--t5e-transition-default);

            i {
              font-size: var(--font-size-20);
              color: var(--t5e-color-text-gold-emphasis);
            }
          }

          span {
            opacity: 1;
            transition: opacity var(--t5e-transition-default);
          }

          &:hover,
          &:active,
          &:focus {
            button.button-borderless.button-icon-only {
              opacity: 1;
              background: none;
            }

            span {
              opacity: 0;
            }
          }
        }

        &[data-tidy-column-key="npcXp"] {
          span {
            font-size: var(--font-size-13);
            font-weight: var(--t5e-font-weight-medium);
          }
        }
      }
    }

    &.inventory {

      .inventory-footer {
        justify-content: flex-end;
      }
    }

    .tidy-table-cell {
      &[data-tidy-column-key="qtyFormulaColumn"] {
        input {
          margin-top: 0.0625rem;
          text-align: center;
        }
      }

      .tidy-inline-quantity-tracker {
        margin: 0 -0.25rem;

        input {
          font-size: var(--font-size-18);
          min-width: 2.25rem;
          max-width: 2.25rem;
          min-height: 2.5rem;
          margin: 0 -0.25rem;
        }

        button {
          display: flex;
          align-self: center;
        }

        .button-roll {
          margin-right: -0.25rem;
        }
      }
    }
  }

  &.sheet-mode-play {
    .tidy-tab {
      .tidy-table-cell[data-tidy-column-key="qtyFormulaColumn"] {
        input {
          pointer-events: none;
          background: none;
          box-shadow: none;
          border: none;
          color: var(--t5e-color-text-gold-emphasis);
          padding: 0;
          text-align: center;
        }
      }
    }
  }

  &.sheet-mode-edit {
    .tidy-tab.combat {
      .tidy-table-cell[data-tidy-column-key="initiative"] {
        padding-left: 0.625rem;
      }
    }
  }
}