.tidy5e-sheet.application:where(.quadrone.encounter) {

  .sheet-header {
    .actor-subtitle {
      margin-bottom: var(--t5e-size-halfx);
    }

    .xp {
      display: flex;
      align-content: center;
      flex: 0 1 auto;
      gap: var(--t5e-size-1x);
    }

    .difficulty-block {
      flex: 0 0 auto;
    }
  }

  /* Tab-specific styles */
  .tidy-tab {

    &.members {}

    &.inventory {
      .inventory-footer {
        justify-content: flex-end;
        padding-inline-end: 0;
      }
    }
  }
}