.tidy5e-sheet.application:where(.quadrone.item) {
  --sidebar-expanded-width: 9rem;
  --sidebar-width: var(--sidebar-expanded-width);
  --sidebar-background-image-height: 510px;
  $sidebar-bg: linear-gradient(180deg,
      #31313140 0%,
      #303236 var(--sidebar-background-image-height)),
    url(../../systems/dnd5e/ui/official/banner-character-dark.webp) lightgray top center / auto no-repeat;

  /* Application Window */
  border-radius: 0.3125rem;
  border: 1px solid var(--t5e-color-gold);
  background: var(--t5e-component-card-ondefault-darker);
  box-shadow: var(--t5e-drop-shadow-sheet);
  background-size: cover;

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    pointer-events: none;
    z-index: -1;
  }

  &:where(.theme-light) {
    background: var(--t5e-component-card-ondefault-default);

    &::before {
      background: url(../../modules/tidy5e-sheet/images/texture-gray-1.webp) no-repeat top center;
      background-size: cover;
    }

    &::after {
      background: url(../../modules/tidy5e-sheet/images/texture-gray-2.webp) no-repeat bottom center;
      background-size: cover;
    }
  }

  &:where(.theme-dark) {
    background: var(--t5e-component-card-oninverse-darker);

    &::before {
      background: url(../../modules/tidy5e-sheet/images/denim065.png) no-repeat top center;
      background-size: cover;
    }
  }

  // Items and Containers feature a sidebar that extends to the top of the sheet, inside the header area.
  .window-header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    // Consider colocating a 0 padding-inline-start override of 0 with the header over sidebar content via a has()
    // padding-inline-start: calc(var(--sidebar-width) + 0.75rem);
    grid-area: header;
    transition: padding-left 250ms ease;

    .window-title {
      visibility: hidden;
    }

    button.header-control {
      color: var(--t5e-color-text-ondefault-lighter);
      transition: all var(--t5e-transition-default);

      &:hover {
        color: var(--t5e-color-text-ondefault-default);
        border-radius: 100%;
        background: rgba(0, 0, 0, 0.12);
      }
    }
  }

  &:is(.minimized, .minimizing) {
    .window-header {
      padding-inline-start: 0.5rem;
    }

    .window-title {
      visibility: visible;
    }

    .header-over-sidebar,
    .configurable-source,
    .item-header-start-document-name {
      display: none;
    }
  }

  &.minimized {
    .window-title {
      color: var(--t5e-color-text-oninverse-default);
    }

    .header-control {
      color: var(--t5e-color-text-oninverse-default);
    }
  }

  &:not(.minimized, .minimizing) {
    .window-header {
      padding-inline-start: 0;
    }

    .item-header-start-scroll-marker {
      position: absolute;
      top: 0;
    }

    &:has(.item-header-start-scroll-marker.off-screen) {
      .window-header {
        border-bottom: 0.0625rem solid var(--t5e-color-gold);
        background: var(--t5e-component-card-ondefault-darker);
      }

      &.dark,
      &.theme-dark,
      .dark,
      .theme-dark {
        .window-header {
          background: var(--t5e-component-card-oninverse-darker);
        }
      }

      .header-over-sidebar {
        background: $sidebar-bg;
        background-attachment: scroll, local;
        background-blend-mode: luminosity;
        border-right: 1px solid var(--t5e-color-gold, #9f9275);
      }
    }

    &:has(.item-name-wrapper:not(.off-screen)) .item-header-start-document-name {
      display: none;
    }

    .item-header-start-document-name {
      color: var(--t5e-color-text-ondefault-default, #000);
      text-align: center;
      font-family: 'Modesto Condensed';
      font-size: var(--font-font-size-18, 1.125rem);
    }

    .configurable-source {
      margin-top: 0.125rem;
    }

    .contents-footer.off-screen {
      position: sticky;
      bottom: 0;
      transform: translateY(calc(100% - 0.5rem));

      .meter.progress .label {
        visibility: hidden;
      }

      .item-create {
        display: none;
      }
    }

    .contents-footer-scroll-marker {
      margin-block: -0.25rem;
    }
  }

  .header-over-sidebar {
    flex-shrink: 0;
    padding-inline-start: 0.75rem;
    margin-inline-end: 1.25rem;
    display: inline-flex;
    gap: 0.5rem;
    align-items: center;
    width: var(--sidebar-width);
    height: var(--header-height);

    .header-item-type-label {
      flex: 1;
      color: var(--t5e-color-text-oninverse-lighter);
      // text-align: center;
      font-family: 'Modesto Condensed';
      font-size: var(--font-font-size-18, 1.125rem);
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }

    // TODO: Handle Minimized?

    // TODO: Handle scroll breakpoints
  }

  .header-sheet-edit-mode-toggle {
    margin-right: 0.25rem;
  }

  &:not(:is(.minimized, .minimizing, .maximizing)) {
    min-width: 31.25rem;
  }

  .header-control {
    color: var(--t5e-color-text-ondefault-lighter);
    font-size: 0.8125rem;
    font-weight: 900;
  }

  .window-content {
    display: grid;
    grid-template-areas: 'sidebar content';
    grid-template-columns: var(--sidebar-width) 1fr;
    padding: 0;
    // transform: translateY(var(--header-height));
    // margin-top: var(--header-height);
    overflow-y: auto;
    position: relative;
  }

  /* Sidebar */

  .sidebar {
    // transform: translateY(var(--header-height) * -1);
    // margin-top: calc(var(--header-height) * -1);
    background: $sidebar-bg;
    background-attachment: scroll, local;
    background-blend-mode: luminosity;
    border-right: 1px solid var(--t5e-color-gold, #9f9275);
    display: flex;
    flex-direction: column;
    gap: var(--t5e-spacing-4x);
    grid-area: sidebar;
    padding: var(--t5e-spacing-3x);

    // Consider colocating this with the header over sidebar content via a has()
    padding-block-start: var(--header-height);

    h4 {
      color: var(--t5e-color-text-oninverse-gold-light, #f0f0e1);
      font-family: var(--t5e-font-roboto-condensed);
      font-size: 0.8125rem;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      margin-bottom: 0.25rem;
    }

    .currency-header {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .currency-conversion {
        display: flex;
        width: 1.75rem;
        height: 1.75rem;
        justify-content: center;
        align-items: center;
        gap: var(--t5e-spacing-1x);

        i {
          color: var(--t5e-color-palette-grey-100);
        }
      }
    }

    .currencies {
      display: flex;
      flex-direction: column;
      gap: var(--t5e-spacing-1x);

      .denomination {
        text-transform: uppercase;
      }

      .input-group {
        gap: var(--t5e-spacing-1x);
        padding-block: 0;
        height: 1.75rem;

        input {
          text-align: right;
        }
      }

      .button.icon-button {
        --size: 1.75rem;

        i {
          font-size: 0.6875rem;
        }
      }
    }
  }

  .item-image-container {
    --img-size: 6.5rem;
    position: relative;
    text-align: center;
    width: 100%;

    &,
    &>* {
      aspect-ratio: 112 / 107;
    }

    .item-image {
      margin-block: var(--t5e-spacing-halfx);
      margin-inline: var(--t5e-spacing-halfx);
      display: inline-block;
      width: calc(100% - var(--t5e-spacing-1x));
      border-radius: 0.75rem;
      object-fit: cover;
      border: 0;
    }

    .item-image-border {
      position: absolute;
      inset: 0;
      pointer-events: none;
    }
  }

  .item-rarity-container {
    .item-rarity-selector {
      height: var(--t5e-field-size-default);
      padding-block-end: var(--t5e-spacing-1);
      position: relative;
      color: oklch(from var(--t5e-item-rarity-color) calc(l + 0.125) c h);

      option {
        color: oklch(from var(--t5e-item-rarity-color) calc(l + 0.125) c h);
      }
    }

    .item-rarity-text {
      color: var(--t5e-item-rarity-color);
      font: var(--t5e-font-title-small);
      mix-blend-mode: plus-lighter;
      text-align: center;
    }
  }

  .spell-preparation-text {
    color: var(--t5e-image-label-spell-preparation-text-color);
    font: var(--t5e-font-title-small);
    mix-blend-mode: plus-lighter;
    text-align: center;
  }

  /* Item Main Content Area */

  .item-content {
    grid-area: content;
    margin-block-start: var(--header-height);
    padding-inline: var(--t5e-spacing-6x);
    margin-block-end: var(--t5e-spacing-3x);
    display: flex;
    flex-direction: column;
    min-width: 0;

    .subtitle {
      color: var(--t5e-color-text-ondefault-lighter);

      /* title/small */
      font: var(--t5e-font-title-small);
    }
  }

  .item-header-summary {
    margin-top: var(--t5e-spacing-2x);
    display: flex;
    row-gap: var(--t5e-spacing-1x);
    flex-wrap: wrap;

    >* {
      text-wrap-mode: nowrap;
      display: flex;
      align-items: center;
      gap: var(--t5e-spacing-1x);
    }

    >*+*::before {
      content: '';
      width: 0.0625rem;
      height: var(--t5e-spacing-4x);
      opacity: 0.5;
      background: var(--t5e-color-gold, #9f9275);
      margin-inline: 0.5rem;
    }

    .item-type {
      // TODO: eliminate most of this with util classes
      font: var(--t5e-font-title-small);
    }

    .item-capacity {
      display: flex;
      align-items: center;
      gap: var(--t5e-spacing-1x);
    }

    .item-capacity-counter {
      display: flex;
      align-items: center;
      gap: 0.1875rem;
    }

    .item-charges {
      display: flex;
      gap: var(--t5e-spacing-1x);

      .counter {
        display: flex;
        gap: var(--t5e-spacing-halfx);
      }
    }

    .item-recharge {
      display: flex;
      align-items: center;
      gap: var(--t5e-spacing-1x);
    }

    .item-price {
      font-size: var(--font-size-default);

      display: flex;
      align-items: center;
      gap: var(--t5e-spacing-1x);

      .item-price-denomination {
        text-transform: uppercase;
      }
    }

    .item-quantity-label {
      font-weight: var(--font-weight-label);
    }

    .item-quantity-value {
      font-weight: var(--font-weight-bold);
    }

    .item-weight-value {
      font-weight: var(--font-weight-bold);
    }
  }

  .document-name {
    color: var(--t5e-color-text-ondefault-default);

    // Typography
    font: var(--t5e-font-title-medium);

    &:is(input) {
      border-radius: 0.125rem;
      border: 1px solid var(--t5e-color-gold, #9f9275);
      background: linear-gradient(0deg,
          rgba(255, 255, 255, 0.5) 0%,
          rgba(255, 255, 255, 0.5) 100%),
        var(--t5e-component-card-ondefault-default, #f8f4f1);

      // Typography
      color: var(--t5e-color-text-ondefault-lighter, #4b4a44);
      font-family: var(--t5e-font-modesto-condensed);
      font-size: var(--font-size-24);
      font-style: normal;
      font-weight: 400;
      height: 2rem;
      line-height: normal;
      letter-spacing: 0.015rem;
      margin: 0 -0.5rem -0.0625rem;
      width: calc(100% + 1rem);

      &:focus {
        transition: box-shadow none;
        box-shadow: var(--t5e-drop-shadow-field-focus);
        outline: none;
      }
    }
  }

  .tidy-tabs.item-tabs {
    margin-top: var(--t5e-spacing-3x);
  }

  .tidy-tab {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 2rem;
    padding-top: 0.75rem;

    &.contents {
      padding-bottom: 0;
    }

    &.description {
      flex: 1;

      prose-mirror {
        flex: 1;
      }
    }
  }

  &.container {
    .tidy-tab.contents {
      flex: 1;

      .container-contents-wrapper {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        flex: 1;
      }
    }

    .contents-footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: var(--t5e-spacing-1x);

      .meter {
        flex-grow: 1;
        flex-shrink: 0;
        align-self: center;
      }
    }
  }

  // TODO: Move editor to its own file and layer.
  .editor {

    h1,
    h2,
    h3,
    h4 {
      font-family: var(--t5e-font-modesto-condensed);
      font-weight: 400;
      line-height: 100%;
    }

    h1 {
      font-size: var(--font-size-28);
      margin-top: var(--t5e-spacing-6x);
      margin-bottom: var(--t5e-spacing-3x);
    }

    h2 {
      font-size: var(--font-size-24);
      margin-top: var(--t5e-spacing-4x);
      margin-bottom: var(--t5e-spacing-3x);
    }

    h3 {
      font-size: var(--font-size-20);
      margin-top: var(--t5e-spacing-4x);
      margin-bottom: var(--t5e-spacing-2x);
    }

    h4 {
      font-size: var(--font-size-16);
      margin-top: var(--t5e-spacing-4x);
      margin-bottom: var(--t5e-spacing-2x);
    }

    p {
      font: var(--t5e-font-default-longform);
    }

    table {
      margin: 0;
      border: none;
      border-collapse: collapse;
      border-radius: var(--t5e-spacing-1x);

      thead {
        font: var(--t5e-font-label-medium);
        border: none;
      }

      th,
      td {
        border: none;
        border-collapse: collapse;
      }

      td {
        border-right: 1px solid var(--t5e-component-card-oninverse-darker);
        padding: var(--t5e-spacing-1x) var(--t5e-spacing-2x);
      }
    }
  }

  &.dark,
  &.theme-dark,
  .dark,
  .theme-dark {
    .document-name:is(input) {
      border-color: var(--t5e-component-field-border);
      background: var(--t5e-component-field-background);
      box-shadow: var(--t5e-drop-shadow-field);
    }
  }
}