.tidy5e-sheet:where(.quadrone.npc) {

  --t5e-sheet-header-bg: url(../../systems/dnd5e/ui/official/banner-npc-dark.webp);

  &.actor::before {
    opacity: 0.2;
  }

  .sheet-header {
    .npc-vitals {
      margin-left: 1.75rem;
      padding-left: 0rem;

      .roll-hp i {
        color: var(--t5e-vitals-button-icon-color);
      }

      .max-hp {
        flex: 1;
        color: var(--t5e-vitals-button-icon-color);

        &:hover {
          color: var(--t5e-color-text-default);
        }
      }
    }

    .actor-vitals.npc-vitals {
      .actor-vitals-row {
        padding-left: 1.5rem;
      }

      .hp-row {
        padding-left: .5rem;

        .meter .label {
          padding-left: 1.5rem;
        }
      }

      .exhaustion-bar {
        z-index: auto;
        left: 0;
        padding-left: 1rem;
      }
    }

    .actor-vitals-container .shield {
      position: absolute;
      left: -0.6125rem;
      bottom: -0.5rem;
      text-align: center;
      align-items: center;
      background-image: url(../../modules/tidy5e-sheet/images/badge_ac_dark.webp);
    }
  }

  .initiative-container {
    text-align: center;
    align-items: center;
  }
}