.tidy5e-sheet.application:where(.quadrone.npc) {

  background: var(--t5e-component-card-darker);
  --t5e-sheet-header-bg: url(../../systems/dnd5e/ui/official/banner-npc-dark.webp);

  &.actor::before {
    // opacity: 0.2;
    background-image: url(../../modules/tidy5e-sheet/images/texture-gray-1.webp);
    filter: none;
    opacity: 1;
    mix-blend-mode: normal;
  }

  &::after {
    background: none;
  }

  .window-content .sheet-body::before {
    content: none;
  }

  // ::selection {
  //   background-color: var(--t5e-component-card-darker);
  // }

  .sheet-header {
    background: none;

    .actor-name,
    .actor-subtitle,
    .ability .ability-save {
      text-shadow: none;
    }

    .ability-save,
    .ability-roll-button {
      box-shadow: none;
    }


    .npc-vitals {
      --t5e-npc-vitals-offset: 1.75rem;
      margin-left: var(--t5e-npc-vitals-offset);
      width: calc(100% - var(--t5e-npc-vitals-offset));
      padding: 0;

      .roll-hp i {
        color: var(--t5e-vitals-button-icon-color);
      }

      .max-hp {
        flex: 1;
        color: var(--t5e-vitals-button-icon-color);

        &:hover {
          color: var(--t5e-color-text-default);
        }
      }

      .actor-vitals-row {
        padding-left: 1.25rem;
      }

      .hp-row {
        padding-left: .5rem;

        .font-medium {
          font-size: 1rem;
        }

        .meter .label {
          gap: 0.125rem;
          padding-right: 0.25rem;
        }

        .meter .label,
        input[type="text"] {
          padding-left: 1.25rem;
        }

        .temp-hp {
          padding: 0 0.25rem;
        }

        input[type="text"].hp-temp-input {
          padding-left: 0;
          max-width: 3.5rem;
        }
      }

      .exhaustion-bar {
        z-index: auto;
        left: 0;
        padding-left: 1rem;
      }
    }

    .actor-vitals-container {
      padding-bottom: 1.75rem;
      max-width: 10.5rem;

      .actor-image {
        max-width: 10.5rem;
        max-height: 10.5rem;
      }

      .shield {
        position: absolute;
        left: -0.5rem;
        bottom: -0.375rem;
        text-align: center;
        align-items: center;
        background-image: url(../../modules/tidy5e-sheet/images/badge_ac_npc_light.svg);

        .button-config {
          position: absolute;
          top: 0.125rem;
          right: 0;
        }
      }

      .ac-label {
        display: inherit;
      }

      .ac-value {
        margin: -0.125rem 0 0.1875rem;
      }
    }

    .actor-details-subtitle-row {
      align-items: center;
    }

    input[type="text"]:not(:disabled):not(.uninput).h2.actor-name {
      font-size: var(--font-size-46);
    }

    input[type="text"]:not(:disabled):not(.uninput) {

      &.xp-value,
      &.actor-name {
        --t5e-field-background-color: rgba(0, 0, 0, 0.2);
      }

      &.xp-value {
        text-align: left;
        padding-bottom: 0;
        padding-left: 0.25rem;

        &:not(:focus, :active) {
          background-color: transparent;
          box-shadow: none;
        }
      }
    }
  }

  .sheet-header-actions {
    margin-top: 0.25rem;
  }

  .actor-subtitle {


    .xp-label {
      gap: 0.25rem;
      max-height: 1rem;
      align-content: center;
    }

    .xp-value {
      max-width: 4.5rem;
    }
  }

  .proficiency {
    line-height: 1rem;
    margin-right: var(--header-padding);

    .label {
      margin-right: 0.25rem;
    }
  }

  .challenge-rating {
    border: 0.0625rem solid var(--t5e-component-field-border);
    border-radius: 0.125rem;
    background-color: var(--t5e-component-card-darker);
    height: 3.5rem;
    width: 3.5rem;
    flex-basis: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0;

    &::before {
      position: absolute;
      content: '';
      top: 0.0625rem;
      left: 0.0625rem;
      bottom: 0.0625rem;
      right: 0.0625rem;
      border-radius: 0.0625rem;
      border: 0.25rem solid var(--t5e-component-card-darker);
      z-index: 0;
    }

    &::after {
      position: absolute;
      content: '';
      top: 0.1875rem;
      left: 0.1875rem;
      bottom: 0.1875rem;
      right: 0.1875rem;
      border-radius: var(--t5e-t5e-space-halfx);
      border: 0.0625rem solid var(--t5e-component-field-border);
      z-index: 0;
    }

    >* {
      flex: 0;
    }

    .value {
      margin: -0.125rem 0 -0.25rem;
    }

    input[type="text"].challenge-rating-input {
      text-align: center;
      box-shadow: none;

      &:focus {
        border: 1px solid red;
      }
    }
  }

  .initiative-container {
    text-align: center;
    align-items: center;
  }

  .sidebar {
    gap: var(--t5e-size-3x);

    .traits {
      gap: 0.5rem;


      .list-entry {
        flex-direction: column;
        gap: 0.1875rem;

        &.empty {
          .list-label i {
            color: var(--t5e-color-icon-default);
          }

          &:hover .list-label h4 {
            color: var(--t5e-color-text-default);
          }
        }

        .list-label {
          margin-right: 0;
          max-height: 1rem;

          i {
            font-size: var(--font-size-12);
          }

          h4 {
            transition: color var(--t5e-transition-default);
            color: var(--t5e-color-text-lighter);
          }
        }

        .pill {
          justify-content: baseline;
          min-height: auto;
          padding: 0.125rem 0.25rem;
        }
      }
    }
  }

  &.theme-dark {
    background: url(../../modules/tidy5e-sheet/images/denim065.png),
      var(--t5e-component-card-dark-darker);
    background-position: top center, center;
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;

    &::before {
      opacity: 0.24;
    }

    &::after {
      background-image: url(../../modules/tidy5e-sheet/images/texture-gray-2.webp);
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: cover;
      mix-blend-mode: normal;
      opacity: 0.12;
    }

    .sheet-body {
      background: none;

    }

    .sheet-header .actor-vitals-container .shield {
      background-image: url(../../modules/tidy5e-sheet/images/badge_ac_npc_dark.svg);
    }
  }

  &.theme-light {
    --color-text-selection: var(--t5e-color-text-oninverse-default);
    --color-text-selection-bg: var(--t5e-theme-color-default);

    .sheet-header {
      .initiative-container .initiative.score {
        background-image: url(../../modules/tidy5e-sheet/images/badge_init_light.webp);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;

        .initiative-roll-button {
          &:hover {
            color: var(--t5e-color-text-gold-emphasis);
          }
        }

      }

      .color-text-gold {
        color: var(--t5e-color-text-gold-emphasis);
      }

      .ability {
        .ability-score {
          background-image: url(../../modules/tidy5e-sheet/images/badge_ability_light.webp);
          background-position: top center;
          background-size: cover;
          background-repeat: no-repeat;
        }

        .ability-roll-button {

          &:hover,
          &:active,
          &:focus {
            color: var(--t5e-color-text-gold-emphasis);
          }
        }
      }

      .sheet-header-actions {
        .button-gold {
          border-color: var(--t5e-color-palette-gold-62);
          box-shadow: var(--t5e-drop-shadow-field);

          i {
            color: var(--t5e-color-palette-gold-56);
          }

          &:hover,
          &:active,
          &:focus {
            border-color: var(--t5e-color-palette-gold-56);
            box-shadow: var(--t5e-drop-shadow-field-hover);

            i {
              color: var(--t5e-color-palette-gold-56);
            }
          }
        }
      }

      .bonus-container {
        background-image: url(../../modules/tidy5e-sheet/images/badge_ability_light.webp);
        background-position: top center;
        background-size: cover;
        background-repeat: no-repeat;

        &.proficient {
          background-image: url(../../modules/tidy5e-sheet/images/badge_ability_light_prof.webp);
        }
      }
    }
  }
}