// TODO: make dedicated styles for options dialogs
// TODO: promote the most universal styles to apps.scss

.tidy5e-sheet.application:where(.quadrone.options-dialog) {
  .window-content {
    h1 {
      font-size: var(--font-size-24);
      padding: 0;
      margin: 0;
      line-height: normal;
      margin: 0 0 0.375rem 0;
    }

    h2 {
      font-size: var(--font-size-18);
      border-bottom: 1px solid var(--t5e-color-gold);
      margin-block-end: var(--t5e-spacing-2x);

      &:not(:first-child) {
        margin-block-start: var(--t5e-spacing-2x);
      }
    }

    h3 {
      margin-block-end: var(--t5e-spacing-1x);
      font-size: var(--font-size-13);
      font-family: var(--t5e-font-roboto-condensed);
    }

    label.checkbox {
      min-height: 1.5rem;
    }
  }

  // Tab Configuration Dialog (Section Config, tab-specific options, etc.)
  .tab-configuration {
    display: flex;
    flex-direction: column;
    flex: 1;

    // TODO: This should probably be in the component styles and not limited to an options dialog::after
    .sorting-listbox {
      display: flex;
      flex: 1;
      gap: 0.75rem;

      > .controls {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        > .control {
          --size: 2rem;
          padding: 0;
          width: var(--size);
          height: var(--size);

          &:disabled {
            border-color: var(--t5e-color-text-ondefault-disabled);

            i {
              color: var(--t5e-color-text-ondefault-disabled);
            }
          }
        }
      }

      > .listbox {
        flex: 1;
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 0.375rem;

        > .listbox-item {
          padding-inline-start: 0.375rem;
          display: flex;
          align-items: center;
          gap: 0.5rem;
          background: var(--t5e-component-field-background);
          border-radius: 0.125rem;
          border: 1px solid var(--t5e-component-field-border);

          &.focused {
            border-color: var(--t5e-component-field-border-hover);
            box-shadow: var(--t5e-drop-shadow-field-hover);
            outline: var(--t5e-outline-field-focus);
          }

          .section-config-item-label {
            flex: 1;

            &.marked-as-hidden {
              color: var(--t5e-color-text-ondefault-lightest);
            }
          }

          &:has(.marked-as-hidden) .drag-grip {
            color: var(--t5e-color-text-ondefault-lighter);
          }

          .listbox-option-button {
            border-top: 0;
            border-inline-end: 0;
            border-block-end: 0;
          }

          .option-hide {
            font-style: italic;
            border-color: var(--t5e-color-text-ondefault-disabled);
            color: var(--t5e-color-text-ondefault-lightest);

            i {
              color: var(--t5e-color-text-ondefault-disabled);
            }
          }
        }
      }
    }

    .button-bar {
      display: flex;
      gap: 0.25rem;
      flex-wrap: wrap;
      white-space: nowrap;

      > * {
        flex: 1;
        text-wrap: none;
      }
    }
  }
}
