:where(.tidy5e-sheet.quadrone).application {
  button {
    box-shadow: none;
    outline: none;
    margin: 0;

    i {
      margin: 0;
    }

    &:hover,
    &:focus {
      box-shadow: none;
      outline: none;
    }
  }

  button,
  a.button {
    transition: none;

    &:hover {
      text-shadow: none;
    }

    &.active {
      box-sizing: inherit;
      outline: none;
      box-shadow: none;
    }

    &:focus {
      outline: none;
    }
  }

  a:hover {
    text-shadow: none;
  }

  input[type='radio'] {
    margin: 0;
  }

  // TODO: when game.release.generation > 13, lower the specificity of this rule to bare minimum
  .theme-dark & .window-content,
  &.theme-dark .window-content {
    backdrop-filter: unset;
    -webkit-backdrop-filter: unset;
  }
  
  /* Form Resets */
  form {
    .form-group {
      .form-fields {
        input[type="checkbox"] {
          flex-basis: var(--checkbox-size);
        }
      }
    }
  }

  // Tidy uses `.tidy-tab`. Anyone injecting a `.tab` element is likely porting default sheet injections into a `.tidy-tab`.
  // therefore, make `.tab` use default display.
  .tidy-tab .tab {
    display: unset;
  }
}
