/* Styles common to Document sheets */
.tidy5e-sheet:where(.quadrone) {
  font-smooth: always;


  /* ---------------------------------- */
  /*  Badges                            */
  /* ---------------------------------- */

  .badge {
    background: transparent no-repeat center / contain;
    font-family: var(--t5e-font-roboto-condensed);
    font-weight: bold;
    color: var(--t5e-color-text-default);
    display: grid;
    place-content: center;
    font-size: var(--font-size-30);

    .config-button {
      color: inherit;
      font-size: inherit;
    }
  }

  /* AC */
  .ac-badge {
    width: 4.25rem;
    height: 4.25rem;
    min-width: 4.25rem;
    text-align: center;
    line-height: 3.875rem;
    background-image: url("../../systems/dnd5e/ui/ac-badge.webp");
    display: block;
    place-content: unset;
    font-size: var(--font-size-23);
    margin-top: -21px;
    filter: drop-shadow(0 0 6px var(--color-shadow-dark));
  }

  /* Level */
  .level-badge {
    font-size: var(--font-size-32);
    width: 4.875rem;
    height: 4.875rem;
    background-image: url("../../modules/tidy5e-sheet/images/badge_level_dark.webp");
    text-align: center;
  }

}

.tidy5e-sheet:where(.quadrone:is(.item, .actor)) {
  &>header {
    /* Edit Mode Toggle */
  }

  /*
  .list
    .list-entry
      .list-label
      .list-content
        .list-values
        .list-controls
  */
  // generic trait-like lists
  // 👋 hightouch - I wasn't sure where to put this; temp styles to help me dev, until you're ready to implement
  :where(.list) {
    display: flex;
    flex-direction: column;

    :where(.list-entry) {
      display: flex;

      &.empty {
        .list-label :is(h4, i) {
          color: var(--t5e-color-text-lighter);
        }
      }

      .list-label {
        align-content: center;
        flex: 1;
        height: 1.75rem;
        padding-bottom: 1px;
      }

      :where(.list-content) {
        flex: 2;
        display: flex;

        .list-values {
          flex: 1;

          display: flex;
          align-items: center;

          select {
            width: auto;
          }
        }

        .list-controls {
          // TODO?
        }
      }
    }
  }

  .attributes {
    .list {

      .pill {
        background-color: var(--t5e-component-field-background);
      }


      .list-entry {
        padding: var(--t5e-size-1x) 0;
        border-bottom: 1px solid var(--t5e-table-row-divider);

        .list-label {
          flex: 1;
        }

        .item-image-link {
          width: 1.75rem;
          height: 1.75rem;
          margin-right: var(--t5e-size-1x);
        }
      }

      .list-sub-entry {
        .item-image-link {
          width: 1.5rem;
          height: 1.5rem;
          background-color: var(--t5e-color-palette-gold-56);
        }

        .sub-entry-icon {
          color: var(--t5e-color-icon-disabled);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-12);
          width: 1.5rem;
          height: 1.5rem;
        }
      }

      .item-image-link {
        border: 1px solid var(--t5e-color-gold);
        border-radius: 0.125rem;
        transition: box-shadow var(--t5e-transition-default);

        &:hover {
          box-shadow: 0 0 6px var(--t5e-color-text-gold-emphasis);
        }
      }

      .divider-dot {
        margin: 0;
      }

      .trait-item {
        gap: var(--t5e-size-1x);
      }

      .icon-class-original {
        margin-left: var(--t5e-size-1x);
        padding-bottom: 1px;
      }

      .list-controls {
        display: flex;
        flex-direction: row;
        align-items: center;

        select {
          margin-right: var(--t5e-size-1x);
        }
      }
    }
  }
}