/* Styles common to Document sheets */
.tidy5e-sheet:where(.quadrone) {
  font-smooth: always;

  /* ---------------------------------- */
  /*  Badges                            */
  /* ---------------------------------- */

  .badge {
    background: transparent no-repeat center / contain;
    font-family: var(--t5e-font-roboto-condensed);
    font-weight: bold;
    color: var(--t5e-color-text-default);
    display: grid;
    place-content: center;
    font-size: var(--font-size-30);

    .config-button {
      color: inherit;
      font-size: inherit;
    }
  }

  /* AC */
  .ac-badge {
    width: 4.25rem;
    height: 4.25rem;
    min-width: 4.25rem;
    text-align: center;
    line-height: 3.875rem;
    background-image: url('../../systems/dnd5e/ui/ac-badge.webp');
    display: block;
    place-content: unset;
    font-size: var(--font-size-23);
    margin-top: -1.3125rem;
    filter: drop-shadow(0 0 0.375rem var(--color-shadow-dark));
  }

  /* Level */
  .level-badge {
    font-size: var(--font-size-32);
    width: 4.875rem;
    height: 4.875rem;
    background-image: url('../../modules/tidy5e-sheet/images/badge_level_dark.webp');
    text-align: center;
  }
}

.tidy5e-sheet:where(.quadrone:is(.item, .actor)) {
  &>header {
    /* Edit Mode Toggle */
  }

  /*
  .list
    .list-entry
      .list-label
      .list-content
        .list-values
        .list-controls
  */
  // generic trait-like lists
  // 👋 hightouch - I wasn't sure where to put this; temp styles to help me dev, until you're ready to implement
  :where(.list) {
    display: flex;
    flex-direction: column;

    :where(.list-entry) {
      display: flex;

      .list-label {
        align-content: center;
        flex: 1;
        height: 1.75rem;
        padding-bottom: 0.0625rem;
      }

      :where(.list-content) {
        flex: 2;
        display: flex;

        .list-values {
          flex: 1;

          display: flex;
          align-items: center;

          select {
            width: auto;
          }
        }

        .list-controls {
          // TODO?
        }
      }
    }
  }

  // Container Panel - hightouch 👋 - where do we want to put this? It could apply to any sheet with an inventory.
  .container-panel {
    --t5e-container-panel-item-size: 3.125rem;

    display: grid;
    grid-template-columns: repeat(auto-fit,
        minmax(var(--t5e-container-panel-item-size), max-content));
    gap: 0.375rem;
    padding: 0;
    margin: 0;

    .container {
      position: relative; // 👈 required for correct drag preview
      display: flex;
      flex-direction: column;
      height: 100%;

      &.hidden {
        display: none;
      }
    }

    .container-image-button {
      display: block;
    }

    .container-image {
      aspect-ratio: 1;
      border: 0.0625rem solid var(--t5e-separator-color);
      border-radius: 0.1875rem 0.1875rem 0 0;
      background-color: var(--t5e-light-color);
      background-size: cover;
      background-position: 50% 0;
      transition: filter 0.75s;

      &.conceal {
        filter: grayscale(100%);
      }
    }

    .meter.capacity {
      flex-basis: var(--capacity-bar-height);
    }
  }

  .tidy-tab .empty-state-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;

    &:not(.empty-classes) {
      flex: 1;

      .button {
        padding: var(--t5e-size-6x) var(--t5e-size-12x);
      }
    }

    &.empty-classes {
      flex: 0 1 fit-content;

      .button {
        padding-inline-start: var(--t5e-size-8x);
        padding-inline-end: var(--t5e-size-8x);
      }
    }

    &.empty-state-description {
      padding: var(--t5e-size-3x);
      border-radius: var(--t5e-component-card-radius);
      border: 0.0625rem dashed var(--t5e-component-field-border);
      color: var(--t5e-color-text-lighter);
      min-height: 3rem;
      gap: 0.25rem;
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex: 0 1 fit-content;

      transition: color 0.3s ease;

      &:hover {
        color: var(--t5e-color-text-default);
      }
    }
  }
}