.tidy5e-sheet:is(.quadrone) {
  --t5e-table-row-border-image: linear-gradient(to right,
      rgba(143, 123, 78, 0) 0%,
      rgba(143, 123, 78, 0.25) 20%,
      rgba(143, 123, 78, 0.25) 80%,
      rgba(143, 123, 78, 0) 100%) 0 0 1 0;

  --t5e-table-header-row-height: var(--t5e-size-6x);

  .tidy-table-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.75rem;

    &:not(:has(~ .sheet-footer)) {
      padding-block-end: var(--t5e-size-3x);
    }
  }

  .tidy-table {
    container-type: inline-size;
  }

  /* Table row styles */
  .tidy-table-header-row,
  .tidy-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .tidy-table-header-row {
    --t5e-table-header-background-left: var(--t5e-theme-color-darkest);
    --t5e-table-header-background-right: var(--t5e-theme-color-default);
    --t5e-table-header-border-color: rgba(0, 0, 0, 0.16);

    background: linear-gradient(to right,
        var(--t5e-table-header-background-left),
        var(--t5e-table-header-background-right));
    border-radius: var(--t5e-size-halfx);
    box-shadow: 0 0 0.0625rem inset var(--t5e-table-header-border-color);
    color: var(--t5e-color-text-default);
    max-height: var(--t5e-table-header-row-height);

    &.spell-preparation {
      --t5e-table-header-background-left: oklch(from var(--t5e-mode-color, var(--t5e-theme-color-darkest)) calc(l * 0.75) calc(c * 1.2) h);
      --t5e-table-header-background-right: var(--t5e-mode-color, var(--t5e-theme-color-default));
    }

    :is(.tidy-table-cell, .tidy-table-header-cell) {
      margin-top: var(--t5e-size-1x);
      margin-bottom: var(--t5e-size-1x);
      min-height: 0;
    }

    &.toggleable {
      cursor: pointer;
    }

    .button.expand-button {
      width: var(--t5e-table-header-row-height);
      height: var(--t5e-table-header-row-height);
      background: none;
      border: none;
      padding: var(--t5e-spacing-halfx) 0 0;
      box-shadow: none;

      i {
        color: var(--t5e-color-icon-disabled);
        transition: transform var(--t5e-transition-default);
      }

      &.expanded i {
        color: var(--t5e-color-icon-diminished);
        transform: rotate(90deg);
        padding: 0 0 var(--t5e-size-halfx);
      }

      &:hover:not(:disabled) {
        background: none;
        border: none;

        i {
          color: var(--t5e-color-text-default);
        }
      }
    }

    &:hover {
      --t5e-table-header-border-color: rgba(0, 0, 0, 0.28);

      .button.expand-button {
        i {
          color: var(--t5e-color-icon-default);
        }
      }
    }

    .header-label-cell {
      justify-content: flex-start;
      margin: 0;
      padding-inline-start: 0;
      padding-block-end: 0.09375rem;

      >* {
        font-family: var(--t5e-font-family-title);
        font-size: var(--font-size-16);
        line-height: 1rem;
      }

      i {
        font-family: 'Font Awesome 6 Pro' !important;
      }

      h3 {
        color: var(--t5e-color-text-default);
      }

      .table-header-count {
        color: var(--t5e-color-text-lightest);
        margin-inline-start: 0.25rem;
      }
    }

    .header-cell-actions {
      justify-content: flex-end;
      margin: 0;
    }

    .tidy-table-button {
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color var(--t5e-transition-default);
        border-radius: 100%;
        height: var(--t5e-size-5x);
        width: var(--t5e-size-5x);
      }

      i.emphasis {
        color: var(--t5e-color-text-gold-emphasis);
      }

      i.warning {
        color: var(--t5e-color-yellow);
      }

      &:hover i {
        background: rgba(0, 0, 0, 0.48);
      }
    }
  }

  .tidy-table-row {
    --t5e-item-row-background: transparent;

    border-radius: 0.125rem;
    border-width: 0 0 0.0625rem 0;
    border-style: solid;
    border-image: var(--t5e-table-row-border-image);
    position: relative;
    align-items: stretch;

    .highlight {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    .item-image {
      background: var(--t5e-color-text-gold-emphasis);
      width: var(--t5e-icon-size-7x);
      height: var(--t5e-icon-size-7x);
    }

    >* {
      z-index: 0;
    }

    &.advancement-item {
      min-height: 2.25rem;

      .tidy-table-row-use-button img {
        background: transparent;
      }
    }

    &.spell:not(.equipped) {

      .item-label,
      .item-context {
        font-style: italic;
        color: var(--t5e-color-text-lightest);
      }
    }

    &.rarity {

      .common {
        --t5e-item-color: var(--t5e-color-palette-gold-56);
      }

      .highlight {
        background: linear-gradient(to right, oklch(from var(--t5e-item-color) l c h / 0.28) 0%, transparent 32%);
      }

      .tidy-table-row-use-button {
        --t5e-use-button-border-color: var(--t5e-item-color);
        outline: 0.125rem solid var(--t5e-use-button-border-color);
        outline-offset: -0.0625rem;

        i {
          color: oklch(from var(--t5e-item-color) calc(l * 0.85) calc(c * 1.2) h);
        }
      }
    }

    &.equipped {
      --t5e-item-row-background: var(--t5e-color-palette-grey-100);
      background: linear-gradient(to right,
          var(--t5e-color-palette-grey-100) 10%,
          rgba(255, 255, 255, 0.24) 50%);

      .highlight {
        background: linear-gradient(to right, oklch(from var(--t5e-item-color) l c h / 0.25) 10%, transparent 48%);
      }
    }

    &.expanded {
      background: linear-gradient(to right,
          rgba(255, 255, 255, 1) 0%,
          rgba(255, 255, 255, 0.48) 80%);
    }

    .item-state-indicator {
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
      height: 100%;
      min-height: var(--t5e-icon-size-7x);
      min-width: var(--t5e-icon-size-6x);
    }


    // TODO: Finish other unidentified styles. Classes aren't applied yet.
    // Make sure this is last.
    &.unidentified {
      color: var(--t5e-color-text-lighter);
      background: transparent;

      div.highlight {
        background: none;
      }

      .tidy-table-row-use-button {
        outline-color: var(--t5e-color-palette-grey-40);
      }

      .item-image {
        filter: grayscale(100%) opacity(75%);
      }

      .item-name .cell-name {
        font-style: italic;
      }

      &::before {
        content: none;
      }
    }
  }

  /* Cell styles */
  :is(.tidy-table-cell, .tidy-table-header-cell) {
    align-items: center;
    display: flex;
    min-height: var(--t5e-field-size-default);

    &:not(:is(.primary, .tidy-table-actions, .header-cell-actions)) {
      text-align: center;
      justify-content: center;
    }

    &:not(.tidy-table-actions):not(.header-cell-actions):not(.primary) {
      padding: var(--t5e-size-halfx) var(--t5e-size-1x) calc(var(--t5e-size-halfx) + var(--t5e-size-1));
    }

    &:not(:last-child) {
      border-right: 0.0625rem solid var(--t5e-table-row-divider);
      border-image: linear-gradient(to bottom,
          transparent 10%,
          var(--t5e-table-row-divider) 10%,
          var(--t5e-table-row-divider) 90%,
          transparent 90%) 1;

      &.tidy-table-header-cell {
        border-right-color: transparent;
        border-image: none;
      }
    }

    &.item-label {
      justify-content: stretch;
      border-right: none;
      align-items: center;
    }

    &.primary {
      flex: 1;
      min-width: 0;
    }

    &:not(.primary) {
      flex-basis: var(--tidy-table-column-width, var(--t5e-size-20x));
      // max-width triggers truncated content to show ellipses
      max-width: var(--tidy-table-column-width, var(--t5e-size-20x));
    }

    &.text-cell {
      flex-direction: column;
      justify-content: center;
      max-height: none;
    }

    .cell-label {
      font-size: var(--font-size-default);
    }

    .cell-text,
    .cell-name,
    .cell-context {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .cell-context {
      margin-top: -0.125rem;
      color: var(--t5e-color-text-lightest);
      font-size: var(--font-size-small);
    }

    // TODO: Look back at sizing to see if it needs to match other context areas.
    // .cell-context,
    // .advancement-cell-context {
    //   // font-size: var(--font-size-small);
    // }

    .cell-name {
      margin-block-end: var(--t5e-size-halfx);
    }

    .advancement-cell-context {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--t5e-size-halfx);
      margin: -0.125rem 0 var(--t5e-size-1x) 0;
      padding-inline-end: var(--t5e-size-halfx);
      white-space: normal;

      p {
        color: var(--t5e-color-text-lighter);
        margin: 0 0 var(--t5e-size-1x);

        &:first-child {
          margin-bottom: 0;
        }
      }
    }

    .spell-components {
      align-items: center;
    }

    .uses {
      font-size: var(--font-size-14);

      .value {
        font-weight: var(--font-weight-bold);
      }

      .divider {
        font-weight: var(--font-weight-default);
        color: var(--t5e-color-text-gold);
        margin: 0 0.125rem;
      }

      .max,
      .modifier {
        font-weight: var(--font-weight-label);
        color: var(--t5e-color-text-lightest);
      }

      i {
        color: var(--t5e-color-text-lighter);
      }

      &.recharge i {
        margin-inline-end: 0.25rem;
      }
    }

    .hit-save {
      font-size: var(--font-size-14);

      .value {
        font-weight: var(--font-weight-bold);
      }

      .modifier {
        font-weight: var(--font-weight-label);
        color: var(--t5e-color-text-lightest);
      }

      .ability {
        font-weight: var(--font-weight-label);
        color: var(--t5e-color-text-gold-emphasis);
        margin-inline-end: 0.125rem;
      }
    }

    .damage-icon {
      --icon-fill: var(--t5e-color-icon-diminished);
      padding: 0.0625rem 0 0 0.125rem;
    }
  }

  .tidy-table-header-cell {
    &.primary h3 {
      flex: 1;
      max-width: max-content;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .row-detail-expand-indicator,
  .container-expander {
    flex: 0;
    width: var(--t5e-table-button-width);
    transition: opacity var(--t5e-transition-default);
    transition-property: opacity, max-width;
    align-content: center;

    i {
      color: var(--t5e-color-icon-disabled);
      transition: all var(--t5e-transition-default);
      width: var(--t5e-table-button-width);
      height: var(--t5e-table-button-width);
      display: flex;
      justify-content: center;
      align-items: center;

      &.expanded {
        transform: rotate(90deg);
        color: var(--t5e-color-icon-diminished);
      }
    }

    // Hovering on the button itself
    &:hover {
      i {
        color: var(--t5e-color-text-default);
      }
    }

    &:has(.expanded) {
      opacity: 1;
    }
  }

  .tidy-table-cell {
    &.primary {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      .item-name {
        flex: 1;
        min-width: 0;
        display: flex;
        align-items: center;

        .cell-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .row-detail-expand-indicator:not(:has(.expanded)) {
        max-width: 0;
        opacity: 0;
        pointer-events: none;
        align-self: center;
      }

      // Hover on the cell
      &:hover {
        .row-detail-expand-indicator {
          max-width: var(--t5e-table-button-width);
          opacity: 1;
        }
      }
    }
  }

  .tidy-table-actions {
    padding-inline-start: var(--t5e-size-halfx);
    padding-inline-end: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      padding-left: 0.03125rem;
      height: var(--t5e-size-6x);
      transition: background-color var(--t5e-transition-default);
      width: var(--t5e-size-6x);
    }

    .tidy-table-button:hover i {
      background: rgba(0, 0, 0, 0.12);

    }
  }

  .tidy-table-button {
    align-items: center;
    align-self: center;
    color: var(--t5e-color-icon-button);
    display: flex;
    font-size: 0.8125rem;
    justify-content: center;
    min-height: var(--t5e-field-size-default);
    position: relative;
    transition: all var(--t5e-transition-default);
    width: var(--t5e-table-button-width);

    &.button-toggle {
      &.toggled {
        color: var(--t5e-color-icon-diminished);
        font-weight: 400;
      }
    }

    &:hover {
      color: var(--t5e-color-icon-default);
    }
  }


  .tidy-table-row-use-button {
    --t5e-use-button-border-color: var(--t5e-color-gold);
    align-items: center;
    align-self: center;
    border-radius: 0.125rem;
    outline: 0.0625rem solid var(--t5e-use-button-border-color);
    // outline-offset: -0.0625rem;
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    height: var(--t5e-icon-size-7x);
    width: var(--t5e-icon-size-7x);
    justify-content: center;
    margin: 0.0625rem 0 0.0625rem 0.0625rem;
    overflow: hidden;
    position: relative;
    transition: all var(--t5e-transition-default);

    img {
      border: 0;
      position: relative;
      z-index: -1;
    }

    i {
      grid-column: 1;
      font-size: 1.125rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0.0625rem;
      left: 0;
      display: flex;
      /* Fix for font awesome ::before icon alignment */
      align-items: center;
      justify-content: center;
      color: var(--t5e-color-text-gold-emphasis);
      opacity: 0;
      transition: all var(--t5e-transition-default);
    }

    .roll-prompt i {
      bottom: 0;
    }

    // TODO: hightouch, please review this. kgar put this here to support svg images
    dnd5e-icon {
      --icon-size: calc(1.75rem - 0.125rem);
      --icon-fill: var(--t5e-color-text-lighter);
    }

    img {
      border-radius: 0.0625rem;
      grid-column: 1;
      transition: all var(--t5e-transition-default);
    }

    &:hover {
      img {
        opacity: 0;
      }

      // TODO: hightouch, this was one of the few ways to make an SVG icon go hidden. It doesn't animate, well (or possibly at all).
      dnd5e-icon {
        --icon-fill: transparent;
      }

      i {
        display: flex;
        opacity: 1;
      }

      background: transparent;
    }
  }

  .tidy-table-row-container {
    &.context {
      box-shadow: 0 0 0.1875rem 0.0625rem var(--t5e-primary-accent-color) inset;
    }

    .tidy-table-row {
      &:not(:has(.container-expander)) {
        .item-name {
          margin-inline-start: 0.5rem;
        }
      }
    }
  }

  /* Inline Activities */
  .tidy-table.inline-activities-table {
    margin: var(--t5e-size-halfx) 0 var(--t5e-size-3x) 0;

    .item-use-button {
      height: var(--t5e-size-6x);
      width: var(--t5e-size-6x);
      min-height: unset;
      min-width: unset;

      .item-image {
        --icon-size: calc(var(--t5e-size-6x) - 0.125rem);
      }
    }

    .activity-indent-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-12);
      width: var(--t5e-icon-size-7x);
      height: var(--t5e-icon-size-7x);

      i {
        color: var(--t5e-color-icon-disabled);
      }
    }
  }

  /* Inline Containers */
  // TODO
  .tidy-table-row~.expandable.expanded {
    --t5e-item-row-background: rgba(255, 255, 255, 0.08);
    background: linear-gradient(120deg,
        var(--t5e-component-card-darker) 10%,
        var(--t5e-component-card-default) 120%);


    [data-tidy-sheet-part="item-property-list"] .value {}
  }

  .empty-container {
    min-height: var(--t5e-size-8x);
    display: flex;
    align-items: center;
    // background-color: var(--t5e-component-card-default);
    color: var(--t5e-color-text-lightest);
  }

  .inline-content-view {
    border-radius: 0 0 0.125rem 0.125rem;
    background: linear-gradient(90deg,
        var(--t5e-color-palette-white) 0.59%,
        var(--t5e-component-card-default) 44%);
    padding: var(--t5e-size-1x) 0 var(--t5e-size-2x) var(--t5e-size-4x);
    border-width: 0 0 0.0625rem 0;
    border-style: solid;
    border-image: var(--t5e-table-row-border-image);

    .tidy-table-header-row {
      background: var(--t5e-component-card-darker);
    }
  }

  .header-cell-actions {
    justify-content: flex-end;

    .header-action {
      color: var(--t5e-color-icon-button);
    }
  }

  /* Spellbook */

  .tidy-table-row {

    &[data-tidy-item-type="spell"] {

      .spell-school-icon dnd5e-icon {
        --icon-size: calc(1.375rem);
        --icon-fill: var(--t5e-color-text-gold-emphasis);
      }

      &.unprepared {
        color: var(--t5e-color-text-lightest);

        .item-name,
        .tidy-table-actions {
          font-style: italic;
          color: var(--t5e-color-text-lighter);
        }

        .color-text-lighter,
        .color-text-gold-emphasis {
          color: var(--t5e-color-text-lightest);
        }

        dnd5e-icon {
          --icon-fill: var(--t5e-color-gold);
        }
      }
    }

    &.spell-preparation:not(.unprepared) {


      background: linear-gradient(to right,
          var(--t5e-color-palette-grey-100) 10%,
          rgba(255, 255, 255, 0.24) 60%);

    }

    &.prepared {
      --t5e-item-row-background: var(--t5e-color-palette-grey-100);
      background: linear-gradient(to right,
          var(--t5e-color-palette-grey-100) 10%,
          rgba(255, 255, 255, 0.24) 60%);

      &.expanded {}
    }

    &.spell-preparation:not(.mode-prepared) {
      .tidy-table-row-use-button {
        --t5e-use-button-border-color: var(--t5e-mode-color);
      }
    }

    &.mode-always {

      .tidy-table-row-use-button {
        outline: 0.125rem solid var(--t5e-use-button-border-color);
        outline-offset: -0.0625rem;
      }

      .highlight {
        opacity: 0.32;
        background: linear-gradient(to right,
            var(--t5e-mode-color) 0%,
            transparent 28%);
      }

      i.mode-always:hover {
        text-shadow: 0 0 0.25rem oklch(from var(--t5e-theme-color-lighter) l c h / 0.5);
      }
    }
  }

  .spell-row-icon {
    color: var(--t5e-icon-color);
  }

  .spell-slot-tracker {
    margin-left: var(--t5e-size-1x);
    transform: translateY(var(--t5e-size-1));
    gap: var(--t5e-size-1x);

    input,
    span {
      flex: 0 1 content;
    }

    input[type="number"] {
      font-family: var(--t5e-font-family-title);
      font-size: var(--font-size-16);
      max-width: var(--t5e-field-size-default);
      text-align: right;
      padding-bottom: 0.0625rem;
    }
  }

  .pips.spell-pips {
    padding-block-start: var(--t5e-size-1);

    .pip {
      --pip-color: var(--t5e-color-text-gold-emphasis);
      transition: all var(--t5e-transition-default);

      &:hover,
      &:active,
      &:focus-within {
        background-color: var(--t5e-theme-color-lighter);
        filter: drop-shadow(0 0 0.1875rem oklch(from var(--t5e-theme-color-highlight) l c h));
      }

      &.active {

        &:hover,
        &:active,
        &:focus-within {
          background-color: var(--t5e-color-text-oninverse-gold-light);
        }
      }
    }
  }

  :is(button, .button).button.button-icon-only.button-borderless.spell-slot-tracker-button {
    width: 1.375rem;
    height: 1.375rem;
    min-height: unset;
    min-width: unset;

    &:hover,
    &:active,
    &:focus-within {
      background: rgba(0, 0, 0, 0.48);
    }

    &:disabled {
      cursor: default;
      pointer-events: none;

      i {
        color: var(--t5e-color-icon-disabled);
      }
    }
  }

  /* Effects */
  .editor-rendered-content {
    .effect-summary-changes-table {
      table-layout: fixed;

      &:is(:last-child) {
        margin-bottom: var(--t5e-size-2x);
      }

      th {
        text-align: left;
      }

      th,
      td {
        padding: 0.25rem;
      }
    }
  }



  /* Theme-specific styles */
  &:where(.theme-light) {
    .inline-content-view {
      .tidy-table-header-row {
        border: none;
      }
    }
  }

  &:where(.theme-dark) {
    c .tidy-table-header-row {
      --t5e-table-header-border-color: rgba(255, 255, 255, 0.16);

      &:hover {
        --t5e-table-header-border-color: rgba(255, 255, 255, 0.28);
      }
    }

    .tidy-table-row {
      // --t5e-item-row-background: rgba(255, 255, 255, 0.08);

      .item-image {
        background-color: var(--t5e-color-palette-gold-56);
      }

      &.expanded {
        --t5e-item-row-background: rgba(255, 255, 255, 0.06);
        background: var(--t5e-component-card-default);
      }

      &.equipped {
        background: linear-gradient(to right,
            var(--t5e-component-card-default) 10%,
            transparent 60%);

        &.expanded {
          --t5e-item-row-background: rgba(255, 255, 255, 0.08);
          background: var(--t5e-component-card-default);
        }
      }

      &.spell-preparation.mode-always .highlight {
        background: linear-gradient(to right, oklch(from var(--t5e-mode-color) l c h / 0.25) 10%, transparent 40%);
      }

      &.rarity .highlight {
        background: linear-gradient(to right, oklch(from var(--t5e-item-color) l c h / 0.28) 10%, transparent 48%);
      }

      // /* Hide if this is a normally prepared spell. */
      // &.mode-prepared .highlight {
      //   opacity: 0;
      // }

      /* If a spell is prepared, use full background gradient. */
      &.spell-preparation:not(.unprepared) {
        background: linear-gradient(to right,
            var(--t5e-component-card-default) 5%,
            transparent 64%);
      }

      /* If expanded, make it a little more visible. */
      &.prepared.expanded {
        --t5e-item-row-background: rgba(255, 255, 255, 0.08);
        background: var(--t5e-component-card-default);
      }

      &.mode-always .highlight {
        opacity: 1;
        background: linear-gradient(to right,
            var(--t5e-theme-color-darkest) -25%,
            transparent 25%);
      }
    }

    .tidy-table-actions .tidy-table-button:hover i {
      background: rgba(0, 0, 0, 1);
    }

    .expandable .expandable {
      .tidy-table-row.expanded {
        background: rgba(255, 255, 255, 0.05);
      }
    }

    .inline-content-view {
      background: linear-gradient(90deg,
          var(--t5e-component-card-darker, #1B1D23) 0.59%,
          var(--t5e-component-card-default, #252830) 44%);

      .tidy-table-header-row {
        background: rgba(255, 255, 255, 0.08);
      }

      .tidy-table-row-container {
        background: var(--t5e-component-card-default);
      }
    }
  }
}