.tidy5e-sheet:is(.quadrone, .dnd5e2) {
  .tidy-table-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.75rem;
  }

  .tidy-table {
    container-type: inline-size;

    /* Example code only */
    // background-color: var(--t5e-component-card-ondefault-darker);
  }

  /* Table row styles */
  .tidy-table-header-row,
  .tidy-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
  }

  .tidy-table-header-row {
    background: linear-gradient(to right,
        var(--t5e-theme-color-darkest),
        var(--t5e-theme-color-default));
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.125rem;
    color: var(--t5e-color-text-ondefault-default);
    max-height: var(--t5e-spacing-6x);

    :is(.tidy-table-cell, .tidy-table-header-cell) {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
      min-height: 0;
    }

    &.toggleable {
      cursor: pointer;
    }

    .button.expand-button {
      width: var(--t5e-spacing-6x);
      height: var(--t5e-spacing-6x);
      background: none;
      border: none;
      padding: var(--t5e-spacing-halfx) 0 0;

      i {
        color: var(--t5e-color-icon-ondefault-disabled);
        transition: transform var(--t5e-transition-default);
      }

      &.expanded i {
        color: var(--t5e-color-icon-ondefault-diminished);
        transform: rotate(90deg);
        padding: 0 0 var(--t5e-spacing-halfx);
      }

      &:hover {
        background: none;
        border: none;

        i {
          color: var(--t5e-color-text-ondefault-default);
        }
      }
    }

    &:hover .button.expand-button {
      i {
        color: var(--t5e-color-icon-ondefault-default);
      }
    }

    .header-label-cell {
      justify-content: flex-start;
      margin: 0;
      padding-inline-start: 0;
      padding-block-end: 0.09375rem;

      >* {
        font-family: var(--t5e-font-family-title);
        font-size: var(--font-size-16);
        line-height: 1rem;
      }

      i {
        font-family: 'Font Awesome 6 Pro' !important;
      }

      h3 {
        color: var(--t5e-color-text-ondefault-default);
      }

      .table-header-count {
        color: var(--t5e-color-text-lightest);
        margin-inline-start: 0.25rem;
      }
    }

    .header-cell-actions {
      justify-content: flex-end;
      margin: 0;
    }

    &.prepared {
      background: linear-gradient(to right,
          var(--t5e-spellcasting-default-darker),
          var(--t5e-spellcasting-default));
    }

    &.always-prepared {
      background: linear-gradient(to right,
          var(--t5e-spellcasting-always-darker),
          var(--t5e-spellcasting-always));
    }

    &.pact {
      background: linear-gradient(to right,
          var(--t5e-spellcasting-pact-darker),
          var(--t5e-spellcasting-pact));
    }

    &.at-will {
      background: linear-gradient(to right,
          var(--t5e-spellcasting-atwill-darker),
          var(--t5e-spellcasting-atwill));
    }

    &.ritual {
      background: linear-gradient(to right,
          var(--t5e-spellcasting-ritual-darker),
          var(--t5e-spellcasting-ritual));
    }

    &.innate {
      background: linear-gradient(to right,
          var(--t5e-spellcasting-innate-darker),
          var(--t5e-spellcasting-innate));
    }
  }

  .tidy-table-row {
    border-radius: 0.125rem;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right,
        rgba(143, 123, 78, 0) 0%,
        rgba(143, 123, 78, 0.25) 20%,
        rgba(143, 123, 78, 0.25) 80%,
        rgba(143, 123, 78, 0) 100%) 0 0 1 0;

    &.equipped {
      background-color: var(--t5e-component-card-ondefault-default);
    }

    &.unidentified {
      /* TODO: Add color */
    }

    &.spell:not(.equipped) {

      .item-label,
      .item-context {
        font-style: italic;
        color: var(--t5e-color-text-ondefault-lightest);
      }
    }

    &.rarity {
      background: linear-gradient(to right,
          oklch(from var(--t5e-item-row-color) l c h / 0.3) 10%,
          transparent 50%);

      .item-use-button {
        outline: 1px solid var(--t5e-item-use-button-border-color);
        border: 1px solid var(--t5e-item-use-button-border-color);

        i {
          color: var(--t5e-item-use-button-border-color);
        }
      }
    }

    &.expanded {
      background: linear-gradient(0deg,
          rgba(255, 255, 255, 0.10) 0%,
          rgba(255, 255, 255, 0.10) 100%),
        var(--t5e-component-card-ondefault-default);
    }
  }

  /* Cell styles */
  :is(.tidy-table-cell, .tidy-table-header-cell) {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 0 0.0625rem;
    min-height: var(--t5e-field-size-default);
    height: 100%;

    &:not(.tidy-table-actions):not(.header-cell-actions) {
      min-width: 5rem;
    }

    &:not(:last-child) {
      border-right: 1px solid var(--t5e-table-row-divider);
      border-image: linear-gradient(to bottom,
          transparent 10%,
          var(--t5e-table-row-divider) 10%,
          var(--t5e-table-row-divider) 90%,
          transparent 90%) 1;

      &.tidy-table-header-cell {
        border-right-color: transparent;
        border-image: none;
      }
    }

    &.item-label {
      align-items: stretch;
      justify-content: stretch;
      border-right: none;

      >* {
        align-content: center;
      }
    }

    &.primary {
      flex: 1;
      min-width: 0;
    }

    &:not(.primary) {
      flex-basis: var(--tidy-table-column-width, 5rem);
    }

    &.text-cell {
      flex-direction: column;
      justify-content: center;
      max-height: none;
    }

    .cell-label {
      font-size: var(--font-size-default);
    }

    .cell-name,
    .cell-context {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .cell-context {
      margin-top: -0.125rem;
      font-size: var(--font-size-small);
      color: var(--t5e-color-text-ondefault-lightest);
    }

    .spell-components {
      align-items: center;
    }

    .uses {
      font-size: var(--font-size-14);

      .value {
        font-weight: var(--font-weight-bold);
      }

      .divider {
        font-weight: var(--font-weight-default);
        color: var(--t5e-color-text-ondefault-gold);
        margin: 0 0.125rem;
      }

      .max,
      .modifier {
        font-weight: var(--font-weight-label);
        color: var(--t5e-color-text-ondefault-lightest);
      }

      i {
        color: var(--t5e-color-text-ondefault-lighter);
      }

      &.recharge i {
        margin-inline-end: 0.25rem;
      }
    }

    .hit-save {
      font-size: var(--font-size-14);

      .value {
        font-weight: var(--font-weight-bold);
      }

      .modifier {
        font-weight: var(--font-weight-label);
        color: var(--t5e-color-text-ondefault-lightest);
      }

      .ability {
        font-weight: var(--font-weight-label);
        color: var(--t5e-color-text-ondefault-gold-emphasis);
        margin-inline-end: 0.125rem;
      }
    }
  }

  .tidy-table-header-cell {
    &.primary h3 {
      flex: 1;
      max-width: max-content;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .row-detail-expand-indicator,
  .container-expander {
    flex: 0;
    width: var(--t5e-table-button-width);
    transition: opacity var(--t5e-transition-default);
    transition-property: opacity, max-width;

    i {
      color: var(--t5e-color-icon-ondefault-disabled);
      transition: all var(--t5e-transition-default);
      width: var(--t5e-table-button-width);
      height: var(--t5e-table-button-width);
      display: flex;
      justify-content: center;
      align-items: center;

      &.expanded {
        transform: rotate(90deg);
        color: var(--t5e-color-icon-ondefault-diminished);
      }
    }

    // Hovering on the button itself
    &:hover {
      i {
        color: var(--t5e-color-text-default);
      }
    }

    &:has(.expanded) {
      opacity: 1;
    }
  }

  .tidy-table-cell {
    &.primary {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      .item-name {
        flex: 1;
        min-width: 0;
        display: flex;
        align-items: stretch;

        >* {
          align-content: center;
        }
      }

      .row-detail-expand-indicator:not(:has(.expanded)) {
        max-width: 0;
        opacity: 0;
        pointer-events: none;
      }

      // Hover on the cell
      &:hover {
        .row-detail-expand-indicator {
          max-width: var(--t5e-table-button-width);
          opacity: 1;
        }
      }
    }
  }

  .tidy-table-actions {
    padding-inline-start: var(--t5e-spacing-halfx);
    padding-inline-end: 0;
    height: 100%;
    display: flex;
    align-items: center;
  }

  .tidy-table-button {
    align-items: center;
    color: var(--t5e-color-icon-ondefault-diminished);
    display: flex;
    font-size: 0.8125rem;
    height: 100%;
    justify-content: center;
    min-height: var(--t5e-field-size-default);
    transition: all var(--t5e-transition-default);
    width: var(--t5e-table-button-width);

    &.toggle-button {
      &.toggled {
        color: var(--t5e-color-icon-ondefault-diminished);
        font-weight: 400;
      }
    }

    &:hover {
      color: var(--t5e-color-icon-ondefault-default);
    }
  }

  .item-use-button {
    align-items: center;
    border-radius: 0.125rem;
    border: 1px solid var(--t5e-color-gold);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    height: 1.75rem;
    justify-content: center;
    margin: 0.0625rem 0 0.0625rem 0.0625rem;
    position: relative;
    transition: all var(--t5e-transition-default);
    width: 1.75rem;

    i {
      grid-column: 1;
      font-size: 1.125rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0.0625rem;
      left: 0;
      display: flex;
      /* Fix for font awesome ::before icon alignment */
      align-items: center;
      justify-content: center;
      color: var(--t5e-color-text-ondefault-gold-emphasis);
      opacity: 0;
      transition: all var(--t5e-transition-default);
    }

    // TODO: Hightouch, please review this. kgar put this here to support svg images
    dnd5e-icon {
      --icon-size: calc(1.75rem - 0.125rem);
      --icon-fill: var(--t5e-color-text-lighter);
    }

    img {
      border-radius: 0.0625rem;
      grid-column: 1;
      transition: all var(--t5e-transition-default);
    }

    &:hover {
      img {
        opacity: 0;
      }

      // TODO: Hightouch, this was one of the few ways to make an SVG icon go hidden. It doesn't animate, well (or possibly at all).
      dnd5e-icon {
        --icon-fill: transparent;
      }

      i {
        display: flex;
        opacity: 1;
      }

      background: transparent;
    }
  }

  .tidy-table-row-container {
    &.context {
      box-shadow: 0 0 0.1875rem 0.0625rem var(--t5e-primary-accent-color) inset;
    }

    .tidy-table-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border-radius: 0.3125rem;

      --t5e-item-table-row-background: transparent;

      &:not(:has(.container-expander)) {
        .item-name {
          margin-inline-start: 0.5rem;
        }
      }
    }
  }

  /* Inline Activities */

  .tidy-table.inline-activities-table {
    .activity-indent-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: var(--t5e-icon-size-7x);
      height: var(--t5e-icon-size-7x);

      i {
        color: var(--t5e-color-icon-ondefault-disabled);
      }
    }
  }

  /* Inline Containers */
  // TODO
  .expandable-expanded {
    // background: linear-gradient(90deg, var(--t5e-component-card-onDefault-darker, #1B1D23) 0.59%, var(--t5e-component-card-onDefault-default, #252830) 44%);
  }

  .empty-container {
    min-height: var(--t5e-spacing-8x);
    align-content: center;
    background-color: var(--t5e-component-card-default);
    color: var(--t5e-color-text-ondefault-lightest);
  }

  .inline-content-view {
    border-radius: 0 0 0.125rem 0.125rem;
    background-color: red;
    background: linear-gradient(90deg,
        var(--t5e-color-palette-white) 0.59%,
        var(--t5e-component-card-ondefault-default) 44%);
    padding: var(--t5e-spacing-1x) 0 var(--t5e-spacing-2x) var(--t5e-spacing-4x);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: linear-gradient(to right,
        rgba(143, 123, 78, 0) 0%,
        rgba(143, 123, 78, 0.25) 20%,
        rgba(143, 123, 78, 0.25) 80%,
        rgba(143, 123, 78, 0) 100%) 0 0 1 0;

    .tidy-table-header-row {
      background: rgba(0, 0, 0, 0.12);
    }

    .tidy-table-row-container {
      background: var(--t5e-component-card-ondefault-default);
    }
  }

  &:where(.theme-light) {
    .inline-content-view {
      .tidy-table-header-row {
        border: none;
      }
    }
  }

  .header-actions {
    justify-content: flex-end;
    padding-inline: var(--t5e-spacing-1x);
  }

  &:where(.theme-dark) {
    .tidy-table-row.expanded {
      background: linear-gradient(0deg,
          rgba(255, 255, 255, 0.10) 0%,
          rgba(255, 255, 255, 0.10) 100%),
        var(--t5e-component-card-oninverse-default);
    }

    .inline-content-view {
      background: linear-gradient(90deg,
          var(--t5e-component-card-oninverse-darker, #1B1D23) 0.59%,
          var(--t5e-component-card-oninverse-default, #252830) 44%);

      .tidy-table-header-row {
        background: rgba(255, 255, 255, 0.12);
      }

      .tidy-table-row-container {
        background: var(--t5e-component-card-oninverse-default);
      }
    }
  }
}