.tidy5e-sheet:is(.quadrone, .dnd5e2) {
  --t5e-table-row-border-image: linear-gradient(to right,
      rgba(143, 123, 78, 0) 0%,
      rgba(143, 123, 78, 0.25) 20%,
      rgba(143, 123, 78, 0.25) 80%,
      rgba(143, 123, 78, 0) 100%) 0 0 1 0;

  --t5e-table-header-row-height: var(--t5e-size-6x);

  .tidy-table-container {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 0.75rem;
  }

  .tidy-table {
    container-type: inline-size;
  }

  /* Table row styles */
  .tidy-table-header-row,
  .tidy-table-row {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .tidy-table-header-row {
    --t5e-table-header-background-left: var(--t5e-theme-color-darkest);
    --t5e-table-header-background-right: var(--t5e-theme-color-default);

    background: linear-gradient(to right,
        var(--t5e-table-header-background-left),
        var(--t5e-table-header-background-right));
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: var(--t5e-size-halfx);
    color: var(--t5e-color-text-default);
    max-height: var(--t5e-table-header-row-height);

    :is(.tidy-table-cell, .tidy-table-header-cell) {
      margin-top: var(--t5e-size-1x);
      margin-bottom: var(--t5e-size-1x);
      min-height: 0;
    }

    &.toggleable {
      cursor: pointer;
    }

    .button.expand-button {
      width: var(--t5e-table-header-row-height);
      height: var(--t5e-table-header-row-height);
      background: none;
      border: none;
      padding: var(--t5e-spacing-halfx) 0 0;
      box-shadow: none;

      i {
        color: var(--t5e-color-icon-disabled);
        transition: transform var(--t5e-transition-default);
      }

      &.expanded i {
        color: var(--t5e-color-icon-diminished);
        transform: rotate(90deg);
        padding: 0 0 var(--t5e-size-halfx);
      }

      &:hover {
        background: none;
        border: none;

        i {
          color: var(--t5e-color-text-default);
        }
      }
    }

    &:hover .button.expand-button {
      i {
        color: var(--t5e-color-icon-default);
      }
    }

    .header-label-cell {
      justify-content: flex-start;
      margin: 0;
      padding-inline-start: 0;
      padding-block-end: 0.09375rem;

      >* {
        font-family: var(--t5e-font-family-title);
        font-size: var(--font-size-16);
        line-height: 1rem;
      }

      i {
        font-family: 'Font Awesome 6 Pro' !important;
      }

      h3 {
        color: var(--t5e-color-text-default);
      }

      .table-header-count {
        color: var(--t5e-color-text-lightest);
        margin-inline-start: 0.25rem;
      }
    }

    .header-cell-actions {
      justify-content: flex-end;
      margin: 0;
    }


    .tidy-table-button {
      i {
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color var(--t5e-transition-default);
        border-radius: 100%;
        height: var(--t5e-size-5x);
        width: var(--t5e-size-5x);
      }

      i.emphasis {
        color: var(--t5e-color-text-gold-emphasis);
      }

      i.warning {
        color: var(--t5e-color-yellow);
      }

      &:hover i {
        background: var(--t5e-theme-color-darkest);
      }
    }

  }

  .tidy-table-row {
    border-radius: 0.125rem;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: var(--t5e-table-row-border-image);

    --t5e-item-row-color: transparent;
    position: relative;

    .item-image {
      background: var(--t5e-color-gold);
    }

    &.equipped {
      --t5e-item-row-color: var(--t5e-color-gold);
      background: var(--t5e-component-card-default);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, oklch(from var(--t5e-item-row-color) l c h / 0.25) 10%, transparent 40%);
        pointer-events: none;
      }
    }

    // TODO: Finish other unidentified styles. Classes aren't applied yet.
    &.unidentified {
      color: var(--t5e-color-text-lighter);
      background: transparent;

      .tidy-table-row-use-button {
        border: 1px solid var(--t5e-color-palette-grey-40);
      }

      .item-image {
        filter: grayscale(100%) opacity(75%);
      }

      .item-name .cell-name {
        font-style: italic;
      }

      &::before {
        content: none;
      }
    }

    &.advancement-item {
      min-height: 2.25rem;
    }

    &.spell:not(.equipped) {

      .item-label,
      .item-context {
        font-style: italic;
        color: var(--t5e-color-text-lightest);
      }
    }

    &.rarity,
    &.spell-preparation {
      --t5e-item-row-color: var(--t5e-item-color);
      --t5e-use-button-border-color: var(--t5e-item-color);

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to right, oklch(from var(--t5e-item-row-color) l c h / 0.25) 10%, transparent 40%);
        pointer-events: none;
      }

      .tidy-table-row-use-button {
        outline: 1px solid var(--t5e-use-button-border-color);
        border: 1px solid var(--t5e-use-button-border-color);

        i {
          color: var(--t5e-item-use-button-border-color);
        }
      }
    }

    &.expanded {
      background: linear-gradient(0deg,
          rgba(255, 255, 255, 0.10) 0%,
          rgba(255, 255, 255, 0.10) 100%),
        var(--t5e-component-card-default);
    }
  }

  /* Cell styles */
  :is(.tidy-table-cell, .tidy-table-header-cell) {
    align-items: center;
    display: flex;
    justify-content: center;
    // padding: 0 0.0625rem;
    min-height: var(--t5e-field-size-default);

    &:not(.tidy-table-actions):not(.header-cell-actions):not(.primary) {
      padding: var(--t5e-size-halfx) var(--t5e-size-1x) calc(var(--t5e-size-halfx) + var(--t5e-size-1));
    }

    &:not(:last-child) {
      border-right: 1px solid var(--t5e-table-row-divider);
      border-image: linear-gradient(to bottom,
          transparent 10%,
          var(--t5e-table-row-divider) 10%,
          var(--t5e-table-row-divider) 90%,
          transparent 90%) 1;

      &.tidy-table-header-cell {
        border-right-color: transparent;
        border-image: none;
      }
    }

    &.item-label {
      justify-content: stretch;
      border-right: none;
      align-items: center;
    }

    &.primary {
      flex: 1;
      min-width: 0;
    }

    &:not(.primary) {
      flex-basis: var(--tidy-table-column-width, var(--t5e-size-20x));
    }

    &.text-cell {
      flex-direction: column;
      justify-content: center;
      max-height: none;
    }

    .cell-label {
      font-size: var(--font-size-default);
    }

    .cell-text,
    .cell-name,
    .cell-context {
      display: block;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .cell-context {
      margin-top: -0.125rem;
      color: var(--t5e-color-text-lightest);
      font-size: var(--font-size-small);
    }

    // TODO: Look back at sizing to see if it needs to match other context areas.
    // .cell-context,
    // .advancement-cell-context {
    //   // font-size: var(--font-size-small);
    // }

    .cell-name {
      margin: var(--t5e-size-1x) 0;
    }

    .advancement-cell-context {
      align-items: flex-start;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: var(--t5e-size-halfx);
      margin: -0.125rem 0 var(--t5e-size-1x) 0;
      padding-inline-end: var(--t5e-size-halfx);
      white-space: normal;

      p {
        color: var(--t5e-color-text-lighter);
        margin: 0 0 var(--t5e-size-1x);

        &:first-child {
          margin-bottom: 0;
        }
      }
    }

    .spell-components {
      align-items: center;
    }

    .uses {
      font-size: var(--font-size-14);

      .value {
        font-weight: var(--font-weight-bold);
      }

      .divider {
        font-weight: var(--font-weight-default);
        color: var(--t5e-color-text-gold);
        margin: 0 0.125rem;
      }

      .max,
      .modifier {
        font-weight: var(--font-weight-label);
        color: var(--t5e-color-text-lightest);
      }

      i {
        color: var(--t5e-color-text-lighter);
      }

      &.recharge i {
        margin-inline-end: 0.25rem;
      }
    }

    .hit-save {
      font-size: var(--font-size-14);

      .value {
        font-weight: var(--font-weight-bold);
      }

      .modifier {
        font-weight: var(--font-weight-label);
        color: var(--t5e-color-text-lightest);
      }

      .ability {
        font-weight: var(--font-weight-label);
        color: var(--t5e-color-text-gold-emphasis);
        margin-inline-end: 0.125rem;
      }
    }
  }

  .tidy-table-header-cell {
    &.primary h3 {
      flex: 1;
      max-width: max-content;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .row-detail-expand-indicator,
  .container-expander {
    flex: 0;
    width: var(--t5e-table-button-width);
    transition: opacity var(--t5e-transition-default);
    transition-property: opacity, max-width;

    i {
      color: var(--t5e-color-icon-disabled);
      transition: all var(--t5e-transition-default);
      width: var(--t5e-table-button-width);
      height: var(--t5e-table-button-width);
      display: flex;
      justify-content: center;
      align-items: center;

      &.expanded {
        transform: rotate(90deg);
        color: var(--t5e-color-icon-diminished);
      }
    }

    // Hovering on the button itself
    &:hover {
      i {
        color: var(--t5e-color-text-default);
      }
    }

    &:has(.expanded) {
      opacity: 1;
    }
  }

  .tidy-table-cell {
    &.primary {
      display: flex;
      flex-direction: row;
      align-items: stretch;

      .item-name {
        flex: 1;
        min-width: 0;
        display: flex;
        align-items: center;

        .cell-text {
          display: flex;
          flex-direction: column;
          justify-content: center;
        }
      }

      .row-detail-expand-indicator:not(:has(.expanded)) {
        max-width: 0;
        opacity: 0;
        pointer-events: none;
        align-self: center;
      }

      // Hover on the cell
      &:hover {
        .row-detail-expand-indicator {
          max-width: var(--t5e-table-button-width);
          opacity: 1;
        }
      }
    }
  }

  .tidy-table-actions {
    padding-inline-start: var(--t5e-size-halfx);
    padding-inline-end: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    i {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 100%;
      height: var(--t5e-size-6x);
      transition: background-color var(--t5e-transition-default);
      width: var(--t5e-size-6x);
    }

    .tidy-table-button:hover i {
      background: rgba(0, 0, 0, 0.12);

    }
  }

  .tidy-table-button {
    align-items: center;
    align-self: center;
    color: var(--t5e-color-icon-button);
    display: flex;
    font-size: 0.8125rem;
    justify-content: center;
    min-height: var(--t5e-field-size-default);
    position: relative;
    transition: all var(--t5e-transition-default);
    width: var(--t5e-table-button-width);

    &:has(i) {
      padding-left: 0.5px;
    }

    &.button-toggle {
      &.toggled {
        color: var(--t5e-color-icon-diminished);
        font-weight: 400;
      }
    }

    &:hover {
      color: var(--t5e-color-icon-default);
    }
  }

  .tidy-table-row-use-button {
    align-items: center;
    border-radius: 0.125rem;
    border: 1px solid var(--t5e-color-gold);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    height: var(--t5e-icon-size-7x);
    width: var(--t5e-icon-size-7x);
    justify-content: center;
    margin: 0.0625rem 0 0.0625rem 0.0625rem;
    position: relative;
    transition: all var(--t5e-transition-default);

    img {
      border: 0;
    }

    i {
      grid-column: 1;
      font-size: 1.125rem;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0.0625rem;
      left: 0;
      display: flex;
      /* Fix for font awesome ::before icon alignment */
      align-items: center;
      justify-content: center;
      color: var(--t5e-color-text-gold-emphasis);
      opacity: 0;
      transition: all var(--t5e-transition-default);
    }

    .roll-prompt i {
      bottom: 0;
    }

    // TODO: hightouch, please review this. kgar put this here to support svg images
    dnd5e-icon {
      --icon-size: calc(1.75rem - 0.125rem);
      --icon-fill: var(--t5e-color-text-lighter);
    }

    img {
      border-radius: 0.0625rem;
      grid-column: 1;
      transition: all var(--t5e-transition-default);
    }

    &:hover {
      img {
        opacity: 0;
      }

      // TODO: hightouch, this was one of the few ways to make an SVG icon go hidden. It doesn't animate, well (or possibly at all).
      dnd5e-icon {
        --icon-fill: transparent;
      }

      i {
        display: flex;
        opacity: 1;
      }

      background: transparent;
    }
  }

  .tidy-table-row-container {
    &.context {
      box-shadow: 0 0 0.1875rem 0.0625rem var(--t5e-primary-accent-color) inset;
    }

    .tidy-table-row {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: stretch;

      --t5e-item-table-row-background: transparent;

      &:not(:has(.container-expander)) {
        .item-name {
          margin-inline-start: 0.5rem;
        }
      }
    }
  }

  /* Inline Activities */

  .tidy-table.inline-activities-table {
    margin: var(--t5e-size-halfx) 0 var(--t5e-size-3x) 0;

    .item-use-button {
      height: var(--t5e-size-6x);
      width: var(--t5e-size-6x);
      min-height: unset;
      min-width: unset;

      .item-image {
        --icon-size: calc(var(--t5e-size-6x) - 0.125rem);
      }
    }

    .activity-indent-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--font-size-12);
      width: var(--t5e-icon-size-7x);
      height: var(--t5e-icon-size-7x);

      i {
        color: var(--t5e-color-icon-disabled);
      }
    }
  }

  /* Inline Containers */
  // TODO
  .tidy-table-row~.expandable.expanded {
    background: linear-gradient(120deg, var(--t5e-component-card-darker) 10%, var(--t5e-component-card-default) 120%);
  }

  .empty-container {
    min-height: var(--t5e-size-8x);
    display: flex;
    align-items: center;
    // background-color: var(--t5e-component-card-default);
    color: var(--t5e-color-text-lightest);
  }

  .inline-content-view {
    border-radius: 0 0 0.125rem 0.125rem;
    background: linear-gradient(90deg,
        var(--t5e-color-palette-white) 0.59%,
        var(--t5e-component-card-default) 44%);
    padding: var(--t5e-size-1x) 0 var(--t5e-size-2x) var(--t5e-size-4x);
    border-width: 0 0 1px 0;
    border-style: solid;
    border-image: var(--t5e-table-row-border-image);

    .tidy-table-header-row {
      background: var(--t5e-component-card-darker);
    }
  }

  &:where(.theme-light) {
    .inline-content-view {
      .tidy-table-header-row {
        border: none;
      }
    }
  }

  .header-cell-actions {
    justify-content: flex-end;

    .header-action {
      color: var(--t5e-color-icon-button);
    }
  }

  &:where(.theme-dark) {
    .tidy-table-row {

      .item-image {
        background-color: var(--t5e-color-palette-gold-56);
      }

      &.equipped {
        background: linear-gradient(to right,
            rgba(159, 146, 117, .25) 0%,
            rgba(159, 146, 117, 0) 30%),
          var(--t5e-component-card-default);
      }

      &.expanded {
        background: linear-gradient(0deg,
            rgba(255, 255, 255, 0.10) 0%,
            rgba(255, 255, 255, 0.10) 100%),
          var(--t5e-component-card-default);
      }
    }

    .tidy-table-actions .tidy-table-button:hover i {
      background: rgba(0, 0, 0, 1);
    }

    .expandable .expandable {
      .tidy-table-row.expanded {
        background: rgba(255, 255, 255, 0.05);
      }
    }

    .inline-content-view {
      background: linear-gradient(90deg,
          var(--t5e-component-card-darker, #1B1D23) 0.59%,
          var(--t5e-component-card-default, #252830) 44%);

      .tidy-table-header-row {
        background: rgba(255, 255, 255, 0.08);
      }

      .tidy-table-row-container {
        background: var(--t5e-component-card-default);
      }
    }
  }

  /* Effects */

  .effect-summary-changes-table {
    table-layout: fixed;

    th {
      text-align: left;
    }

    th,
    td {
      padding: 0.25rem;
    }
  }
}