.tidy5e-sheet.application.quadrone {
  .document-list-summary-tooltip {
    h3 {
      text-align: center;
    }
    
    ul {
      margin: 0;
      padding: 0;
      text-align: left;

      li + li {
        margin-top: 0.5rem;
      }
    }

    .image-and-name {
      display: flex;
      gap: 0.25rem;
      align-items: center;
    }

    .item-image {
      align-self: center;
      justify-self: center;
      flex: 0 0 1.5rem;
      height: 1.5rem;
      width: 1.5rem;
      background-size: cover;
      background-position: 50% 0;
    }
  }

  .group-skill-grid {
    display: grid;
    grid-template-columns: 1.5rem 10rem 2.25rem 2.25rem 2rem;
    gap: 0.25rem;

    i {
      font-size: 0.75rem;
    }
  }

  // For faster tooltip style development. Not meant for production use.
  &#tooltip.debug-show {
    visibility: visible !important;
    opacity: 1 !important;
  }
}
