.listbox {
  margin: 0;
  padding: 0;
  border: 0.0625rem solid var(--t5e-light-color);
  overflow-y: auto;
  max-height: inherit;
  height: 100%;

  :where(&:focus-visible) {
    outline: 0.0625rem solid var(--t5e-primary-accent-color);
  }

  :where(li) {
    list-style-type: none;
    padding: 0.5rem;

    :where(&:has(.drag-grip)) {
      cursor: pointer;
    }

    :where(.drag-grip) {
      font-size: 0.625rem;
      color: var(--t5e-tertiary-color);
    }
  }
  :where([role='option'].focused) {
    background-color: var(--t5e-faint-color);
  }

  :where([role='option']:hover) {
    background: var(--t5e-faintest-color);
  }

  :where([role='option'].focused:hover) {
    background-color: var(--t5e-faint-color);
  }
}

.selection-listbox {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-rows: auto 1fr;
  min-height: 0;
  max-height: inherit;
  height: 100%;
  gap: 0.5rem;

  :where(.column-1) {
    grid-column: 1;
  }

  :where(.column-2) {
    grid-column: 2;
  }

  :where(.column-3) {
    grid-column: 3;
  }
}

.selection-listbox-toolbar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;

  :where(.selection-listbox-toolbar button) {
    padding: 0.25rem 0.5rem;
  }
}

.sorting-listbox {
  :where([role='option']) {
    transition: padding-top 0.125s ease;

    :where(&.dragged-over) {
      padding-top: 1rem;
    }
  }

  :where(.controls) {
    align-self: center;

    :where(button + button) {
      margin-top: 0.25rem;
    }
  }
}
