.tidy5e-sheet:where(.application) {
  --t5e-button-disabled-text-color: var(--t5e-color-icon-disabled);
  --t5e-button-disabled-icon-color: var(--t5e-color-icon-disabled);
  --t5e-button-disabled-border-color: transparent;
  --t5e-button-excluded-text-color: var(--t5e-color-text-lightest);
  --t5e-button-expand-indicator-color: var(--t5e-color-gold);
  --t5e-button-borderless-hover-background: rgba(0, 0, 0, 0.12);
  --t5e-button-icon-only-hover-text-shadow: none;

  /* Quadrone-style buttons */
  :is(button, .button) {
    --_button-background: var(--t5e-button-background, transparent);
    --_button-background-hover: var(--t5e-button-background-hover, var(--t5e-component-field-background-hover));
    --_button-border: var(--t5e-button-border, transparent);
    --_button-border-width: var(--t5e-button-border-width, 0);
    --_button-text: var(--t5e-button-text, var(--t5e-color-text-default));
    --_button-icon: var(--t5e-button-icon, var(--t5e-color-icon-button));
    --_button-icon-hover: var(--t5e-button-icon-hover, var(--t5e-color-icon-default));
    --_button-shadow: var(--t5e-button-shadow, var(--t5e-drop-shadow-field));
    --_button-size: var(--t5e-button-size, var(--t5e-field-size-default));
    --_button-padding-inline-start: var(--t5e-button-padding-inline-start, 0.75rem);
    --_button-padding-inline-end: var(--t5e-button-padding-inline-end, 0.75rem);
    display: inline-flex;
    width: var(--t5e-button-width, unset);
    height: var(--t5e-button-height, auto);
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    flex-shrink: 0;
    border-radius: var(--t5e-button-radius, 0.125rem);
    border: var(--_button-border-width) solid var(--_button-border);
    background: var(--_button-background);
    color: var(--_button-text);
    cursor: pointer;
    font: var(--t5e-font-label-medium);
    line-height: 0.875rem;
    box-shadow: var(--_button-shadow);
    padding-inline-start: var(--_button-padding-inline-start);
    padding-inline-end: var(--_button-padding-inline-end);
    padding-block-end: 0.03125rem;
    min-height: var(--_button-size);
    transition: all var(--t5e-transition-default);

    :where(i) {
      color: var(--_button-icon);
      transition: color var(--t5e-transition-default);
      margin: 0;
      font-size: var(--t5e-button-icon-size, var(--font-size-12));
      vertical-align: middle;
    }

    &:hover {
      :where(i) {
        color: var(--_button-icon-hover);
      }
    }

    &:focus-within {
      box-shadow: var(--t5e-button-focus, 0 0 0 0.125rem var(--t5e-theme-color-default));
    }

    &.active,
    &:active:not(:disabled) {
      --icon-fill: var(--t5e-theme-color-foreground-diminished);
      color: var(--_button-text);
      border: var(--t5e-button-border-width, var(--t5e-size-1)) solid var(--t5e-button-border, var(--t5e-component-field-border));
      background: var(--t5e-button-background, var(--t5e-component-field-background));

      :where(i) {
        color: var(--icon-fill);
      }

      &:hover {
        background-color: var(--t5e-component-toggle-toggled-background-hover);
      }
    }

    &:has(i, dnd5e-icon) {
      padding-inline-start: calc(var(--_button-padding-inline-start) - 0.125rem);
    }

    &:is(.button, .button-secondary) {
      --_button-background: var(--t5e-button-background, var(--t5e-component-field-background));
      --_button-border-width: var(--t5e-button-border-width, var(--t5e-size-1));
      --_button-border: var(--t5e-button-border, var(--t5e-component-field-border));
      color: var(--_button-text);

      &:hover:not(:disabled) {
        /* Overrides `.disabled`. */
        background: var(--t5e-button-background, var(--_button-background-hover));
        border-color: var(--t5e-button-border-hover, var(--t5e-component-field-border-hover));

        :where(i) {
          color: var(--_button-icon-hover);
        }
      }
    }

    &.button-secondary:hover:not(:disabled) {
      color: var(--_button-text);
      box-shadow: var(--t5e-drop-shadow-field-hover);
    }

    &.button-tertiary {
      --t5e-button-radius: 0.1875rem;
      --_button-background: var(--t5e-button-background, transparent);
      border-style: dashed;
      box-shadow: none;

      &:hover:not(:disabled) {
        --t5e-button-background: var(--_button-background-hover);
        border-style: solid;
      }
    }

    /* Toggle Buttons */
    &.button-toggle {
      --input-height: auto;

      &:has(.toggle:checked),
      &.active,
      &:active,
      &.include {
        --t5e-button-text: var(--t5e-theme-color-foreground);
        --t5e-button-icon: var(--t5e-theme-color-foreground);
        --t5e-button-icon-hover: var(--t5e-theme-color-foreground);
        --t5e-button-background: var(--t5e-theme-color-default);
        --t5e-button-background-hover: var(--t5e-theme-color-lighter);
        --t5e-button-border: var(--t5e-theme-color-darker);
        --t5e-button-border-hover: var(--t5e-theme-color-darker);
        background: var(--t5e-component-toggle-toggled-background);

        :where(i) {
          color: var(--_button-icon);
        }

        &:hover {
          background-color: var(--t5e-component-toggle-toggled-background-hover);
        }

        &:hover :where(i) {
          color: var(--_button-icon);
        }
      }
    }

    &.button-primary {
      --t5e-button-background: var(--t5e-theme-color-default);
      --t5e-button-background-hover: var(--t5e-theme-color-lighter);
      --t5e-button-border: var(--t5e-theme-color-darker);
      --t5e-button-text: var(--t5e-theme-color-foreground);
      --t5e-button-icon: var(--t5e-theme-color-foreground);

      &:hover:not(:disabled) {
        background-color: var(--_button-background-hover);

        :where(i) {
          color: var(--_button-icon);
        }
      }
    }

    &.button-icon-only {
      &:hover:not(:disabled) {
        text-shadow: var(--t5e-button-icon-only-hover-text-shadow);
      }

      --size: var(--_button-size);
      --t5e-button-padding-inline-start: 0;
      --t5e-button-padding-inline-end: 0;
      align-items: center;
      justify-content: center;
      padding: 0;
      padding-inline-start: var(--_button-padding-inline-start);
      padding-inline-end: var(--_button-padding-inline-end);
      width: var(--t5e-button-width, var(--size));
      height: var(--t5e-button-height, var(--size));

      &.button-borderless {
        --t5e-button-radius: 100%;

        &:hover:not(:disabled) {
          background: var(--t5e-button-borderless-hover-background);
        }
      }

      &:disabled {
        --t5e-button-shadow: none;
        box-shadow: var(--_button-shadow);
      }
    }

    &.button-borderless {
      --t5e-button-background: transparent;
      --t5e-button-border: transparent;
      --t5e-button-border-hover: transparent;
      --t5e-button-shadow: none;
      box-shadow: var(--_button-shadow);

      &:hover,
      &:focus,
      &:active,
      &:focus-within {
        &:not(:disabled) {
          background: var(--_button-background);
          box-shadow: var(--_button-shadow);
          text-shadow: 0 0 0.375rem var(--t5e-color-text-gold);
        }
      }
    }

    &.disabled,
    &:disabled {
      cursor: default;
      background-color: transparent;
      border-color: var(--t5e-button-disabled-border-color);
      color: var(--t5e-button-disabled-text-color);

      i {
        color: var(--t5e-button-disabled-icon-color);
      }
    }

    &.disabled,
    &.exclude {
      --icon-fill: var(--t5e-color-text-lightest);
      font-style: italic;
      color: var(--t5e-button-excluded-text-color);
      box-shadow: none;
    }

    /* More specific than `.button-toggle.active`. */
    &.button-toggle {

      &.disabled,
      &.exclude {
        --icon-fill: var(--t5e-color-text-lightest);
        font-style: italic;
        color: var(--t5e-color-text-lightest);
        box-shadow: none;
      }
    }

    &.header-control,
    &.unbutton {
      width: unset;
      box-shadow: none;
      border: none;
      background: none;
      margin: 0;
      padding: 0;
      outline: none;
    }

    &.unbutton:is(:active, :focus, :hover) {
      outline: none;
      border: 0;
      background: none;
    }

    &.header-control {
      font-weight: var(--icon-weight-bold);
      min-width: var(--_button-size);
    }

    &.button-gold {
      --t5e-button-text: var(--t5e-color-palette-gold-75);
      --t5e-button-icon: var(--t5e-color-palette-gold-75);
      --t5e-button-border: var(--t5e-color-palette-gold-62);
      --t5e-button-border-width: var(--t5e-size-halfx);
      --t5e-button-radius: 0.1875rem;
      --t5e-button-shadow: var(--header-shadow);
      --t5e-button-focus: var(--header-shadow);

      &:hover,
      &:focus,
      &:active {
        --t5e-button-text: var(--t5e-color-palette-gold-89);
        --t5e-button-icon: var(--t5e-color-palette-gold-89);
        --t5e-button-border: var(--t5e-color-palette-gold-75);
      }

      &:active:not(:disabled) {
        --t5e-button-text: var(--t5e-color-text-default);
      }

      &:disabled {
        --t5e-button-disabled-text-color: var(--t5e-color-palette-gold-56);
        --t5e-button-disabled-icon-color: var(--t5e-color-palette-gold-56);
        --t5e-button-disabled-border-color: var(--t5e-color-palette-gold-56);
        --t5e-button-shadow: none;
        pointer-events: none;
      }
    }
  }

  /* Button Group */
  .button-group {
    box-sizing: border-box;
    box-shadow: var(--t5e-drop-shadow-field);
    border: var(--t5e-size-1) solid var(--t5e-component-field-border);
    border-radius: var(--t5e-size-halfx);
    display: flex;
    flex-direction: row;
    gap: 0;
    height: var(--t5e-field-size-default);

    &.wrap {
      height: auto;
      flex-wrap: wrap;
      background-color: var(--t5e-component-field-border);
      gap: var(--t5e-size-1);

      .tab-option {
        border: none;
        border-radius: var(--t5e-size-1);
        flex: 1 1 auto;
      }
    }

    &:hover:not(:disabled) {
      box-shadow: var(--t5e-drop-shadow-field-hover);
    }

    :is(button, .button) {
      --t5e-button-padding-inline-start: 0.625rem;
      --t5e-button-padding-inline-end: 0.625rem;
      --t5e-button-size: calc(var(--t5e-field-size-default) - 0.125rem);
      box-shadow: none;
      border-width: 0 var(--t5e-size-1) 0 0;
      outline: var(--t5e-size-1) solid transparent;

      &:is(:hover, :active, :focus-within):not(:disabled) {
        outline-color: var(--t5e-component-field-border-hover);

        /* Overrides the `:active` border. */
        &:not(:last-child) {
          border-width: 0 var(--t5e-size-1) 0 0;
        }
      }
    }

    :is(button, .button):last-child {
      border-width: 0;
    }

    :is(button, .button):not(:last-child) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    :is(button, .button):not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  /* Button Dropdown */
  .button-with-options-wrapper {
    position: relative;

    .with-options {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      gap: 0.25rem;
      position: relative;

      &:hover .expand-indicator {
        color: var(--t5e-color-icon-default);
      }

      i.expand-indicator {
        font-size: 0.5rem;
        position: absolute;
        right: 0.125rem;
        bottom: var(--t5e-size-1);
        color: var(--t5e-button-expand-indicator-color);
      }

      &:is(.active, :active):not(.disabled) .expand-indicator {
        color: var(--t5e-color-icon-light);
      }
    }

    menu {
      margin: 0;
      padding: 0.5rem 0.75rem;
      width: fit-content;
      flex-direction: column;
      gap: 0.5rem;
      background: var(--t5e-component-card-darker);
      border: var(--t5e-size-1) solid var(--t5e-component-field-border);
      border-radius: 0.25rem;
      z-index: 2;
      white-space: nowrap;
      box-shadow: var(--t5e-drop-shadow-card);

      &.expanded {
        display: flex;
        gap: 0.5rem;
      }

      h4 {
        color: var(--t5e-color-text-lighter);
        font-size: 0.8125rem;
        line-height: normal;
      }

      label:has(input[type='radio']) {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  /* Filter Button Menu - TODO: Discuss with hightouch where this should go and if any of this can be eliminated by existing or more appropriate classes / styles */
  .button-with-options-wrapper.filter-menu {

    /* Question for hightouch: where should we put styles for filter menus? */
    .filter-group {
      display: flex;
      flex-direction: column;
      gap: 0.25rem;
    }

    .filters {
      display: flex;
      gap: 0.25rem;
      flex-wrap: wrap;

      .button-toggle {
        text-transform: capitalize;
      }
    }

    menu {
      width: fit-content;
      border: var(--t5e-size-1) solid var(--t5e-component-field-border);
      gap: 0.75rem;
      min-width: 16.25rem;
      max-width: 35rem;
    }

    menu.expanded {
      display: flex;
      flex-direction: column;
    }

    .clear-all-filters {
      margin-block-start: 0.25rem;
    }
  }

  .expand-button {
    .expand-button-indicator {
      transition: transform var(--t5e-transition-default);
    }

    &.collapsed .expand-button-indicator {
      transform: rotate(-90deg);
    }
  }

  .button-bar {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: var(--t5e-size-2x);

    .button-save {
      flex: 2;
    }
  }

  /* Button sizes */
  .button-large {
    --t5e-button-size: var(--t5e-field-size-large);
  }

  /* ---------------------------------------- */
  /*  Foundry Control Styles                  */
  /* ---------------------------------------- */
  button.icon,
  a.button.icon {
    font-family: var(--font-awesome);
    flex: 0 0 var(--button-size);
    width: var(--button-size);
    font-weight: var(--icon-weight-bold);

    &:is(.fab, .fa-brands) {
      font-family: var(--fa-style-family-brands);
      font-weight: var(--icon-weight-default);
    }
  }

  &:where(.theme-dark) {
    --t5e-button-expand-indicator-color: var(--t5e-color-text-gold-emphasis);
    --t5e-button-borderless-hover-background: rgba(0, 0, 0, 1);
    --t5e-button-icon-only-hover-text-shadow: 0 0 0.375rem var(--t5e-color-text-gold);

    :is(button, .button) {
      &.exclude {
        --t5e-button-background: transparent;
      }

      &.disabled,
      &:disabled {
        --t5e-button-icon: var(--t5e-color-icon-disabled);
      }

      &:focus-within:not(.button-toggle, .button-borderless, .nav-tab):not(:disabled) {
        &:not(.button-gold) {
          --t5e-button-border: var(--t5e-component-field-border-hover);
        }

        &:not(.button-tertiary) {
          --t5e-button-background: var(--t5e-component-field-background-hover);
        }
      }

      &:focus-within:is(.button-toggle) {
        &:has(.toggle:checked) {
          --t5e-button-border: var(--t5e-component-toggle-toggled-border);
          --t5e-button-background: var(--t5e-theme-color-darker);
        }
      }

      &:focus-within:is(.button-primary) {
        --t5e-button-background: var(--t5e-theme-color-darker);
      }

      &.button-toggle {
        --input-height: auto;

        &:has(.toggle:checked),
        &.active,
        &:active,
        &.include {
          --t5e-button-border: var(--t5e-component-field-border);
          --t5e-button-border-hover: var(--t5e-component-field-border-hover);
          --t5e-button-disabled-border-color: var(--t5e-component-field-border);
        }
      }
    }
  }
}