.tidy-table {
  --t5e-tidy-table-cell-min-height: 1.5rem;
}

.tidy-table-header-row,
.tidy-table-row {
  display: grid;
  grid-template-columns: var(--grid-template-columns);
}

.tidy-table-header-row {
  align-items: center;
  padding: 0.25rem 0 0.125rem 0.375rem;
  line-height: 0.75rem;
  font-size: 0.75rem;
  background: var(--t5e-table-header-row-color);
  box-shadow: 0 0 0.1875rem inset var(--t5e-table-header-row-border-color);
  border-radius: 0.3125rem;

  &.toggleable {
    cursor: pointer;
  }
}

.tidy-table-header-cell {
  color: var(--t5e-tertiary-color);
  font-family: var(--t5e-body-font-family);
  font-size: 0.75rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  i {
    font-size: 0.625rem;
    color: var(--t5e-light-color);

    &.expand-indicator {
      font-size: 0.75rem;
      color: var(--t5e-tertiary-color);
      margin-right: 0.325rem;
    }
  }

  &.primary {
    color: var(--t5e-primary-font-color);
    font-weight: 700;
    font-size: 0.75rem;
    justify-content: flex-start;
  }

  &:not(.primary) {
    display: flex;
    justify-content: center;
  }
}

.tidy-table-row-container {
  position: relative;
  border-radius: 0.3125rem;
  margin: 0 0 0.125rem 0.5rem;
  background: var(--t5e-faintest-color);

  &.hidden {
    display: none;
  }
}

.tidy-table-row {
  border-radius: 0.3125rem;

  --t5e-tidy-table-row-background-internal: var(--t5e-tidy-table-row-background,
      transparent);

  background: linear-gradient(to right,
      var(--t5e-tidy-table-row-background),
      transparent 120%);
}

.tidy-table-cell {
  font-size: 0.75rem;
  font-family: var(--t5e-body-font-family);
  min-height: var(--t5e-tidy-table-cell-min-height);
  color: var(--t5e-secondary-color);
  display: flex;
  align-items: center;

  &.primary {
    color: var(--t5e-primary-color);

    button {
      justify-content: flex-start;
    }
  }

  &:not(.primary) {
    justify-content: center;
    text-align: center;
  }

  input {
    height: var(--t5e-tidy-table-cell-min-height);
    border-radius: 0;
    font-size: inherit;
  }

  .tidy-table-control {
    color: var(--t5e-icon-font-color);
    transition: color 0.15s;

    i {
      transition: color 0.15s;
    }

    &:hover {

      &,
      i {
        color: var(--t5e-icon-hover-color);
      }
    }
  }

  .primary-cell-uses {
    flex-grow: 0;
    width: 3.125rem;
    display: flex;
    align-items: center;
  }

  .inline-item-uses {
    justify-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    :is(.uses-value, .uses-max) {
      width: 50%;
      padding: 0 0.125rem 0 0;
      color: var(--t5e-secondary-color);
      line-height: 1;
      height: 100%;
      min-width: 1.25rem;

      &.uses-value {
        text-align: right;
      }

      &.uses-max {
        text-align: left;
      }
    }
  }
}

.tidy-table-row-v2 {
  &.method-spell.can-prepare.prepared {
    --t5e-tidy-table-row-background: var(--t5e-prepared-background);
  }

  &.method-pact.can-prepare.prepared {
    --t5e-tidy-table-row-background: var(--t5e-pact-background);
  }

  &.can-prepare.always {
    --t5e-tidy-table-row-background: var(--t5e-alwaysprepared-background);
  }

  &.method-atwill {
    --t5e-tidy-table-row-background: var(--t5e-atwill-background);
  }

  &.method-ritual {
    --t5e-tidy-table-row-background: var(--t5e-ritual-only-background);
  }

  &.method-innate {
    --t5e-tidy-table-row-background: var(--t5e-innate-background);
  }

  &.equipped {
    --t5e-tidy-table-row-background: var(--t5e-equipped-background);
  }

  &.magic-item {
    box-shadow: 0 0 0 0.0625rem var(--t5e-magic-accent-color) inset;
  }

  .expand-indicator {
    margin-right: 0.325rem;
  }
}

/* Item Use Button */
.tidy-table {
  .tidy-table-cell {
    .item-use-button {
      --img-size: var(--t5e-image-size-override, 1.5rem);
      position: relative;
      align-self: center;
      flex: 0 0 var(--img-size);
      height: var(--img-size);
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      border-radius: 0.3125rem 0 0 0.3125rem;
      border-left: 0.0625rem solid transparent;

      .item-image {
        position: absolute;
        border-radius: 0.3125rem 0 0 0.3125rem;
        width: calc(var(--img-size) + 0.125rem);
        height: calc(var(--img-size) + 0.125rem);
        transition: opacity 0.2s ease;
        margin: -0.0625rem 0 -0.0625rem -0.125rem;

        &.conceal {
          filter: grayscale(100%);
        }
      }

      .roll-indicator {
        color: var(--t5e-tertiary-color);
        font-size: 1.125rem;

        &.invisible {
          visibility: hidden;
        }
      }

      .roll-indicator {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        opacity: 0;
        transition: all 0.2s ease;
      }

      .unidentified-glyph {
        font-size: calc(var(--t5e-image-size-override, 1.5rem) - 0.75rem);
      }
    }

    // Hide the Item Image when hovering on the cell itself, to imply the roll button.
    &:hover {
      .item-image:not(.always-visible) {
        opacity: 0;
      }

      .unidentified-glyph {
        opacity: 0;
      }

      .item-use-button {
        &:hover {
          .roll-indicator {
            color: var(--t5e-primary-font-color);
          }
        }

        .roll-indicator {
          opacity: 1;
        }
      }
    }
  }
}