@font-face {
  font-family: 'Signika';
  src: url('../../../fonts/signika/signika-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('../../../fonts/signika/signika-semibold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

:where(.tidy5e-sheet) {
  @import './partials/reset';
  @import './partials/variables';
}

.tidy5e-sheet {
  &.sheet form {
    color: var(--t5e-primary-font-color);
    background: var(--t5e-sheet-background);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--t5e-scrollbar-thumb-color)
      var(--t5e-scrollbar-track-color);
  }

  &.settings {
    @import './partials/settings';
  }

  @import './partials/application-shell';

  @import './compatibility/apps-items-lists';
  @import './compatibility/apps-active-effects';
  @import './compatibility/tabs';

  select option {
    color: var(--t5e-primary-font-color);
    background: var(--t5e-background);
  }

  // Enrichers
  a.entity-link,
  a.content-link,
  a.inline-roll,
  a.roll-link {
    padding: 0.0625rem 0.25rem 0 0.25rem;
    border-radius: 0.3125rem;
    background: var(--t5e-content-entity-link-background);
    color: var(--t5e-content-entity-link-color);
    border: 0.0625rem solid var(--t5e-separator-color);

    i {
      color: var(--t5e-content-entity-link-color);
    }

    &:hover {
      color: var(--t5e-content-entity-link-hover-color);
      background: var(--t5e-content-entity-link-hover-background);

      i {
        color: var(--t5e-content-entity-link-hover-color);
      }
    }
  }

  &:where(.actor) {
    @import './partials/actor';
    @import './partials/item-card';
  }

  &:is(.character, .npc, .vehicle) form {
    display: flex;
    flex-direction: column;

    .tidy-sheet-body {
      padding: var(--t5e-tab-padding-top) var(--t5e-tab-padding-right)
        var(--t5e-tab-padding-bottom) var(--t5e-tab-padding-left);
      flex: 1;
      overflow: hidden;
    }
  }

  &.item {
    @import './partials/items';
  }

  @import './partials/layout';

  &.sheet {
    @import './partials/context-menu';
  }

  .top-left,
  .bottom-right {
    border-radius: 0.3125rem 0 0.3125rem 0;
  }

  .top-right,
  .bottom-left {
    border-radius: 0 0.3125rem 0 0.3125rem;
  }

  .rounded {
    border-radius: 50%;
  }

  .t5e-warning-color {
    color: var(--t5e-warning-accent-color);
  }

  .hidden {
    display: none;
  }

  // TODO: Propagate this across the entire app
  [role='button'] {
    cursor: pointer;
  }

  button > i {
    margin: unset;
  }

  .highlight-on-hover:is(:hover, :focus-visible) {
    color: var(--t5e-primary-accent-color);
  }

  select {
    height: auto;
    font-family: var(--t5e-body-font-family);
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  i.not-attuned {
    color: var(--t5e-attunement-required-color);
  }

  i.attuned {
    color: var(--t5e-attuned-color);
  }

  .item-properties {
    justify-content: flex-start;
    flex-wrap: wrap;
    border: none;
    display: flex;
    gap: 0.125rem;
  }

  .tag {
    display: inline-block;
    padding: 0.125rem 0.25rem;
    background: var(--t5e-faint-color);
    border: 0.0625rem solid var(--t5e-separator-color);
    white-space: nowrap;
    line-height: 1rem;
    border-radius: 0.3125rem;
    font-size: 0.75rem;
  }

  .no-border {
    border: none;
  }

  // Components
  @import '../components/button-menu/button-menu.scss';

  &.sheet form,
  &.application-shell {
    @import './partials/buttons';
    @import './partials/checkboxes';
  }
}
