@font-face {
  font-family: 'Signika';
  src: url('../../../fonts/signika/signika-light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Signika';
  src: url('../../../fonts/signika/signika-semibold.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
}

@import './settings';
@import './spell-level-buttons-dialog';

.tidy5e-kgar {
  &.sheet form {
    color: var(--t5ek-primary-font-color);
    background: var(--t5ek-sheet-background);
  }

  select option {
    color: var(--t5ek-primary-font-color);
    background: var(--t5ek-background);
  }

  a.entity-link,
  a.content-link,
  a.inline-roll {
    padding: 0.125rem 0.25rem;
    border-radius: 0.3125rem;
    background: var(--t5ek-content-entity-link-bg);
    color: var(--t5ek-content-entity-link-color);

    i {
      color: var(--t5ek-content-entity-link-color);
    }

    &:hover {
      color: var(--t5ek-content-entity-link-hover-color);
      background: var(--t5ek-content-entity-link-hover-bg);

      i {
        color: var(--t5ek-content-entity-link-hover-color);
      }
    }
  }

  // TODO: After settings overhaul, support dark mode on sheet settings screen(s)
  // .window-content {
  //   background: var(--t5ek-sheet-background);
  // }

  &.actor {
    @import './partials/actor';
    @import './partials/item-card';
  }

  &:is(.character, .npc, .vehicle) form {
    display: flex;
    flex-direction: column;

    .sheet-body {
      padding: 1rem 0.25rem 1rem 1rem;
      flex: 1;
      overflow: hidden;
    }
  }

  &.item {
    @import './partials/items';
  }

  @import './partials/layout';
  @import './partials/context-menu';

  .top-left,
  .bottom-right {
    border-radius: 0.3125rem 0 0.3125rem 0;
  }

  .top-right,
  .bottom-left {
    border-radius: 0 0.3125rem 0 0.3125rem;
  }

  .rounded {
    border-radius: 50%;
  }

  .t5ek-warning-color {
    color: var(--t5ek-warning-accent);
  }

  .hidden {
    display: none;
  }

  // TODO: Propagate this across the entire app
  [role='button'] {
    cursor: pointer;
  }

  .highlight-on-hover:hover {
    color: var(--t5ek-primary-accent-color);
  }

  select {
    height: auto;
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  i.not-attuned {
    color: var(--t5ek-attunement-required);
  }

  .item-properties {
    justify-content: flex-start;
    flex-wrap: wrap;
    border: none;

    .tag {
      display: inline-block;
      padding: 0.125rem 0.25rem;
      background: var(--t5ek-faint-color);
      border: 0.0625rem solid var(--t5ek-light-color);
      margin: 0 0.125rem 0.0625rem 0;
      white-space: nowrap;
      line-height: 1;
      border-radius: 0.1875rem;
      font-size: 0.75rem;
    }
  }

  .no-border {
    border: none;
  }
}
