.tidy5e-kgar {
  @import './partials/general';
  @import './partials/layout';
  @import './partials/character-details';
  @import './partials/portrait';

  &.sheet.actor {
    .window-content {
      padding: 0;
      margin: 0;
      color: var(--t5e-primary-font);
      font-family: var(--t5e-signika);
    }
  }

  .tidy5e-kgar-sheet-header {
    display: flex;
    justify-content: center;
    padding: 10px 16px 16px 16px;
    background: var(--t5e-header-background);
  }

  .top-left,
  .bottom-right {
    border-radius: 5px 0 5px 0;
  }

  .top-right,
  .bottom-left {
    border-radius: 0 5px 0 5px;
  }

  .rounded {
    border-radius: 50%;
  }
}
