.app.window-app.tidy5e-kgar.settings {
  border: 0.125rem solid var(--t5ek-settings-dialog-border-color);
  border-radius: 0.3125rem;
  overflow: hidden;
  box-shadow: 0 0 0.625rem var(--t5ek-settings-dialog-box-shadow-color);
  max-height: 31.25rem;

  .window-content {
    padding: 0;
    overflow: hidden;

    form {
      display: flex;
      flex-direction: column;
      height: 100%;
    }
  }

  .sheet-tabs {
    flex: 0;
    padding: 0.25rem 0;
    margin-bottom: 0.5rem;
    border-bottom: 0.0625rem solid var(--t5ek-header-border-color);

    .item {
      flex: 0;
      white-space: nowrap;
      padding: 0.25rem 0.5rem;
    }
  }

  .tab {
    flex: 1;
    overflow-y: scroll;
    padding: 0 0.5rem 0.5rem 0.5rem;

    h2 {
      font-size: 1.125rem;
      font-weight: 600;
      margin: 0 0 0.5rem;
      padding: 0 0 0.25rem;
      border-bottom: 0.0625rem solid var(--t5ek-light-color);
    }

    h3 {
      font-weight: 600;
      margin: 0.5rem 0;
    }
  }

  .sheet-footer {
    padding: 0.5rem;
    flex: 0;
  }

  .setting {
    display: flex;
    background: var(--t5ek-faintest-color);
    border-radius: 0.3125rem;
    margin: 0.125rem 0;
    padding: 0.25rem;

    &.group {
      padding-left: 1.5rem;
    }

    section {
      width: 100%;
    }

    input[type='checkbox'] {
      margin: 0;
    }

    .description {
      margin-left: 0.5rem;

      label {
        font-weight: 600;
      }
    }

    .settings-group {
      margin-left: 0.5rem;

      article {
        margin: 0.25rem 0;
      }

      label {
        font-size: 0.75rem;
        font-weight: 600;
        padding: 0 0.25rem 0.5rem 0.25rem;
      }
    }
  }
}
