.tidy5e-sheet-kgar.spell-level-dialog .window-content {
  background: var(--t5ek-background);
  color: var(--t5ek-primary-font-color);

  label,
  button {
    color: var(--t5ek-primary-font-color);
  }

  button {
    box-shadow: none;
    background: var(--t5ek-faint-color);

    &:hover {
      background: var(--t5ek-faintest-color);
    }
  }

  form .form-group.spell-level-buttons {
    justify-content: center;
    flex-direction: column;
    margin-bottom: 0.9375rem;

    label {
      text-align: center;
    }

    .form-fields {
      margin: auto;

      .spell-level-button-label {
        padding: 0;
        margin-right: 0.625rem;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        .spell-level-button {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1.875rem;
          height: 1.875rem;
          background: var(--t5ek-faint-color);
          border: 0.125rem groove var(--t5ek-spell-level-button-border-color);
          border-radius: 0.1875rem;
          font-size: 1rem;
          font-weight: 900;
          user-select: none;
        }

        .spell-level-button:hover,
        input[type='radio']:checked + .spell-level-button {
          background: var(--t5ek-faintest-color);
        }

        input {
          display: none;

          &:checked + .spell-level-button {
            outline: 0.125rem solid var(--t5ek-primary-accent-color);
          }
        }

        .available-slots {
          position: absolute;
          top: -0.25rem;
          right: -0.25rem;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 0.9375rem;
          height: 0.9375rem;
          font-size: 0.6875rem;
          line-height: 1;
          border-radius: 50%;
          background: var(--t5ek-primary-accent-color);
          color: var(--spell-level-button-available-slots-text-color);
        }
      }
    }
  }
}
