.tidy5e-sheet.classic {
  --t5e-classic-tab-contents-padding-top: 1rem;
  --t5e-classic-tab-contents-padding-right: 0.25rem;
  --t5e-classic-tab-contents-padding-bottom: 1rem;
  --t5e-classic-tab-contents-padding-left: 1rem;
}
