/* tidy5e - onlight */
.tidy5e-sheet:is(.quadrone, .dnd5e2) {
  /* Default theme color is var(--t5e-theme-color-default) */

  /* Typography ------------ */
  /* Font families */
  --t5e-font-modesto-condensed: 'Modesto Condensed', 'Palatino Linotype', serif;
  --t5e-font-family-title: var(--t5e-font-modesto-condensed);
  --t5e-font-roboto-condensed: 'Roboto Condensed', Roboto, Arial, sans-serif;
  --t5e-font-family-default: var(--t5e-font-roboto-condensed);

  /* Font sizes */
  --font-size-56: 3.5rem;
  --font-size-46: 2.875rem;
  --font-size-28: 1.75rem;
  --font-size-18: 1.125rem;
  --font-size-14: 0.875rem;
  --font-size-13: 0.8125rem;
  --font-size-11: 0.6875rem;

  --font-weight-default: 400;
  --font-weight-label: 500;
  --font-weight-bold: 700;

  --font-size-default: var(--font-size-13);
  --font-size-small: var(--font-size-11);

  /* Line heights */
  --t5e-lineheight-default: 0.875rem;
  --t5e-lineheight-longform: 1.125rem;
  --t5e-lineheight-small: 0.75rem;

  /* Fonts */
  --t5e-font-default-medium: 400 var(--font-size-13)/var(--t5e-lineheight-default) var(--t5e-font-family-default);
  --t5e-font-default-longform: 400 var(--font-size-13)/var(--t5e-lineheight-longform) var(--t5e-font-family-default);
  --t5e-font-default-small: 400 var(--font-size-11)/var(--t5e-lineheight-small) var(--t5e-font-family-default);

  --t5e-font-label-xlarge: 500 var(--font-size-28) var(--t5e-font-family-default);
  --t5e-font-label-large: 500 var(--font-size-18)/var(--t5e-lineheight-default) var(--t5e-font-family-default);
  --t5e-font-label-medium: 500 var(--font-size-13)/var(--t5e-lineheight-default) var(--t5e-font-family-default);
  --t5e-font-label-small: 500 var(--font-size-11)/var(--t5e-lineheight-small) var(--t5e-font-family-default);

  --t5e-font-data-xlarge: 700 var(--font-size-28) var(--t5e-font-family-default);
  --t5e-font-data-large: 700 var(--font-size-18)/var(--t5e-lineheight-default) var(--t5e-font-family-default);
  --t5e-font-data-medium: 700 var(--font-size-13)/var(--t5e-lineheight-default) var(--t5e-font-family-default);
  --t5e-font-data-small: 700 var(--font-size-11)/var(--t5e-lineheight-small) var(--t5e-font-family-default);

  --t5e-font-description: 400 var(--font-size-14)/var(--t5e-lineheight-longform) var(--t5e-font-family-default);

  --t5e-font-title-small: 400 var(--font-size-18) var(--t5e-font-family-title);
  --t5e-font-title-medium: 400 var(--font-size-28) var(--t5e-font-family-title);
  --t5e-font-title-large: 400 var(--font-size-46) var(--t5e-font-family-title);

  --t5e-font-letter-spacing-xlarge: -3%;


  /* Palette ------------ */
  /* Grey */
  --t5e-color-grey: var(--t5e-color-palette-grey-40);
  --t5e-color-palette-grey-0: rgba(0, 0, 0, 1);
  --t5e-color-palette-grey-11: rgba(22, 24, 29, 1);
  --t5e-color-palette-grey-19: rgba(37, 40, 48, 1);
  --t5e-color-palette-grey-21: rgba(48, 50, 54, 1);
  --t5e-color-palette-grey-29: rgba(75, 74, 68, 1);
  --t5e-color-palette-grey-34: rgba(68, 72, 86, 1);
  --t5e-color-palette-grey-40: rgba(102, 102, 102, 1);
  --t5e-color-palette-grey-48: rgba(122, 122, 122, 1);
  --t5e-color-palette-grey-60: rgba(153, 153, 153, 1);
  --t5e-color-palette-grey-85: rgba(207, 210, 218, 1);
  --t5e-color-palette-grey-92: rgba(223, 226, 235, 1);
  --t5e-color-palette-grey-100: rgba(255, 255, 255, 1);

  /* Gold */
  --t5e-color-gold: var(--t5e-color-palette-gold-62);
  --t5e-color-palette-gold-94: rgba(240, 240, 225, 1);
  --t5e-color-palette-gold-89: rgba(226, 208, 168, 1);
  --t5e-color-palette-gold-75: rgba(192, 173, 129, 1);
  --t5e-color-palette-gold-62: rgba(159, 146, 117, 1);
  --t5e-color-palette-gold-56: rgb(127, 110, 69);
  --t5e-color-palette-gold-45: rgb(115, 99, 63);

  /* Red */
  /* TODO, hightouch: Automate color generation */
  --t5e-color-red: rgba(116, 27, 43, 1);
  --t5e-color-palette-red-100: rgba(255, 0, 0, 1);
  --t5e-color-palette-red-60: rgba(154, 42, 48, 1);
  --t5e-color-palette-red-45: rgba(116, 27, 43, 1);
  --t5e-color-palette-red-31: rgba(80, 0, 0, 1);
  --t5e-color-palette-red-27: rgba(68, 25, 26, 1);

  /* Orange */
  --t5e-color-orange: rgba(179, 99, 25, 1);
  --t5e-color-palette-orange-100: rgba(255, 100, 0, 1);
  --t5e-color-palette-orange-97: rgba(248, 117, 88, 1);
  --t5e-color-palette-orange-70: rgba(179, 99, 25, 1);
  --t5e-color-palette-orange-40: rgba(101, 56, 14, 1);

  /* Yellow */
  --t5e-color-yellow: rgba(255, 182, 42, 1);
  --t5e-color-palette-yellow-100: rgba(255, 182, 42, 1);

  /* Green */
  --t5e-color-green: rgba(55, 109, 71, 1);
  --t5e-color-palette-green-68: rgba(114, 173, 17, 1);
  --t5e-color-palette-green-65: rgba(59, 165, 93, 1);
  --t5e-color-palette-green-43: rgba(55, 109, 71, 1);
  --t5e-color-palette-green-29: rgba(27, 75, 41, 1);
  --t5e-color-palette-green-21: rgba(19, 53, 29, 1);

  /* Blue */
  --t5e-color-blue: rgba(31, 76, 145, 1);
  --t5e-color-palette-blue-70: rgba(36, 124, 178, 1);
  --t5e-color-palette-blue-57: rgba(31, 76, 145, 1);
  --t5e-color-palette-blue-33: rgba(18, 44, 84, 1);

  /* Blue-green */
  --t5e-color-blue-green: rgba(2, 90, 128, 1);
  --t5e-color-palette-blue-green-50: rgba(2, 90, 128, 1);
  --t5e-color-palette-blue-green-30: rgba(1, 54, 77, 1);

  /* Violet */
  --t5e-color-inventory-dark: rgba(62, 74, 117, 1);
  --t5e-color-inventory-light: rgba(111, 130, 199, 1);
  --t5e-color-inventory-max: rgba(81, 95, 149, 1);

  /* Purple */
  --t5e-color-purple: rgba(100, 64, 128, 1);
  --t5e-color-palette-purple-92: rgba(184, 117, 235, 1);
  --t5e-color-palette-purple-91: rgba(195, 100, 231, 1);
  --t5e-color-palette-purple-59: rgba(100, 64, 128, 1);
  --t5e-color-palette-purple-34: rgba(68, 43, 87, 1);

  /* Pink */
  --t5e-color-pink: rgba(117, 53, 88, 1);
  --t5e-color-palette-pink-55: rgba(117, 53, 88, 1);
  --t5e-color-palette-pink-31: rgba(77, 34, 57, 1);

  /* Theme ------------ */
  --t5e-theme-color-default: var(--t5e-color-red);
  //--t5e-theme-color-default: oklch(from #ff74c5 40% 35% h);
  // TODO: When a custom theme color is set, use the formula above.
  --t5e-primary-accent-color: var(--t5e-theme-color-default);
  --t5e-theme-color-darkest: oklch(from var(--t5e-theme-color-default) calc(l * 0.75) calc(c * 1.2) h);
  --t5e-theme-color-darker: oklch(from var(--t5e-theme-color-default) calc(l * 0.85) calc(c * 1.2) h);
  --t5e-theme-color-lighter: oklch(from var(--t5e-theme-color-default) calc(l * 1.2) calc(c * 1.15) h);
  --t5e-theme-color-lightest: oklch(from var(--t5e-theme-color-default) calc(l * 1.4) calc(c * 1.3) h);
  --t5e-theme-color-highlight: oklch(from var(--t5e-theme-color-default) calc(l * 1.4) 60% h);


  /* Special ------------ */
  --t5e-color-palette-white: var(--t5e-color-palette-grey-100);
  --t5e-color-palette-black: var(--t5e-color-palette-grey-0);


  /* Text ------------ */
  /* ondefault */
  --t5e-color-text-default: var(--t5e-color-palette-grey-0);
  --t5e-color-text-gold: var(--t5e-color-palette-gold-62);
  --t5e-color-text-gold-emphasis: var(--t5e-color-palette-gold-56);
  --t5e-color-text-gold-light: var(--t5e-color-palette-gold-94);
  --t5e-color-text-lighter: var(--t5e-color-palette-grey-29);
  --t5e-color-text-lightest: var(--t5e-color-palette-grey-40);
  --t5e-color-text-disabled: var(--t5e-color-palette-grey-60);
  --t5e-color-link-default: var(--t5e-theme-color-default);
  --t5e-color-link-hover: var(--t5e-theme-color-darkest);

  /* ondark */
  --t5e-color-text-oninverse-default: var(--t5e-color-palette-grey-100);
  --t5e-color-text-oninverse-gold: var(--t5e-color-palette-gold-75);
  --t5e-color-text-oninverse-gold-emphasis: var(--t5e-color-palette-gold-75);
  --t5e-color-text-oninverse-gold-light: var(--t5e-color-palette-gold-94);
  --t5e-color-text-oninverse-lighter: var(--t5e-color-palette-grey-85);
  --t5e-color-text-oninverse-lightest: var(--t5e-color-palette-grey-60);
  --t5e-color-text-oninverse-disabled: var(--t5e-color-palette-grey-48);

  /* Other */
  --input-text-color: var(--t5e-color-text-ondefault-default);
  --t5e-color-selected-text: var(--t5e-color-palette-blue-70);


  /* Decorative ------------ */
  /* Filigree */
  --t5e-color-filigree: var(--t5e-color-gold);

  /* Rarity */
  --t5e-color-rarity-common: var(--t5e-color-gold);
  --t5e-color-rarity-uncommon: var(--t5e-color-palette-green-68);
  --t5e-color-rarity-rare: var(--t5e-color-palette-blue-70);
  --t5e-color-rarity-very-rare: var(--t5e-color-palette-purple-92);
  --t5e-color-rarity-legendary: var(--t5e-color-palette-yellow-100);
  --t5e-color-rarity-artifact: var(--t5e-color-palette-orange-97);

  /* Drop shadows */
  --t5e-drop-shadow-sheet: 0px 4px 24px 0px rgba(0, 0, 0, 0.25), 0px 0px 12px 0px rgba(0, 0, 0, 0.50);
  --t5e-drop-shadow-modal: 0px 4px 24px 0px rgba(0, 0, 0, 0.25), 0px 0px 12px 0px rgba(0, 0, 0, 0.50);
  --t5e-drop-shadow-card: 0px 0px 6px 0px rgba(0, 0, 0, 0.45);
  --t5e-drop-shadow-card-dark: 0px 0px 6px 0px rgba(0, 0, 0, 1);
  --t5e-drop-shadow-pill: 0px 0px 12px 0px rgba(0, 0, 0, 0.15);
  --t5e-drop-shadow-field: 0px 0px 3px 0px rgba(0, 0, 0, 0.1);
  --t5e-drop-shadow-field-hover: 0px 0px 6px 0px rgba(0, 0, 0, 0.20);
  --t5e-drop-shadow-field-focus: 0 0 0 2px var(--t5e-theme-color-default);
  --t5e-outline-field-focus: 2px solid var(--t5e-theme-color-default);
  --t5e-enricher-background: rgba(0, 0, 0, 0.05);

  /* Transitions */
  --t5e-transition-speed: 150ms;
  --t5e-transition-animation: ease-in-out;
  --t5e-transition-default: 150ms ease-in-out;


  /* Components ------------ */
  /* Cards */
  --t5e-component-card-default: rgba(248, 244, 241, 1);
  --t5e-component-card-darker: rgba(241, 235, 232, 1);
  --t5e-component-card-lighter: rgba(253, 252, 252, 1);
  --t5e-component-card-light-default: rgba(248, 244, 241, 1);
  --t5e-component-card-light-darker: rgba(241, 235, 232, 1);
  --t5e-component-card-light-lighter: rgba(253, 252, 252, 1);
  --t5e-component-card-dark-default: rgba(37, 40, 48, 1);
  --t5e-component-card-dark-darker: rgba(22, 24, 29, 1);
  --t5e-component-card-dark-lighter: rgba(48, 50, 54, 1);
  --t5e-component-card-radius: 0.1875rem;

  /* Toggles */
  --t5e-component-toggle-toggled-background: var(--t5e-theme-color-default);
  --t5e-component-toggle-toggled-background-hover: var(--t5e-theme-color-lighter);
  --t5e-component-toggle-toggled-border: var(--t5e-theme-color-darker);
  --t5e-component-toggle-toggled-text: var(--t5e-color-text-oninverse-default);

  /* Fields */
  --t5e-component-field-border: var(--t5e-color-gold);
  --t5e-component-field-border-hover: var(--t5e-theme-color-default);
  --t5e-component-field-background: var(--t5e-component-card-default);
  --t5e-component-field-background-hover: var(--t5e-color-palette-white);
  --t5e-component-field-background-active: var(--t5e-color-palette-white);
  --t5e-component-field-background-hover-emphasis: var(--t5e-color-palette-white);
  --t5e-component-field-background-disabled: rgba(159, 146, 117, 0.2);
  --t5e-component-field-focus: var(--t5e-theme-colors-lighter);
  --t5e-field-size-default: 1.75rem;
  --t5e-field-size-small: 1.625rem;
  --t5e-tag-size-default: 1.5625rem;
  --t5e-tag-size-small: 1.1875rem;
  --t5e-checkbox-size: 1rem;
  --t5e-radio-size: 1rem;

  /* Pills */
  --t5e-component-pill-oninverse-background: var(--t5e-component-field-oninverse-background);
  --t5e-component-pill-oninverse-border: var(--t5e-color-palette-grey-0);
  --t5e-component-pill-oninverse-border-interactive: var(--t5e-component-field-oninverse-border);
  --t5e-component-pill-background: var(--t5e-component-card-ondefault-default);
  --t5e-component-pill-border: var(--t5e-color-palette-grey-60);
  --t5e-component-pill-border-interactive: var(--t5e-component-field-border);

  /* Enrichers */
  --t5e-component-enricher-icon: var(--t5e-color-palette-gold-56);
  --t5e-component-enricher-icon-hover: darken(--t5e-color-palette-gold-56, 10%);
  --t5e-component-enricher-background: rgba(159, 146, 117, 0.15);
  --t5e-component-enricher-background-hover: rgba(159, 146, 117, 0.25);
  ;
  --t5e-component-enricher-border: rgba(159, 146, 117, 0.35);
  --t5e-component-enricher-text-hover-shadow: 0px 0px 6px var(--t5e-color-text-oninverse-gold-emphasis);

  /* Abilities */
  --t5e-component-ability-background: var(--t5e-component-card-default-lighter);

  /* Tab */
  --t5e-component-tab-border: var(--t5e-theme-color-default);

  /* Table */
  --t5e-table-header-background-default: var(--t5e-theme-color-default);
  --t5e-table-header-box-shadow: inset 0px 0px 0px 0.0625rem rgba(0, 0, 0, 0.15);
  --t5e-table-header-background-container: color-mix(in srgb, var(--t5e-color-palette-black) 12%, transparent);
  --t5e-table-row-divider: rgba(224, 216, 212, 1);
  --t5e-table-row-background-default: var(--t5e-component-card-ondefault-default);
  --t5e-table-row-background-expanded: var(--t5e-table-row-background-default), linear-gradient(90deg, var(--t5e-color-palette-white) 0.59%, var(--t5e-table-row-background-default) 44%);
  // TODO: Have hightouch review this variable and its usages
  --t5e-table-button-width: 1.5rem;


  /* Sheet */

  /* Icons ------------ */
  --t5e-color-icon-light: var(--t5e-color-palette-white);
  --t5e-color-icon-lighter: var(---t5e-color-palette-grey-92);
  --t5e-color-icon-dark: var(--t5e-color-palette-black);
  --t5e-color-icon-default: var(--t5e-color-palette-black);
  --t5e-color-icon-button: var(--t5e-color-palette-grey-21);
  --t5e-color-icon-diminished: var(--t5e-color-palette-grey-40);
  --t5e-color-icon-disabled: rgba(0, 0, 0, 0.4);
  --t5e-color-icon-ondefault-default: var(--t5e-color-palette-black);
  --t5e-color-icon-ondefault-button: var(--t5e-color-palette-grey-21);
  --t5e-color-icon-ondefault-diminished: var(--t5e-color-palette-grey-40);
  --t5e-color-icon-ondefault-disabled: rgba(0, 0, 0, 0.4);
  --t5e-color-icon-oninverse-default: var(--t5e-color-palette-white);
  --t5e-color-icon-oninverse-button: var(--t5e-color-palette-grey-92);
  --t5e-color-icon-oninverse-diminished: var(--t5e-color-palette-grey-85);
  --t5e-color-icon-oninverse-disabled: rgba(255, 255, 255, 0.5);
  --t5e-warning-accent-color: var(--t5e-color-palette-red-60);

  /* 5e System Colors ------------ */
  /* Header */
  --t5e-color-hp-dark: var(--t5e-color-palette-green-29);
  --t5e-color-hp-medium: var(--t5e-color-palette-green-65);
  --t5e-color-hp-light: var(--t5e-color-palette-green-68);
  --t5e-color-hp-temp: var(--t5e-color-palette-blue-70);
  --t5e-color-hp-temp-dark: var(--t5e-color-palette-blue-57);
  --t5e-color-hp-hd-dark: var(--t5e-color-palette-red-27);
  --t5e-color-hp-hd-medium: var(--t5e-color-palette-red-45);
  --t5e-color-hp-hd-light: var(--t5e-color-palette-red-45);

  /* Inventory */
  --t5e-color-inventory-dark: rgba(62, 74, 117, 1);
  --t5e-color-inventory-light: rgba(111, 130, 199, 1);
  --t5e-color-inventory-max: rgba(81, 95, 149, 1);
  --t5e-color-inventory-dark-over: rgba(68, 36, 52, 1);
  --t5e-color-inventory-light-over: rgba(120, 68, 96, 1);
  --t5e-color-inventory-max-over: rgba(88, 49, 69, 1);

  /* Spellbook */
  --t5e-color-icon-spellcasting-prepared: var(--t5e-theme-color-default);
  --t5e-color-icon-spellcasting-atwill: var(--t5e-color-palette-red-45);
  --t5e-color-icon-spellcasting-always: var(--t5e-theme-color-default);
  --t5e-color-icon-spellcasting-pact: var(--t5e-color-palette-pink-55);
  --t5e-color-icon-spellcasting-innate: var(--t5e-color-palette-purple-59);
  --t5e-color-icon-spellcasting-ritual: var(--t5e-color-palette-blue-green-50);
  --t5e-spellcasting-default: var(--t5e-theme-color-default);
  --t5e-spellcasting-default-darker: oklch(from var(--t5e-theme-color-default) calc(l * 0.70) calc(c * 1.2) h);
  --t5e-spellcasting-atwill: var(--t5e-color-palette-red-45);
  --t5e-spellcasting-atwill-darker: oklch(from var(--t5e-color-palette-red-45) calc(l * 0.70) calc(c * 1.2) h);
  --t5e-spellcasting-always: var(--t5e-color-palette-green-43);
  --t5e-spellcasting-always-darker: oklch(from var(--t5e-color-palette-green-43) calc(l * 0.70) calc(c * 1.2) h);
  --t5e-spellcasting-pact: var(--t5e-color-palette-pink-55);
  --t5e-spellcasting-pact-darker: oklch(from var(--t5e-color-palette-pink-55) calc(l * 0.70) calc(c * 1.2) h);
  --t5e-spellcasting-innate: var(--t5e-color-palette-purple-59);
  --t5e-spellcasting-innate-darker: oklch(from var(--t5e-color-palette-purple-59) calc(l * 0.70) calc(c * 1.2) h);
  --t5e-spellcasting-ritual: var(--t5e-color-palette-blue-green-50);
  --t5e-spellcasting-ritual-darker: oklch(from var(--t5e-color-palette-blue-green-50) calc(l * 0.70) calc(c * 1.2) h);


  /* Spacing ------------ */
  --t5e-size-1: 0.0625rem;
  --t5e-size-halfx: 0.125rem;
  --t5e-size-1x: 0.25rem;
  --t5e-size-2x: 0.5rem;
  --t5e-size-3x: 0.75rem;
  --t5e-size-4x: 1rem;
  --t5e-size-5x: 1.25rem;
  --t5e-size-6x: 1.5rem;
  --t5e-size-7x: 1.75rem;
  --t5e-size-8x: 2rem;
  --t5e-size-10x: 2.5rem;
  --t5e-size-12x: 3rem;
  --t5e-size-16x: 4rem;
  --t5e-size-20x: 5rem;
  --t5e-size-24x: 6rem;

  /* Icon Size ------------ */
  --t5e-icon-size-4x: 1rem;
  --t5e-icon-size-6x: 1.5rem;
  --t5e-icon-size-7x: 1.75rem;
  --t5e-icon-size-8x: 2rem;
  --t5e-icon-size-10x: 2.5rem;
}


.tidy5e-sheet.quadrone {

  &.theme-dark,
  .theme-dark {
    /* Text ------------ */
    /* All text colors inverted in dark mode. */
    /* ondefault */
    --t5e-color-text-default: var(--t5e-color-palette-grey-100);
    --t5e-color-text-gold: var(--t5e-color-palette-gold-75);
    --t5e-color-text-gold-emphasis: var(--t5e-color-palette-gold-75);
    --t5e-color-text-gold-light: var(--t5e-color-palette-gold-94);
    --t5e-color-text-lighter: var(--t5e-color-palette-grey-85);
    --t5e-color-text-lightest: var(--t5e-color-palette-grey-60);
    --t5e-color-text-disabled: var(--t5e-color-palette-grey-48);
    --t5e-color-link-default: oklch(from var(--t5e-theme-color-default) calc(l * 2.25) calc(c * 1.5) h);
    --t5e-color-link-hover: oklch(from var(--t5e-theme-color-default) calc(l * 1.75) calc(c * 1.5) h);

    /* ondark */
    --t5e-color-text-oninverse-default: var(--t5e-color-palette-grey-0);
    --t5e-color-text-oninverse-gold: var(--t5e-color-palette-gold-62);
    --t5e-color-text-oninverse-gold-emphasis: var(--t5e-color-palette-gold-56);
    --t5e-color-text-oninverse-gold-light: var(--t5e-color-palette-gold-94);
    --t5e-color-text-oninverse-lighter: var(--t5e-color-palette-grey-29);
    --t5e-color-text-oninverse-lightest: var(--t5e-color-palette-grey-40);
    --t5e-color-text-oninverse-disabled: var(--t5e-color-palette-grey-60);

    /* Components ------------ */
    /* Field backgrounds and borders inverted in dark mode. */
    /* Fields */
    --t5e-component-field-border: var(--t5e-color-palette-grey-48);
    --t5e-component-field-border-hover: var(--t5e-color-palette-grey-85);
    --t5e-component-field-background: var(--t5e-component-card-dark-default);
    --t5e-component-field-background-hover: var(--t5e-color-palette-grey-11);
    --t5e-component-field-background-active: var(--t5e-color-palette-grey-11);
    --t5e-component-field-background-hover-emphasis: var(--t5e-color-palette-black);
    --t5e-component-field-background-disabled: rgba(0, 0, 0, 0.3);
    --t5e-component-field-focus: var(--t5e-theme-color-default);

    /* Pill colors inherit from field colors. */
    --t5e-component-pill-background: var(--t5e-component-field-background);
    --t5e-component-pill-border: var(--t5e-color-palette-grey-29);
    --t5e-component-pill-border-interactive: var(--t5e-component-field-border);
    --t5e-enricher-background: rgba(255, 255, 255, 0.05);

    /* Toggles */
    --t5e-component-toggle-toggled-border: var(--t5e-component-field-border);
    --t5e-component-toggle-toggled-text: var(--t5e-color-palette-grey-100);

    /* Table */
    --t5e-table-header-background-container: var(--t5e-color-palette-grey-34);
    --t5e-table-row-divider: rgba(224, 216, 212, 0.25);
    --t5e-table-row-background-default: var(--t5e-component-card-default);
    --t5e-table-row-background-expanded: var(--t5e-table-row-background-default), linear-gradient(90deg, var(--t5e-color-palette-black) 0.59%, var(--t5e-table-row-background-default) 44%);

    /* Icons ------------ */
    /* All icon colors inverted in dark mode. */
    --t5e-color-icon-default: var(--t5e-color-palette-white);
    --t5e-color-icon-button: var(--t5e-color-palette-grey-92);
    --t5e-color-icon-diminished: var(--t5e-color-palette-grey-85);
    --t5e-color-icon-disabled: rgba(255, 255, 255, 0.5);
    --t5e-color-icon-oninverse-default: var(--t5e-color-palette-grey-0);
    --t5e-color-icon-oninverse-button: var(--t5e-color-palette-grey-21);
    --t5e-color-icon-oninverse-diminished: var(--t5e-color-palette-grey-40);
    --t5e-color-icon-oninverse-disabled: rgba(0, 0, 0, 0.4);

    // TODO: Update card colors to dynamically invert in theme-dark
    --t5e-component-card-default: rgb(40, 42, 48);
    --t5e-component-card-darker: rgb(26, 27, 32);
    --t5e-component-card-lighter: rgb(47, 50, 56);
    --t5e-component-card-oninverse-default: rgba(248, 244, 241, 1);
    --t5e-component-card-oninverse-darker: rgba(241, 235, 232, 1);
    --t5e-component-card-oninverse-lighter: rgba(253, 252, 252, 1);

    /* Decorative ------------ */
    /* Filigree */
    --t5e-color-filigree: var(--t5e-color-palette-grey-34);

    /* Spellcasting */
    --t5e-color-icon-spellcasting-prepared: var(--t5e-theme-color-lightest);
    --t5e-color-icon-spellcasting-atwill: oklch(from var(--t5e-color-palette-red-45) calc(l + 0.125) c h);
    --t5e-color-icon-spellcasting-always: oklch(from var(--t5e-color-palette-green-43) calc(l + 0.125) c h);
    --t5e-color-icon-spellcasting-pact: oklch(from var(--t5e-color-palette-pink-55) calc(l + 0.125) c h);
    --t5e-color-icon-spellcasting-innate: oklch(from var(--t5e-color-palette-purple-59) calc(l + 0.125) c h);
    --t5e-color-icon-spellcasting-ritual: oklch(from var(--t5e-color-palette-blue-green-50) calc(l + 0.125) c h);

    /* Drop shadows */
    --t5e-drop-shadow-card: 0px 0px 9px 0px #000;
  }
}