:where(.tidy5e-sheet.app-v1.classic) {
  @font-face {
    font-family: 'Signika';
    src: url('../../fonts/signika/signika-light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

  @font-face {
    font-family: 'Signika';
    src: url('../../fonts/signika/signika-semibold.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

  @import './partials/reset-v1';
}

.tidy5e-sheet:where(.app-v1.classic) {
  .window-content {
    background: url(../../modules/tidy5e-sheet/images/parchment-texture-top.webp)
        no-repeat top center / 150% auto,
      #f1ebe8
        url(../../modules/tidy5e-sheet/images/parchment-texture-bottom.webp)
        no-repeat bottom center / 150% auto;
  }

  &.sheet form {
    color: var(--t5e-primary-font-color);
    background: var(--t5e-sheet-background);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--t5e-scrollbar-thumb-color)
      var(--t5e-scrollbar-track-color);
  }

  &.settings {
    @import './partials/settings';
  }

  @import './partials/application-shell';

  @import './compatibility/apps-items-lists';
  @import './compatibility/apps-active-effects';
  @import './compatibility/tabs';

  select :is(option, optgroup) {
    color: var(--t5e-primary-font-color);
    background: var(--t5e-background);
  }

  select optgroup {
    background: var(--t5e-table-header-row-color);
  }

  // Enrichers
  .passive-check {
    text-decoration-color: currentcolor;
    text-decoration-style: dashed;
    text-underline-offset: 0.125rem;
  }

  a.entity-link,
  a.roll-link-group,
  a.roll-link,
  a.enricher-action,
  a:is(.content-link, .inline-roll),
  .roll-link a {
    padding: 0.0625rem 0.25rem 0 0.25rem;
    border-radius: 0.3125rem;
    background: var(--t5e-content-entity-link-background);
    color: var(--t5e-content-entity-link-color);
    border: 0.0625rem solid var(--t5e-separator-color);

    i {
      color: var(--t5e-content-entity-link-color);
    }

    &:hover {
      color: var(--t5e-content-entity-link-hover-color);
      background: var(--t5e-content-entity-link-hover-background);

      i {
        color: var(--t5e-content-entity-link-hover-color);
      }
    }

    &.broken {
      border-color: var(--t5e-warning-accent-color);
      border-style: dashed;
      &:hover {
        border-color: transparent;
        background: var(--t5e-warning-accent-color);
        color: var(--t5e-warning-accent-contrast-color);
      }
    }
  }

  &:where(.actor) {
    @import './partials/actor';
    @import '../../sheets/classic/actor/traits/traits';
  }

  &:is(.character, .npc, .vehicle) form {
    display: flex;
    flex-direction: column;

    .tidy-sheet-body {
      padding: var(--t5e-classic-tab-contents-padding-top)
        var(--t5e-classic-tab-contents-padding-right)
        var(--t5e-classic-tab-contents-padding-bottom)
        var(--t5e-classic-tab-contents-padding-left);
      flex: 1;
      overflow: hidden;
    }
  }

  &.item {
    @import './partials/items';
  }

  @import './partials/layout';

  .top-left,
  .bottom-right {
    border-radius: 0.3125rem 0 0.3125rem 0;
  }

  .top-right,
  .bottom-left {
    border-radius: 0 0.3125rem 0 0.3125rem;
  }

  .rounded {
    border-radius: 50%;
  }

  .t5e-warning-color {
    color: var(--t5e-warning-accent-color);
  }

  .hidden {
    display: none !important;
  }

  // TODO: Propagate this across the entire app
  [role='button'] {
    cursor: pointer;
  }

  button > i {
    margin: unset;
  }

  .highlight-on-hover:is(:hover, :focus-visible) {
    color: var(--t5e-primary-accent-color);
  }

  select {
    height: auto;
    font-family: var(--t5e-body-font-family);
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  i.not-attuned {
    color: var(--t5e-attunement-required-color);
  }

  i.attuned {
    color: var(--t5e-attuned-color);
  }

  .inline-wrapped-elements {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: none;
    gap: 0.125rem;
  }

  .tag {
    display: inline-block;
    padding: 0.125rem 0.25rem;
    background: var(--t5e-faint-color);
    border: 0.0625rem solid var(--t5e-separator-color);
    line-height: 1rem;
    border-radius: 0.3125rem;
    font-size: 0.75rem;
  }

  .no-border {
    border: none;
  }

  .invisible {
    visibility: hidden;
  }

  // TODO: Either put the remainder of the partial style imports here, or move the nonstandard style files to another location.
  // Partials - Styles that can be pulled into anything
  @import './partials/colors';

  // Applications
  @import '../../applications/section-config/DocumentTabSectionConfig';

  // Components
  @import './components/accordion.scss';
  @import '../../components/button-menu/button-menu.scss';
  @import '../../components/toggles/toggles.scss';
  @import '../../components/item-list/item-table.scss';
  @import '../../components/table/tidy-table.scss';
  @import '../../components/filter/filter.scss';
  @import '../../components/pips/pips.scss';
  @import '../../components/listbox/listbox.scss';
  @import './components/info-card.scss';
  @import './components/tabs.scss';

  // Tooltips
  @import '../../tooltips/tooltips.scss';

  // TODO: Remove these layers of specificity and get everything working in concert better. These should come before all component styles and have the lowest acceptable specificity.
  &.sheet form,
  &.application-shell {
    @import './partials/buttons';
    @import './partials/checkboxes';
  }

  // TODO: Remove these layers of specificity and get everything working in concert better. These should come after partial utility styles and general component styles. They can have a high level of specificity as needed.
  &.sheet form {
    // Components - Actor-specific
    @import '../../sheets/classic/actor/ActorMovement.scss';
    @import '../../sheets/classic/actor/ActorProfile.scss';
    @import '../../sheets/classic/actor/AttributeBlock.scss';
    @import '../../sheets/classic/actor/AttunementTracker.scss';
    @import '../../sheets/classic/actor/Currency.scss';
    @import '../../sheets/classic/actor/SheetEditModeToggle.scss';
  }

  /* Unidentified Item Concealment */
  .conceal-content {
    filter: blur(0.375rem) grayscale(100%) contrast(0%) opacity(50%);
    padding: 0.375rem;
  }

  /* Use this class on the parent of an `.conceal-content` element, and it will add a transition animation. */
  .concealed-content-animation-container > *,
  .animate-concealed-content {
    transition: filter 0.75s ease, transform 0.75s ease, padding 0.75s ease;
  }

  .unidentified-glyph {
    pointer-events: none;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;

    &.conceal:not(.hidden) {
      opacity: 1;
    }

    &.no-transition {
      transition: none;
    }

    i {
      color: white;
      text-shadow: black 0 0 0.25rem, black 0 0 0.25rem, black 0 0 0.25rem,
        black 0 0 0.5rem, black 0 0 0.5rem;
    }
  }

  .unidentified-notice {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: start center;

    div {
      margin-block-start: 4rem;
      margin-inline: auto;
      padding: 2rem;
      border: 0.0625rem solid var(--t5e-separator-color);
      border-radius: 0.25rem;
      box-shadow: 0 0 0.75rem rgb(0 0 0 / 45%);
      background: var(--t5e-background);
      text-align: center;

      strong {
        font-size: 1.5rem;
      }
    }
  }

  .italic {
    font-style: italic;
  }

  .no-pointer-events {
    pointer-events: none;
  }

  // Prose Mirror
  .prosemirror.editing-source .editor-container {
    display: none;
  }

  .prosemirror menu {
    button:hover {
      background: var(--t5e-prosemirror-button-color);
    }
    .pm-dropdown {
      background: var(--t5e-prosemirror-button-color);

      ul {
        background: var(--t5e-prosemirror-button-color);
      }

      li:hover {
        background: var(--t5e-prosemirror-dropdown-item-hover-color);
      }
    }
  }

  .prosemirror menu button:hover,
  .prosemirror menu button.active {
    color: var(--t5e-primary-font-color);
  }

  .prosemirror .ProseMirror {
    padding-inline: 0.5rem;
  }

  // Lists
  .separated-list {
    padding: 0;
    list-style: none;
    gap: 0.75rem;

    > li:not(.empty) {
      position: relative;
      padding: 0.5rem;
      background: var(--t5e-header-background);
      border: 0.125rem solid var(--t5e-separator-color);
      border-radius: 0.25rem;
      box-shadow: 0 0 0.25rem var(--dnd5e-shadow-45);

      + li {
        margin-top: 0.25rem;
      }

      .details {
        gap: 0.25rem;
        input {
          height: unset;
        }
        input::placeholder {
          opacity: 0.5;
        }
      }

      .list-controls {
        flex: 0;
        flex-wrap: nowrap;
        justify-content: flex-end;
        gap: inherit;

        button {
          --size: 1.625rem;
          flex: 0 0 var(--size);
          block-size: var(--size);
          inline-size: var(--size);
        }
      }
    }
  }

  .favorite-effects {
    .tidy-switch {
      --tidy-switch-scale: 0.75;
    }
    .suppressed .item-table-cell {
      color: var(--t5e-tertiary-color);
    }
  }

  /* Secret Sections */
  section.secret {
    padding: 0 0.3125rem;
    border-top: 0.0625rem solid var(--t5e-separator-color);
    border-bottom: 0.0625rem solid var(--t5e-separator-color);
  }

  &:where([data-tidy-theme-type='light']) section.secret {
    background: rgba(53, 0, 121, 0.05);
  }

  &:where([data-tidy-theme-type='light']) section.secret.revealed {
    background: rgba(0, 53, 0, 0.05);
  }

  &:where([data-tidy-theme-type='dark']) section.secret {
    background: rgba(73, 29, 37, 0.35);
  }

  &:where([data-tidy-theme-type='dark']) section.secret.revealed {
    background: hsla(120, 100%, 10%, 0.15);
  }

  section.secret button.reveal {
    width: unset;
    line-height: unset;
    padding: 0 1rem;
    margin-top: 8px;
    font-size: var(--font-size-13);
    border-style: solid;
    border-width: 1px;
  }

  /* Containers */
  .inline-container-view {
    padding: 0.25rem 0 0 0.5rem;
    margin-left: 1rem;
    border-left: 0.0625rem dotted var(--t5e-separator-color);

    .empty-container {
      border: 0.125rem dashed var(--t5e-separator-color);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      font-style: italic;
      margin: 0.25rem 0;
    }
  }

  /* Activities */
  .inline-activities-container {
    --icon-size: 1.5rem;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);
    --icon-fill: var(--t5e-primary-font-color);
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;

    .inline-activity-roll-button {
      background: none;
      text-align: left;
      font-size: 0.75rem;
      border: none;
      transition: color 0.3s;
      display: flex;
      gap: 0.25rem;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 100%;

      &:hover {
        background: none;
      }
    }

    .tidy-table-row-container {
      margin-left: 0;
    }

    .inline-activity-arrow {
      padding-inline: 0.25rem;

      i {
        color: var(--t5e-light-color);
        transform: rotate(90deg);
      }
    }

    button {
      line-height: unset;
    }
  }

  /* Text utilities */
  .capitalize {
    text-transform: capitalize;
  }

  .semibold {
    font-weight: 500;
  }

  .user-select-text * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  /* Expand Indicator */
  .expand-indicator {
    color: var(--t5e-tertiary-color);
    transition: color 0.3s, transform 0.15s;
    align-self: center;
    justify-self: center;

    &.expanded {
      transform: rotate(90deg);
    }
  }

  button:has(.expand-indicator):hover i {
    color: var(--t5e-icon-hover-color);
  }

  /* Item Summary */
  .item-summary {
    flex: 0 0 100%;
    padding-top: var(--item-summary-padding-top, 0);
    padding-right: var(--item-summary-padding-right, 0.5rem);
    padding-bottom: var(--item-summary-padding-bottom, 0.25rem);
    padding-left: var(--item-summary-padding-left, 0.5rem);
    border-top: 0.0625rem solid var(--t5e-faint-color);
    font-size: 0.75rem;

    p:not(:first-child) {
      margin-top: 0.5em;
    }

    .horizontal-line-separator {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
    .inline-wrapped-elements {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    .inline-wrapped-elements:last-of-type {
      margin-bottom: 0;
    }

    .item-summary-linked-source {
      margin-block: 0.325rem 0.25rem;
      font-size: 12px;
      font-style: italic;
    }
  }

  /* Reset button & input styles */
  input.uninput,
  button.unbutton {
    --border: none;
    border: var(--border);
    box-shadow: none;
    outline: none;

    &:hover,
    &:focus {
      box-shadow: none;
      border: var(--border);
      outline: none;
    }
  }

  input.uninput {
    color: inherit;
    font-weight: inherit;
    height: unset;
  }

  // Sheet Warnings

  dialog.warnings {
    position: fixed;
    width: 18.75rem;
    max-width: unset;
    max-height: unset;
    margin: 0;
    outline: none;
    padding: 0.25rem 0.5rem;
    font-family: var(--dnd5e-font-roboto-condensed);
    color: var(--t5e-primary-font-color);
    background: var(--t5e-button-menu-background);
    border: 0.0625rem solid var(--t5e-faint-color);
    border-radius: 0.25rem;
    box-shadow: 0 0 0.3125rem var(--t5e-context-shadow-color);

    ol {
      display: flex;
      flex-direction: column;

      li {
        padding: 0.375rem 0.5rem;
        border-bottom: 1.5px dotted var(--t5e-light-color);
        &:last-child {
          border: none;
        }

        a {
          &:hover {
            text-shadow: none;
            text-decoration: underline dotted;
          }
        }

        &.warning::before,
        &.error::before {
          font-family: var(--font-awesome);
          font-weight: bold;
          color: var(--t5e-secondary-color);
          margin-right: 8px;
        }

        &.warning::before {
          content: '\f071';
        }
        &.error::before {
          content: '\f06a';
          color: var(--t5e-secondary-color);
        }
      }
    }
  }

  .item-summary-command {
    width: auto;
    line-height: 1rem;
    padding: 0.125rem 0.25rem;
    border-radius: 0.3125rem;
    background: var(--t5e-content-entity-link-background);
    color: var(--t5e-content-entity-link-color);
    border: 0.0625rem solid var(--t5e-separator-color);
    font-size: 0.75rem;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    i {
      color: var(--t5e-content-entity-link-color);
    }
    &:hover {
      color: var(--t5e-content-entity-link-hover-color);
      background: var(--t5e-content-entity-link-hover-background);
      i {
        color: var(--t5e-content-entity-link-hover-color);
      }
    }
  }

  .item-table-count {
    color: var(--t5e-secondary-color);
    margin-inline: 0.375rem;
    font-weight: 400;
  }

  .editor.prosemirror .toggle {
    background: none;
    border: none;
  }
}
