:where(.tidy5e-sheet.classic) {
  @import './partials/reset-v2';

  // Light Mode Variables
  --t5e-title-font-family: 'Modesto Condensed', 'Palatino Linotype', serif;
  --t5e-body-font-family: 'Signika', sans-serif;
  --t5e-primary-font-color: rgba(0, 0, 0, 0.9);
  --t5e-background: #f1ebe8;
  --t5e-faintest-color: rgba(0, 0, 0, 0.05);
  --t5e-faint-color: rgba(0, 0, 0, 0.1);
  --t5e-light-color: rgba(0, 0, 0, 0.25);
  --t5e-primary-color: rgba(0, 0, 0, 0.9);
  --t5e-secondary-color: rgba(0, 0, 0, 0.65);
  --t5e-tertiary-color: rgba(0, 0, 0, 0.4);
  --t5e-primary-accent-color: rgba(255, 100, 0, 1);
  --t5e-white: rgba(255, 255, 255, 1);
  --t5e-faint-white: rgba(255, 255, 255, 0.2);
  --t5e-linked-accent-color: rgba(0, 255, 0, 0.75);
  --t5e-unlinked-accent-color: rgba(255, 0, 0, 0.75);
  --t5e-linked-light-color: rgba(0, 255, 0, 0.4);
  --t5e-unlinked-light-color: rgba(255, 0, 0, 0.4);
  --t5e-sheet-unlocked-icon-background: rgba(0, 150, 100, 0.6);
  --t5e-sheet-locked-icon-background: rgba(255, 0, 0, 0.6);
  --t5e-header-background: rgba(255, 255, 255, 0.2);
  --t5e-prepareable-color: rgba(119, 136, 153, 1);
  --t5e-equipped-background: rgba(50, 205, 50, 0.3);
  --t5e-equipped-item-grid-tile-outline-color: rgba(50, 205, 50, 1);
  --t5e-equipped-item-grid-tile-accent-color: rgba(173, 255, 47, 1);
  --t5e-prepared-background: rgba(50, 205, 50, 0.3);
  --t5e-prepared-item-grid-tile-outline-color: rgba(50, 205, 50, 1);
  --t5e-prepared-item-grid-tile-accent-color: rgba(173, 255, 47, 1);
  --t5e-pact-background: rgba(250, 0, 180, 0.3);
  --t5e-pact-outline-color: rgba(250, 50, 213, 1);
  --t5e-pact-accent-color: rgba(198, 119, 193, 1);
  --t5e-atwill-background: rgba(226, 246, 4, 0.3);
  --t5e-atwill-outline-color: rgba(163, 165, 50, 1);
  --t5e-atwill-accent-color: rgba(255, 242, 0, 1);
  --t5e-innate-background: rgba(255, 0, 0, 0.3);
  --t5e-innate-outline: rgba(231, 23, 23, 1);
  --t5e-innate-accent: rgba(195, 69, 69, 1);
  --t5e-ritual-only-background: hsl(260.09deg 100% 45.1% / 25.88%);
  --t5e-ritual-only-outline-color: hsl(260.09deg 100% 45.1% / 25.88%);
  --t5e-ritual-only-accent-color: hsl(260.09deg 100% 45.1% / 25.88%);
  --t5e-alwaysprepared-background: rgba(0, 0, 255, 0.15);
  --t5e-alwaysprepared-outline-color: rgba(65, 105, 225, 1);
  --t5e-alwaysprepared-accent-color: rgba(0, 191, 255, 1);
  --t5e-magic-accent-color: #ada11a;
  --t5e-attunement-required-color: var(--t5e-light-color);
  --t5e-attuned-color: var(--t5e-primary-accent-color);
  --t5e-attuned-item-grid-icon-color: rgba(0, 0, 0, 0.4);
  --t5e-xp-bar-background: rgba(94, 225, 146, 1);
  --t5e-encumbrance-bar-background: rgba(108, 138, 165, 1);
  --t5e-encumbrance-bar-outline-color: var(--t5e-separator-color);
  --t5e-encumbrance-outline-color: rgba(0, 0, 0, 0.9);
  --t5e-encumbrance-text-color: rgba(238, 238, 238, 1);
  --t5e-encumbrance-bar-text-shadow-color: #000;
  --t5e-warning-accent-color: rgba(255, 0, 0, 0.6);
  --t5e-warning-accent-contrast-color: rgba(255, 255, 255, 0.8);
  --t5e-icon-background: rgba(236, 233, 223, 1);
  --t5e-icon-shadow-color: rgba(0, 0, 0, 0.4);
  --t5e-icon-outline-color: rgba(0, 0, 0, 0.4);
  --t5e-icon-font-color: rgba(0, 0, 0, 0.4);
  --t5e-icon-hover-color: rgba(0, 0, 0, 0.9);
  --t5e-ability-modifiers-hover-label-background: rgba(0, 0, 0, 0.9);
  --t5e-exhaustion-severity1-background: rgba(255, 230, 0, 1);
  --t5e-exhaustion-severity2-background: rgba(255, 130, 0, 1);
  --t5e-exhaustion-severity3-background: rgba(255, 50, 0, 1);
  --t5e-ability-accent-background: darkslategrey;
  --t5e-context-outline-color: rgba(0, 0, 0, 0.4);
  --t5e-context-shadow-color: rgba(0, 0, 0, 0.65);
  --t5e-checkbox-font-color: rgba(0, 0, 0, 0.9);
  --t5e-item-input-background: rgba(255, 255, 255, 0.3);
  --t5e-item-input-hover-background: rgba(255, 255, 255, 0.5);
  --t5e-death-save-icon-color: rgba(255, 255, 255, 0.75);
  --t5e-death-save-text-color: white;
  --t5e-inspiration-hover-color: rgba(255, 255, 255, 0.75);
  --t5e-inspiration-text-shadow-hover-color: rgba(118, 228, 255, 0.5);
  --t5e-inspiration-inspired-text-shadow-color: #76e4ff;
  --t5e-inspiration-inspired-background: rgba(153, 153, 153, 1);
  --t5e-vehicle-motion-hover-color: rgba(255, 255, 255, 0.75);
  --t5e-vehicle-motion-text-shadow-hover-color: rgba(118, 228, 255, 0.5);
  --t5e-vehicle-in-motion-text-shadow-color: #76e4ff;
  --t5e-vehicle-in-motion-background: rgba(153, 153, 153, 1);
  --t5e-hp-bar-color: rgba(0, 200, 0, 0.6);
  --t5e-resource-bar-color: rgba(120, 167, 242, 1);
  --t5e-death-save-backdrop-background: rgba(255, 0, 0, 0.5);
  --t5e-death-save-text-shadow-color: rgb(34, 34, 34);
  --t5e-hp-overlay-background: rgba(255, 0, 0, 1);
  --t5e-inventory-grid-image-contrast-text-shadow-color: rgba(0, 0, 0, 1);
  --t5e-inventory-grid-hover-use-item-contrast-text-shadow-color: rgba(
    255,
    255,
    255,
    1
  );
  --t5e-item-info-card-background: url(../../modules/tidy5e-sheet/images/parchment-texture-top.webp)
      no-repeat top center / 150% auto,
    #f1ebe8 url(../../modules/tidy5e-sheet/images/parchment-texture-bottom.webp)
      no-repeat bottom center / 150% auto;
  --t5e-content-entity-link-color: var(--t5e-primary-font-color);
  --t5e-content-entity-link-hover-color: var(--t5e-white);
  --t5e-content-entity-link-background: var(--t5e-faintest-color);
  --t5e-content-entity-link-hover-background: var(--t5e-primary-accent-color);
  --t5e-activated-profile-toggle-color: var(--t5e-white);
  --t5e-exhaustion-severity1-color: var(--t5e-icon-font-color);
  --t5e-exhaustion-severity2-color: rgba(255, 255, 255, 0.7);
  --t5e-exhaustion-severity3-color: rgba(255, 255, 255, 0.7);
  --t5e-prosemirror-button-color: #deded3;
  --t5e-prosemirror-dropdown-item-hover-color: var(--t5e-faint-color);
  --t5e-item-info-card-box-shadow-color: rgba(0, 0, 0, 0.5);
  --t5e-sheet-lock-icon-color: rgba(255, 255, 255, 0.6);
  --t5e-grid-pane-favorite-icon-color: rgba(0, 200, 100, 1);
  --t5e-settings-dialog-box-shadow-color: rgba(0, 0, 0, 0.75);
  --t5e-sheet-lock-icon-hover-color: #fff;
  --t5e-settings-dialog-border-color: #ff6400;
  --t5e-spell-level-button-border-color: #c9c7b8;
  --t5e-ability-modifiers-label-text-color: #fff;
  --t5e-ability-mod-text-color: #fff;
  --t5e-ability-mod-save-text-hover-color: #fff;
  --t5e-button-menu-background: var(--t5e-background);
  --t5e-button-menu-hover-color: var(--t5e-faint-color);
  --t5e-button-menu-divider-color: var(--t5e-separator-color);
  --t5e-focus-visible-box-shadow: -0.0625rem -0.0625rem 0 var(--t5e-primary-accent-color),
    -0.0625rem 0.0625rem 0 var(--t5e-primary-accent-color),
    0.0625rem 0.0625rem 0 var(--t5e-primary-accent-color),
    0.0625rem -0.0625rem 0 var(--t5e-primary-accent-color);
  --t5e-button-background: var(--t5e-faint-color);
  --t5e-button-hover-background: var(--t5e-faintest-color);
  --t5e-button-disabled-color: var(--t5e-light-color);
  --t5e-separator-color: var(--t5e-light-color);
  --t5e-table-header-row-color: var(--t5e-faint-color);
  --t5e-table-header-row-border-color: var(--t5e-light-color);
  --t5e-tab-strip-border-color: rgba(0, 0, 0, 0.25);
  --t5e-active-tab-background: transparent;
  --t5e-tab-background: var(--t5e-header-background);
  --t5e-scrollbar-thumb-color: #782e22;
  --t5e-scrollbar-track-color: #0000;
  --t5e-spell-pip-active-background: var(--t5e-primary-accent-color);
  --t5e-spell-pip-temp-background: var(--t5e-resource-bar-color);
  --t5e-spell-pip-empty-background: transparent;
  --t5e-spell-pip-border-color: var(--t5e-primary-accent-color);
  --t5e-spell-pip-temp-border-color: var(--t5e-resource-bar-color);
  --t5e-switch-slider-color: #fff;

  // Dark Mode variables
  &:where(.theme-dark),
  & :where(.theme-dark) {
    --t5e-primary-font-color: rgba(255, 255, 255, 0.8);
    --t5e-background: rgba(30, 30, 30, 1);
    --t5e-faintest-color: rgba(255, 255, 255, 0.05);
    --t5e-faint-color: rgba(255, 255, 255, 0.1);
    --t5e-light-color: rgba(255, 255, 255, 0.25);
    --t5e-primary-color: rgba(255, 255, 255, 0.8);
    --t5e-secondary-color: rgba(255, 255, 255, 0.65);
    --t5e-tertiary-color: rgba(255, 255, 255, 0.4);
    --t5e-primary-accent-color: hsl(23.53, 80%, 50%);
    --t5e-white: rgba(0, 0, 0, 1);
    --t5e-header-background: rgba(255, 255, 255, 0.05);
    --t5e-equipped-background: rgba(0, 250, 180, 0.3);
    --t5e-prepared-background: rgba(0, 250, 180, 0.3);
    --t5e-ritual-only-background: hsl(260.36deg 50% 21.96%);
    --t5e-ritual-only-outline-color: hsl(260.36deg 50% 21.96%);
    --t5e-ritual-only-accent-color: hsl(260.36deg 50% 21.96%);
    --t5e-alwaysprepared-background: rgba(0, 100, 255, 0.3);
    --t5e-warning-accent-color: rgba(255, 30, 0, 0.65);
    --t5e-icon-background: rgba(30, 30, 30, 1);
    --t5e-icon-font-color: rgba(255, 255, 255, 0.4);
    --t5e-icon-hover-color: rgba(255, 255, 255, 0.8);
    --t5e-ability-accent-background: rgb(80, 80, 80);
    --t5e-checkbox-font-color: rgba(255, 255, 255, 0.8);
    --t5e-item-input-background: rgba(255, 255, 255, 0.1);
    --t5e-item-input-hover-background: rgba(255, 255, 255, 0.2);
    --t5e-hp-bar-color: rgba(50, 149, 50, 0.6);
    --t5e-sheet-background: var(--t5e-background);
    --t5e-item-info-card-background: var(--t5e-background);
    --t5e-content-entity-link-hover-color: var(--t5e-primary-font-color);
    --t5e-content-entity-link-background: var(--t5e-faint-color);
    --t5e-activated-profile-toggle-color: var(--t5e-primary-font-color);
    --t5e-exhaustion-severity1-color: var(--t5e-icon-outline-color);
    --t5e-tinyme-toolbar-button-color: #222;
    --t5e-prosemirror-button-color: rgba(100, 100, 100, 1);
    --t5e-prosemirror-dropdown-item-hover-color: rgba(50, 50, 50, 1);
    --t5e-button-menu-background: var(--t5e-sheet-background);
    --t5e-button-background: var(--t5e-faintest-color);
    --t5e-button-hover-background: var(--t5e-faint-color);
    --t5e-separator-color: rgba(120, 120, 120, 0.1);
    --t5e-table-header-row-color: #111111;
    --t5e-table-header-row-border-color: #111111;
    --t5e-tab-strip-border-color: transparent;
    --t5e-tabs-background: var(--t5e-header-background);
    --t5e-active-tab-background: var(--t5e-sheet-background);
    --t5e-tab-background: transparent;
    --t5e-switch-slider-color: #ddd;
  }
}

.tidy5e-sheet.application:where(.classic) {
  --t5e-parchment-background: url(../../modules/tidy5e-sheet/images/parchment-texture-top.webp)
      no-repeat top center / 150% auto,
    #f1ebe8 url(../../modules/tidy5e-sheet/images/parchment-texture-bottom.webp)
      no-repeat bottom center / 150% auto;

  // Document V2 sheets need more width to be readable.
  --minimized-width: 18.75rem;

  .window-header {
    .header-control.icon {
      width: 1.5rem;
      height: 1.5rem;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    button.header-control {
      color: var(--t5e-secondary-color);
    }
  }

  .window-header:has(+ .controls-dropdown.expanded)
    [data-action='toggleControls'] {
    background: var(--t5e-faint-color);
  }

  .controls-dropdown {
    background: var(--t5e-button-menu-background);
    border-radius: 0.3125rem;
    transition: none;

    &.expanded {
      box-shadow: 0 0 0.3125rem var(--t5e-context-shadow-color);
      outline: 0.0625rem solid var(--t5e-faint-color);
    }

    .header-control > button {
      display: flex;
      justify-content: flex-start;
      gap: 0.5rem;
      padding: 0.5rem;
      color: var(--t5e-primary-font-color);

      &:hover {
        color: var(--t5e-primary-font-color);
      }
    }
  }

  &:not(.minimized) {
    background: var(--t5e-sheet-background, var(--t5e-parchment-background));

    .window-header {
      background: var(--t5e-header-background);
      border-bottom: none;
      &,
      h1 {
        color: var(--t5e-primary-font-color);
      }
    }
  }

  .tidy5e-sheet-header {
    padding: 0.125rem 1rem 1rem 1rem;
    background: var(--t5e-header-background);
  }

  .window-content {
    color: var(--t5e-primary-font-color);
  }

  * {
    scrollbar-width: thin;
    scrollbar-color: var(--t5e-scrollbar-thumb-color)
      var(--t5e-scrollbar-track-color);
  }

  &.settings {
    @import './partials/settings';
  }

  @import './partials/application-shell';

  @import './compatibility/apps-items-lists';
  @import './compatibility/apps-active-effects';
  @import './compatibility/tabs';

  // TODO: Move partials inputs
  select :is(option, optgroup) {
    color: var(--t5e-primary-font-color);
    background: var(--t5e-background);
  }

  select optgroup {
    background: var(--t5e-table-header-row-color);
  }

  // TODO: Move to partials Enrichers
  // Enrichers
  .passive-check {
    text-decoration-color: currentcolor;
    text-decoration-style: dashed;
    text-underline-offset: 0.125rem;
  }

  a.entity-link,
  a.roll-link-group,
  a.roll-link,
  a.enricher-action,
  a:is(.content-link, .inline-roll),
  .roll-link a {
    padding: 0.0625rem 0.25rem 0 0.25rem;
    border-radius: 0.3125rem;
    background: var(--t5e-content-entity-link-background);
    color: var(--t5e-content-entity-link-color);
    border: 0.0625rem solid var(--t5e-separator-color);

    i {
      color: var(--t5e-content-entity-link-color);
    }

    &:hover {
      color: var(--t5e-content-entity-link-hover-color);
      background: var(--t5e-content-entity-link-hover-background);

      i {
        color: var(--t5e-content-entity-link-hover-color);
      }
    }

    &.broken {
      border-color: var(--t5e-warning-accent-color);
      border-style: dashed;
      &:hover {
        border-color: transparent;
        background: var(--t5e-warning-accent-color);
        color: var(--t5e-warning-accent-contrast-color);
      }
    }
  }

  &:where(.actor) {
    @import './partials/actor';
    @import '../../sheets/classic/actor/traits/traits';
  }

  &:is(.group) {
    --t5e-classic-tab-contents-padding-bottom: 0;
  }

  &:is(.character, .npc, .vehicle, .group) {
    .tidy-sheet-body {
      padding: var(--t5e-classic-tab-contents-padding-top)
        var(--t5e-classic-tab-contents-padding-right)
        var(--t5e-classic-tab-contents-padding-bottom)
        var(--t5e-classic-tab-contents-padding-left);
      flex: 1;
      overflow: hidden;
    }
  }

  @import './partials/forms';

  &.item {
    @import './partials/items';
  }

  @import './partials/layout';

  .top-left,
  .bottom-right {
    border-radius: 0.3125rem 0 0.3125rem 0;
  }

  .top-right,
  .bottom-left {
    border-radius: 0 0.3125rem 0 0.3125rem;
  }

  .rounded {
    border-radius: 50%;
  }

  .t5e-warning-color {
    color: var(--t5e-warning-accent-color);
  }

  .hidden {
    display: none;
  }

  // TODO: Propagate this across the entire app
  [role='button'] {
    cursor: pointer;
  }

  button > i {
    margin: unset;
  }

  .highlight-on-hover:is(:hover, :focus-visible) {
    color: var(--t5e-primary-accent-color);
  }

  select {
    height: auto;
    font-family: var(--t5e-body-font-family);
  }

  .truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  i.not-attuned {
    color: var(--t5e-attunement-required-color);
  }

  i.attuned {
    color: var(--t5e-attuned-color);
  }

  .inline-wrapped-elements {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    border: none;
    gap: 0.125rem;
  }

  .tag {
    display: inline-block;
    padding: 0.125rem 0.25rem;
    background: var(--t5e-faint-color);
    border: 0.0625rem solid var(--t5e-separator-color);
    line-height: 1rem;
    border-radius: 0.3125rem;
    font-size: 0.75rem;

    &.tag-outline {
      background: transparent;
    }
  }

  .no-border {
    border: none;
  }

  .invisible {
    visibility: hidden;
  }

  // TODO: Either put the remainder of the partial style imports here, or move the nonstandard style files to another location.
  // Partials - Styles that can be pulled into anything
  @import './partials/colors';

  // Shared
  @import '../../sheets/classic/shared/SheetHeaderModeToggle-classic';

  // Applications
  @import '../../applications/section-config/DocumentTabSectionConfig';

  // Components
  @import './components/accordion.scss';
  @import '../../components/button-menu/button-menu.scss';
  @import '../../components/toggles/toggles.scss';
  @import '../../components/item-list/item-table.scss';
  @import '../../components/table/tidy-table.scss';
  @import '../../components/filter/filter.scss';
  @import '../../components/pips/pips.scss';
  @import '../../components/listbox/listbox.scss';
  @import '../../components/editor/SheetEditorV2.scss';
  @import '../../components/tabs/UnderlinedTabStrip.scss';
  @import './components/info-card.scss';
  @import './components/tabs.scss';

  // TODO: Buttons V2?
  :where(.window-content) {
    button:not(prose-mirror button) {
      background-color: var(--t5e-faintest-color);
      transition: background-color 0.3s ease;
      border: 1px solid var(--t5e-light-color);

      &:hover {
        background-color: var(--t5e-faint-color);
      }
    }
  }

  @import './partials/buttons';

  // Tooltips
  @import '../../tooltips/tooltips.scss';

  // Components - Actor-specific
  @import '../../sheets/classic/actor/ActorMovement.scss';
  @import '../../sheets/classic/actor/ActorProfile.scss';
  @import '../../sheets/classic/actor/AttributeBlock.scss';
  @import '../../sheets/classic/actor/AttunementTracker.scss';
  @import '../../sheets/classic/actor/Currency.scss';
  @import '../../sheets/classic/actor/SheetEditModeToggle.scss';

  // Sheets
  &.group,
  &.encounter {
    @import '../../sheets/classic/group/GroupSheet.scss';
  }

  /* Unidentified Item Concealment */
  .conceal-content {
    filter: blur(0.375rem) grayscale(100%) contrast(0%) opacity(50%);
    padding: 0.375rem;
  }

  /* Use this class on the parent of an `.conceal-content` element, and it will add a transition animation. */
  .concealed-content-animation-container > *,
  .animate-concealed-content {
    transition: filter 0.75s ease, transform 0.75s ease, padding 0.75s ease;
  }

  .unidentified-glyph {
    pointer-events: none;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s;

    &.conceal:not(.hidden) {
      opacity: 1;
    }

    &.no-transition {
      transition: none;
    }

    i {
      color: white;
      text-shadow: black 0 0 0.25rem, black 0 0 0.25rem, black 0 0 0.25rem,
        black 0 0 0.5rem, black 0 0 0.5rem;
    }
  }

  .unidentified-notice {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: start center;

    div {
      margin-block-start: 4rem;
      margin-inline: auto;
      padding: 2rem;
      border: 0.0625rem solid var(--t5e-separator-color);
      border-radius: 0.25rem;
      box-shadow: 0 0 0.75rem rgb(0 0 0 / 45%);
      background: var(--t5e-background);
      text-align: center;

      strong {
        font-size: 1.5rem;
      }
    }
  }

  .italic {
    font-style: italic;
  }

  .no-pointer-events {
    pointer-events: none;
  }

  // Prose Mirror
  .prosemirror.editing-source .editor-container {
    display: none;
  }

  // Lists
  .separated-list {
    padding: 0;
    list-style: none;
    gap: 0.75rem;

    > li:not(.empty) {
      position: relative;
      padding: 0.5rem;
      background: var(--t5e-header-background);
      border: 0.125rem solid var(--t5e-separator-color);
      border-radius: 0.25rem;
      box-shadow: 0 0 0.25rem var(--dnd5e-shadow-45);

      + li {
        margin-top: 0.25rem;
      }

      .details {
        gap: 0.25rem;
        input {
          height: unset;
        }
        input::placeholder {
          opacity: 0.5;
        }
      }

      .list-controls {
        flex: 0;
        flex-wrap: nowrap;
        justify-content: flex-end;
        gap: inherit;

        button {
          --size: 1.625rem;
          flex: 0 0 var(--size);
          block-size: var(--size);
          inline-size: var(--size);
        }
      }
    }
  }

  .favorite-effects {
    .tidy-switch {
      --tidy-switch-scale: 0.75;
    }
    .suppressed .item-table-cell {
      color: var(--t5e-tertiary-color);
    }
  }

  /* Secret Sections */
  section.secret {
    padding: 0 0.3125rem;
    border-top: 0.0625rem solid var(--t5e-separator-color);
    border-bottom: 0.0625rem solid var(--t5e-separator-color);
  }

  &:where(.theme-light) section.secret {
    background: rgba(53, 0, 121, 0.05);
  }

  &:where(.theme-light) section.secret.revealed {
    background: rgba(0, 53, 0, 0.05);
  }

  &:where(.theme-dark) section.secret {
    background: rgba(73, 29, 37, 0.35);
  }

  &:where(.theme-dark) section.secret.revealed {
    background: hsla(120, 100%, 10%, 0.15);
  }

  section.secret button.reveal {
    width: unset;
    line-height: unset;
    padding: 0 1rem;
    margin-top: 8px;
    font-size: var(--font-size-13);
    border-style: solid;
    border-width: 1px;
  }

  /* Containers */
  .inline-container-view {
    padding: 0.25rem 0 0 0.5rem;
    margin-left: 1rem;
    border-left: 0.0625rem dotted var(--t5e-separator-color);

    .empty-container {
      border: 0.125rem dashed var(--t5e-separator-color);
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      font-style: italic;
      margin: 0.25rem 0;
    }
  }

  /* Activities */
  .inline-activities-container {
    --icon-size: 1.5rem;
    --icon-width: var(--icon-size);
    --icon-height: var(--icon-size);
    --icon-fill: var(--t5e-primary-font-color);
    padding: 0.25rem 0.25rem 0.25rem 0.5rem;

    .inline-activity-roll-button {
      background: none;
      text-align: left;
      font-size: 0.75rem;
      border: none;
      transition: color 0.3s;
      display: flex;
      gap: 0.25rem;
      align-items: center;
      padding: 0;
      margin: 0;
      width: 100%;

      &:hover {
        background: none;
      }
    }

    .tidy-table-row-container {
      margin-left: 0;
    }

    .inline-activity-arrow {
      padding-inline: 0.25rem;

      i {
        color: var(--t5e-light-color);
        transform: rotate(90deg);
      }
    }

    button {
      line-height: unset;
    }
  }

  .tidy-table-row-container {
    // For sheets with hundreds of items
    content-visibility: auto;
  }

  /* Text utilities */
  .centered {
    text-align: center;
  }

  .capitalize {
    text-transform: capitalize;
  }

  .semibold {
    font-weight: 500;
  }

  /* Drag and Drop */
  .drop-zone {
    align-items: center;
    border: 0.125rem dashed var(--t5e-separator-color);
    color: var(--t5e-secondary-color);
    display: flex;
    font-style: italic;
    justify-content: center;
    margin: 0.25rem 0;
    padding: 1rem;
  }

  .user-select-text * {
    -webkit-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
  }

  /* Expand Indicator */
  .expand-indicator {
    color: var(--t5e-tertiary-color);
    transition: color 0.3s, transform 0.15s;
    align-self: center;
    justify-self: center;

    &.expanded {
      transform: rotate(90deg);
    }
  }

  button:has(.expand-indicator):hover i {
    color: var(--t5e-icon-hover-color);
  }

  // Temp holding place for this style until overhaul
  :is(i, span).currency {
    width: 1em;
    height: 1em;
    display: inline-block;
    background: transparent no-repeat center / contain;

    &.cp {
      background-image: url('../../systems/dnd5e/icons/currency/copper.webp');
    }
    &.sp {
      background-image: url('../../systems/dnd5e/icons/currency/silver.webp');
    }
    &.ep {
      background-image: url('../../systems/dnd5e/icons/currency/electrum.webp');
    }
    &.gp {
      background-image: url('../../systems/dnd5e/icons/currency/gold.webp');
    }
    &.pp {
      background-image: url('../../systems/dnd5e/icons/currency/platinum.webp');
    }
  }

  /* Item Summary */
  .item-summary {
    flex: 0 0 100%;
    padding-top: var(--item-summary-padding-top, 0);
    padding-right: var(--item-summary-padding-right, 0.5rem);
    padding-bottom: var(--item-summary-padding-bottom, 0.25rem);
    padding-left: var(--item-summary-padding-left, 0.5rem);
    border-top: 0.0625rem solid var(--t5e-faint-color);
    font-size: 0.75rem;

    p:not(:first-child) {
      margin-top: 0.5em;
    }

    .horizontal-line-separator {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
    .inline-wrapped-elements {
      margin-top: 0.25rem;
      margin-bottom: 0.25rem;
    }

    .inline-wrapped-elements:last-of-type {
      margin-bottom: 0;
    }
  }

  /* Reset button & input styles */
  input.uninput,
  button.unbutton {
    --border: none;
    border: var(--border);
    box-shadow: none;
    outline: none;

    &:hover,
    &:focus {
      box-shadow: none;
      border: var(--border);
      outline: none;
    }
  }

  button.unbutton {
    height: unset;
    background: none;
    border-radius: 0;
    width: unset;
    padding: 0;

    &:hover {
      background: none;
    }
  }

  input.uninput {
    color: inherit;
    font-weight: inherit;
    height: unset;
  }

  .item-summary-command {
    width: auto;
    line-height: 1rem;
    padding: 0.125rem 0.25rem;
    border-radius: 0.3125rem;
    background: var(--t5e-content-entity-link-background);
    color: var(--t5e-content-entity-link-color);
    border: 0.0625rem solid var(--t5e-separator-color);
    font-size: 0.75rem;
    margin: 0;
    display: inline-flex;
    align-items: center;
    gap: 0.25rem;
    i {
      color: var(--t5e-content-entity-link-color);
    }
    &:hover {
      color: var(--t5e-content-entity-link-hover-color);
      background: var(--t5e-content-entity-link-hover-background);
      i {
        color: var(--t5e-content-entity-link-hover-color);
      }
    }
  }

  .spell-block {
    margin-block-end: 0.5rem;

    &,
    * {
      user-select: text;
    }

    li + li {
      margin-block-start: 0.375rem;
    }

    label {
      font-size: 0.75rem;
      font-weight: 400;
      color: var(--t5e-secondary-color);
      display: block;
    }

    .value {
      font-size: 0.75rem;
      font-weight: 500;
      color: var(--t5e-primary-font-color);

      .condition,
      .materials {
        font-weight: 400;
        color: var(--t5e-secondary-color);
        font-style: italic;
      }
    }
  }

  .item-table-count {
    color: var(--t5e-secondary-color);
    margin-inline: 0.375rem;
    font-weight: 400;
  }

  // Sheet Warnings

  dialog.warnings {
    position: fixed;
    width: 18.75rem;
    max-width: unset;
    max-height: unset;
    margin: 0;
    outline: none;
    padding: 0.25rem 0.5rem;
    font-family: var(--dnd5e-font-roboto-condensed);
    color: var(--t5e-primary-font-color);
    background: var(--t5e-button-menu-background);
    border: 0.0625rem solid var(--t5e-faint-color);
    border-radius: 0.25rem;
    box-shadow: 0 0 0.3125rem var(--t5e-context-shadow-color);

    ol {
      display: flex;
      flex-direction: column;

      li {
        padding: 0.375rem 0.5rem;
        border-bottom: 1.5px dotted var(--t5e-light-color);
        &:last-child {
          border: none;
        }

        a {
          &:hover {
            text-shadow: none;
            text-decoration: underline dotted;
          }
        }

        &.warning::before,
        &.error::before {
          font-family: var(--font-awesome);
          font-weight: bold;
          color: var(--t5e-secondary-color);
          margin-right: 8px;
        }

        &.warning::before {
          content: '\f071';
        }
        &.error::before {
          content: '\f06a';
          color: var(--t5e-secondary-color);
        }
      }
    }
  }

  .container-panel {
    --t5e-container-panel-item-size: 3.125rem;

    flex: 1;
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(var(--t5e-container-panel-item-size), max-content)
    );
    gap: 0.375rem;
    margin-left: 0.1875rem;

    .container {
      position: relative; // 👈 required for correct drag preview
      display: flex;
      flex-direction: column;
      height: 100%;

      &.hidden {
        display: none;
      }
    }

    .container-image-button {
      display: block;
    }

    .container-image {
      aspect-ratio: 1;
      border: 0.0625rem solid var(--t5e-separator-color);
      border-radius: 0.1875rem 0.1875rem 0 0;
      background-color: var(--t5e-light-color);
      background-size: cover;
      background-position: 50% 0;
      transition: filter 0.75s;

      &.conceal {
        filter: grayscale(100%);
      }
    }

    .unidentified-glyph {
      font-size: calc(var(--t5e-container-panel-item-size) / 2);
    }
  }

  .conditions-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    gap: 0.125rem;
  }
}
